Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

stuf
  src/Compositor.cpp
Labels: core

reenable direct scanout
  src/render/Renderer.cpp
Labels: core, render

stuf3
  src/managers/KeybindManager.cpp
Labels: core, managers

Nix: add aquamarine
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays.nix
Labels: nix

tablets and shit
  patch.txt
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/devices/Tablet.cpp
  src/devices/Tablet.hpp
  src/events/Devices.cpp
  src/events/Events.hpp
  src/events/Misc.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/managers/input/Tablets.cpp
  src/protocols/Tablet.cpp
  src/protocols/Tablet.hpp
Labels: protocols, core, debug, devices, events, managers

[gha] Nix: update inputs
  flake.lock
Labels: none

fix small ub in keyboard
  src/devices/IKeyboard.cpp
Labels: core, devices

thanks ikalco
  src/protocols/LinuxDMABUF.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: protocols, core, render

meson: unbreak build with aquamarine
  meson.build
  protocols/meson.build
  src/meson.build
Labels: protocols, core

thanks ikalco
  CMakeLists.txt
Labels: none

e
  src/managers/CursorManager.cpp
Labels: core, managers

reset explicit fences before commit (#6841)
  src/render/Renderer.cpp
Labels: core, render

nix: drop unused script after 589f758d947c
  nix/update-wlroots.sh
Labels: nix

fix nvidia crasherino lmao
  src/Compositor.hpp
  src/managers/CursorManager.cpp
  src/managers/PointerManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderbuffer.cpp
  src/render/Renderbuffer.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/Texture.hpp
Labels: core, managers, render

fix mirrors, thanks virtcode
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, render

avoid spam
  src/render/Renderer.cpp
Labels: core, render

ds fixes
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

stuff for aq alloc split
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/managers/PointerManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/protocols/Viewporter.hpp
  src/render/OpenGL.cpp
  src/render/Renderer.hpp
Labels: protocols, core, config, helpers, managers, render

dmabufff
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

ok gulafaran
  src/devices/IKeyboard.hpp
Labels: core, devices

no leakeroni
  src/managers/CursorManager.cpp
Labels: core, managers

explicit sync
  CMakeLists.txt
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/managers/ProtocolManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/Viewporter.cpp
  src/protocols/Viewporter.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, helpers, managers, render

Explicit sync fixes (#6829)
  src/helpers/sync/SyncTimeline.cpp
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, managers, render

initialize arrays
  src/devices/IKeyboard.hpp
Labels: core, devices

fixeroni crasheroni
  src/render/Renderer.cpp
Labels: core, render

fix crasheroni
  src/render/Renderer.cpp
Labels: core, render

better
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, helpers

explicit sync stuff
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, render

damage oops
  src/render/OpenGL.cpp
Labels: core, render

Nix: add xcursor dep
  nix/default.nix
Labels: nix

fix xwayland crash
  src/devices/IKeyboard.cpp
Labels: core, devices

stuff
  src/helpers/Monitor.cpp
  src/render/OpenGL.cpp
Labels: core, helpers, render

cmake: drop unused include after 758c0b325333
  CMakeLists.txt
Labels: none

stuf
  src/helpers/Monitor.cpp
Labels: core, helpers

add scheduleFrame reasons (#6799)
  src/Compositor.cpp
  src/Compositor.hpp
  src/events/Monitors.cpp
  src/helpers/Monitor.cpp
  src/managers/AnimationManager.cpp
  src/managers/CursorManager.cpp
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/render/Renderer.cpp
Labels: core, events, helpers, managers, render

swapchain test stuff
  src/helpers/Monitor.cpp
Labels: core, helpers

flake.lock: update aquamarine
  flake.lock
Labels: none

Hw cursors fix for nvidia (#6847)
  src/config/ConfigManager.cpp
  src/managers/PointerManager.cpp
  src/render/Renderer.cpp
Labels: core, config, managers, render

stuf
  src/config/ConfigManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMSyncobj.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, managers, render

some fixes to dmabuf
  src/Compositor.cpp
  src/helpers/Format.cpp
  src/helpers/Format.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, helpers, render
