Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

compositor: fix crash when moving a workspace to a monitor with size 0x0 (#9848)
  src/Compositor.cpp
Labels: core

window: send fractional scale on updateScaleTransform
  src/desktop/Window.cpp
Labels: core, desktop

pass/rect: include clipBox in opaque calculations
  src/render/pass/RectPassElement.cpp
Labels: core, render

anr: add config for ping number before popup shows up (#9782)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
Labels: core, config, managers

watchdog: remove watchdog
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Watchdog.cpp
  src/helpers/Watchdog.hpp
Labels: core, config, helpers

[gha] Nix: update inputs
  flake.lock
Labels: none

renderer/opengl: Extract shaders from source (#9600)
  .gitignore
  CMakeLists.txt
  meson.build
  scripts/generateShaderIncludes.sh
  src/debug/HyprCtl.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/Shader.hpp
  src/render/Shaders.hpp
  src/render/shaders/SharedValues.hpp
  src/render/shaders/Textures.hpp
  src/render/shaders/glsl/CM.frag
  src/render/shaders/glsl/CM.glsl
  src/render/shaders/glsl/blur1.frag
  src/render/shaders/glsl/blur2.frag
  src/render/shaders/glsl/blurfinish.frag
  src/render/shaders/glsl/blurfinish_legacy.frag
  src/render/shaders/glsl/blurprepare.frag
  src/render/shaders/glsl/blurprepare_legacy.frag
  src/render/shaders/glsl/border.frag
  src/render/shaders/glsl/border_legacy.frag
  src/render/shaders/glsl/ext.frag
  src/render/shaders/glsl/glitch.frag
  src/render/shaders/glsl/passthru.frag
  src/render/shaders/glsl/quad.frag
  src/render/shaders/glsl/rgba.frag
  src/render/shaders/glsl/rgbamatte.frag
  src/render/shaders/glsl/rgbx.frag
  src/render/shaders/glsl/rounding.glsl
  src/render/shaders/glsl/shadow.frag
  src/render/shaders/glsl/shadow_legacy.frag
  src/render/shaders/glsl/tex.vert
  src/render/shaders/glsl/tex300.vert
  src/render/shaders/glsl/tex320.vert
Labels: core, debug, render

Permission Manager: add permission management for screencopy (#9930)
  example/hyprland.conf
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/config/defaultConfig.hpp
  src/debug/CrashReporter.cpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
  src/plugins/PluginAPI.cpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: protocols, core, config, debug, managers, plugins, render

internal: fix minor ubsan errors (#9743)
  src/protocols/XDGShell.cpp
  src/render/OpenGL.cpp
Labels: protocols, core, render

xdg-shell: fix some null refs (#9992)
  src/desktop/Window.cpp
  src/managers/XWaylandManager.cpp
Labels: core, desktop, managers

github: remove issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: none

ctm: fix crash when finishing ctm progress with a destroyed monitor (#9835)
  src/protocols/CTMControl.cpp
Labels: protocols, core

input: add warp_on_toggle_special (#9945)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

opengl: check for g_pHyprOpengl pointer (#9791)
  src/render/OpenGL.cpp
Labels: core, render

dwindle: ignore fullscreen window for positioning when use_active_for_splits=false (#9838)
  src/Compositor.cpp
  src/desktop/Window.hpp
  src/layout/DwindleLayout.cpp
Labels: core, desktop, layout

compositor/surface: fix surface opaque and input regions not being updated (#10055)
  src/protocols/core/Compositor.cpp
Labels: protocols, core

framebuffer: Fix framebuffer size check (#10068)
  src/render/Framebuffer.cpp
Labels: core, render

flake.lock: update
  flake.lock
Labels: none

desktop: Damage subsurface when position changes (#10094)
  src/desktop/Subsurface.cpp
  src/desktop/Subsurface.hpp
  src/protocols/core/Subcompositor.cpp
Labels: protocols, core, desktop

windowrules: allow incrementing window props (#9566)
  src/config/ConfigValue.cpp
  src/config/ConfigValue.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowOverridableVar.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/hyprerror/HyprError.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/CursorManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Touch.cpp
  src/protocols/CTMControl.cpp
  src/protocols/XDGOutput.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, desktop, events, helpers, hyprerror, layout, managers, render

monitors: fix disconnected monitors are reconnected to an empty workspace (#9874)
  src/Compositor.cpp
  src/Compositor.hpp
  src/helpers/Monitor.cpp
Labels: core, helpers

binds: add drag_threshold for click/drag isolation (#9839)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/InputManager.hpp
Labels: core, config, layout, managers

screencopy: Handle explicit sync failure (#10050)
  src/protocols/Screencopy.cpp
Labels: protocols, core

pass: revert "remove renderer finalDamage since it's unused (#9996)" (#10039)
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/Pass.cpp
Labels: core, render

IHyprLayout: center floating window at cursor when picked up from fullscreen (#10063)
  src/layout/IHyprLayout.cpp
Labels: core, layout

core: wait for dmabuf readiness (#9806)
  src/helpers/Monitor.cpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/DMABuffer.hpp
Labels: protocols, core, helpers, managers

asyncDialogBox: fix missing pid
  src/helpers/AsyncDialogBox.cpp
Labels: core, helpers

IHyprLayout: respect minimum window size (#10017)
  src/layout/IHyprLayout.cpp
Labels: core, layout

layerSurface: warp position and size before taking a snapshot (#10054)
  src/desktop/LayerSurface.cpp
Labels: core, desktop

xcursormgr: include <variant>
  src/managers/XCursorManager.cpp
Labels: core, managers

hyprpm: extend dep list
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

compositor: fix getMonitorInDirection skipping active monitor (#10114)
  src/Compositor.cpp
Labels: core

[gha] Nix: update inputs
  flake.lock
Labels: none

render, helpers: Call OpenGL destroyMonitorResources on disconnect (#10111)
  src/helpers/Monitor.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, helpers, render

ctm: enable fade animation on nvidia driver versions 575 and above (#10095)
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/protocols/CTMControl.cpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

InputManager: add config option to disable keybinds per device (#10064)
  src/config/ConfigManager.cpp
  src/devices/IKeyboard.hpp
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, devices, managers

ci: close unwanted issues automatically (#10106)
  .github/workflows/close-issues.yml
Labels: none

protocols: ensure PointerConstraints activation occurs only after attched to InputManager (#10096)
  src/protocols/PointerConstraints.cpp
Labels: protocols, core

debug: refactor class member vars (#10130)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprDebugOverlay.hpp
  src/debug/HyprNotificationOverlay.cpp
  src/debug/HyprNotificationOverlay.hpp
  src/debug/Log.cpp
  src/debug/Log.hpp
  src/debug/RollingLogFollow.hpp
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
  src/xwayland/XWM.cpp
Labels: core, config, debug, helpers, render, xwayland

hyprpm: fix format
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
