Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

hyprtester: add plugin arg
  hyprtester/CMakeLists.txt
  hyprtester/src/main.cpp
Labels: none

hyprtester: launch using /bin/sh, not /bin/bash
  hyprtester/src/tests/shared.cpp
Labels: none

Nix/tests: run hyprtester
  nix/tests/default.nix
Labels: nix

nix/hyprtester: fix build
  nix/hyprtester.nix
Labels: nix

fixeS
  hyprtester/src/main.cpp
  hyprtester/src/tests/shared.cpp
  hyprtester/src/tests/shared.hpp
  hyprtester/src/tests/window/groups.cpp
  hyprtester/src/tests/window/window.cpp
Labels: none

flake.lock: update
  flake.lock
Labels: none

grpupbar: Add config options to color inactive and locked groupbar titles (#10667)
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: core, config, render

grpupbar: Add config options to color inactive and locked groupbar titles (#10667)
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: core, config, render

fixes
  src/xwayland/XWM.cpp
Labels: core, xwayland

opengl: stuff and 300 shaders
  src/macros.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/shaders/glsl/blur1.frag
  src/render/shaders/glsl/blur2.frag
  src/render/shaders/glsl/blurfinish_legacy.frag
  src/render/shaders/glsl/blurprepare_legacy.frag
  src/render/shaders/glsl/border_legacy.frag
  src/render/shaders/glsl/ext.frag
  src/render/shaders/glsl/glitch.frag
  src/render/shaders/glsl/passthru.frag
  src/render/shaders/glsl/quad.frag
  src/render/shaders/glsl/rgba.frag
  src/render/shaders/glsl/rgbamatte.frag
  src/render/shaders/glsl/rgbx.frag
  src/render/shaders/glsl/shadow_legacy.frag
  src/render/shaders/glsl/tex.vert
  src/render/shaders/glsl/tex300.vert
  src/render/shaders/glsl/tex320.vert
Labels: core, render

opengl: typo
  src/render/OpenGL.cpp
Labels: core, render

oopes
  src/helpers/Monitor.cpp
Labels: core, helpers

Fix wrong surface local cord for layer surface above an xwayland window
  src/managers/input/InputManager.cpp
Labels: core, managers

Add Hyprutils memory namespace back
  src/xwayland/XWM.cpp
Labels: core, xwayland

Avoid storing pointer to free in smart pointers
  src/xwayland/XWM.cpp
Labels: core, xwayland

remove free
  src/xwayland/XWM.cpp
Labels: core, xwayland

opengl: get the uniform locations properly
  src/render/OpenGL.cpp
Labels: core, render

opengl: check epsilon on float and remove extra glcall
  src/render/OpenGL.cpp
  src/render/Shader.cpp
Labels: core, render

opengl: remove instanced shader draw
  src/render/shaders/glsl/tex320.vert
Labels: core, render

xwayland: fix minor errors in previous refactor (#10763)
  src/xwayland/XWM.cpp
Labels: core, xwayland

xwayland: fix minor errors in previous refactor (#10763)
  src/xwayland/XWM.cpp
Labels: core, xwayland

texture: cache texture paramaters
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/hyprerror/HyprError.cpp
  src/render/Framebuffer.cpp
  src/render/OpenGL.cpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, debug, hyprerror, render

plugins: don't update config plugins on state unchanged fixes #10781
  src/plugins/PluginSystem.cpp
  src/plugins/PluginSystem.hpp
Labels: core, plugins

plugins: don't update config plugins on state unchanged
  src/plugins/PluginSystem.cpp
  src/plugins/PluginSystem.hpp
Labels: core, plugins

permissions: properly print config requests for plugins
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
  src/plugins/PluginSystem.cpp
  src/plugins/PluginSystem.hpp
Labels: core, managers, plugins

permissions: properly print config requests for plugins
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
  src/plugins/PluginSystem.cpp
  src/plugins/PluginSystem.hpp
Labels: core, managers, plugins

input: Fix incorrect localcoords with a surface above an XWayland window (#10773)
  src/managers/input/InputManager.cpp
Labels: core, managers

input: Fix incorrect localcoords with a surface above an XWayland window (#10773)
  src/managers/input/InputManager.cpp
Labels: core, managers

properly follow tearing control protocol
  src/protocols/TearingControl.cpp
  src/protocols/TearingControl.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
Labels: protocols, core

move all direct scanout allowed code to attemptDirectScanout
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
Labels: core, helpers, render

allow tearing while direct scanout happens
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

move to better tearing mechanism, old stuff wasn't needed anymore
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/PresentationTime.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, debug, events, helpers, render

make scanout cursor commits not use tearing cause: "nO pRoP cAn Be ChAnGeD dUrInG AsYnC fLiP" on crtc_x
  src/helpers/Monitor.cpp
Labels: core, helpers

add reset and lock to primary selection set and update
  src/protocols/PrimarySelection.cpp
Labels: protocols, core

dtor changes
  src/xwayland/XWM.hpp
Labels: core, xwayland

move wm and server reset into ELM
  src/xwayland/XWM.cpp
Labels: core, xwayland

Add inline helper to check connection is not null and replace in constructors
  src/xwayland/Dnd.cpp
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

remove fmt
  src/xwayland/XWM.hpp
Labels: core, xwayland

texture: use fast std::array caching
  src/render/Texture.cpp
  src/render/Texture.hpp
Labels: core, render

hookSystem: avoid using manual mem management, fix leak
  src/plugins/HookSystem.cpp
  src/plugins/HookSystem.hpp
Labels: core, plugins

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
