Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

mirrors
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
Labels: core, render

Add window rules for mouse and touchpad scroll factors
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, desktop, managers

fixes
  src/debug/HyprNotificationOverlay.cpp
  src/hyprerror/HyprError.cpp
  src/managers/PointerManager.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, debug, hyprerror, managers, render

stuff
  src/render/Renderer.cpp
  src/render/pass/Pass.cpp
  src/render/pass/Pass.hpp
  src/render/pass/RectPassElement.cpp
Labels: core, render

Stuf
  src/render/OpenGL.cpp
  src/render/pass/Pass.cpp
  src/render/pass/Pass.hpp
Labels: core, render

ee
  src/render/pass/TexPassElement.cpp
Labels: core, render

ee
  src/render/pass/TexPassElement.cpp
Labels: core, render

hyprpm: more vaxry requested changes
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
Labels: hyprpm

ee
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/pass/Pass.cpp
  src/render/pass/Pass.hpp
  src/render/pass/PassElement.cpp
  src/render/pass/PassElement.hpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
Labels: protocols, core, render

ee
  src/render/pass/Pass.hpp
Labels: core, render

Fix workspace selector parsing
  src/desktop/Workspace.cpp
Labels: core, desktop

hyprpm: fix for the fix
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

fix
  src/render/pass/Pass.cpp
  src/render/pass/TexPassElement.cpp
Labels: core, render

core/output: don't send enter too aggresively sometimes this might be like 1px and send enter to the wrong output fixes #8654
  src/protocols/core/Output.cpp
Labels: protocols, core

core/output: don't send enter too aggresively
  src/protocols/core/Output.cpp
Labels: protocols, core

manager: throw the expression into the function arguments
  src/managers/KeybindManager.cpp
Labels: core, managers

config: fix description of `cursor:warp_on_change_workspace`
  src/config/ConfigDescriptions.hpp
Labels: core, config

dnd
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

windows: allow replacing existing fullscreen (#8566)
  src/Compositor.cpp
Labels: core

fix
  src/render/pass/Pass.cpp
Labels: core, render

core: Fix workspace selector parsing (#8687)
  src/desktop/Workspace.cpp
Labels: core, desktop

config: add 'force' option for 'cursor:warp_on_change_workspace' (#8681)
  src/config/ConfigDescriptions.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
Labels: core, config, desktop, managers

hyprpm: remove useless if conditions
  hyprpm/src/main.cpp
Labels: hyprpm

snap: bias reserved area when its size is greater than zero
  src/layout/IHyprLayout.cpp
Labels: core, layout

snap: bias reserved area when its size is greater than zero
  src/layout/IHyprLayout.cpp
Labels: core, layout

workspace: update hasFullscreenWindow in updateWindows
  src/desktop/Workspace.cpp
Labels: core, desktop

workspace: update hasFullscreenWindow in updateWindows
  src/desktop/Workspace.cpp
Labels: core, desktop

e
  src/managers/PointerManager.cpp
Labels: core, managers

hyprpm: target installed instead of running version (#8634)
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: target installed instead of running version (#8634) --------- Signed-off-by: rooot <hey@rooot.gay>
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

windowrules: add rules for mouse and touchpad scroll factors (#8655)
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, desktop, managers

windowrules: add rules for mouse and touchpad scroll factors (#8655)
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, desktop, managers

`movefocus` cycling groups set optional to config bool `movefocus_cycles_groupfirst`
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

Update ConfigDescriptions.hpp
  src/config/ConfigDescriptions.hpp
Labels: core, config

core/data-device: expand damage region to fix minor px errors fixes #7656
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

core/data-device: expand damage region to fix minor px errors
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

layersurface: use lastMonitor and not monitor from cursor for new ls fixes #8622
  src/desktop/LayerSurface.cpp
Labels: core, desktop

layersurface: use lastMonitor and not monitor from cursor for new ls
  src/desktop/LayerSurface.cpp
Labels: core, desktop

stuffff
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
Labels: core, render

data-device: fixup wrong box expansion oopsie 7c03e9d376abe5308c47772b4c17a9c345788f60 was wrong
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
