Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

do not occlude `noscreenshare` surfaces when blackout is active
  src/render/pass/Pass.cpp
Labels: core, render

no GPU released after 2007 has less than 4 max draw buffers
  src/protocols/Screencopy.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: protocols, core, render

revert back `*.glsl` formatting for less noisy diff
  src/render/shaders/glsl/CM.frag
  src/render/shaders/glsl/border.frag
  src/render/shaders/glsl/ext.frag
  src/render/shaders/glsl/passthru.frag
  src/render/shaders/glsl/quad.frag
  src/render/shaders/glsl/rgba.frag
  src/render/shaders/glsl/rgbamatte.frag
  src/render/shaders/glsl/rgbx.frag
  src/render/shaders/glsl/shadow.frag
Labels: core, render

shared mask handling
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/TexPassElement.cpp
Labels: core, render

fmt
  src/config/ConfigDescriptions.hpp
  src/protocols/Screencopy.cpp
Labels: protocols, core, config

tests
  hyprtester/src/tests/main/window.cpp
  hyprtester/src/tests/main/workspaces.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, config, debug, desktop

cmake,meson: fix inclusion of GPG info in Git commit info
  CMakeLists.txt
  meson.build
Labels: none

fix crasher
  src/config/ConfigManager.cpp
Labels: core, config

f
  src/desktop/rule/Rule.cpp
Labels: core, desktop

fix
  src/config/ConfigManager.cpp
Labels: core, config

fix
  src/desktop/rule/Rule.cpp
Labels: core, desktop

fix
  src/desktop/rule/windowRule/WindowRule.cpp
  src/desktop/rule/windowRule/WindowRule.hpp
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

fuck
  src/config/ConfigManager.cpp
  src/desktop/rule/Engine.cpp
Labels: core, config, desktop

work
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/rule/effect/EffectContainer.hpp
  src/desktop/rule/windowRule/WindowRule.cpp
  src/desktop/rule/windowRule/WindowRule.hpp
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
  src/desktop/rule/windowRule/WindowRuleApplicator.hpp
  src/desktop/rule/windowRule/WindowRuleEffectContainer.cpp
  src/desktop/rule/windowRule/WindowRuleEffectContainer.hpp
Labels: core, config, desktop

fix
  example/hyprland.conf
  hyprtester/plugin/src/main.cpp
  hyprtester/src/tests/main/window.cpp
  hyprtester/test.conf
Labels: none

fix
  src/desktop/rule/effect/EffectContainer.hpp
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

fix
  hyprtester/plugin/src/main.cpp
Labels: none

xd
  src/desktop/rule/windowRule/WindowRuleApplicator.hpp
Labels: core, desktop

e
  src/desktop/rule/effect/EffectContainer.hpp
Labels: core, desktop

e
  src/desktop/rule/effect/EffectContainer.hpp
Labels: core, desktop

fix
  src/desktop/rule/windowRule/WindowRuleApplicator.hpp
  src/events/Windows.cpp
Labels: core, desktop, events

layer effects
  src/config/ConfigManager.cpp
  src/desktop/rule/layerRule/LayerRule.cpp
  src/desktop/rule/layerRule/LayerRule.hpp
Labels: core, config, desktop

stuff
  CMakeLists.txt
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/rule/layerRule/LayerRuleEffectContainer.cpp
  src/desktop/rule/layerRule/LayerRuleEffectContainer.hpp
  src/events/Windows.cpp
  src/helpers/math/Expression.cpp
  src/helpers/math/Expression.hpp
Labels: core, desktop, events, helpers

tests
  hyprtester/src/tests/main/window.cpp
Labels: none

arch ci
  .github/actions/setup_base/action.yml
Labels: none

groupbar: simplify edge rounding logic
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

groupbar: add blur config option
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

fix
  src/layout/IHyprLayout.cpp
Labels: core, layout

fixes
  src/desktop/Window.cpp
  src/protocols/XDGTag.cpp
Labels: protocols, core, desktop

test
  hyprtester/src/tests/main/window.cpp
Labels: none

cmake,meson: fix inclusion of GPG info in Git commit info (#12302)
  CMakeLists.txt
  meson.build
Labels: none

cursor: ensure cursor reset on changed window states (#12301)
  src/managers/input/InputManager.cpp
Labels: core, managers

renderer: avoid races with commited frame
  src/helpers/MonitorFrameScheduler.cpp
  src/helpers/MonitorFrameScheduler.hpp
Labels: core, helpers

renderer: fix blur rendering for elements between 2 opaque elements
  src/render/pass/Pass.cpp
Labels: core, render

i18n: init localization
  CMakeLists.txt
  src/Compositor.cpp
  src/helpers/Monitor.cpp
  src/i18n/Engine.cpp
  src/i18n/Engine.hpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/plugins/PluginSystem.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, helpers, managers, plugins, render

flake.lock: update hyprutils
  flake.lock
Labels: none

nix: add muparser dep
  nix/default.nix
Labels: nix

plugin/hook: disallow multiple hooks per function
  src/plugins/HookSystem.cpp
  src/plugins/HookSystem.hpp
Labels: core, plugins

clang-format
  hyprtester/clients/child-window.cpp
  hyprtester/src/tests/clients/child-window.cpp
Labels: none

i18n: added italian (#5)
  src/i18n/Engine.cpp
Labels: core

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
