Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

xwayland: respect window size set by configure requests
  src/managers/XWaylandManager.cpp
  src/xwayland/XWM.cpp
Labels: core, managers, xwayland

version: bump to 0.47.0
  VERSION
Labels: none

version: bump to 0.47.0
  VERSION
Labels: none

xwayland: send synthetic configure events
  src/xwayland/XSurface.cpp
Labels: core, xwayland

core: fix clang-format
  src/render/Renderer.cpp
Labels: core, render

core: fix clang-format
  src/render/Renderer.cpp
Labels: core, render

ci: clang-format fix (#9145) * move * revert, comment via peter-evans/commit-comment@v3 * remove
  .github/workflows/ci.yaml
  .github/workflows/clang-format.yml
Labels: none

ci: clang-format fix (#9145)
  .github/workflows/ci.yaml
  .github/workflows/clang-format.yml
Labels: none

xwayland: send synthetic configure events (#9193)
  src/xwayland/XSurface.cpp
Labels: core, xwayland

xwayland: send synthetic configure events (#9193)
  src/xwayland/XSurface.cpp
Labels: core, xwayland

nix: fix duplicate inputs and update flake.lock
  flake.lock
  flake.nix
Labels: none

change window grab cursor to closed hand
  src/layout/IHyprLayout.cpp
Labels: core, layout

CI/setup_base: add libspng
  .github/actions/setup_base/action.yml
Labels: none

CI/setup_base: add libspng
  .github/actions/setup_base/action.yml
Labels: none

nix: fix duplicate inputs and update flake.lock
  flake.lock
  flake.nix
Labels: none

nix: fix duplicate inputs and update flake.lock
  flake.lock
  flake.nix
Labels: none

deps: add libinotify-kqueue on BSDs after 8dd2cd41fb4c
  CMakeLists.txt
  meson.build
  src/meson.build
Labels: core

deps: add libinotify-kqueue on BSDs after 8dd2cd41fb4c (#9197) src/config/ConfigWatcher.cpp:2:10: fatal error: 'sys/inotify.h' file not found 2 | #include <sys/inotify.h> | ^~~~~~~~~~~~~~~
  CMakeLists.txt
  meson.build
  src/meson.build
Labels: core

deps: add libinotify-kqueue on BSDs after 8dd2cd41fb4c (#9197)
  CMakeLists.txt
  meson.build
  src/meson.build
Labels: core

clear focus if found surface can't be focused modified: src/managers/input/InputManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

ikeyboard: free xkbSymState in clearManuallyAllocd
  src/devices/IKeyboard.cpp
Labels: core, devices

configmgr: properly free glob memory
  src/config/ConfigManager.cpp
Labels: core, config

xwayland: respect window size set by configure requests (#9190)
  src/managers/XWaylandManager.cpp
  src/xwayland/XWM.cpp
Labels: core, managers, xwayland

xwayland: respect window size set by configure requests (#9190)
  src/managers/XWaylandManager.cpp
  src/xwayland/XWM.cpp
Labels: core, managers, xwayland

configmgr: properly free glob memory
  src/config/ConfigManager.cpp
Labels: core, config

ikeyboard: free xkbSymState in clearManuallyAllocd asan reported a leak on xkbSymState on destruction, because it wasnt beeing unrefed, was only being unrefed on calls to updateXKBTranslationState.
  src/devices/IKeyboard.cpp
Labels: core, devices

configmgr: properly free glob memory globfree is only freeing internally allocated resources, so also call free the on glob_t memory we allocated.
  src/config/ConfigManager.cpp
Labels: core, config

ikeyboard: free xkbSymState in clearManuallyAllocd
  src/devices/IKeyboard.cpp
Labels: core, devices

presentation: log a fixme when there is a feedback leak
  src/protocols/PresentationTime.cpp
Labels: protocols, core

presentation: log a fixme when there is a feedback leak ref #8087
  src/protocols/PresentationTime.cpp
Labels: protocols, core

Update code to use amended ext-idle-notify protocol
  src/managers/ProtocolManager.cpp
  src/protocols/IdleNotify.cpp
  src/protocols/IdleNotify.hpp
Labels: protocols, core, managers

fix(render): calculate UV using both pixel and monitor dimensions
  src/render/OpenGL.cpp
Labels: core, render

renderer: calculate UV using both pixel and monitor dimensions (#9210)
  src/render/OpenGL.cpp
Labels: core, render

renderer: calculate UV using both pixel and monitor dimensions (#9210)
  src/render/OpenGL.cpp
Labels: core, render

input: change window grab cursor to closed hand (#9196)
  src/layout/IHyprLayout.cpp
Labels: core, layout

input: change window grab cursor to closed hand (#9196)
  src/layout/IHyprLayout.cpp
Labels: core, layout

pass/rect: fix bounding / opaque regions
  src/render/pass/PassElement.hpp
  src/render/pass/RectPassElement.cpp
Labels: core, render

pass/rect: fix bounding / opaque regions fixes #9212
  src/render/pass/PassElement.hpp
  src/render/pass/RectPassElement.cpp
Labels: core, render

config/hyprctl: fix keyword not updating autoreload ref #9139
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
Labels: core, config, debug

config/hyprctl: fix keyword not updating autoreload
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
Labels: core, config, debug

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
