Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

support headless
  src/Compositor.cpp
Labels: core

stuff
  src/desktop/Window.cpp
  src/events/Monitors.cpp
Labels: core, desktop, events

fixado
  src/events/Misc.cpp
Labels: core, events

fix crasherino
  src/Compositor.cpp
  src/devices/IKeyboard.cpp
  src/managers/input/InputManager.cpp
Labels: core, devices, managers

dmabuf
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

rid of wlr more
  .gitmodules
  CMakeLists.txt
  Makefile
  README.md
  hyprland.pc.in
  hyprpm/src/core/PluginManager.cpp
  src/Compositor.hpp
  src/helpers/MiscFunctions.hpp
  src/helpers/Monitor.hpp
  src/helpers/X11Stubs.hpp
  src/includes.hpp
  src/managers/input/InputManager.cpp
  src/protocols/MesaDRM.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/xwayland/XWM.cpp
Labels: hyprpm, protocols, core, helpers, managers, render, xwayland

fix mirrors, thanks virtcode
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, render

rollback on fail
  src/render/Renderer.cpp
Labels: core, render

fix trailing comme, thanks VirtCode
  src/debug/HyprCtl.cpp
Labels: core, debug

stuf2
  src/Compositor.cpp
Labels: core

xcursor stuff
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/protocols/CursorShape.cpp
Labels: protocols, core, managers

stuf
  src/Compositor.cpp
Labels: core

leases
  CMakeLists.txt
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMLease.cpp
  src/protocols/DRMLease.hpp
Labels: protocols, core, helpers, managers

Nix: add aquamarine
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays.nix
Labels: nix

damage oops
  src/render/OpenGL.cpp
Labels: core, render

コードスタイル
  src/devices/Keyboard.cpp
  src/devices/Tablet.cpp
  src/helpers/Monitor.cpp
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, devices, helpers, managers

drop wlroots
  CMakeLists.txt
  src/Compositor.cpp
  src/debug/Log.cpp
  src/debug/Log.hpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/helpers/math/Math.cpp
  src/helpers/math/Math.hpp
  src/includes.hpp
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/PointerManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMLease.cpp
  src/protocols/InputMethodV2.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/PresentationTime.cpp
  src/protocols/Screencopy.cpp
  src/protocols/Tablet.cpp
  src/protocols/XDGShell.cpp
  src/protocols/core/Compositor.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderbuffer.hpp
  src/render/Renderer.cpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/signal-safe.hpp
  src/xwayland/Server.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, debug, devices, helpers, managers, render, xwayland

tablets and shit
  patch.txt
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/devices/Tablet.cpp
  src/devices/Tablet.hpp
  src/events/Devices.cpp
  src/events/Events.hpp
  src/events/Misc.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/managers/input/Tablets.cpp
  src/protocols/Tablet.cpp
  src/protocols/Tablet.hpp
Labels: protocols, core, debug, devices, events, managers

fix nvidia crasherino lmao
  src/Compositor.hpp
  src/managers/CursorManager.cpp
  src/managers/PointerManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderbuffer.cpp
  src/render/Renderbuffer.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/Texture.hpp
Labels: core, managers, render

fix small ub in keyboard
  src/devices/IKeyboard.cpp
Labels: core, devices

stuf3
  src/managers/KeybindManager.cpp
Labels: core, managers

fixup presentation feedback
  src/helpers/Monitor.cpp
Labels: core, helpers

stuffZ
  src/Compositor.cpp
Labels: core

fix
  src/protocols/CursorShape.cpp
Labels: protocols, core

le oops
  patch.txt
Labels: none

missed a file
  src/helpers/CursorShapes.hpp
Labels: core, helpers

xcursors mmm
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/render/OpenGL.cpp
Labels: core, managers, render

move helper functions to class
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
Labels: core, debug

explicit sync
  CMakeLists.txt
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/managers/ProtocolManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/Viewporter.cpp
  src/protocols/Viewporter.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, helpers, managers, render

cursorsss
  src/managers/PointerManager.cpp
Labels: core, managers

avoid spam
  src/render/Renderer.cpp
Labels: core, render

dont crash on multigpu lol
  src/helpers/Monitor.cpp
  src/helpers/sync/SyncTimeline.cpp
Labels: core, helpers

stuf
  src/config/ConfigManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMSyncobj.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, managers, render

log mismatched fds
  src/helpers/sync/SyncTimeline.cpp
Labels: core, helpers

fixes
  src/protocols/DRMSyncobj.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
Labels: protocols, core

fix crasheroni
  src/render/Renderer.cpp
Labels: core, render

meson: unbreak build with aquamarine
  meson.build
  protocols/meson.build
  src/meson.build
Labels: protocols, core

cmake: drop unused include after 758c0b325333
  CMakeLists.txt
Labels: none

nix: drop unused script after 589f758d947c
  nix/update-wlroots.sh
Labels: nix

flake.lock: update aquamarine
  flake.lock
Labels: none

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
