Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

fix: syntax again
  src/protocols/GammaControl.cpp
Labels: protocols, core

renderer: implement remaining transfer functions and their inverses
  src/render/shaders/glsl/CM.glsl
Labels: core, render

renderer: remove redundant alpha division and mult
  src/render/shaders/glsl/CM.glsl
Labels: core, render

protocols: report all color-management-v1 transfer functions supported
  src/protocols/ColorManagement.cpp
Labels: protocols, core

snap: use window extents instead of border size (#11079)
  hyprtester/src/tests/main/snap.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/layout/IHyprLayout.cpp
Labels: core, desktop, layout

fixup! renderer: implement remaining transfer functions and their inverses
  src/render/shaders/glsl/CM.glsl
Labels: core, render

Update README.md
  README.md
Labels: none

README: add link to CI from badge (#11085)
  README.md
Labels: none

protocols/gamma: support pipes (#11076)
  src/protocols/GammaControl.cpp
Labels: protocols, core

fix
  src/render/Renderer.cpp
Labels: core, render

opengl: detect android fence support and disable explicit if it's missing (#11077)
  src/helpers/MonitorFrameScheduler.cpp
  src/helpers/MonitorFrameScheduler.hpp
  src/managers/ProtocolManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: core, helpers, managers, render

eventloop: avoid duplicate timers
  src/managers/eventLoop/EventLoopManager.cpp
Labels: core, managers

fixup! renderer: implement remaining transfer functions and their inverses
  src/protocols/ColorManagement.cpp
Labels: protocols, core

protocols: flag all XX_COLOR_MANAGER_V4 transfer functions as supported
  src/protocols/XXColorManagement.cpp
Labels: protocols, core

Create hyprland-hm.nix
  example/hyprland-hm.nix
Labels: none

fix 'col.
  example/hyprland-hm.nix
Labels: none

eventloop: improve timer handling to avoid crashes
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/managers/eventLoop/EventLoopTimer.cpp
Labels: core, managers

sessionlock: fix timer logic on unsafe state
  src/managers/SessionLockManager.cpp
Labels: core, managers

animate window size/pos on setGroupCurrent modified: src/desktop/Window.cpp
  src/desktop/Window.cpp
Labels: core, desktop

fix decoration getting autodeleted on creation modified: src/desktop/Window.cpp
  src/desktop/Window.cpp
Labels: core, desktop

cleanup groupbar creation modified: src/desktop/Window.cpp modified: src/layout/IHyprLayout.cpp modified: src/managers/KeybindManager.cpp
  src/desktop/Window.cpp
  src/layout/IHyprLayout.cpp
  src/managers/KeybindManager.cpp
Labels: core, desktop, layout, managers

ensure m_realSize/Pos goal matches for float group modified: src/desktop/Window.cpp
  src/desktop/Window.cpp
Labels: core, desktop

core: never use hw cursors when tearing
  src/config/ConfigManager.cpp
Labels: core, config

sessionlock: fix timer logic on unsafe state
  src/managers/SessionLockManager.cpp
Labels: core, managers

framescheduler: dont if check deleted weakpointer (#11063)
  src/helpers/MonitorFrameScheduler.cpp
Labels: core, helpers

snap: use window extents instead of border size (#11079)
  hyprtester/src/tests/main/snap.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/layout/IHyprLayout.cpp
Labels: core, desktop, layout

version: bump to 0.50.1
  VERSION
Labels: none

opengl: detect android fence support and disable explicit if it's missing (#11077)
  src/helpers/MonitorFrameScheduler.cpp
  src/helpers/MonitorFrameScheduler.hpp
  src/managers/ProtocolManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: core, helpers, managers, render

eventloop: improve timer handling to avoid crashes
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/managers/eventLoop/EventLoopTimer.cpp
Labels: core, managers

framescheduler: check monitor validity in doLater
  src/helpers/MonitorFrameScheduler.cpp
Labels: core, helpers

eventloop: avoid duplicate timers
  src/managers/eventLoop/EventLoopManager.cpp
Labels: core, managers

compositor: properly set infinite region on null input
  src/protocols/core/Compositor.cpp
  src/protocols/types/SurfaceState.hpp
Labels: protocols, core

version: bump to 0.50.0
  VERSION
Labels: none

socket2: fixup invalid ws passed to openwindow
  src/events/Windows.cpp
Labels: core, events

config: default drag_lock to 0
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

[gha] Nix: update inputs
  flake.lock
Labels: none

Update README.md
  README.md
Labels: none

drm: check syncobj timeline support before advertising protocol
  src/helpers/sync/SyncTimeline.cpp
  src/managers/ProtocolManager.cpp
Labels: core, helpers, managers

Fix: Replace unsafe strcpy with snprintf
  src/debug/HyprCtl.cpp
  src/render/OpenGL.cpp
Labels: core, debug, render

Refactor: Use strdup instead of malloc+snprintf for renderName in OpenGL.cpp
  src/render/OpenGL.cpp
Labels: core, render

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
