Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

Nix: disable stuff until we drop wl-proto overlay
  nix/tests/default.nix
Labels: nix

abgoregrjnger
  hyprtester/test.conf
Labels: none

hyprtester: launch using /bin/sh, not /bin/bash
  hyprtester/src/tests/shared.cpp
Labels: none

add a super basic test suite
  CMakeLists.txt
  hyprtester/CMakeLists.txt
  hyprtester/src/hyprctlCompat.cpp
  hyprtester/src/hyprctlCompat.hpp
  hyprtester/src/main.cpp
  hyprtester/src/shared.hpp
  hyprtester/src/tests/window/window.cpp
  hyprtester/src/tests/window/window.hpp
  hyprtester/test.conf
Labels: none

test xeyes
  hyprtester/src/hyprctlCompat.cpp
  hyprtester/src/hyprctlCompat.hpp
  hyprtester/src/main.cpp
  hyprtester/src/tests/window/window.cpp
Labels: none

Nix/tests: fix test conf
  nix/tests/test.conf
Labels: nix

move xx to wp
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/XXColorManagement.hpp
  src/protocols/types/ColorManagement.hpp
Labels: protocols, core, managers

bump wp requirements
  CMakeLists.txt
  protocols/meson.build
Labels: protocols

use wp cm xml
  CMakeLists.txt
  protocols/color-management-v1.xml
  protocols/meson.build
  src/Compositor.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/render/Renderer.cpp
Labels: protocols, core, managers, render

debug cm config
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/ProtocolManager.cpp
Labels: core, config, managers

fix xx-cm
  src/protocols/XXColorManagement.cpp
Labels: protocols, core

add color-management-v1 proto
  CMakeLists.txt
  protocols/color-management-v1.xml
  protocols/meson.build
Labels: protocols

more "unsupported feature" responses
  src/protocols/ColorManagement.cpp
Labels: protocols, core

handle subsurfaces
  src/protocols/FrogColorManagement.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/Renderer.cpp
Labels: protocols, core, render

more standard primaries
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/types/ColorManagement.cpp
  src/protocols/types/ColorManagement.hpp
Labels: protocols, core

use internal cm enums
  src/Compositor.cpp
  src/Compositor.hpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/XXColorManagement.hpp
  src/protocols/types/ColorManagement.hpp
  src/render/Renderer.cpp
Labels: protocols, core, render

add image id
  src/helpers/Monitor.hpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/types/ColorManagement.hpp
Labels: protocols, core, helpers

add plugin
  hyprtester/CMakeLists.txt
  hyprtester/plugin/Makefile
  hyprtester/plugin/build.sh
  hyprtester/plugin/src/globals.hpp
  hyprtester/plugin/src/main.cpp
  hyprtester/src/main.cpp
  hyprtester/src/tests/plugin/plugin.cpp
  hyprtester/src/tests/plugin/plugin.hpp
Labels: none

e
  hyprtester/src/tests/window/groups.cpp
Labels: none

clang-format
  src/desktop/LayerSurface.cpp
Labels: core, desktop

keybinds: movewindow respect gaps out for floating windows
  src/managers/KeybindManager.cpp
Labels: core, managers

fixup! random space
  src/managers/KeybindManager.cpp
Labels: core, managers

fixup! seperate gap values for float
  src/config/ConfigManager.hpp
Labels: core, config

seperate gap values for float
  9360.patch
  snap-gap.patch
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

feat(input): add flip_x and flip_y for touchpad
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, managers

feat(window): add option to allow size persistence between app launches
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/layout/IHyprLayout.cpp
Labels: core, config, desktop, layout

e
  src/config/ConfigManager.hpp
Labels: core, config

e
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
Labels: core, desktop

e
  src/desktop/WindowRule.cpp
Labels: core, desktop

e
  src/config/ConfigDescriptions.hpp
Labels: core, config

dispatchers: scaleactive fix for some popup locations
  src/desktop/Popup.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: core, desktop, render

cleanup
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/ColorManagement.hpp
  src/render/Renderer.cpp
Labels: protocols, core, render

use pid_t instead of uint64_t for pids
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

look better
  src/managers/KeybindManager.cpp
Labels: core, managers

did not mean to commit those
  9360.patch
  snap-gap.patch
Labels: none

protocols: Support wp color management proto (#9444) Adds support for the recently merged w-p CM protocol alongside the (now deprecated) old CM WIP protocols
  CMakeLists.txt
  protocols/meson.build
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/XXColorManagement.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/ColorManagement.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/Renderer.cpp
Labels: protocols, core, config, helpers, managers, render

protocols: Support wp color management proto (#9444)
  CMakeLists.txt
  protocols/meson.build
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/XXColorManagement.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/ColorManagement.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/Renderer.cpp
Labels: protocols, core, config, helpers, managers, render

hyprctl/layers: print pid for layershell clients (#9468)
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
Labels: core, debug, desktop

hyprctl/layers: print pid for layershell clients (#9468) Adds a `getPID()` fn to layershell to print it in `hyprctl layers`
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
Labels: core, debug, desktop

nix: wp-protocol version bump
  nix/overlays.nix
Labels: nix

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
