Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

dispatchers: fix "movecursor" not updating client pos
  src/managers/KeybindManager.cpp
Labels: core, managers

decoration border fix ala snowman
  src/desktop/Window.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, desktop, render

dispatchers: fix movecursor not updating client pos (#11672)
  src/managers/KeybindManager.cpp
Labels: core, managers

input: handle tablet active area scaling when axes swap due to rotation
  src/managers/input/InputManager.cpp
Labels: core, managers

jeebus cf, chill..
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, render

input: handle tablet active area scaling when axes swap due to rotation (#11661)
  src/managers/input/InputManager.cpp
Labels: core, managers

Allow multiple window rules per windowrule line.
  src/config/ConfigManager.cpp
Labels: core, config

Cleanup and rename to match wiki.
  src/config/ConfigManager.cpp
Labels: core, config

Fixed unset and added a test.
  hyprtester/src/tests/main/window.cpp
  hyprtester/test.conf
  src/config/ConfigManager.cpp
Labels: core, config

windows: fix no decorate not disabling borders (#11673)
  src/desktop/Window.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, desktop, render

honor reload
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
Labels: core, config, debug

cf
  src/layout/DwindlePreset.hpp
Labels: core, layout

layout/dwindle: add presets
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/DwindlePreset.cpp
  src/layout/DwindlePreset.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
Labels: core, config, layout

tests
  hyprtester/src/tests/main/dwindle.cpp
  hyprtester/test.conf
Labels: none

amongus
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/DwindlePreset.cpp
  src/layout/DwindlePreset.hpp
Labels: core, desktop, layout

fixes
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
Labels: core, config, layout

gestures/float: fix typo
  src/managers/input/trackpad/gestures/FloatGesture.cpp
Labels: core, managers

protocols: Add fifo-v1 and commit-timing-v1
  CMakeLists.txt
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/CommitTiming.cpp
  src/protocols/CommitTiming.hpp
  src/protocols/Fifo.cpp
  src/protocols/Fifo.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core, helpers, managers

e
  src/protocols/core/Compositor.cpp
Labels: protocols, core

e
  src/protocols/core/Compositor.cpp
Labels: protocols, core

e
  src/protocols/core/Compositor.cpp
Labels: protocols, core

mesooon
  protocols/meson.build
Labels: protocols

renderer: clamp blur:passes 1-8
  src/render/OpenGL.cpp
  src/render/pass/Pass.cpp
Labels: core, render

stuff
  src/protocols/Fifo.cpp
  src/protocols/Fifo.hpp
Labels: protocols, core

stuff
  src/protocols/Fifo.cpp
Labels: protocols, core

stuff
  src/protocols/CommitTiming.cpp
  src/protocols/Fifo.cpp
Labels: protocols, core

gestures/fs: fix typo
  src/managers/input/trackpad/gestures/FullscreenGesture.cpp
Labels: core, managers

Virtual keyboard: update cached mods before IME; add share_states = 2 config option for auto disable when IME client
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/devices/VirtualKeyboard.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, devices, managers

infra stuff for protocol to use
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/protocols/ForeignToplevel.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: protocols, core, desktop, events, render

implement image copy capture protocol
  CMakeLists.txt
  protocols/meson.build
  src/protocols/ImageCaptureSource.hpp
  src/protocols/ImageCopyCapture.cpp
  src/protocols/ImageCopyCapture.hpp
Labels: protocols, core

implement image capture source protocol
  CMakeLists.txt
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/ImageCaptureSource.cpp
  src/protocols/ImageCaptureSource.hpp
Labels: protocols, core, managers

presentation: fix vrr check for reporting no refresh time
  src/protocols/PresentationTime.cpp
Labels: protocols, core

dwindle: add smart_split_on_drop option
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
Labels: core, config, layout

add test
  hyprtester/src/tests/main/smart_split.cpp
Labels: none

rename test file, remove redundant comments
  hyprtester/src/tests/main/smartSplit.cpp
Labels: none

fmt
  src/render/OpenGL.cpp
Labels: core, render

fix capture MRT for CM shader
  src/render/shaders/glsl/CM.frag
Labels: core, render

oops thank you helix editor
  m_captureWritesEnabled
Labels: none

in hindsight a seperate `capture.glsl` is less confusing
  src/render/OpenGL.cpp
  src/render/shaders/glsl/capture.glsl
Labels: core, render

smarter/cleaner caching
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, render
