Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

screencopy: fix applying `noscreenshare` to invisible special workspaces
  src/protocols/Screencopy.cpp
Labels: protocols, core

styling & cleanups
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
Labels: core, config, debug

keybinds: add an option to respect gaps out for floating to movewindow (#9360)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

keybinds: add an option to respect gaps out for floating to movewindow (#9360)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

fix xwayland -> wayland clipboard
  src/xwayland/XWM.cpp
Labels: core, xwayland

fix special workspaces
  src/protocols/Screencopy.cpp
Labels: protocols, core

Revert "screencopy: fix applying `noscreenshare` to invisible special workspaces"
  src/protocols/Screencopy.cpp
Labels: protocols, core

catch exceptions while iterating RunTimeDir
  hyprctl/main.cpp
Labels: hyprctl

clang-format
  hyprctl/main.cpp
Labels: hyprctl

clang-format again
  hyprctl/main.cpp
Labels: hyprctl

clang-format again...
  hyprctl/main.cpp
Labels: hyprctl

Add the ability to specify an aspect ratio for 1-window dwindle
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
Labels: core, config, layout

xwayland: pad pid with leading zeroes in lockfile fixes #10652
  src/xwayland/Server.cpp
Labels: core, xwayland

xwayland: pad pid with leading zeroes in lockfile
  src/xwayland/Server.cpp
Labels: core, xwayland

Use better and more consistent variable naming for the original aspect ratio.
  src/layout/DwindleLayout.cpp
Labels: core, layout

xwayland: fix xwayland -> wayland clipboard (#10646)
  src/xwayland/XWM.cpp
Labels: core, xwayland

xwayland: fix xwayland -> wayland clipboard (#10646)
  src/xwayland/XWM.cpp
Labels: core, xwayland

replaced exceptions with std::error_code
  hyprctl/main.cpp
Labels: hyprctl

clang-format again
  hyprctl/main.cpp
Labels: hyprctl

clang-format again
  hyprctl/main.cpp
Labels: hyprctl

Fix IDE gore
  src/config/ConfigDescriptions.hpp
Labels: core, config

Fix typo in config option description.
  src/config/ConfigDescriptions.hpp
Labels: core, config

Update main.cpp
  hyprctl/main.cpp
Labels: hyprctl

internal: Catch filesystem exceptions while iterating RunTimeDir (#10648)
  hyprctl/main.cpp
Labels: hyprctl

internal: Catch filesystem exceptions while iterating RunTimeDir (#10648)
  hyprctl/main.cpp
Labels: hyprctl

config: add a new monitor v2 config syntax (#9761)
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
Labels: core, config, debug

config: add a new monitor v2 config syntax (#9761)
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
Labels: core, config, debug

additional monitor rules
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, config, helpers, render

pass sdr overrides into shaders
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: protocols, core, render

fix rule comparison
  src/helpers/Monitor.cpp
Labels: core, helpers

config: add group: selector (#10588)
  src/config/ConfigManager.cpp
  src/desktop/WindowRule.hpp
Labels: core, config, desktop

config: add group: selector (#10588)
  src/config/ConfigManager.cpp
  src/desktop/WindowRule.hpp
Labels: core, config, desktop

screencopy: fix applying `noscreenshare` to invisible special workspaces (#10628)
  src/protocols/Screencopy.cpp
Labels: protocols, core

screencopy: fix applying `noscreenshare` to invisible special workspaces (#10628)
  src/protocols/Screencopy.cpp
Labels: protocols, core

input: support configuring drag_3fg from libinput
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, managers

restore auto-center-*
  src/config/ConfigManager.cpp
Labels: core, config

fix missing return
  src/config/ConfigManager.cpp
Labels: core, config

nix: use gcc15-built dependencies
  flake.lock
Labels: none

nix: use gcc15-built dependencies
  flake.lock
Labels: none

nix: use gcc15-built dependencies
  flake.lock
Labels: none

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
