Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

config: fix inconsistant hint of default value (#10556)
  src/config/ConfigDescriptions.hpp
Labels: core, config

core: add auto-center arrangements (#10527)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.hpp
Labels: core, config, helpers

core: add auto-center arrangements (#10527) Signed-off-by: Nikolaos Karaolidis <nick@karaolidis.com>
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.hpp
Labels: core, config, helpers

windowrules: Add noscreenshare (#10482)
  src/desktop/Window.hpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
Labels: protocols, core, desktop

windowrules: Add noscreenshare (#10482)
  src/desktop/Window.hpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
Labels: protocols, core, desktop

monitor: mark 0, 0 presentation timestamps as invalid fixes #10562
  src/helpers/Monitor.cpp
Labels: core, helpers

monitor: mark 0, 0 presentation timestamps as invalid
  src/helpers/Monitor.cpp
Labels: core, helpers

snap: option to respect gaps
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

style
  src/layout/IHyprLayout.cpp
Labels: core, layout

clang-format
  src/layout/IHyprLayout.cpp
Labels: core, layout

Update Windows.cpp
  src/events/Windows.cpp
Labels: core, events

add auto-hdr
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, config, helpers, render

different auto hdr modes
  src/config/ConfigDescriptions.hpp
  src/render/Renderer.cpp
Labels: core, config, render

fix auto condition
  src/render/Renderer.cpp
Labels: core, render

support hyprctl keyword monitorv2
  src/debug/HyprCtl.cpp
Labels: core, debug

handle single monitorv2
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
Labels: core, config

handle monitorv2
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
Labels: core, config

monitor rule parsers
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
Labels: core, config

rebase fix
  src/debug/HyprCtl.cpp
Labels: core, debug

handle monitorv2 parse result
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
Labels: core, config

Update Windows.cpp
  src/events/Windows.cpp
Labels: core, events

simplify monitorv2 keyword handling
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
Labels: core, config, debug

Update Events.hpp
  src/events/Events.hpp
Labels: core, events

deleted declaration in Events.hpp
  src/events/Events.hpp
Labels: core, events

groupbar: force recalc on visibility changes fixes #10566
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: core, render

groupbar: force recalc on visibility changes
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: core, render

snap: add option to respect gaps (#10524)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

snap: add option to respect gaps (#10524)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

Added initialize function into CWindow class
  src/desktop/Window.cpp
Labels: core, desktop

Added initialize declaration into window.hpp
  src/desktop/Window.hpp
Labels: core, desktop

Moved initialize function from Events namespace to CWindow class
  src/events/Windows.cpp
Labels: core, events

Refactored SXSelection::onSelection in XWM.cpp
  src/xwayland/XWM.cpp
Labels: core, xwayland

Update Window.cpp
  src/desktop/Window.cpp
Labels: core, desktop

#10537 issue fix
  src/events/Windows.cpp
Labels: core, events

Update Windows.cpp
  src/events/Windows.cpp
Labels: core, events

added early return
  src/layout/IHyprLayout.cpp
Labels: core, layout

more ranges
  src/debug/HyprCtl.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/events/Windows.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/hyprerror/HyprError.cpp
  src/managers/XCursorManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/DRMLease.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/PointerConstraints.cpp
  src/protocols/XDGActivation.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Subcompositor.cpp
  src/render/OpenGL.cpp
  src/render/decorations/DecorationPositioner.cpp
  src/render/pass/Pass.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, debug, events, helpers, hyprerror, managers, render, xwayland

fix nix ci
  src/desktop/Window.cpp
Labels: core, desktop

fix nix ci?
  src/helpers/Monitor.cpp
Labels: core, helpers

fix nix ci??
  src/helpers/Monitor.cpp
Labels: core, helpers
