Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

Fix Makefile too ... did this ever work?
  Makefile
Labels: none

layersurface: dont rollover on size_t (#7451) unneded rollover on size_t if force equals -1
  src/desktop/LayerSurface.cpp
Labels: core, desktop

layersurface: dont rollover on size_t (#7451)
  src/desktop/LayerSurface.cpp
Labels: core, desktop

Improve GPU debug reports
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

move half da dispatchers to refactor
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

part2 of moving everything
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/plugins/PluginAPI.cpp
Labels: core, managers, plugins

xwayland: deactivate xwayland focus if wayland is focused
  src/xwayland/XWM.cpp
Labels: core, xwayland

CMakeLists: wayland.xml is in wayland-scanner pkgdatadir
  CMakeLists.txt
Labels: none

CMakeLists: wayland.xml is in wayland-scanner pkgdatadir
  CMakeLists.txt
Labels: none

Nix: exclude wayland-scanner until next staging merge
  CMakeLists.txt
  nix/default.nix
Labels: nix

Nix: exclude wayland-scanner until next staging merge
  CMakeLists.txt
  nix/default.nix
Labels: nix

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

Fix crash reports having execute permission
  src/debug/CrashReporter.cpp
Labels: core, debug

Fix crash reports having execute permission
  src/debug/CrashReporter.cpp
Labels: core, debug

Fix crash reports having execute permission
  src/debug/CrashReporter.cpp
Labels: core, debug

Cleanup
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

clang format
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

make hyprctl dispatch results
  src/debug/HyprCtl.cpp
Labels: core, debug

fix spawn dispatcher success
  src/managers/KeybindManager.cpp
Labels: core, managers

we should both log errors and return them
  src/managers/KeybindManager.cpp
Labels: core, managers

windowrules: add fullscreenstate field
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/desktop/Window.hpp
Labels: core, config, desktop

layersurface: remove layer on destroy from monitor
  src/desktop/LayerSurface.cpp
Labels: core, desktop

fix typo
  src/config/ConfigManager.cpp
Labels: core, config

screencopy: fixup 10-bit sharing via shm on nvidia
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
Labels: protocols, core

screencopy: fixup 10-bit sharing via shm on nvidia
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
Labels: protocols, core

layersurface: remove layer on destroy from monitor (#7457)
  src/desktop/LayerSurface.cpp
Labels: core, desktop

Cleanup
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

Fix modifier keys getting stuck if depressed during config reload
  src/devices/IKeyboard.cpp
Labels: core, devices

input: Fix modifier keys getting stuck if depressed during config reload (#7486)
  src/devices/IKeyboard.cpp
Labels: core, devices

windowrules: add fullscreenstate field (#7466)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/desktop/Window.hpp
Labels: core, config, desktop

windowrules: add fullscreenstate field (#7466) * windowrules: add fullscreenstate field * fix typo
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/desktop/Window.hpp
Labels: core, config, desktop

plugin api change -> nicer code
  src/plugins/PluginAPI.cpp
Labels: core, plugins

Fix missing include needed by clang
  src/managers/XCursorManager.cpp
Labels: core, managers

layersurface: don't unref from monitor until dtor reee
  src/desktop/LayerSurface.cpp
Labels: core, desktop

layersurface: don't unref from monitor until dtor
  src/desktop/LayerSurface.cpp
Labels: core, desktop

config: fix uninitialized values with mode parsing
  src/config/ConfigManager.cpp
Labels: core, config

config: fix uninitialized values with mode parsing
  src/config/ConfigManager.cpp
Labels: core, config

keybinds: refactor dispatchers to be better (#7331)
  src/debug/HyprCtl.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/plugins/PluginAPI.cpp
Labels: core, debug, managers, plugins

keybinds: refactor dispatchers to be better (#7331)
  src/debug/HyprCtl.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/plugins/PluginAPI.cpp
Labels: core, debug, managers, plugins

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
