Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

helpers: Add an async dialog box impl (#9919)
  CMakeLists.txt
  flake.lock
  meson.build
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, helpers, managers

helpers: Add an async dialog box impl (#9919) Adds an async dialog box, way safer than our previous local solution for ANR
  CMakeLists.txt
  flake.lock
  meson.build
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, helpers, managers

swipe: fix swiping onto a new workspace bound to another monitor (#8176)
  src/managers/input/Swipe.cpp
Labels: core, managers

purge cursorhotspot
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/protocols/core/DataDevice.cpp
Labels: protocols, core, managers

permissionmgr: init and add screencopy permissions
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
Labels: protocols, core, config, managers

chore: implement review
  src/protocols/ForeignToplevel.cpp
  src/protocols/ForeignToplevelWlr.cpp
  src/protocols/ToplevelMapping.cpp
  src/protocols/ToplevelMapping.hpp
Labels: protocols, core

fix: apply clang-format
  src/protocols/ToplevelMapping.hpp
Labels: protocols, core

Reset the cursor buffer
  src/managers/CursorManager.cpp
Labels: core, managers

e
  src/managers/permissions/DynamicPermissionManager.cpp
Labels: core, managers

layout: properly track floating window position
  src/layout/IHyprLayout.cpp
Labels: core, layout

input: do warp_on_change_workspace on special workspaces
  src/managers/KeybindManager.cpp
Labels: core, managers

reverted change to comment, moved other comment
  src/Compositor.hpp
Labels: core

renamed map
  src/Compositor.hpp
  src/helpers/Monitor.cpp
Labels: core, helpers

improved debug log
  src/helpers/Monitor.cpp
Labels: core, helpers

DataDevice: position icon at cursor hotspot (#9895) * DataDevice: position icon at cursor hotspot ref: https://wayland.app/protocols/wayland#wl_data_device:request:start_drag
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

DataDevice: position icon at cursor hotspot (#9895)
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

swipe: fix prev workspace remembering fixes #9904
  src/managers/input/Swipe.cpp
Labels: core, managers

swipe: fix prev workspace remembering
  src/managers/input/Swipe.cpp
Labels: core, managers

layout: properly track floating window position (#9937)
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: properly track floating window position (#9937)
  src/layout/IHyprLayout.cpp
Labels: core, layout

e
  src/managers/permissions/DynamicPermissionManager.cpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: protocols, core, managers, render

Add variables for group bar title font weight
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: core, config, render

Add variable for setting group indicator gap
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

run clang-format
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, config, render

xwayland: sync primary selection with wayland
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

Rename CStringOrInt to CFontWeightConfigValueData
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

Make new CustomConfigValueData type for string or int
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

forgot to update eConfigValueDataTypes
  src/config/ConfigDataValues.hpp
Labels: core, config

oops
  src/managers/CursorManager.cpp
  src/xwayland/XWM.cpp
Labels: core, managers, xwayland

oops
  src/managers/CursorManager.cpp
Labels: core, managers

WHAT THE FUCKZzz
  src/managers/CursorManager.cpp
  src/xwayland/XDataSource.cpp
Labels: core, managers, xwayland

WHAT THE FUCK
  src/managers/CursorManager.cpp
Labels: core, managers

WHAT THE FUCK
  src/xwayland/XDataSource.cpp
Labels: core, xwayland

WHAT THE FUCK
  src/xwayland/XWM.cpp
Labels: core, xwayland

WHAT THE FUCK
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

WHAT THE FUCK
  src/xwayland/XWM.cpp
Labels: core, xwayland

WHAT THE FUCK
  src/xwayland/XWM.cpp
Labels: core, xwayland

wording
  src/managers/permissions/DynamicPermissionManager.cpp
Labels: core, managers

swipe: fix swiping onto a new workspace bound to another monitor (#8176) (#9927)
  src/managers/input/Swipe.cpp
Labels: core, managers

helpers: add missing include for BSDs after 3c128679ee8c
  src/helpers/AsyncDialogBox.cpp
Labels: core, helpers
