Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

xwayland: refactor class member vars (#10312) * xwayland: refactor class member vars * xwayland: fix pure wayland build
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/layout/IHyprLayout.cpp
  src/managers/ANRManager.cpp
  src/managers/XWaylandManager.cpp
  src/protocols/XDGOutput.cpp
  src/protocols/core/DataDevice.cpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
  src/xwayland/XDataSource.cpp
  src/xwayland/XDataSource.hpp
  src/xwayland/XSurface.cpp
  src/xwayland/XSurface.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
  src/xwayland/XWayland.cpp
  src/xwayland/XWayland.hpp
Labels: protocols, core, desktop, events, layout, managers, xwayland

DMABuffer: reserve vector and avoid UB
  src/protocols/types/DMABuffer.cpp
Labels: protocols, core

renderer: precompute fullalpha
  src/render/Renderer.cpp
Labels: core, render

DMABuffer: reserve vector and avoid UB (#10317)
  src/protocols/types/DMABuffer.cpp
Labels: protocols, core

renderer: precompute fullalpha (#10319)
  src/render/Renderer.cpp
Labels: core, render

renderer: precompute fullalpha (#10319) precompute it once instead of calculating it every single call, was showing up as a lot of time wasted in profiling.
  src/render/Renderer.cpp
Labels: core, render

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

refactor: cshader class to sshader struct
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/Shader.hpp
Labels: core, render

input: implement follow_mouse_shrink
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/Window.hpp
  src/managers/input/InputManager.cpp
Labels: core, config, desktop, managers

clang: format code
  src/Compositor.cpp
Labels: core

core: only apply shrink to inactive windows
  src/Compositor.cpp
Labels: core

ConfigDescriptions: update desc
  src/config/ConfigDescriptions.hpp
Labels: core, config

InputManager: restore some nuked codepaths
  src/managers/input/InputManager.cpp
Labels: core, managers

refactor: cshader class to sshader struct (#10324)
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/Shader.hpp
Labels: core, render

refactor: cshader class to sshader struct (#10324)
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/Shader.hpp
Labels: core, render

layout: allow interacting with pinned windows when fullscreened
  src/layout/IHyprLayout.cpp
  src/managers/input/InputManager.cpp
Labels: core, layout, managers

IHyprLayout: format code
  src/layout/IHyprLayout.cpp
Labels: core, layout

events: assign child windows to their parents workspace
  src/events/Windows.cpp
Labels: core, events

Windows: format code
  src/events/Windows.cpp
Labels: core, events

xdg: use toplevel map
  src/Compositor.hpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
Labels: core, desktop, events

core: format code
  src/Compositor.hpp
Labels: core

Window: remove some redundant checks
  src/desktop/Window.cpp
Labels: core, desktop

xwayland: support HiDPI scale
  src/protocols/PointerConstraints.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
  src/xwayland/XWayland.hpp
Labels: protocols, core, xwayland

compositor: set fullscreenstate on movetoworkspace (#10303) modified: src/managers/KeybindManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers

compositor: set fullscreenstate on movetoworkspace (#10303)
  src/managers/KeybindManager.cpp
Labels: core, managers

fix child workspace and monitor
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/layout/IHyprLayout.cpp
Labels: core, desktop, layout

chore: revert resolveRule logic
  src/desktop/WindowRule.cpp
Labels: core, desktop

opengl: fix legacyrenderer
  src/render/OpenGL.cpp
Labels: core, render

opengl: fix legacyrenderer
  src/render/OpenGL.cpp
Labels: core, render

e
  src/layout/IHyprLayout.cpp
Labels: core, layout

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

layout: allow interacting with pinned windows when fullscreened (#10326) * layout: allow interacting with pinned windows when fullscreened * IHyprLayout: format code * e
  src/layout/IHyprLayout.cpp
  src/managers/input/InputManager.cpp
Labels: core, layout, managers

layout: allow interacting with pinned windows when fullscreened (#10326)
  src/layout/IHyprLayout.cpp
  src/managers/input/InputManager.cpp
Labels: core, layout, managers

layout: properly assign workspace and monitor when moving a child to the parent (#10338)
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/layout/IHyprLayout.cpp
Labels: core, desktop, layout

layout: properly assign workspace and monitor when moving a child to the parent (#10338)
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/layout/IHyprLayout.cpp
Labels: core, desktop, layout

desktop: cleanup code and use std::ranges (#10289)
  src/desktop/LayerRule.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
Labels: core, desktop

desktop: cleanup code and use std::ranges (#10289)
  src/desktop/LayerRule.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
Labels: core, desktop

socket2: fix order of window events on map
  src/events/Windows.cpp
Labels: core, events

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
