Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

input-capture: Init active property & upstream protocol changes
  src/managers/PointerManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: fix rebase issues
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/core/Output.cpp
Labels: protocols, core, managers

input-capture: force cursor hiding
  src/protocols/InputCapture.cpp
Labels: protocols, core

input-capture: don't send motion when the input is locked (like inside a 3d game)
  src/managers/PointerManager.cpp
Labels: core, managers

input-capture: send modifiers (highly experimental)
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: hide cursor when the input is captured
  src/render/Renderer.cpp
Labels: core, render

input-capture: impl keymap
  src/managers/SeatManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: impl force release
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: fixes
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: fix build
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: inhibit inputs
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: impl keyboard, mouse button & mouse wheel
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: fix build
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: simplify sendKeymap
  src/protocols/InputCapture.cpp
Labels: protocols, core

input-capture: move eis and logic to the compositor
  CMakeLists.txt
  src/helpers/Eis.cpp
  src/helpers/Eis.hpp
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/meson.build
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, helpers, managers

input-capture: fix keyboard not captured
  src/managers/input/InputManager.cpp
Labels: core, managers

input-capture: lint
  src/managers/PointerManager.cpp
  src/managers/ProtocolManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

input-capture: fix build
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
Labels: protocols, core, managers

input-capture: fix build
  src/protocols/InputCapture.cpp
Labels: protocols, core

inputcapture: fix keybind inhibit
  src/managers/KeybindManager.cpp
Labels: core, managers

input-capture: impl security
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

viewporter: clamp sub-pixel overflow (#11845)
  src/protocols/Viewporter.cpp
Labels: protocols, core

seat: release depressed modifiers on leave (#11854)
  src/managers/SeatManager.cpp
Labels: core, managers

Fix: workspace Add: monitor
  hyprtester/src/tests/main/window.cpp
  hyprtester/test.conf
Labels: none

I guess no test then. Silly bar.
  hyprtester/src/tests/main/window.cpp
  hyprtester/test.conf
Labels: none

Fixed: workspace Added: monitor
  hyprtester/src/tests/main/window.cpp
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
Labels: core, config, events

CI/Arch: build hyprgraphics after hyprutils
  .github/actions/setup_base/action.yml
Labels: none

fix: repeat and long press keybinds release
  src/managers/KeybindManager.cpp
Labels: core, managers

cf
  src/render/Renderer.cpp
Labels: core, render

decoration: reduce virtual calls
  src/desktop/Window.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/DecorationPositioner.cpp
  src/render/decorations/DecorationPositioner.hpp
Labels: core, desktop, render

deco: reduce virtual calls in drop shadow
  src/render/decorations/CHyprDropShadowDecoration.cpp
Labels: core, render

opengl: move from unordered_set to array
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

decoration: reduce virtual calls
  src/desktop/Window.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/DecorationPositioner.cpp
  src/render/decorations/DecorationPositioner.hpp
Labels: core, desktop, render

opengl: move from unordered_set to array
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

deco: reduce virtual calls in drop shadow
  src/render/decorations/CHyprDropShadowDecoration.cpp
Labels: core, render

extra cm settings
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, config, helpers

redundant import
  src/config/ConfigManager.cpp
Labels: core, config

fix imports
  src/helpers/Monitor.cpp
Labels: core, helpers

fix clang-tidy "errors"
  .clang-tidy
  src/config/ConfigManager.cpp
  src/devices/IKeyboard.cpp
  src/helpers/Format.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Splashes.hpp
  src/layout/MasterLayout.cpp
  src/protocols/LayerShell.cpp
  src/render/OpenGL.cpp
  src/xwayland/Dnd.cpp
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, config, devices, helpers, layout, render, xwayland

keybind tests
  hyprtester/plugin/src/main.cpp
  hyprtester/src/tests/main/keybinds.cpp
Labels: none

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
