Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

textinput: send deactivate to ime on destory ti (#7614)
  src/managers/input/TextInput.cpp
Labels: core, managers

textinput: send deactivate to ime on destory ti (#7614)
  src/managers/input/TextInput.cpp
Labels: core, managers

textinput: don't deactivate ime if another ti is focused
  src/managers/input/TextInput.cpp
Labels: core, managers

textinput: don't deactivate ime if another ti is focused (#7617)
  src/managers/input/TextInput.cpp
Labels: core, managers

textinput: don't deactivate ime if another ti is focused (#7617)
  src/managers/input/TextInput.cpp
Labels: core, managers

config: add xwayland enabled option to config
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

CMake: drop duplicate -luuid after 5262292abc56
  CMakeLists.txt
Labels: none

CMake: drop unused deps after 016da234d0e8
  CMakeLists.txt
Labels: none

Nix: remove unused dependencies
  nix/default.nix
Labels: nix

CMake: drop duplicate -luuid after 5262292abc56
  CMakeLists.txt
Labels: none

Nix: remove unused dependencies
  nix/default.nix
Labels: nix

Nix: remove unused dependencies
  nix/default.nix
Labels: nix

CMake: drop unused deps after 016da234d0e8 Found via LDFLAGS += -Wl,--as-needed (default in Meson). Some dependencies are only used by aquamarine.
  CMakeLists.txt
Labels: none

CMake: drop duplicate -luuid after 5262292abc56
  CMakeLists.txt
Labels: none

CMake: drop unused deps after 016da234d0e8
  CMakeLists.txt
Labels: none

xwayland: use DISPLAY env variable for enable/disable of new launches
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
Labels: core, config, xwayland

xwayland: close X11 windows when turning of XWayland
  src/config/ConfigManager.cpp
Labels: core, config

clang: format fix
  src/xwayland/Server.cpp
Labels: core, xwayland

config: add better description for xwayland:enabled
  src/config/ConfigDescriptions.hpp
Labels: core, config

Revert "syncobj: wait for deadline instead of available" This reverts commit cf6a1716ae719f9c59b1d175ca84a79015fab8e1. Fixes #7628
  src/protocols/DRMSyncobj.cpp
Labels: protocols, core

Revert "syncobj: wait for deadline instead of available"
  src/protocols/DRMSyncobj.cpp
Labels: protocols, core

input: don't emit idle activity when calling simulateMouseMovement
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, managers

xwayland: close X11 windows on disable without crashes
  src/config/ConfigManager.cpp
  src/xwayland/Server.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWayland.cpp
Labels: core, config, xwayland

input: return early in mouseMoveUnified when the session is locked
  src/managers/input/InputManager.cpp
Labels: core, managers

input: remove redundant PMONITOR checks
  src/managers/input/InputManager.cpp
Labels: core, managers

compositor: allow resetting focus when session is locked
  src/Compositor.cpp
Labels: core

sessionLock: make make a commit an opportunity to focus session lock surfaces
  src/managers/SessionLockManager.cpp
Labels: core, managers

input: check isSessionLocked earlier in mouseMoveUnified
  src/managers/input/InputManager.cpp
Labels: core, managers

input: don't emit idle activity when calling simulateMouseMovement (#7649)
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, managers

input: don't emit idle activity when calling simulateMouseMovement (#7649)
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, managers

config: Add a variable to prevent groups from merging after being dragged
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
Labels: core, config, desktop

xwayland: better method of informing CXWayland if xwayland enabled
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
  src/xwayland/XWayland.cpp
  src/xwayland/XWayland.hpp
Labels: core, config, xwayland

sessionLock: ensure sls focus in some edge cases (#7647)
  src/Compositor.cpp
  src/managers/SessionLockManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

xwayland: prevent closing non-xwayland windows on disable
  src/config/ConfigManager.cpp
Labels: core, config

misc: loop formatting
  src/xwayland/XWM.cpp
Labels: core, xwayland

Fixed code style for [f777f028]
  src/desktop/Window.cpp
Labels: core, desktop

workspacerules: fix on-created-empty window focus
  src/desktop/Workspace.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, desktop, managers

Revert "input: don't emit idle activity when calling simulateMouseMovement (#7649)"
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, managers

:art: hyprpm: clang-format (maybe)
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

xwayland: add option to enable/disable xwayland (#7633)
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/xwayland/Server.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWayland.cpp
  src/xwayland/XWayland.hpp
Labels: core, config, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
