Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

data-device: fixup wrong box expansion
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

snap: bias reserved area when its size is greater than zero (#8694)
  src/layout/IHyprLayout.cpp
Labels: core, layout

snap: bias reserved area when its size is greater than zero (#8694)
  src/layout/IHyprLayout.cpp
Labels: core, layout

dispatchers: Add an option to prioritize focus change within groups with movefocus (#8601)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

hyprctl: add an inhibitingIdle field to windows fixes #4322
  src/debug/HyprCtl.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.hpp
Labels: core, debug, managers

hyprctl: add an inhibitingIdle field to windows
  src/debug/HyprCtl.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.hpp
Labels: core, debug, managers

dnd: use pointer
  src/managers/SeatManager.cpp
  src/managers/SeatManager.hpp
  src/managers/input/InputManager.cpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
Labels: protocols, core, managers

compositor: fix monitor arrangement with mixed auto directions
  src/Compositor.cpp
Labels: core

compositor: fix monitor arrangement with mixed auto directions fixes #8518
  src/Compositor.cpp
Labels: core

hyprctl: avoid crash on null pwuid
  hyprctl/main.cpp
Labels: hyprctl

hyprctl: avoid crash on null pwuid fixes #8693
  hyprctl/main.cpp
Labels: hyprctl

xx-color-management-v4 initial support
  CMakeLists.txt
  protocols/meson.build
  protocols/xx-color-management-v4.xml
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/WLSurface.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/core/Compositor.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, desktop, managers, render

clang tidy
  src/render/Renderer.cpp
Labels: core, render

e
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

core/data: Use pointer focus for DnD operations (#8707) fixes #7737
  src/managers/SeatManager.cpp
  src/managers/SeatManager.hpp
  src/managers/input/InputManager.cpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
Labels: protocols, core, managers

core/data: Use pointer focus for DnD operations (#8707)
  src/managers/SeatManager.cpp
  src/managers/SeatManager.hpp
  src/managers/input/InputManager.cpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
Labels: protocols, core, managers

initial xwayland dnd support
  src/managers/XWaylandManager.cpp
  src/managers/XWaylandManager.hpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: protocols, core, managers, xwayland

EFHYVFRYUfveygveryufgvyter
  src/xwayland/Dnd.cpp
  src/xwayland/XWM.cpp
Labels: core, xwayland

e
  src/protocols/core/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
Labels: protocols, core

e
  src/protocols/types/DataDevice.hpp
  src/xwayland/Dnd.cpp
Labels: protocols, core, xwayland

e
  src/protocols/types/DataDevice.hpp
Labels: protocols, core

modifed `movefocus_cycle_groupfirst` behavior to keep cycling if a workspace has only one group
  src/managers/KeybindManager.cpp
Labels: core, managers

added a fix for multi-monitor setups
  src/managers/KeybindManager.cpp
Labels: core, managers

implement most stuff & debug logging
  protocols/xx-color-management-v4.xml
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core, managers

xwayland: Support cross DnD from Wayland (#8708) Adds support for drag-and-drop from Wayland clients to XWayland ones
  src/managers/XWaylandManager.cpp
  src/managers/XWaylandManager.hpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: protocols, core, managers, xwayland

xwayland: Support cross DnD from Wayland (#8708)
  src/managers/XWaylandManager.cpp
  src/managers/XWaylandManager.hpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: protocols, core, managers, xwayland

xwayland: support HiDPI scale
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
  src/xwayland/XWayland.hpp
Labels: core, xwayland

add frog cm support
  CMakeLists.txt
  protocols/frog-color-management-v1.xml
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/FrogColorManagement.hpp
  src/protocols/core/Compositor.hpp
  src/render/Renderer.cpp
Labels: protocols, core, managers, render

fix(?) frog tf setting
  src/protocols/FrogColorManagement.cpp
  src/protocols/FrogColorManagement.hpp
Labels: protocols, core

input: add warp_back_after_non_mouse_input adds cursor:warp_back_after_non_mouse_input fixes #8675
  src/config/ConfigManager.cpp
  src/devices/IPointer.hpp
  src/devices/Mouse.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, config, devices, managers

input: add warp_back_after_non_mouse_input
  src/config/ConfigManager.cpp
  src/devices/IPointer.hpp
  src/devices/Mouse.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, config, devices, managers

removed extra parentheses
  src/managers/KeybindManager.cpp
Labels: core, managers

core: drop using deques in favor of vectors No point in most of these.
  hyprctl/main.cpp
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprDebugOverlay.hpp
  src/debug/HyprNotificationOverlay.cpp
  src/debug/HyprNotificationOverlay.hpp
  src/desktop/Window.hpp
  src/helpers/BezierCurve.cpp
  src/helpers/BezierCurve.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/MasterLayout.hpp
  src/managers/AnimationManager.cpp
  src/managers/EventManager.cpp
  src/managers/EventManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/InputManager.hpp
  src/pch/pch.hpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: hyprctl, core, config, debug, desktop, helpers, layout, managers, pch, render

core: drop using deques in favor of vectors
  hyprctl/main.cpp
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprDebugOverlay.hpp
  src/debug/HyprNotificationOverlay.cpp
  src/debug/HyprNotificationOverlay.hpp
  src/desktop/Window.hpp
  src/helpers/BezierCurve.cpp
  src/helpers/BezierCurve.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/MasterLayout.hpp
  src/managers/AnimationManager.cpp
  src/managers/EventManager.cpp
  src/managers/EventManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/InputManager.hpp
  src/pch/pch.hpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: hyprctl, core, config, debug, desktop, helpers, layout, managers, pch, render

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

optimize rules
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/events/Windows.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, desktop, events, layout

inclood
  src/desktop/LayerRule.cpp
Labels: core, desktop

core: Optimize window/layer rule application and scanning (#8735) Optimizes window and layer rule parsing and later usage.
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/events/Windows.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, desktop, events, layout

core: Optimize window/layer rule application and scanning (#8735)
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/events/Windows.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, desktop, events, layout

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
