Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

install includable shaders
  CMakeLists.txt
  meson.build
Labels: none

include shaders it the source
  .gitignore
  CMakeLists.txt
  meson.build
  scripts/generateShaderIncludes.sh
  src/render/OpenGL.cpp
Labels: core, render

Revert "Meson: install shaders"
  assets/meson.build
  assets/shaders/meson.build
Labels: assets

don't use re
  src/render/OpenGL.cpp
Labels: core, render

fix rebase
  src/render/OpenGL.cpp
Labels: core, render

fix setting name
  src/render/OpenGL.cpp
Labels: core, render

styling fix
  src/render/OpenGL.cpp
Labels: core, render

silent cm shader
  src/render/OpenGL.cpp
Labels: core, render

feat: start toplevel mapping implementation
  CMakeLists.txt
  src/managers/ProtocolManager.cpp
  src/protocols/ForeignToplevel.cpp
  src/protocols/ForeignToplevel.hpp
  src/protocols/ToplevelMapping.cpp
  src/protocols/ToplevelMapping.hpp
Labels: protocols, core, managers

config
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

feat: finished toplevel mapping implementation
  src/protocols/ForeignToplevel.cpp
  src/protocols/ForeignToplevel.hpp
  src/protocols/ForeignToplevelWlr.cpp
  src/protocols/ForeignToplevelWlr.hpp
  src/protocols/ToplevelMapping.cpp
  src/protocols/ToplevelMapping.hpp
Labels: protocols, core

fix: bit map higher window address bits
  src/protocols/ToplevelMapping.cpp
Labels: protocols, core

workspaces: minor fixes to persistence fixes #9741
  src/Compositor.cpp
Labels: core

workspaces: minor fixes to persistence
  src/Compositor.cpp
Labels: core

handle monitorv2
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
Labels: core, config

handle monitorv2 parse result
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
Labels: core, config

core: Don't damage the entire surface every frame
  src/protocols/core/Compositor.cpp
Labels: protocols, core

remove old function modified: src/desktop/Window.hpp
  src/desktop/Window.hpp
Labels: core, desktop

binds: drag_threshold
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/InputManager.hpp
Labels: core, config, layout, managers

core: Damage buffer on dims or transform change
  src/protocols/core/Compositor.cpp
Labels: protocols, core

surfacestate: reset buffer bit before applying to current fixes #9759
  src/protocols/types/SurfaceState.cpp
Labels: protocols, core

surfacestate: reset buffer bit before applying to current
  src/protocols/types/SurfaceState.cpp
Labels: protocols, core

xwayland: Cleanup server startup and FDs
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
Labels: core, xwayland

core: Use guards for scale and tr equality checks
  src/protocols/core/Compositor.cpp
Labels: protocols, core

core: Don't damage the entire surface every frame (#9763)
  src/protocols/core/Compositor.cpp
Labels: protocols, core

xwayland: Cleanup server startup and FDs (#9769)
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
Labels: core, xwayland

xwayland: Cleanup server startup and FDs (#9769)
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
Labels: core, xwayland

surfacestate: track and apply updated state
  src/protocols/DRMSyncobj.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
Labels: protocols, core

opengl: don't attempt to compile cm on gles3.0
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

xwayland: Cleanup server startup and FDs (#9769)
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
Labels: core, xwayland

internal: fix minor ubsan errors (#9743)
  src/protocols/XDGShell.cpp
  src/render/OpenGL.cpp
Labels: protocols, core, render

surfacestate: reset buffer bit before applying to current
  src/protocols/types/SurfaceState.cpp
Labels: protocols, core

pass/rect: include clipBox in opaque calculations
  src/render/pass/RectPassElement.cpp
Labels: core, render

workspaces: minor fixes to persistence
  src/Compositor.cpp
Labels: core

pass: remove unusued timeline in texpass (#9734)
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
Labels: core, managers, render

seat: avoid sending null surfaces in leave/enter events
  src/protocols/core/Seat.cpp
Labels: protocols, core

core: Don't damage the entire surface every frame (#9763)
  src/protocols/core/Compositor.cpp
Labels: protocols, core

xwl: dont close the fd to early (#9715)
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
Labels: core, xwayland

Groupbar: apply scaling factor to text (#9731)
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

groupbar: round boxes
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render
