Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

Appease the CI
  src/render/OpenGL.cpp
  src/render/Shader.hpp
Labels: core, render

flake.lock: update
  flake.lock
Labels: none

CMake & Meson: update required versions
  CMakeLists.txt
  src/meson.build
Labels: core

config: use hyprutils helper (#6891)
  CMakeLists.txt
  flake.lock
  nix/overlays.nix
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/meson.build
  src/render/OpenGL.cpp
Labels: nix, core, config, render

renderer: Make shader time always count from zero (#6903) * testing out an initialtime variable * Make time universally start at zero instead of exposing an initial time * Appease the CI
  src/render/OpenGL.cpp
  src/render/Shader.hpp
Labels: core, render

renderer: Make shader time always count from zero (#6903)
  src/render/OpenGL.cpp
  src/render/Shader.hpp
Labels: core, render

Emulate discrete scrolling from v120 events
  src/config/ConfigManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, config, managers

format
  src/debug/HyprCtl.cpp
  src/devices/IKeyboard.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, debug, devices, helpers

flake.lock: update
  flake.lock
Labels: none

ci: add aq
  .github/actions/setup_base/action.yml
Labels: none

flake: adding clang-tools to devShell
  flake.nix
Labels: none

flake: add clang-tools to devShell (#6916)
  flake.nix
Labels: none

flake: add clang-tools to devShell (#6916)
  flake.nix
Labels: none

shm drm woo
  src/protocols/core/Shm.cpp
Labels: protocols, core

logs
  src/protocols/Screencopy.cpp
Labels: protocols, core

use output state format
  src/debug/HyprCtl.cpp
  src/helpers/Monitor.hpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: protocols, core, debug, helpers, render

eee
  src/render/Renderer.cpp
Labels: core, render

forgot to remove attemptDirectScanout from hyprRenderer
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, render

add renderer fallback tranche on ds and a few other improvements
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
Labels: protocols, core

add support for monitor connects/disconnects in linux-dmabuf
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
Labels: protocols, core

use set when making format table
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
Labels: protocols, core

make linux-dmabuf use monitor primary plane formats for ds
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
Labels: protocols, core

the weird bug was because ds was global, and disabled on one monitor but enabled on the other
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

input: Emulate discrete scrolling from v120 events (#6881)
  src/config/ConfigManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, config, managers

mitigate ds artifacting and update linux-dmabuf comments with this commit artifacting now only occurs when the client's fps is above the refresh rate of the monitor
  src/helpers/Monitor.cpp
  src/protocols/LinuxDMABUF.cpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

use new backend release infra
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.hpp
Labels: protocols, core

revert earlier artifacting mitigation that broke stuff ;)
  src/render/Renderer.cpp
Labels: core, render

... i should test before push ;-;
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.cpp
Labels: protocols, core

add touch swipe invert config
  src/config/ConfigManager.cpp
  src/managers/input/Touch.cpp
Labels: core, config, managers

main: fail if only one of --socket and --wayland-fd is passed
  src/main.cpp
Labels: core

compositor: implement wayland socket handover
  docs/Hyprland.1
  docs/Hyprland.1.rst
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
Labels: docs, core

main: verify that --wayland-fd is a valid file descriptor
  src/main.cpp
Labels: core

compositor: implement wayland socket handover (#6930)
  docs/Hyprland.1
  docs/Hyprland.1.rst
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
Labels: docs, core

[gha] build man pages
  docs/Hyprland.1
Labels: docs

[gha] build man pages
  docs/Hyprland.1
Labels: docs

Fix crash on opening chromium
  src/protocols/PresentationTime.cpp
Labels: protocols, core

core: Fix crash on opening chromium (#6932)
  src/protocols/PresentationTime.cpp
Labels: protocols, core

core: Fix crash on opening chromium (#6932)
  src/protocols/PresentationTime.cpp
Labels: protocols, core

reenable direct scanout
  src/render/Renderer.cpp
Labels: core, render

fix hw cursors with new aq stuff
  src/managers/PointerManager.cpp
Labels: core, managers
