Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

handle null pointer in CLinuxDMABufV1Protocol::resetFormatTable
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

protocols/dmabuf: handle null pointer in CLinuxDMABufV1Protocol::resetFormatTable (#12207)
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

[gha] Nix: update inputs
  flake.lock
Labels: none

change non_shader_cm ignore behavior and set default to it
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

Add comprehensive technical architecture plan for Swift macOS Dwindle app
  plan/IMPLEMENTATION_CHECKLIST.md
  plan/TECHNICAL_ARCHITECTURE.md
Labels: none

hyprctl/activewindow: show contentType
  src/debug/HyprCtl.cpp
  src/protocols/types/ContentType.cpp
  src/protocols/types/ContentType.hpp
Labels: protocols, core, debug

compositor: block parent window interaction when modal dialog children window is open (#12057)
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

Added check to pin child windows
  src/protocols/XDGShell.cpp
Labels: protocols, core

cm: scale reference luminance when tonemapping
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
Labels: protocols, core, render

Fixed minor formatting
  src/protocols/XDGShell.cpp
Labels: protocols, core

compositor: Configurable behavior when window to be focused conflicts with fullscreen
  hyprtester/src/tests/main/misc.cpp
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, events, managers

compositor: Fix windows acquiring keyboard focused while under fullscreen window
  src/Compositor.cpp
  src/Compositor.hpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, desktop, events, helpers, layout, managers, render

tests: Add tests for fullscreen conflicts on window activation requests
  hyprtester/src/tests/main/window.cpp
Labels: none

tests: Add tests for fullscreen conflicts on `focuswindow` dispatcher
  hyprtester/src/tests/main/window.cpp
Labels: none

protocols: add Fifo-v1 and commit-timing-v1 (#12052)
  CMakeLists.txt
  protocols/meson.build
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/CommitTiming.cpp
  src/protocols/CommitTiming.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/Fifo.cpp
  src/protocols/Fifo.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/MesaDRM.cpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/DMABuffer.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/protocols/types/SurfaceStateQueue.cpp
  src/protocols/types/SurfaceStateQueue.hpp
Labels: protocols, core, helpers, managers

fix fractional scale artifact
  src/render/Renderer.cpp
Labels: core, render

Added submap universal keybind flag
  hyprtester/src/tests/main/keybinds.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, config, debug, managers

renderer: fix fractional scale artifact (#12219)
  src/render/Renderer.cpp
Labels: core, render

chore: fix non-relative imports
  src/protocols/core/Compositor.hpp
  src/protocols/types/SurfaceStateQueue.hpp
Labels: protocols, core

chore: fix non-relative imports (#12228)
  src/protocols/core/Compositor.hpp
  src/protocols/types/SurfaceStateQueue.hpp
Labels: protocols, core

Implement review recommendations
  src/protocols/XDGShell.cpp
Labels: protocols, core

cm: follow preferred srgb eotf for screencopy
  src/render/OpenGL.cpp
Labels: core, render

fixes
  src/protocols/XDGShell.cpp
Labels: protocols, core

core: qtutils -> guiutils
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/permissions/DynamicPermissionManager.cpp
Labels: core, config, managers

cm: follow preferred srgb eotf for screencopy (#12230)
  src/render/OpenGL.cpp
Labels: core, render

nix: qtutils -> guiutils
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays.nix
Labels: nix

flake.lock: update
  flake.lock
Labels: none

tests: Synchronize `kitty_activating` with a tempfile rather than a timeout
  hyprtester/src/tests/main/window.cpp
Labels: none

core: qtutils -> guiutils (#12231)
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays.nix
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/permissions/DynamicPermissionManager.cpp
Labels: nix, core, config, managers

render/cm: change non_shader_cm ignore behavior and set default to it (#12210)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

version: bump to 0.52.0
  VERSION
Labels: none

meson: fix version.h install location
  meson.build
Labels: none

xwayland: support HiDPI scale
  src/protocols/PointerConstraints.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
  src/xwayland/XWayland.hpp
Labels: protocols, core, xwayland

cm: higher-quality tonemapping
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/Shader.hpp
  src/render/shaders/glsl/CM.glsl
  src/render/shaders/glsl/blurprepare.frag
Labels: protocols, core, render

protocols: fix wlr-randr by defering success event until monitor reloads
  src/protocols/OutputManagement.cpp
  src/protocols/OutputManagement.hpp
Labels: protocols, core

protocols/outputMgmt: fix wlr-randr by defering success event until monitor reloads (#12236)
  src/protocols/OutputManagement.cpp
  src/protocols/OutputManagement.hpp
Labels: protocols, core

Allow DS for surfaces with inert subsurfaces
  src/desktop/Window.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core, desktop

Added test client and corresponding tests
  hyprtester/CMakeLists.txt
  hyprtester/clients/child-window.cpp
  hyprtester/src/tests/clients/child-window.cpp
Labels: none

tests: Add a basic test for spawning a floating window over fullscreen
  hyprtester/src/tests/main/window.cpp
Labels: none

fix: do not raise protocol error if layer surface is not anchored
  src/protocols/LayerShell.cpp
Labels: protocols, core
