Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

Meson: properly install 'hyprland' symlink (#9091)
  CMakeLists.txt
  src/meson.build
Labels: core

Meson: properly install 'hyprland' symlink (#9091)
  CMakeLists.txt
  src/meson.build
Labels: core

CMake, Meson: add option controlling hyprpm building
  CMakeLists.txt
  meson.build
  meson_options.txt
Labels: none

Nix: disable hyprpm
  nix/default.nix
Labels: nix

CMake, Meson: add option controlling hyprpm building
  CMakeLists.txt
  meson.build
  meson_options.txt
Labels: none

Nix: disable hyprpm
  nix/default.nix
Labels: nix

CMake, Meson: add option controlling hyprpm building
  CMakeLists.txt
  meson.build
  meson_options.txt
Labels: none

format, fix `package' shadowing
  nix/module.nix
Labels: nix

nix/module.nix: expand nixos module for configuring hyprland Expand the nixos module to be able to configure hyprland, just like the current home-manager module does.
  nix/module.nix
Labels: nix

nix/module.nix: expand nixos module for configuring hyprland
  nix/module.nix
Labels: nix

fix predictSizeForNewWindowTiled
  src/layout/DwindleLayout.cpp
Labels: core, layout

core: reserve vector sizes as much as we can
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/managers/KeybindManager.cpp
  src/protocols/DRMLease.cpp
  src/protocols/GlobalShortcuts.cpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/decorations/DecorationPositioner.cpp
  src/xwayland/Dnd.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, desktop, managers, render, xwayland

core: reserve vector sizes as much as we can (#9118)
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/managers/KeybindManager.cpp
  src/protocols/DRMLease.cpp
  src/protocols/GlobalShortcuts.cpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/decorations/DecorationPositioner.cpp
  src/xwayland/Dnd.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, desktop, managers, render, xwayland

protocols: do not destroy screencopy resources before client request (#9048)
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
Labels: protocols, core

protocols: do not destroy screencopy resources before client request (#9048)
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
Labels: protocols, core

core: use readFileAsString instead of cat for os-release
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

core: use readFileAsString instead of cat for os-release
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

core: move to inotify for monitoring the config files instead of manually polling every second which is not efficient, use inotify. an added bonus is that inotify is much much faster
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/config/ConfigWatcher.cpp
  src/config/ConfigWatcher.hpp
  src/debug/HyprCtl.cpp
  src/managers/ThreadManager.cpp
  src/managers/ThreadManager.hpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/plugins/PluginAPI.cpp
  src/plugins/PluginSystem.cpp
Labels: core, config, debug, managers, plugins

core: move to inotify for monitoring the config files
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/config/ConfigWatcher.cpp
  src/config/ConfigWatcher.hpp
  src/debug/HyprCtl.cpp
  src/managers/ThreadManager.cpp
  src/managers/ThreadManager.hpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/plugins/PluginAPI.cpp
  src/plugins/PluginSystem.cpp
Labels: core, config, debug, managers, plugins

use LIKELY and UNLIKELY
  src/protocols/LockNotify.cpp
Labels: protocols, core

protocols: add hyprland_lock_notify_v1 implementation (#9092)
  CMakeLists.txt
  flake.lock
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/LockNotify.cpp
  src/protocols/LockNotify.hpp
  src/protocols/SessionLock.cpp
Labels: protocols, core, managers

protocols: add hyprland_lock_notify_v1 implementation (#9092)
  CMakeLists.txt
  flake.lock
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/LockNotify.cpp
  src/protocols/LockNotify.hpp
  src/protocols/SessionLock.cpp
Labels: protocols, core, managers

xwayland: fix crash when trying to initialize without Xwayland installed
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/xwayland/XWayland.cpp
  src/xwayland/XWayland.hpp
Labels: core, config, xwayland

added constant multiplier to workspace swipe anim
  src/config/ConfigManager.cpp
  src/managers/input/Swipe.cpp
Labels: core, config, managers

removed superfluous imports (from testing)
  src/managers/input/Swipe.cpp
Labels: core, managers

feat: cyclenext dispatcher, added visible arg
  src/Compositor.cpp
  src/Compositor.hpp
  src/managers/KeybindManager.cpp
Labels: core, managers

xwayland: support sending clipboard change notification on focus
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

config: fix float animation speeds < 0
  src/config/ConfigManager.cpp
Labels: core, config

GPU hotplug support - Rebase onto main
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, managers

Clang-format
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, managers

Add std::ranges header
  src/managers/eventLoop/EventLoopManager.cpp
Labels: core, managers

config: fix float animation speeds < 0 (#9123)
  src/config/ConfigManager.cpp
Labels: core, config

config: fix float animation speeds < 0 (#9123)
  src/config/ConfigManager.cpp
Labels: core, config

xwayland: support sending clipboard change notification on focus (#9111)
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

xwayland: support sending clipboard change notification on focus (#9111)
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

xwayland: fix crash when trying to initialize without Xwayland installed (#9077)
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/xwayland/XWayland.cpp
  src/xwayland/XWayland.hpp
Labels: core, config, xwayland

xwayland: fix crash when trying to initialize without Xwayland installed (#9077)
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/xwayland/XWayland.cpp
  src/xwayland/XWayland.hpp
Labels: core, config, xwayland

Use std::erase_if
  src/managers/eventLoop/EventLoopManager.cpp
Labels: core, managers

keybinds: add hdr dispatcher
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, managers, render

protocols: allow xdg share pickers to reconcile with hyprctl
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/protocols/ForeignToplevelWlr.cpp
  src/protocols/ForeignToplevelWlr.hpp
Labels: protocols, core, config

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
