Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

implement image copy capture protocol
  CMakeLists.txt
  src/managers/ProtocolManager.cpp
  src/protocols/ImageCaptureSource.hpp
  src/protocols/ImageCopyCapture.cpp
  src/protocols/ImageCopyCapture.hpp
Labels: protocols, core, managers

implement image capture source protocol
  CMakeLists.txt
  src/managers/ProtocolManager.cpp
  src/protocols/ImageCaptureSource.cpp
  src/protocols/ImageCaptureSource.hpp
Labels: protocols, core, managers

move screencopy and toplevel to screenshare manager
  src/managers/screenshare/ScreenshareManager.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: protocols, core, managers

welcome: init welcome manager (#12409)
  flake.lock
  src/Compositor.cpp
  src/managers/WelcomeManager.cpp
  src/managers/WelcomeManager.hpp
Labels: core, managers

add cursor pos permission for image copy capture
  src/config/ConfigManager.cpp
  src/i18n/Engine.cpp
  src/i18n/Engine.hpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
Labels: core, config, managers

implement image copy capture cursor session
  src/managers/screenshare/CursorshareSession.cpp
  src/managers/screenshare/ScreenshareManager.cpp
  src/managers/screenshare/ScreenshareManager.hpp
  src/protocols/ImageCaptureSource.hpp
  src/protocols/ImageCopyCapture.cpp
  src/protocols/ImageCopyCapture.hpp
Labels: protocols, core, managers

crashreporter: cleanup code
  src/Compositor.cpp
  src/debug/crash/CrashReporter.cpp
  src/debug/crash/CrashReporter.hpp
  src/debug/crash/SignalSafe.cpp
  src/debug/crash/SignalSafe.hpp
  src/signal-safe.hpp
Labels: core, debug

e
  src/debug/crash/SignalSafe.hpp
Labels: core, debug

renderer: add quirks:prefer_hdr to fix HDR activation for some clients (#12436)
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/protocols/core/Compositor.cpp
Labels: protocols, core, config

formatting
  src/i18n/Engine.cpp
Labels: core

hyprctl: use new hyprpaper ipc format
  .gitignore
  hyprctl/CMakeLists.txt
  hyprctl/hw-protocols/hyprpaper_core.xml
  hyprctl/src/Strings.hpp
  hyprctl/src/helpers/Memory.hpp
  hyprctl/src/hyprpaper/Hyprpaper.cpp
  hyprctl/src/hyprpaper/Hyprpaper.hpp
  hyprctl/src/main.cpp
Labels: hyprctl

fuck
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

i18n: add Tatar translations
  src/i18n/Engine.cpp
Labels: core

crashReporter: cleanup code (#12534)
  src/Compositor.cpp
  src/debug/crash/CrashReporter.cpp
  src/debug/crash/CrashReporter.hpp
  src/debug/crash/SignalSafe.cpp
  src/debug/crash/SignalSafe.hpp
  src/signal-safe.hpp
Labels: core, debug

resolve paths in hyprctl
  hyprctl/src/hyprpaper/Hyprpaper.cpp
Labels: hyprctl

Nix: add hyprwire dep
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays.nix
Labels: nix

CI/setup_base: add hyprwire
  .github/actions/setup_base/action.yml
Labels: none

gfd
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

desktop/overridableVar: fix possible crash
  src/desktop/types/OverridableVar.hpp
Labels: core, desktop

thanks virt
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

cursor: ensure cursor reset on changed window states (#12301)
  src/managers/input/InputManager.cpp
Labels: core, managers

cmake,meson: fix inclusion of GPG info in Git commit info (#12302)
  CMakeLists.txt
  meson.build
Labels: none

protocols/workspace: avoid crash on inert outputs
  src/protocols/ExtWorkspace.cpp
Labels: protocols, core

plugin/hook: disallow multiple hooks per function (#12320)
  src/plugins/HookSystem.cpp
  src/plugins/HookSystem.hpp
Labels: core, plugins

internal: put Linux-only header behind ifdef (#12300)
  src/config/ConfigWatcher.cpp
Labels: core, config

internal: fix crash at startup on FreeBSD (#12298)
  src/Compositor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, layout

presentation: only send sync output on presented (#12255)
  src/protocols/PresentationTime.cpp
Labels: protocols, core

screencopy: fix possible crash in renderMon()
  src/protocols/Screencopy.cpp
Labels: protocols, core

renderer: stop looping over null texture surfaces (#12446)
  src/render/Renderer.cpp
Labels: core, render

renderer/ime: fix fcitx5 popup artifacts (#12263)
  src/managers/input/InputMethodPopup.cpp
Labels: core, managers

renderer: fix noscreenshare layerrule popups (#12260)
  src/protocols/Screencopy.cpp
Labels: protocols, core

protocols/workspace: fix crash in initial group sending
  src/protocols/ExtWorkspace.cpp
  src/protocols/ExtWorkspace.hpp
Labels: protocols, core

protocols/lock: fix missing output enter on surface (#12448)
  src/protocols/SessionLock.cpp
Labels: protocols, core

buffers: revert state merging (#12461)
  src/protocols/core/Compositor.cpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/protocols/types/SurfaceStateQueue.cpp
Labels: protocols, core

src/protocols/types/DMABuffer.cpp: <sys/ioctl.h> is required for ioctl(), not only linux (#12483)
  src/protocols/types/DMABuffer.cpp
Labels: protocols, core

version: bump to 0.52.2
  VERSION
Labels: none

[gha] Nix: update inputs
  flake.lock
Labels: none

Remove unnecessary assert from renderRoundedShadow
  src/render/OpenGL.cpp
Labels: core, render

fix
  hyprctl/src/hyprpaper/Hyprpaper.cpp
Labels: hyprctl

swipe: Fix previous workspace remembering in workspace gesture
  src/managers/input/UnifiedWorkspaceSwipeGesture.cpp
Labels: core, managers
