Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

match the question
  .github/ISSUE_TEMPLATE/bug.yml
Labels: none

comply with github specification
  .github/ISSUE_TEMPLATE/bug.yml
Labels: none

ask for bisect
  .github/ISSUE_TEMPLATE/bug.yml
Labels: none

comply with github spec
  .github/ISSUE_TEMPLATE/bug.yml
Labels: none

master: refine master layout new window handling (#6479)
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

wl_seat: send repeat data from current keyboard on bind
  src/protocols/core/Seat.cpp
Labels: protocols, core

wl_seat: send repeat data from current keyboard on bind ref #6515
  src/protocols/core/Seat.cpp
Labels: protocols, core

hyprpm: add --no-shallow
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: add --no-shallow
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

xdg-shell: Continue transform of popup until size fits
  src/protocols/XDGShell.cpp
Labels: protocols, core

pointer: ensure backend is updated for mirrors so pointer can recover after hiding
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
Labels: core, managers

various changes
  .github/ISSUE_TEMPLATE/bug.yml
Labels: none

no need for quotes anymore
  .github/ISSUE_TEMPLATE/bug.yml
Labels: none

xdg-shell: Check for edge out of constraint in flip
  src/protocols/XDGShell.cpp
Labels: protocols, core

update example hyprland.conf
  example/hyprland.conf
Labels: none

xwayland: fixup unfocus atom conditions
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

xwayland: fixup unfocus atom conditions ref #6468
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

xdg-shell: Compare edgecount before flipping
  src/protocols/XDGShell.cpp
Labels: protocols, core

Update defaultConfig.hpp
  src/config/defaultConfig.hpp
Labels: core, config

hyprland.conf: update master section (#6537)
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

hyprland.conf: update master section (#6537)
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

add getCurrentLayout to CWorkspace
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
Labels: core, desktop

access getCurrentLayout through relevant workspace
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
  src/plugins/PluginAPI.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/DecorationPositioner.cpp
Labels: core, config, debug, desktop, events, helpers, layout, managers, plugins, render

rename CLayoutManager::getCurrentLayout to getCurrentGlobalLayout to break old api
  src/desktop/Workspace.cpp
  src/managers/LayoutManager.cpp
  src/managers/LayoutManager.hpp
Labels: core, desktop, managers

seat/dnd: unfocus pointer from surfaces on dnd start
  src/managers/SeatManager.cpp
  src/protocols/core/DataDevice.cpp
Labels: protocols, core, managers

seat/dnd: unfocus pointer from surfaces on dnd start GTK is speshyal and requires this for functioning properly. Ugh. It's technically not required by spec, f you gtk. Ref #6509
  src/managers/SeatManager.cpp
  src/protocols/core/DataDevice.cpp
Labels: protocols, core, managers

reword regression
  .github/ISSUE_TEMPLATE/bug.yml
Labels: none

input: add cursor:warp_on_changeworkspace (#6480)
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

fix missing include
  src/desktop/Workspace.hpp
Labels: core, desktop

xdg-shell: properly check for resource version for TILED and SUSPENDED states
  src/protocols/XDGShell.cpp
Labels: protocols, core

xdg-shell: properly check for resource version for TILED and SUSPENDED states fixes #6535
  src/protocols/XDGShell.cpp
Labels: protocols, core

wl_seat: accomodate for apps late-binding seat resources
  src/protocols/core/Seat.cpp
Labels: protocols, core

wl_seat: accomodate for apps late-binding seat resources Sends enter events when an app binds wl_keyboard or wl_pointer later than it should. Fixes some buggy apps. Fixes #6131
  src/protocols/core/Seat.cpp
Labels: protocols, core

wl_data_device: send drop_performed in completeDrag
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

wl_data_device: send drop_performed in completeDrag ref #6509
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

xdg-shell: Remove superflous flipX && flipY
  src/protocols/XDGShell.cpp
Labels: protocols, core

Minor formatting fix
  src/managers/PointerManager.cpp
Labels: core, managers

xwayland: force default plain mime atoms on known types
  src/xwayland/XDataSource.cpp
Labels: core, xwayland

xwayland: force default plain mime atoms on known types ref #6247
  src/xwayland/XDataSource.cpp
Labels: core, xwayland

xdg-shell: Continue transform of popup until size fits (#6521)
  src/protocols/XDGShell.cpp
Labels: protocols, core
