Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

shortcutsInhibit: fix crash
  src/protocols/ShortcutsInhibit.cpp
Labels: protocols, core

shortcutsInhibit: fix crash
  src/protocols/ShortcutsInhibit.cpp
Labels: protocols, core

add date and flags to crash report modified: src/debug/CrashReporter.cpp
  src/debug/CrashReporter.cpp
Labels: core, debug

appease the nitpick gods and some comments
  src/Compositor.cpp
  src/main.cpp
  src/managers/eventLoop/EventLoopManager.cpp
Labels: core, managers

handle monitor change in moveWindowIntoGroup modified: src/managers/KeybindManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers

egl: support getting the device via platform_device a neat EXT
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

egl: support getting the device via platform_device
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

keybinds: remove toggleopaque (#7024) modified: src/managers/KeybindManager.cpp modified: src/managers/KeybindManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

keybinds: remove toggleopaque (#7024)
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

crashreporter: add date and flags to crash report (#7028)
  src/debug/CrashReporter.cpp
Labels: core, debug

crashreporter: add date and flags to crash report (#7028) modified: src/debug/CrashReporter.cpp
  src/debug/CrashReporter.cpp
Labels: core, debug

core: Properly shutdown wl display (#7018)
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
  src/managers/KeybindManager.cpp
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/protocols/GlobalShortcuts.cpp
  src/protocols/GlobalShortcuts.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/TextInputV1.cpp
  src/protocols/TextInputV1.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/protocols/WaylandProtocol.cpp
  src/protocols/WaylandProtocol.hpp
Labels: protocols, core, managers

core: Properly shutdown wl display (#7018) * correctly destroy wayland globals * properly shutdown and cleanup hyprland * appease the nitpick gods and some comments
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
  src/managers/KeybindManager.cpp
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/protocols/GlobalShortcuts.cpp
  src/protocols/GlobalShortcuts.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/TextInputV1.cpp
  src/protocols/TextInputV1.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/protocols/WaylandProtocol.cpp
  src/protocols/WaylandProtocol.hpp
Labels: protocols, core, managers

don't simulate mouse movement on focus change in follow_mouse = 2/3 if no_warps is false
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds: handle monitor change in moveWindowIntoGroup (#7030) modified: src/managers/KeybindManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds: handle monitor change in moveWindowIntoGroup (#7030)
  src/managers/KeybindManager.cpp
Labels: core, managers

add cursor fallback swapchain
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/PointerManager.cpp
Labels: core, helpers, managers

flake.lock: update aquamarine
  flake.lock
Labels: none

flake.lock: update aquamarine
  flake.lock
Labels: none

add safeguard to mousebinds modified: src/managers/KeybindManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers

input: don't simulate mouse movement on focus change in follow_mouse = 2/3 if no_warps is false (#7015)
  src/managers/KeybindManager.cpp
Labels: core, managers

input: don't simulate mouse movement on focus change in follow_mouse = 2/3 if no_warps is false (#7015)
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds: add safeguard to mousebinds (#7034) modified: src/managers/KeybindManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds: add safeguard to mousebinds (#7034)
  src/managers/KeybindManager.cpp
Labels: core, managers

first attempt
  src/helpers/Monitor.cpp
  src/managers/PointerManager.cpp
Labels: core, helpers, managers

copy from rendered texture
  src/helpers/Monitor.cpp
  src/managers/PointerManager.cpp
Labels: core, helpers, managers

keyboard: properly update keymap state and fd on keymap changes needed for virtual keyboards that impose their own layouts. fixes #6991
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/devices/VirtualKeyboard.cpp
Labels: core, devices

keyboard: properly update keymap state and fd on keymap changes
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/devices/VirtualKeyboard.cpp
Labels: core, devices

keyboard: update xkb state after key event fixes #6946
  src/devices/Keyboard.cpp
Labels: core, devices

keyboard: update xkb state after key event
  src/devices/Keyboard.cpp
Labels: core, devices

cleanup
  src/managers/PointerManager.cpp
Labels: core, managers

wayland/compositor: release buffers on unmap
  src/protocols/core/Compositor.cpp
Labels: protocols, core

config: avoid using initial ws tracking for exec-once
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

config: avoid using initial ws tracking for exec-once
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

support dumb buffers, cursor:allow_slow_copy
  src/config/ConfigManager.cpp
  src/managers/PointerManager.cpp
Labels: core, config, managers

fix buffer clearing
  src/managers/PointerManager.cpp
Labels: core, managers

Revert "skip extra frames for hw cursors"
  src/managers/AnimationManager.cpp
  src/managers/PointerManager.cpp
Labels: core, managers

do not change z order if not needed
  src/Compositor.cpp
Labels: core

activate hack for locked cursor only & store mouse movements
  src/events/Windows.cpp
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/managers/input/InputManager.cpp
Labels: core, events, managers

don't change monitor focus if cursor is locked
  src/managers/PointerManager.cpp
Labels: core, managers
