Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

oops
  hyprtester/src/tests/main/dwindle.cpp
Labels: none

layout: include reserved area in float fit (#12289)
  hyprtester/src/tests/main/dwindle.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/layout/IHyprLayout.cpp
Labels: core, helpers, layout

renderer: store used buffers per monitor
  src/Compositor.cpp
  src/helpers/Monitor.cpp
  src/managers/BufferReleaseManager.cpp
  src/managers/BufferReleaseManager.hpp
  src/protocols/types/Buffer.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, helpers, managers, render

renderer: make new_render_scheduler not drop buffers wrong
  src/helpers/MonitorFrameScheduler.cpp
  src/helpers/MonitorFrameScheduler.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

renderer: remove copy paste
  src/helpers/MonitorFrameScheduler.cpp
Labels: core, helpers

cm: handle CM for SDR content with cm=hdr, cm_sdr_eotf=2
  src/helpers/Monitor.cpp
  src/render/OpenGL.cpp
Labels: core, helpers, render

initialize primitives
  hyprtester/clients/child-window.cpp
Labels: none

renderer: add damage to second monitor
  src/render/pass/SurfacePassElement.cpp
Labels: core, render

cursor: fix edge resize icon persisting when moving cursor from a tiled window to a fullscreen one across monitor boundaries (#12257)
  src/managers/input/InputManager.cpp
Labels: core, managers

fix
  hyprtester/src/tests/main/window.cpp
  src/desktop/rule/layerRule/LayerRuleApplicator.cpp
  src/desktop/rule/windowRule/WindowRule.cpp
  src/desktop/rule/windowRule/WindowRule.hpp
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

cave in
  hyprtester/src/tests/main/window.cpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/desktop/rule/Rule.cpp
  src/desktop/rule/Rule.hpp
  src/desktop/rule/layerRule/LayerRule.cpp
  src/desktop/rule/layerRule/LayerRule.hpp
  src/desktop/rule/utils/SetUtils.hpp
Labels: core, config, debug, desktop

fix
  hyprtester/src/tests/main/tags.cpp
  hyprtester/src/tests/main/window.cpp
Labels: none

Fix crash at startup on FreeBSD
  src/Compositor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, layout

Put Linux-only header behind ifdef
  src/config/ConfigWatcher.cpp
Labels: core, config

fix
  hyprtester/src/tests/main/tags.cpp
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
Labels: core, config, events

fix
  src/config/ConfigManager.cpp
Labels: core, config

fix: ensure cursor reset on change window states
  src/managers/input/InputManager.cpp
Labels: core, managers

internal: put Linux-only header behind ifdef (#12300)
  src/config/ConfigWatcher.cpp
Labels: core, config

internal: fix crash at startup on FreeBSD (#12298)
  src/Compositor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, layout

flake.lock: update hyprlang
  flake.lock
Labels: none

clear capture buffer in the same way as main
  src/render/OpenGL.cpp
Labels: core, render

transparency support for non-shareable windows via MRT
  src/protocols/Screencopy.cpp
  src/render/Framebuffer.cpp
  src/render/Framebuffer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/pass/BorderPassElement.cpp
  src/render/pass/BorderPassElement.hpp
  src/render/pass/Pass.cpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/SurfacePassElement.hpp
  src/render/shaders/glsl/border.frag
  src/render/shaders/glsl/ext.frag
  src/render/shaders/glsl/passthru.frag
  src/render/shaders/glsl/quad.frag
  src/render/shaders/glsl/rgba.frag
  src/render/shaders/glsl/rgbamatte.frag
  src/render/shaders/glsl/rgbx.frag
  src/render/shaders/glsl/shadow.frag
Labels: protocols, core, render

repaint forcing is now done elsewhere
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, render

stop unintentional capture writes mid window draw
  src/render/OpenGL.cpp
Labels: core, render

smarter/cleaner caching
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, render

skip fadeout for `noscreenshare` windows
  src/render/Renderer.cpp
Labels: core, render

rerun full capture when MRT gets rebuilt
  src/render/Framebuffer.cpp
  src/render/OpenGL.cpp
Labels: core, render

damage-based capture frame scheduling & reduce repeated monitor locking calls
  src/protocols/Screencopy.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, render

in hindsight a seperate `capture.glsl` is less confusing
  src/render/OpenGL.cpp
  src/render/shaders/glsl/capture.glsl
Labels: core, render

fix redundant visibility checks for every subsurface draw call
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/SurfacePassElement.hpp
Labels: core, render

no need for a `capture.glsl` asset, just the inline macro is enough
  src/render/OpenGL.cpp
Labels: core, render

schedule and update frames properly
  src/protocols/Screencopy.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: protocols, core, render

fix capture MRT for CM shader
  src/render/shaders/glsl/CM.frag
Labels: core, render

rebased cleanup so `noscreenshare` layers ride mrt
  src/config/ConfigManager.cpp
  src/desktop/LayerSurface.cpp
  src/protocols/Screencopy.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/pass/BorderPassElement.cpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/SurfacePassElement.hpp
Labels: protocols, core, config, desktop, render

very crude impl of `noscreenshare` customisation (POC)
  src/desktop/LayerRule.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/NoScreenShareMask.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/pass/BorderPassElement.cpp
  src/render/pass/SurfacePassElement.cpp
  src/render/shaders/glsl/capture.glsl
Labels: core, desktop, render

rework fadeout agane
  src/render/Renderer.cpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
Labels: core, render

debug stuffz
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/protocols/Screencopy.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, render

moar cleanup
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Window.cpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/protocols/Screencopy.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/Shader.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/pass/BorderPassElement.cpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
  src/render/shaders/glsl/capture.glsl
Labels: protocols, core, config, desktop, render

remove POC except masking
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/NoScreenShareMask.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/pass/BorderPassElement.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: core, config, desktop, render

pending logic mostly redundant now
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, render
