Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

Added test client and corresponding tests
  hyprtester/CMakeLists.txt
  hyprtester/clients/child-window.cpp
  hyprtester/src/tests/clients/child-window.cpp
Labels: none

initialize primitives
  hyprtester/clients/child-window.cpp
Labels: none

Added check to pin child windows
  src/protocols/XDGShell.cpp
Labels: protocols, core

Fixed minor formatting
  src/protocols/XDGShell.cpp
Labels: protocols, core

fixes
  src/protocols/XDGShell.cpp
Labels: protocols, core

dumb fix
  hyprtester/src/tests/clients/child-window.cpp
Labels: none

added extra debug info on tests
  hyprtester/src/tests/clients/child-window.cpp
Labels: none

remove proc read from test
  hyprtester/src/tests/clients/child-window.cpp
Labels: none

attempt to make child window open faster
  hyprtester/clients/child-window.cpp
Labels: none

clang-format
  hyprtester/clients/child-window.cpp
  hyprtester/src/tests/clients/child-window.cpp
Labels: none

fix test
  hyprtester/src/tests/clients/child-window.cpp
Labels: none

cmake: fix XKBCOMMON variable typo (#12550)
  CMakeLists.txt
  hyprland.pc.in
Labels: none

Add child-window ELF to nix /bin
  nix/default.nix
Labels: nix

Only use system glaze package if above version 6.0.0
  hyprpm/CMakeLists.txt
Labels: hyprpm

layouts: fix maximize size
  hyprtester/src/tests/main/window.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, layout

[gha] Nix: update inputs
  flake.lock
Labels: none

renderer: avoid crash on arrangeLayers for an empty mon
  src/render/Renderer.cpp
Labels: core, render

config/input: Invert movement for all pointer devices
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/devices/IPointer.hpp
  src/devices/Mouse.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, devices, managers

tests: fix a test case
  hyprtester/src/tests/main/window.cpp
Labels: none

more work
  src/Compositor.cpp
  src/desktop/state/FocusState.cpp
  src/desktop/view/LayerSurface.cpp
  src/desktop/view/LayerSurface.hpp
  src/desktop/view/Popup.cpp
  src/desktop/view/Popup.hpp
  src/desktop/view/Subsurface.cpp
  src/desktop/view/Subsurface.hpp
  src/desktop/view/Window.cpp
  src/desktop/view/Window.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/layout/IHyprLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/protocols/Screencopy.cpp
  src/protocols/TearingControl.cpp
  src/protocols/XDGBell.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/pass/Pass.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, desktop, events, helpers, layout, managers, render

hi
  src/Compositor.cpp
  src/desktop/view/LayerSurface.cpp
  src/desktop/view/LayerSurface.hpp
  src/desktop/view/Popup.cpp
  src/desktop/view/Popup.hpp
  src/protocols/Screencopy.cpp
  src/render/Renderer.cpp
Labels: protocols, core, desktop, render

stuf
  src/Compositor.cpp
  src/desktop/view/GlobalViewMethods.cpp
  src/desktop/view/LayerSurface.cpp
  src/desktop/view/LayerSurface.hpp
  src/desktop/view/Popup.cpp
  src/desktop/view/Popup.hpp
  src/desktop/view/Subsurface.cpp
  src/desktop/view/Subsurface.hpp
  src/desktop/view/View.hpp
  src/desktop/view/WLSurface.cpp
  src/desktop/view/WLSurface.hpp
  src/desktop/view/Window.cpp
  src/desktop/view/Window.hpp
  src/managers/KeybindManager.cpp
  src/managers/SeatManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Tablets.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/PointerConstraints.cpp
  src/protocols/ToplevelExport.cpp
  src/protocols/XDGDialog.cpp
  src/protocols/core/Compositor.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, desktop, managers, render

e
  src/desktop/view/LayerSurface.cpp
  src/desktop/view/Subsurface.cpp
  src/desktop/view/Window.cpp
  src/desktop/view/Window.hpp
  src/events/Events.hpp
  src/events/Windows.cpp
  src/macros.hpp
  src/managers/XWaylandManager.cpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: protocols, core, desktop, events, managers

stuff
  src/Compositor.hpp
  src/desktop/view/GlobalViewMethods.cpp
  src/desktop/view/SessionLock.cpp
  src/desktop/view/SessionLock.hpp
  src/desktop/view/Subsurface.cpp
  src/desktop/view/Subsurface.hpp
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/render/Renderer.cpp
Labels: core, desktop, managers, render

Prevent zoom jerks
  src/render/OpenGL.cpp
Labels: core, render

Prevent zoom jerks
  src/render/OpenGL.cpp
Labels: core, render

fix
  src/protocols/PointerWarp.cpp
Labels: protocols, core

Fix multi-monitor jerk and fake render jerk
  src/helpers/Monitor.hpp
  src/render/OpenGL.cpp
Labels: core, helpers, render
