Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

Fix order of urgency flag and event emmission
  src/desktop/Window.cpp
Labels: core, desktop

popups: rename m_WLSurface to m_wlSurface
  src/Compositor.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/desktop/Subsurface.cpp
  src/desktop/Window.cpp
  src/render/Renderer.cpp
Labels: core, desktop, render

groupbar: Add options for setting group bar title font weight (and indicator gap) (#9617)
  src/config/ConfigDataValues.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: core, config, render

groupbar: Add options for setting group bar title font weight (and indicator gap) (#9617)
  src/config/ConfigDataValues.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: core, config, render

layers: refactor class member vars (#10149)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/desktop/Subsurface.cpp
  src/desktop/WLSurface.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/managers/AnimationManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Touch.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, config, debug, desktop, events, helpers, managers, render

layers: refactor class member vars (#10149) * layers: refactor class member vars * popups: rename m_WLSurface to m_wlSurface
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/desktop/Subsurface.cpp
  src/desktop/WLSurface.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/managers/AnimationManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Touch.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, config, debug, desktop, events, helpers, managers, render

workspaces: refactor class member vars
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Rule.cpp
  src/desktop/Rule.hpp
  src/desktop/Subsurface.cpp
  src/desktop/Subsurface.hpp
  src/desktop/WLSurface.cpp
  src/desktop/WLSurface.hpp
  src/desktop/Window.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/events/Windows.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Touch.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/HyprlandSurface.cpp
  src/protocols/PointerConstraints.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, config, debug, desktop, events, helpers, layout, managers, render

workspaces: refactor class member vars (#10167)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Rule.cpp
  src/desktop/Rule.hpp
  src/desktop/Subsurface.cpp
  src/desktop/Subsurface.hpp
  src/desktop/WLSurface.cpp
  src/desktop/WLSurface.hpp
  src/desktop/Window.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/events/Windows.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Touch.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/HyprlandSurface.cpp
  src/protocols/PointerConstraints.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, config, debug, desktop, events, helpers, layout, managers, render

workspaces: refactor class member vars (#10167)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Rule.cpp
  src/desktop/Rule.hpp
  src/desktop/Subsurface.cpp
  src/desktop/Subsurface.hpp
  src/desktop/WLSurface.cpp
  src/desktop/WLSurface.hpp
  src/desktop/Window.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/events/Windows.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Touch.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/HyprlandSurface.cpp
  src/protocols/PointerConstraints.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, config, debug, desktop, events, helpers, layout, managers, render

window: Fix order of urgency flag and event emission (#10163)
  src/desktop/Window.cpp
Labels: core, desktop

window: Fix order of urgency flag and event emission (#10163)
  src/desktop/Window.cpp
Labels: core, desktop

layerrules: add abovelock to render above lockscreen
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, desktop, render

layerrules: allow abovelock surfaces to be interactable
  src/Compositor.cpp
  src/Compositor.hpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/managers/input/InputManager.cpp
Labels: core, desktop, managers

layerrules: maybe this fixes the formatting
  src/Compositor.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

layerrules: minor cleanup
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
Labels: core, desktop

layerrules: also render popups for abovelock layers
  src/render/Renderer.cpp
Labels: core, render

layerrules: explicitly set kb focus onto lock surface
  src/managers/input/InputManager.cpp
Labels: core, managers

layerrules: fix formatting agaaain
  src/Compositor.cpp
  src/desktop/LayerSurface.hpp
  src/managers/input/InputManager.cpp
Labels: core, desktop, managers

layerrules: fix
  src/desktop/LayerRule.cpp
Labels: core, desktop

layerrules: add abovelock to render above lockscreen (#9793)
  src/Compositor.cpp
  src/Compositor.hpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/managers/input/InputManager.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, desktop, managers, render

layerrules: add abovelock to render above lockscreen (#9793)
  src/Compositor.cpp
  src/Compositor.hpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/managers/input/InputManager.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, desktop, managers, render

decorationPositioner: update posinfo on window update fixes #10175
  src/render/decorations/DecorationPositioner.cpp
Labels: core, render

decorationPositioner: update posinfo on window update
  src/render/decorations/DecorationPositioner.cpp
Labels: core, render

helpers: properly support next/prev for workspace switching
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

helpers: properly support next/prev for workspace switching (#10074)
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

helpers: properly support next/prev for workspace switching (#10074)
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

SECURITY: init security policy
  SECURITY.md
Labels: none

SECURITY: init security policy fixes #9921
  SECURITY.md
Labels: none

async: add Promise and use it for AsyncDialogBox
  src/config/ConfigManager.cpp
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
  src/helpers/defer/Promise.hpp
  src/managers/ANRManager.cpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
Labels: core, config, helpers, managers

Remake the "Lockscreen Dead" Screen
  assets/install/lockdead.png
Labels: assets

async: add Promise and use it for AsyncDialogBox
  src/config/ConfigManager.cpp
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
  src/helpers/defer/Promise.hpp
  src/managers/ANRManager.cpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
Labels: core, config, helpers, managers

async: add Promise and use it for AsyncDialogBox
  src/config/ConfigManager.cpp
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
  src/helpers/defer/Promise.hpp
  src/managers/ANRManager.cpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
Labels: core, config, helpers, managers

Update window fullscreen desc in clients
  src/debug/HyprCtl.cpp
Labels: core, debug

keybindmgr: fixup bindn regression fixes #10195
  src/managers/KeybindManager.cpp
Labels: core, managers

keybindmgr: fixup bindn regression
  src/managers/KeybindManager.cpp
Labels: core, managers

Change center_master_slaves_on_right to center_master_fallback
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

Fix clang
  src/config/ConfigDescriptions.hpp
Labels: core, config

screencopy: support hw cursors while sharing with cursor
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
Labels: protocols, core, managers

screencopy: support hw cursors while sharing with cursor
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
Labels: protocols, core, managers

devices: refactor class member vars
  src/debug/HyprCtl.cpp
  src/devices/IHID.hpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/devices/IPointer.hpp
  src/devices/ITouch.hpp
  src/devices/Keyboard.cpp
  src/devices/Keyboard.hpp
  src/devices/Mouse.cpp
  src/devices/Mouse.hpp
  src/devices/Tablet.cpp
  src/devices/Tablet.hpp
  src/devices/TouchDevice.cpp
  src/devices/TouchDevice.hpp
  src/devices/VirtualKeyboard.cpp
  src/devices/VirtualKeyboard.hpp
  src/devices/VirtualPointer.cpp
  src/devices/VirtualPointer.hpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Tablets.cpp
  src/managers/input/Touch.cpp
  src/protocols/InputMethodV2.cpp
  src/protocols/Tablet.cpp
  src/protocols/core/Seat.cpp
Labels: protocols, core, debug, devices, managers
