Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

core: Fix dropping cursor buffer data early
  src/protocols/core/Compositor.cpp
  src/protocols/core/Seat.cpp
Labels: protocols, core

add "relative" modified: src/managers/KeybindManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers

remove relative internally modified: src/desktop/Window.cpp modified: src/desktop/Window.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
Labels: core, desktop

allow incrementing window props modified: src/desktop/Window.hpp modified: src/managers/KeybindManager.cpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
Labels: core, desktop, managers

core/compositor: Fix dropping cursor buffer data early (#9700)
  src/protocols/core/Compositor.cpp
  src/protocols/core/Seat.cpp
Labels: protocols, core

core/compositor: Fix dropping cursor buffer data early (#9700)
  src/protocols/core/Compositor.cpp
  src/protocols/core/Seat.cpp
Labels: protocols, core

add clamp modified: src/desktop/Window.hpp
  src/desktop/Window.hpp
Labels: core, desktop

fix non-relative imports in Compositor.hpp because this breaks plugins
  src/protocols/core/Compositor.hpp
Labels: protocols, core

core/Compositor.hpp: fix non-relative Texture import (#9703)
  src/protocols/core/Compositor.hpp
Labels: protocols, core

core/Compositor.hpp: fix non-relative Texture import (#9703)
  src/protocols/core/Compositor.hpp
Labels: protocols, core

simplify and fix hdr metadata setting
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, render

version: bump to 0.48.0
  VERSION
Labels: none

version: bump to 0.48.0
  VERSION
Labels: none

keep incorrect(?) cm skip till #9600
  src/render/OpenGL.cpp
Labels: core, render

protocols/meson.build: use native wayland-scanner
  protocols/meson.build
Labels: protocols

protocols/meson.build: use native wayland-scanner
  protocols/meson.build
Labels: protocols

Nix: add changes from Nixpkgs derivation
  nix/default.nix
Labels: nix

Nix: add changes from Nixpkgs derivation
  nix/default.nix
Labels: nix

renderer: Simplify and fix hdr metadata setting (#9706) * simplify and fix hdr metadata setting * keep incorrect(?) cm skip till #9600
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, render

renderer: Simplify and fix hdr metadata setting (#9706)
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, render

[gha] Nix: update inputs
  flake.lock
Labels: none

[gha] Nix: update inputs
  flake.lock
Labels: none

seat: avoid sending null surfaces in leave/enter events ref #9699
  src/protocols/core/Seat.cpp
Labels: protocols, core

seat: avoid sending null surfaces in leave/enter events
  src/protocols/core/Seat.cpp
Labels: protocols, core

xwl: dont close the fd to early
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
Labels: core, xwayland

xwl: dont close the fd to early (#9715) dont close the fd until the wl_event_source is removed, so we dont get another event triggered with an already closed fd.
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
Labels: core, xwayland

xwl: dont close the fd to early (#9715)
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
Labels: core, xwayland

monitor rule parsers
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
Labels: core, config

decoration: bring back border_part_of_window fixes #9683, now under decoration: though
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, config, render

decoration: bring back border_part_of_window
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, config, render

keybinds: add sendkeystate dispatcher (#9599)
  hyprctl/hyprctl.bash
  hyprctl/hyprctl.fish
  hyprctl/hyprctl.usage
  hyprctl/hyprctl.zsh
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: hyprctl, core, managers

keybinds: add sendkeystate dispatcher (#9599)
  hyprctl/hyprctl.bash
  hyprctl/hyprctl.fish
  hyprctl/hyprctl.usage
  hyprctl/hyprctl.zsh
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: hyprctl, core, managers

prevent a crash where monitor eglsync is destroyed after renderer is destroyed
  src/render/OpenGL.cpp
Labels: core, render

Added config option binds:hide_special_on_workspace_change
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

config: completely remove windowrulev2
  src/config/ConfigManager.cpp
Labels: core, config

Groupbar: apply scaling factor to text
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

Groupbar: add keep_upper_gap setting to apply/remove outer gap offset to the upper side of groupbar
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

Groupbar: add text_offset setting to adjust text vertical position in a group header
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

pass: remove unusued timeline in texpass
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
Labels: core, managers, render

Groupbar: apply scaling factor to text (#9731)
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
