Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

LONG LIVE AMERICA
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, render

decorations: fix infinite recursion on no_gaps when only (#7169)
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, layout, render

decorations: fix infinite recursion on no_gaps when only (#7169) modified: src/layout/DwindleLayout.cpp modified: src/layout/MasterLayout.cpp modified: src/render/decorations/CHyprBorderDecoration.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, layout, render

ds cleanup better
  src/helpers/Monitor.cpp
Labels: core, helpers

ds explicit safety
  src/helpers/Monitor.cpp
Labels: core, helpers

log fails
  src/helpers/Monitor.cpp
Labels: core, helpers

improve toggling modified: src/managers/KeybindManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers

CMake: Suppress CMake warning about GNUInstallDirs
  CMakeLists.txt
Labels: none

CMake: Suppress CMake warning about GNUInstallDirs
  CMakeLists.txt
Labels: none

CMake, Meson: install config and wallpapers to DATADIR/hypr OpenGL: get wallpapers dir from DATAROOTDIR
  CMakeLists.txt
  assets/meson.build
  example/meson.build
  meson.build
  src/render/OpenGL.cpp
Labels: assets, core, render

CMake, Meson: install config and wallpapers to DATADIR/hypr
  CMakeLists.txt
  assets/meson.build
  example/meson.build
  meson.build
  src/render/OpenGL.cpp
Labels: assets, core, render

keybinds: improve fullscreenstate toggling (#7174)
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds: improve fullscreenstate toggling (#7174) modified: src/managers/KeybindManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers

oopsie
  src/render/OpenGL.cpp
Labels: core, render

add explicit kms opt
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
Labels: core, config, helpers, render

typo eh
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
Labels: core, helpers, render

xcursor: bootleg xcursors into its own manager
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
Labels: core, managers

cursormgr: use eventloopmgr for animation
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
Labels: core, managers

hyprcursor: fix buffer leak
  src/managers/CursorManager.cpp
Labels: core, managers

cursor: Better xcursor implementation (#7178)
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
Labels: core, managers

stuff
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, helpers, render

fix nvidia stuff with egl-wayland
  src/protocols/DRMSyncobj.cpp
Labels: protocols, core

nvidia numbers
  src/render/Renderer.cpp
Labels: core, render

move direct scanout
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

pch
  src/render/Renderer.cpp
Labels: core, render

nvidia
  src/render/Renderer.cpp
Labels: core, render

guard rb?
  src/render/Renderer.cpp
Labels: core, render

stuff
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/core/Compositor.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, helpers, render

e
  src/protocols/DRMSyncobj.cpp
Labels: protocols, core

fix2
  src/protocols/core/Compositor.cpp
Labels: protocols, core

fix3
  src/protocols/DRMSyncobj.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core

renderer: Explicit sync fixes (#7151)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/ScopeGuard.cpp
  src/helpers/ScopeGuard.hpp
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/managers/KeybindManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, config, helpers, managers, render

renderer: Explicit sync fixes (#7151) Enables explicit sync by default for most platforms `misc:no_direct_scanout` -> `render:direct_scanout`
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/ScopeGuard.cpp
  src/helpers/ScopeGuard.hpp
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/managers/KeybindManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, config, helpers, managers, render

renderer: fixup crashes on inaccessible files for bg
  src/render/OpenGL.cpp
Labels: core, render

renderer: fixup crashes on inaccessible files for bg
  src/render/OpenGL.cpp
Labels: core, render

wayland/compositor: drop pending buffer ref if synchronous fixes https://github.com/hyprwm/hyprpicker/issues/85
  src/protocols/core/Compositor.cpp
Labels: protocols, core

wayland/compositor: drop pending buffer ref if synchronous
  src/protocols/core/Compositor.cpp
Labels: protocols, core

cursormgr: reduce duplicated code
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
Labels: core, managers

fix NoSymbol keybinds
  src/managers/KeybindManager.cpp
Labels: core, managers

xcursormgr: implent inherited themes
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
Labels: core, managers

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
