Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

CTM: check for finite value aswell
  src/protocols/CTMControl.cpp
Labels: protocols, core

CTM: check for finite value aswell (#11185)
  src/protocols/CTMControl.cpp
Labels: protocols, core

core: fix maxwidth resolution mode (#11183)
  src/config/ConfigManager.cpp
Labels: core, config

code style
  src/Compositor.cpp
Labels: core

move function body outside of header
  src/Compositor.cpp
  src/Compositor.hpp
Labels: core

swipe: fix workspace swipe not rendering last frame if target ws is on edge (#11184)
  src/managers/input/Swipe.cpp
Labels: core, managers

tests: add a few more workspace tests
  hyprtester/src/tests/main/workspaces.cpp
Labels: none

drm: check syncobj timeline support before advertising protocol (#11117)
  src/Compositor.cpp
  src/Compositor.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/managers/ProtocolManager.cpp
Labels: core, helpers, managers

core: move workspace ptrs to weak
  CMakeLists.txt
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/Workspace.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/managers/input/Swipe.cpp
  src/protocols/ExtWorkspace.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, debug, desktop, helpers, managers, render

incluud
  src/Compositor.hpp
Labels: core

e
  CMakeLists.txt
Labels: none

core: move workspace ptrs to weak (#11194)
  CMakeLists.txt
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/Workspace.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/managers/input/Swipe.cpp
  src/protocols/ExtWorkspace.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, debug, desktop, helpers, managers, render

syncobj: use rendernode for timelines
  src/Compositor.cpp
  src/Compositor.hpp
  src/managers/PointerManager.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/MesaDRM.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: protocols, core, managers, render

MesaDRM: use the m_drmRenderNodeFD if it exist
  src/protocols/MesaDRM.cpp
Labels: protocols, core

opengl: use rendernode if available
  src/render/OpenGL.cpp
Labels: core, render

virtualkeyboard: do not sent release event for pressed key during destroy
  src/protocols/VirtualKeyboard.cpp
  src/protocols/VirtualKeyboard.hpp
Labels: protocols, core

add preserveHistory to focusWindow
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, desktop, managers

input: do not accumulate modifiers from all keyboards for binds and seats
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, managers

ANR: Emit 'applicationnotresponding' when app freezes
  src/managers/ANRManager.cpp
Labels: core, managers

ci: correct tar command for xz compression
  .github/workflows/ci.yaml
Labels: none

clang-format
  src/protocols/FocusGrab.cpp
Labels: protocols, core

keybinds: do not reset scroll timer on not passed
  src/managers/KeybindManager.cpp
Labels: core, managers

texture: avoid issuing many glTexSubImage2D calls
  src/render/Texture.cpp
Labels: core, render

input: lock focus for tablet when down
  src/managers/input/Tablets.cpp
Labels: core, managers

Send list of currently pressed keys in wl_keyboard::enter
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/protocols/core/Seat.cpp
  src/protocols/core/Seat.hpp
Labels: protocols, core, managers

Style update; move virtual keyboard naming to its own function
  src/devices/IKeyboard.cpp
  src/managers/input/InputManager.cpp
  src/protocols/VirtualKeyboard.cpp
Labels: protocols, core, devices, managers

Style: caps for const pointer; add assert check for wl_keyboard::enter keys argument
  src/managers/SeatManager.cpp
  src/protocols/core/Seat.cpp
Labels: protocols, core, managers

ANR: emit on socket even without enable_anr_dialog
  src/managers/ANRManager.cpp
Labels: core, managers

ANR: rename socket event to anr
  src/managers/ANRManager.cpp
Labels: core, managers

monitor: makes visibleOnMonitor calculation include decorations
  src/desktop/Window.cpp
Labels: core, desktop

ANR: emit anrrecovered when application unfreezes
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
Labels: core, managers

layerSurface: check for monitor validity in startAnimation
  src/desktop/LayerSurface.cpp
Labels: core, desktop

move all DS checks into single function
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

fix json output
  src/debug/HyprCtl.cpp
Labels: core, debug

hyprctl monitors DS block reasons
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
Labels: core, debug

fix ds checks
  src/helpers/Monitor.cpp
Labels: core, helpers

hyprctl monitors solitary reasons
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
Labels: core, debug

move solitary checks to monitor
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/MonitorFrameScheduler.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

tearing checks
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, debug, helpers, render

solitary surface for window
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/helpers/Monitor.cpp
Labels: core, desktop, helpers
