Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

input-capture: fix build
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: don't send motion when the input is locked (like inside a 3d game)
  src/managers/PointerManager.cpp
Labels: core, managers

input-capture: fix build
  src/protocols/InputCapture.cpp
Labels: protocols, core

input-capture: fix build
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: simplify sendKeymap
  src/protocols/InputCapture.cpp
Labels: protocols, core

input-capture: send modifiers (highly experimental)
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: impl keymap
  src/managers/SeatManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input: fixup mouse check for flipping x / y (#9529)
  src/devices/IPointer.hpp
  src/devices/Mouse.cpp
  src/managers/input/InputManager.cpp
Labels: core, devices, managers

input: fixup mouse check for flipping x / y (#9529)
  src/devices/IPointer.hpp
  src/devices/Mouse.cpp
  src/managers/input/InputManager.cpp
Labels: core, devices, managers

update logic of checking calibration matrix
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, managers

master: add option to keep master window position (#9537)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

master: add option to keep master window position (#9537)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

touch: reject swipe on locked sessions fixes #9542
  src/managers/input/Touch.cpp
Labels: core, managers

touch: reject swipe on locked sessions
  src/managers/input/Touch.cpp
Labels: core, managers

keybinds): prevent crash when executing movewindoworgroup (#9551)
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds): prevent crash when executing movewindoworgroup (#9551)
  src/managers/KeybindManager.cpp
Labels: core, managers

skip commit if recomitting the same surface buffer to prevent eerly release of buffer + cleanup ds code bit
  src/helpers/Monitor.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

feat(groupbar): render a border around the window and groupbar
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

configdescriptions
  src/config/ConfigDescriptions.hpp
Labels: core, config

2
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

off by default
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

update transform's default value
  src/config/ConfigManager.cpp
Labels: core, config

apply same logic of touch device matrix to tablets
  src/managers/input/InputManager.cpp
Labels: core, managers

protocols: Fix blocked color management get_information
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/XXColorManagement.cpp
  src/protocols/XXColorManagement.hpp
Labels: protocols, core

protocols: Fix blocked color management get_information (#9563)
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/XXColorManagement.cpp
  src/protocols/XXColorManagement.hpp
Labels: protocols, core

protocols: Fix blocked color management get_information (#9563)
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/XXColorManagement.cpp
  src/protocols/XXColorManagement.hpp
Labels: protocols, core

[gha] Nix: update inputs
  flake.lock
Labels: none

[gha] Nix: update inputs
  flake.lock
Labels: none

windowrules: add option to allow size persistence between app launches (#9422)
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/layout/IHyprLayout.cpp
Labels: core, config, desktop, layout

windowrules: add option to allow size persistence between app launches (#9422)
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/layout/IHyprLayout.cpp
Labels: core, config, desktop, layout

allow incrementing window props modified: src/desktop/Window.hpp modified: src/managers/KeybindManager.cpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
Labels: core, desktop, managers

compare image descriptions
  src/protocols/types/ColorManagement.hpp
Labels: protocols, core

add color-management-v1 proto
  CMakeLists.txt
  protocols/color-management-v1.xml
  protocols/meson.build
Labels: protocols

render:cm_fs_passthrough
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, config, render

fix primaries conversion and white adaptation
  src/render/shaders/CM.frag
Labels: core, render

mark supported proto primaries and tfs
  src/protocols/ColorManagement.cpp
  src/protocols/XXColorManagement.cpp
Labels: protocols, core

handle pq tf
  src/render/Renderer.cpp
  src/render/shaders/Textures.hpp
Labels: core, render

initial cm shader
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.hpp
  src/render/pass/SurfacePassElement.cpp
  src/render/shaders/Textures.hpp
Labels: core, render

fix shader floats
  src/render/shaders/CM.frag
Labels: core, render

fix srgb black point luminance
  src/render/shaders/CM.frag
Labels: core, render

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
