Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

dont crash on multigpu lol
  src/helpers/Monitor.cpp
  src/helpers/sync/SyncTimeline.cpp
Labels: core, helpers

fix small ub in keyboard
  src/devices/IKeyboard.cpp
Labels: core, devices

damage oops
  src/render/OpenGL.cpp
Labels: core, render

fix
  src/protocols/CursorShape.cpp
Labels: protocols, core

fixup presentation feedback
  src/helpers/Monitor.cpp
Labels: core, helpers

xcursors mmm
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/render/OpenGL.cpp
Labels: core, managers, render

meson: unbreak build with aquamarine
  meson.build
  protocols/meson.build
  src/meson.build
Labels: protocols, core

fix nvidia crasherino lmao
  src/Compositor.hpp
  src/managers/CursorManager.cpp
  src/managers/PointerManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderbuffer.cpp
  src/render/Renderbuffer.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/Texture.hpp
Labels: core, managers, render

fix crasheroni
  src/render/Renderer.cpp
Labels: core, render

drop wlroots
  CMakeLists.txt
  src/Compositor.cpp
  src/debug/Log.cpp
  src/debug/Log.hpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/helpers/math/Math.cpp
  src/helpers/math/Math.hpp
  src/includes.hpp
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/PointerManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMLease.cpp
  src/protocols/InputMethodV2.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/PresentationTime.cpp
  src/protocols/Screencopy.cpp
  src/protocols/Tablet.cpp
  src/protocols/XDGShell.cpp
  src/protocols/core/Compositor.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderbuffer.hpp
  src/render/Renderer.cpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/signal-safe.hpp
  src/xwayland/Server.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, debug, devices, helpers, managers, render, xwayland

rid of wlr more
  .gitmodules
  CMakeLists.txt
  Makefile
  README.md
  hyprland.pc.in
  hyprpm/src/core/PluginManager.cpp
  src/Compositor.hpp
  src/helpers/MiscFunctions.hpp
  src/helpers/Monitor.hpp
  src/helpers/X11Stubs.hpp
  src/includes.hpp
  src/managers/input/InputManager.cpp
  src/protocols/MesaDRM.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/xwayland/XWM.cpp
Labels: hyprpm, protocols, core, helpers, managers, render, xwayland

dmabuf
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

rollback on fail
  src/render/Renderer.cpp
Labels: core, render

fix mirrors, thanks virtcode
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, render

fixes
  src/protocols/DRMSyncobj.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
Labels: protocols, core

missed a file
  src/helpers/CursorShapes.hpp
Labels: core, helpers

cmake: drop unused include after 758c0b325333
  CMakeLists.txt
Labels: none

avoid spam
  src/render/Renderer.cpp
Labels: core, render

log mismatched fds
  src/helpers/sync/SyncTimeline.cpp
Labels: core, helpers

explicit sync
  CMakeLists.txt
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/managers/ProtocolManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/Viewporter.cpp
  src/protocols/Viewporter.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, helpers, managers, render

eee
  src/render/Renderer.cpp
Labels: core, render

fix xwayland crash
  src/devices/IKeyboard.cpp
Labels: core, devices

explicit sync stuff
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, render

e
  src/managers/CursorManager.cpp
Labels: core, managers

[aquamarine] try to fix direct scanout (#6875)
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, helpers, render

swapchain test stuff
  src/helpers/Monitor.cpp
Labels: core, helpers

flake.lock: update
  flake.lock
Labels: none

[gha] Nix: update inputs
  flake.lock
Labels: none

better
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, helpers

dmabufff
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

fixeroni crasheroni
  src/render/Renderer.cpp
Labels: core, render

ok gulafaran
  src/devices/IKeyboard.hpp
Labels: core, devices

ci: add aq
  .github/actions/setup_base/action.yml
Labels: none

reset explicit fences before commit (#6841)
  src/render/Renderer.cpp
Labels: core, render

CI/Arch: add libxcursor
  .github/actions/setup_base/action.yml
Labels: none

format
  src/debug/HyprCtl.cpp
  src/devices/IKeyboard.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, debug, devices, helpers

oopsie daisy
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
Labels: core, desktop

some fixes to dmabuf
  src/Compositor.cpp
  src/helpers/Format.cpp
  src/helpers/Format.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, helpers, render

Explicit sync fixes (#6829)
  src/helpers/sync/SyncTimeline.cpp
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, managers, render

flake.lock: update aq
  flake.lock
Labels: none
