Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

buffer: calculate intersect only on second add
  src/managers/BufferReleaseManager.cpp
  src/managers/BufferReleaseManager.hpp
  src/render/pass/SurfacePassElement.cpp
Labels: core, managers, render

renderer: fix new_render_sheduling
  src/helpers/MonitorFrameScheduler.cpp
  src/helpers/MonitorFrameScheduler.hpp
  src/protocols/Screencopy.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, helpers, render

renderer: attempt fix new_render_sched
  src/helpers/Monitor.cpp
  src/helpers/MonitorFrameScheduler.cpp
  src/helpers/MonitorFrameScheduler.hpp
Labels: core, helpers

properly follow tearing control protocol
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/MonitorFrameScheduler.cpp
  src/protocols/PresentationTime.cpp
  src/protocols/TearingControl.cpp
  src/protocols/TearingControl.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/render/Renderer.cpp
Labels: protocols, core, config, debug, desktop, events, helpers, render

nix: make mold optional
  flake.lock
  nix/default.nix
Labels: nix

add scale
  src/config/ConfigManager.cpp
  src/managers/input/trackpad/TrackpadGestures.cpp
  src/managers/input/trackpad/TrackpadGestures.hpp
  src/managers/input/trackpad/gestures/ITrackpadGesture.cpp
  src/managers/input/trackpad/gestures/ITrackpadGesture.hpp
Labels: core, config, managers

clamp
  src/config/ConfigManager.cpp
Labels: core, config

input-capture: fix keyboard not captured
  src/managers/input/InputManager.cpp
Labels: core, managers

flake.lock: update
  flake.lock
Labels: none

dispatchers: allow window address in swapwindow
  src/managers/KeybindManager.cpp
Labels: core, managers

modify hyprctl devices output to return active layout index
  src/debug/HyprCtl.cpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
Labels: core, debug, devices

xwayland: handle minimize and maximize requests
  src/xwayland/XWM.cpp
Labels: core, xwayland

xwayland: handle WM_CHANGE_STATE sent by XIconifyWindow
  src/xwayland/XWM.cpp
Labels: core, xwayland

style nit
  src/xwayland/XWM.cpp
Labels: core, xwayland

Fix some style issues
  src/render/Renderer.hpp
  src/render/pass/SurfacePassElement.cpp
Labels: core, render

fix
  src/helpers/MonitorFrameScheduler.cpp
Labels: core, helpers

XD
  src/config/ConfigManager.cpp
Labels: core, config

braces style nit
  src/xwayland/XWM.cpp
Labels: core, xwayland

tablet: remove old comment
  src/protocols/Tablet.cpp
Labels: protocols, core

[gha] Nix: update inputs
  flake.lock
Labels: none

close client when we're done
  hyprtester/clients/pointer-warp.cpp
  hyprtester/src/tests/clients/pointer-warp.cpp
Labels: none

add pointer warp protocol impl
  CMakeLists.txt
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/PointerWarp.cpp
  src/protocols/PointerWarp.hpp
  src/protocols/core/Seat.cpp
  src/protocols/core/Seat.hpp
Labels: protocols, core, managers

fix hyprtest <-> client pipe + make client use proper coords
  hyprtester/CMakeLists.txt
  hyprtester/clients/pointer-warp.cpp
  hyprtester/src/tests/clients/pointer-warp.cpp
Labels: none

setup wayland clients for testing + write basics for pointer-warp client
  hyprtester/CMakeLists.txt
  hyprtester/clients/pointer-warp.cpp
  hyprtester/protocols/.gitignore
  src/protocols/PointerWarp.cpp
Labels: protocols, core

add test that uses pointer-warp client
  hyprtester/CMakeLists.txt
  hyprtester/clients/pointer-warp.cpp
  hyprtester/src/main.cpp
  hyprtester/src/tests/clients/.gitignore
  hyprtester/src/tests/clients/pointer-warp.cpp
  hyprtester/src/tests/clients/tests.hpp
Labels: none

actually make pointer-warp proto and test work
  hyprtester/clients/pointer-warp.cpp
  hyprtester/src/tests/clients/pointer-warp.cpp
Labels: none

add stdin parseRequest for pointer-warp client
  hyprtester/clients/pointer-warp.cpp
Labels: none

fix bugs
  hyprtester/clients/pointer-warp.cpp
  hyprtester/src/tests/clients/pointer-warp.cpp
Labels: none

stuff
  CMakeLists.txt
  protocols/meson.build
  src/protocols/PointerWarp.cpp
Labels: protocols, core

add more tests + final fixes
  hyprtester/src/tests/clients/pointer-warp.cpp
  src/managers/SeatManager.cpp
  src/managers/SeatManager.hpp
  src/protocols/PointerWarp.cpp
Labels: protocols, core, managers

nix/hyprtester: fix test client path
  nix/hyprtester.nix
Labels: nix

nix/hyprtester: fix install source
  nix/hyprtester.nix
Labels: nix

remove log
  hyprtester/src/tests/clients/pointer-warp.cpp
Labels: none

fixes
  hyprtester/clients/pointer-warp.cpp
  hyprtester/src/tests/clients/pointer-warp.cpp
Labels: none

xwayland: fix game permanent blackscreen
  src/xwayland/XSurface.cpp
Labels: core, xwayland

xwayland: handle minimize and maximize requests (#11536)
  src/xwayland/XWM.cpp
Labels: core, xwayland

xwayland: fix game permanent blackscreen (#11542)
  src/xwayland/XSurface.cpp
Labels: core, xwayland

fix codeblock macro
  hyprtester/src/shared.hpp
Labels: none

FIXME for broken tests
  hyprtester/src/shared.hpp
Labels: none

fix CTM with auto hdr
  src/render/Renderer.cpp
Labels: core, render

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
