Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

core: drop the legacy renderer
  CMakeLists.txt
  Makefile
  meson.build
  meson_options.txt
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/helpers/Format.cpp
  src/hyprerror/HyprError.cpp
  src/includes.hpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/render/Framebuffer.cpp
  src/render/OpenGL.cpp
  src/render/Texture.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: protocols, core, debug, helpers, hyprerror, render

Nix: drop support for legacyRenderer
  flake.nix
  nix/default.nix
  nix/overlays.nix
Labels: nix

input: disallow virtual keyboards from changing LED state (#10402)
  src/managers/input/InputManager.cpp
Labels: core, managers

input: disallow virtual keyboards from changing LED state (#10402)
  src/managers/input/InputManager.cpp
Labels: core, managers

xwayland: do not include xcb.h when xwayland is disabled (#10407)
  src/xwayland/Dnd.hpp
Labels: core, xwayland

protocols/hyprland-surface: account for scaled monitor positions
  src/render/pass/SurfacePassElement.cpp
Labels: core, render

desktop: prevent layers from dismissing their own seat grabs on map
  src/desktop/LayerSurface.cpp
Labels: core, desktop

protocols/hyprland-surface: account for scaled monitor positions (#10415)
  src/render/pass/SurfacePassElement.cpp
Labels: core, render

protocols/hyprland-surface: account for scaled monitor positions (#10415)
  src/render/pass/SurfacePassElement.cpp
Labels: core, render

core: drop the legacy renderer (#10408)
  CMakeLists.txt
  Makefile
  flake.nix
  meson.build
  meson_options.txt
  nix/default.nix
  nix/overlays.nix
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/helpers/Format.cpp
  src/hyprerror/HyprError.cpp
  src/includes.hpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/render/Framebuffer.cpp
  src/render/OpenGL.cpp
  src/render/Texture.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: nix, protocols, core, debug, helpers, hyprerror, render

desktop: prevent layers from dismissing their own seat grabs on map (#10417)
  src/desktop/LayerSurface.cpp
Labels: core, desktop

desktop: prevent layers from dismissing their own seat grabs on map (#10417)
  src/desktop/LayerSurface.cpp
Labels: core, desktop

core: Include cstring whenever strncpy is used (#10404)
  hyprpm/src/core/HyprlandSocket.cpp
Labels: hyprpm

core: Include cstring whenever strncpy is used (#10404) Fixes ppc64le build in alpine
  hyprpm/src/core/HyprlandSocket.cpp
Labels: hyprpm

input: do not send mouse events when outside of a surface
  src/managers/input/InputManager.cpp
Labels: core, managers

protocols: simulate mouse movement after activating a toplevel
  src/protocols/ForeignToplevelWlr.cpp
Labels: protocols, core

hyprpm: fix execute permission bit on installed dirs
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

protocols: simulate mouse movement after activating a toplevel (#10429)
  src/protocols/ForeignToplevelWlr.cpp
Labels: protocols, core

protocols: simulate mouse movement after activating a toplevel (#10429)
  src/protocols/ForeignToplevelWlr.cpp
Labels: protocols, core

input: do not send mouse events when outside of a surface (#10416)
  src/managers/input/InputManager.cpp
Labels: core, managers

input: do not send mouse events when outside of a surface (#10416)
  src/managers/input/InputManager.cpp
Labels: core, managers

input: ensure seat grabs from exclusive layers can be dismissed
  src/managers/input/InputManager.cpp
Labels: core, managers

input: ensure seat grabs from exclusive layers can be dismissed (#10418)
  src/managers/input/InputManager.cpp
Labels: core, managers

input: ensure seat grabs from exclusive layers can be dismissed (#10418)
  src/managers/input/InputManager.cpp
Labels: core, managers

[gha] Nix: update inputs
  flake.lock
Labels: none

[gha] Nix: update inputs
  flake.lock
Labels: none

screencopy: store a fb before permission popup if the permission is pending
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
Labels: protocols, core

hyprpm: fix execute permission bit on installed dirs (#10435)
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

hyprpm: fix execute permission bit on installed dirs (#10435)
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

hyprpm: reject remove without a param ref #10458
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: reject remove without a param
  hyprpm/src/main.cpp
Labels: hyprpm

screencopy: store a fb before permission popup if the permission is pending (#10455) stops rendering the permission popup on stuff like grim when it asks
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
Labels: protocols, core

screencopy: store a fb before permission popup if the permission is pending (#10455)
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
Labels: protocols, core

hyprpm: fix crash with enable without an arg
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: fix crash with enable without an arg
  hyprpm/src/main.cpp
Labels: hyprpm

input: revert #10416 and #10418
  src/managers/input/InputManager.cpp
Labels: core, managers

input: revert #10416 and #10418 fixes #10451
  src/managers/input/InputManager.cpp
Labels: core, managers

added error log when getEdgeDefinedPoint is impossible
  src/render/decorations/DecorationPositioner.cpp
Labels: core, render

internal: added error log when getEdgeDefinedPoint is impossible (#10462)
  src/render/decorations/DecorationPositioner.cpp
Labels: core, render

internal: added error log when getEdgeDefinedPoint is impossible (#10462)
  src/render/decorations/DecorationPositioner.cpp
Labels: core, render
