Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

Revert "xwayland: don't create an abstract unix domain socket on linux (#8874)" (#9574)
  src/xwayland/Server.cpp
Labels: core, xwayland

renderer: add simple color management (#9506) Adds proper color management and transformations for CM surfaces.
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/ColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Shader.hpp
  src/render/pass/SurfacePassElement.cpp
  src/render/shaders/CM.frag
  src/render/shaders/Textures.hpp
Labels: protocols, core, config, helpers, render

renderer: add simple color management (#9506)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/ColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Shader.hpp
  src/render/pass/SurfacePassElement.cpp
  src/render/shaders/CM.frag
  src/render/shaders/Textures.hpp
Labels: protocols, core, config, helpers, render

check if not hidden
  src/managers/input/InputManager.cpp
Labels: core, managers

xwayland: make the abstract Unix domain socket optional (#9574)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/xwayland/Server.cpp
Labels: core, config, xwayland

xwayland: extend the default permissions for a regular Unix domain socket (#9574)
  src/xwayland/Server.cpp
Labels: core, xwayland

xwayland: a little refactoring for `createSocket`
  src/xwayland/Server.cpp
Labels: core, xwayland

check if window null
  src/managers/input/InputManager.cpp
Labels: core, managers

Add variables for group bar title font weight
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: core, config, render

Add variable for setting group indicator gap
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

run clang-format
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, config, render

flake.lock: update
  flake.lock
Labels: none

nix: remove wayland-protocols overlay and bump flake (#9613)
  flake.lock
  nix/overlays.nix
Labels: nix

syncobj: cleanup and use uniqueptrs
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
Labels: protocols, core

syncobj: rework syncobj entirerly
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/Buffer.hpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, config, helpers, render

syncobj: clear current buffer damage
  src/protocols/DRMSyncobj.cpp
Labels: protocols, core

syncobj: cleanup code and fix hyprlock
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core, helpers

syncobj: move SSurfaceState to types
  src/helpers/sync/SyncReleaser.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/SurfaceState.hpp
Labels: protocols, core, helpers

syncobj: delay buffer release on non syncobj
  src/protocols/core/Compositor.cpp
Labels: protocols, core

syncobj: queue pending states for eventfd
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, helpers, render

syncobj: actually store the merged fd
  src/helpers/sync/SyncReleaser.cpp
Labels: core, helpers

syncobj: lets not complicate things
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core

syncobj: remove unused code, optimize
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/protocols/core/Compositor.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: protocols, core, helpers, render

syncobj: ensure we follow protocol
  src/helpers/sync/SyncReleaser.cpp
  src/protocols/DRMSyncobj.cpp
Labels: protocols, core, helpers

syncobj: ensure buffers are cleaned up
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
Labels: protocols, core

syncobj: cleanup a bit around fences
  src/helpers/Monitor.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

syncobj: check if if acquire is expired
  src/protocols/DRMSyncobj.cpp
Labels: protocols, core

syncobj: store directscanout fence in monitor
  src/helpers/Monitor.cpp
Labels: core, helpers

syncobj: ensure buffers are actually released
  src/protocols/LinuxDMABUF.cpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/protocols/types/DMABuffer.cpp
Labels: protocols, core

syncobj: code style changes
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/core/Compositor.cpp
Labels: protocols, core, helpers

types: Defer buffer sync releaser until unlock
  src/protocols/DRMSyncobj.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/render/Renderer.cpp
Labels: protocols, core, render

syncobjs: ensure fence FD doesnt leak
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

syncobj: remove unused async buffer drop
  src/protocols/core/Compositor.cpp
Labels: protocols, core

syncobj: use eventfd instead of stalling fd checks (#9437)
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/SurfaceState.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, config, helpers, render

descriptions: remove allow_early_buffer_release
  src/config/ConfigDescriptions.hpp
Labels: core, config

descriptions: remove allow_early_buffer_release
  src/config/ConfigDescriptions.hpp
Labels: core, config

protocols: fix include
  src/protocols/DRMSyncobj.hpp
  src/protocols/types/Buffer.hpp
Labels: protocols, core

protocols: fix include
  src/protocols/DRMSyncobj.hpp
  src/protocols/types/Buffer.hpp
Labels: protocols, core

dmabuf: pop buffer on failure
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

renderer: don't crash if cm fails to compile
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render
