Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

internal: use isNumber from hyprutils (#9467)
  src/managers/KeybindManager.cpp
Labels: core, managers

internal: use isNumber from hyprutils (#9467)
  src/managers/KeybindManager.cpp
Labels: core, managers

chore: add CXX_STANDARD_REQUIRED flag to ensure c++ version must be c++26
  CMakeLists.txt
Labels: none

clang-format
  src/config/ConfigManager.cpp
Labels: core, config

config: fix a possible crash in the monitor config parser (#9460) * Less crash-prone monitor config parser * clang-format
  src/config/ConfigManager.cpp
Labels: core, config

config: fix a possible crash in the monitor config parser (#9460)
  src/config/ConfigManager.cpp
Labels: core, config

minor style change
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
Labels: core, xwayland

fixup! hyprctl: pid for non-json output
  src/debug/HyprCtl.cpp
Labels: core, debug

clang-format
  src/debug/HyprCtl.cpp
Labels: core, debug

layer: getPID() function
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
Labels: core, desktop

hyprctl(surface): show pid of layer
  src/debug/HyprCtl.cpp
Labels: core, debug

xwayland: improve dnd and cleanup (#9405) Minor changes to xwayland dnd / regular dnd to fix various issues --------- Co-authored-by: Vaxry <vaxry@vaxry.net>
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: protocols, core, xwayland

xwayland: improve dnd and cleanup (#9405)
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: protocols, core, xwayland

feat: getAllPIDOf, getProcNameOf
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
Labels: core, helpers

fixup! feat: getAllPIDOf, getProcNameOf
  src/helpers/MiscFunctions.hpp
Labels: core, helpers

fixup! build, global windowrule
  src/managers/KeybindManager.cpp
Labels: core, managers

hyprpm: add --hl-url for custom forks
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: add --hl-url for custom forks
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

nix/lib: inherit from lib
  nix/lib.nix
Labels: nix

LayerSurface(getPID()): nullptr check
  src/desktop/LayerSurface.cpp
Labels: core, desktop

hyprctl/config: fixup config descriptions, fill out missing ones, provide more data adds current and explicit, better parsing, and fixes missing / invalid ones
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/render/OpenGL.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, config, render

hyprctl/config: fixup config descriptions, fill out missing ones, provide more data
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/render/OpenGL.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, config, render

cmake: add CXX_STANDARD_REQUIRED flag to ensure c++ version must be c++26 (#9476)
  CMakeLists.txt
Labels: none

Nix: clean up test, add cachix step in test job
  .github/workflows/nix-ci.yml
  nix/tests/default.nix
Labels: nix

stats
  hyprtester/src/main.cpp
  hyprtester/src/shared.hpp
Labels: none

add group tests
  hyprtester/src/main.cpp
  hyprtester/src/tests/shared.cpp
  hyprtester/src/tests/shared.hpp
  hyprtester/src/tests/window/groups.cpp
  hyprtester/src/tests/window/groups.hpp
  hyprtester/src/tests/window/window.cpp
  hyprtester/test.conf
Labels: none

hyprtester: add weird debug prints and increase timeouts
  hyprtester/src/main.cpp
  hyprtester/src/tests/shared.cpp
  hyprtester/src/tests/window/groups.cpp
  hyprtester/src/tests/window/window.cpp
Labels: none

CI/Nix: add test job
  .github/workflows/nix-ci.yml
Labels: none

Nix/tests: run hyprtester
  nix/tests/default.nix
Labels: nix

nix/tests: init
  flake.nix
  nix/tests/default.nix
  nix/tests/test.conf
Labels: nix

overlays: add proper debug
  flake.nix
  nix/overlays.nix
Labels: nix

hyprtester: add arg parsing, allow cmake install
  hyprtester/CMakeLists.txt
  hyprtester/src/main.cpp
Labels: none

nix/tests: sorry attempt at using hyprtester
  nix/tests/default.nix
Labels: nix

CMake: enable testing
  CMakeLists.txt
Labels: none

hyprtester: allow running as root
  hyprtester/src/main.cpp
Labels: none

e
  hyprtester/src/main.cpp
Labels: none

Nix/hyprtester: build in debug mode
  nix/hyprtester.nix
Labels: nix

CI/Nix: rename test
  .github/workflows/nix-ci.yml
Labels: none

nix: add hyprtester
  flake.nix
  nix/hyprtester.nix
  nix/overlays.nix
Labels: nix

add test to ctest XDDDDDDDDDDDDDDDDDD
  CMakeLists.txt
Labels: none

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
