Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

CI/Nix/test: always upload artifacts
  .github/workflows/nix-test.yml
Labels: none

CI/Nix: try to share cache between jobs
  .github/workflows/nix-build.yml
  .github/workflows/nix-test.yml
Labels: none

Nix/tests: remove execute timeout
  nix/tests/default.nix
Labels: nix

flush output for live tests
  hyprtester/src/Log.hpp
  hyprtester/src/main.cpp
  hyprtester/src/tests/main/groups.cpp
  hyprtester/src/tests/main/window.cpp
  hyprtester/src/tests/main/workspaces.cpp
  hyprtester/src/tests/plugin/plugin.cpp
  hyprtester/src/tests/shared.hpp
Labels: none

test
  hyprtester/src/tests/main/workspaces.cpp
Labels: none

properly follow tearing control protocol
  src/protocols/TearingControl.cpp
  src/protocols/TearingControl.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
Labels: protocols, core

move all direct scanout allowed code to attemptDirectScanout
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
Labels: core, helpers, render

allow tearing while direct scanout happens
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

make scanout cursor commits not use tearing cause: "nO pRoP cAn Be ChAnGeD dUrInG AsYnC fLiP" on crtc_x
  src/helpers/Monitor.cpp
Labels: core, helpers

move to better tearing mechanism, old stuff wasn't needed anymore
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/PresentationTime.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, debug, events, helpers, render

fix(renderer): clamp rounding_power
  src/desktop/Window.cpp
Labels: core, desktop

Nix/tests: use default hyprtester config
  nix/tests/default.nix
  nix/tests/test.conf
Labels: nix

renderer: reduce a lot of glcalls and cache various states (#10757)
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/hyprerror/HyprError.cpp
  src/macros.hpp
  src/render/Framebuffer.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/Shader.hpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/shaders/glsl/blur1.frag
  src/render/shaders/glsl/blur2.frag
  src/render/shaders/glsl/blurfinish_legacy.frag
  src/render/shaders/glsl/blurprepare_legacy.frag
  src/render/shaders/glsl/border_legacy.frag
  src/render/shaders/glsl/ext.frag
  src/render/shaders/glsl/glitch.frag
  src/render/shaders/glsl/passthru.frag
  src/render/shaders/glsl/quad.frag
  src/render/shaders/glsl/rgba.frag
  src/render/shaders/glsl/rgbamatte.frag
  src/render/shaders/glsl/rgbx.frag
  src/render/shaders/glsl/shadow_legacy.frag
  src/render/shaders/glsl/tex.vert
  src/render/shaders/glsl/tex300.vert
  src/render/shaders/glsl/tex320.vert
Labels: core, debug, hyprerror, render

seperate direct scanout logic from direct scanout commit code
  src/debug/HyprCtl.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, debug, helpers, render

move shouldDoTearing to CMonitor class
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

actually use the surface state tearing hint lol
  src/desktop/Window.cpp
  src/desktop/Window.hpp
Labels: core, desktop

update hyprctl monitors output
  src/debug/HyprCtl.cpp
Labels: core, debug

use a seperate atomic commit for only hw cursor movement since it doesn't work in the same commit as a tearing flip in current kernel
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/PointerManager.cpp
  src/render/Renderer.cpp
Labels: core, helpers, managers, render

replaced read-only strinds with std::string_view
  hyprctl/main.cpp
Labels: hyprctl

use parseScale for monitorv2
  src/config/ConfigManager.cpp
Labels: core, config

config: use parseScale for monitorv2 (#10852)
  src/config/ConfigManager.cpp
Labels: core, config

hyprctl: replace read-only strings with std::string_view (#10851)
  hyprctl/main.cpp
Labels: hyprctl

protocols/ws: add ext-workspace
  CMakeLists.txt
  protocols/meson.build
  src/Compositor.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/helpers/Monitor.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/ExtWorkspace.cpp
  src/protocols/ExtWorkspace.hpp
  src/protocols/core/Output.cpp
  src/protocols/core/Output.hpp
Labels: protocols, core, desktop, helpers, managers

misc tests
  hyprtester/src/main.cpp
  hyprtester/src/tests/main/misc.cpp
  hyprtester/src/tests/main/tests.hpp
  hyprtester/src/tests/main/workspaces.cpp
  hyprtester/src/tests/shared.cpp
  hyprtester/src/tests/shared.hpp
Labels: none

try
  hyprtester/src/tests/main/misc.cpp
Labels: none

cf
  hyprtester/src/main.cpp
  hyprtester/src/tests/shared.hpp
Labels: none

protocols: add ext-workspace implementation (#10818)
  CMakeLists.txt
  protocols/meson.build
  src/Compositor.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/helpers/Monitor.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/ExtWorkspace.cpp
  src/protocols/ExtWorkspace.hpp
  src/protocols/core/Output.cpp
  src/protocols/core/Output.hpp
Labels: protocols, core, desktop, helpers, managers

tests: better
  hyprtester/src/shared.hpp
  hyprtester/src/tests/main/groups.cpp
  hyprtester/src/tests/main/misc.cpp
  hyprtester/src/tests/main/window.cpp
  hyprtester/src/tests/main/workspaces.cpp
Labels: none

renderer: clamp rounding_power (#10816)
  src/desktop/Window.cpp
Labels: core, desktop

Core: Add a test suite (#9297)
  .github/workflows/nix-ci.yml
  .github/workflows/nix-test.yml
  CMakeLists.txt
  flake.lock
  flake.nix
  hyprtester/CMakeLists.txt
  hyprtester/plugin/Makefile
  hyprtester/plugin/build.sh
  hyprtester/plugin/src/globals.hpp
  hyprtester/plugin/src/main.cpp
  hyprtester/src/Log.hpp
  hyprtester/src/hyprctlCompat.cpp
  hyprtester/src/hyprctlCompat.hpp
  hyprtester/src/main.cpp
  hyprtester/src/shared.hpp
  hyprtester/src/tests/main/groups.cpp
  hyprtester/src/tests/main/misc.cpp
  hyprtester/src/tests/main/tests.hpp
  hyprtester/src/tests/main/window.cpp
  hyprtester/src/tests/main/workspaces.cpp
  hyprtester/src/tests/plugin/plugin.cpp
  hyprtester/src/tests/plugin/plugin.hpp
  hyprtester/src/tests/shared.cpp
  hyprtester/src/tests/shared.hpp
  hyprtester/test.conf
  nix/hyprtester.nix
  nix/overlays.nix
  nix/tests/default.nix
Labels: nix

hyprctl: print control point information (#10413)
  src/debug/HyprCtl.cpp
Labels: core, debug

CI/Nix: separate xdph from hl
  .github/workflows/nix-build.yml
  .github/workflows/nix-ci.yml
  .github/workflows/nix.yml
Labels: none

CI/Nix: separate xdph from hl
  .github/workflows/nix-build.yml
  .github/workflows/nix-ci.yml
  .github/workflows/nix.yml
Labels: none

snap: move `gapOffset` logic outside of for loop
  src/layout/IHyprLayout.cpp
Labels: core, layout

snap: move `gapOffset` logic outside of for loop (#10861)
  src/layout/IHyprLayout.cpp
Labels: core, layout

README: update previews
  README.md
Labels: none

tester: simplify adding test files
  hyprtester/src/main.cpp
  hyprtester/src/tests/main/groups.cpp
  hyprtester/src/tests/main/misc.cpp
  hyprtester/src/tests/main/tests.hpp
  hyprtester/src/tests/main/window.cpp
  hyprtester/src/tests/main/workspaces.cpp
Labels: none

CI/Nix: fix rebase oopsie
  .github/workflows/nix.yml
Labels: none

WIP: input capture
  .gitmodules
  CMakeLists.txt
  src/managers/PointerManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
  src/protocols/core/Output.cpp
Labels: protocols, core, managers

input-capture: impl keyboard, mouse button & mouse wheel
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
