Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

internal: Fix change group current fullscreen state query (#7802)
  src/desktop/Window.cpp
Labels: core, desktop

Format
  src/helpers/Monitor.cpp
Labels: core, helpers

internal: Delay monitor events/hooks (#7797) * Delay monitor messages * Format
  src/helpers/Monitor.cpp
Labels: core, helpers

internal: Delay monitor events/hooks (#7797)
  src/helpers/Monitor.cpp
Labels: core, helpers

Made requested changes
  src/xwayland/Server.cpp
Labels: core, xwayland

e
  src/managers/PointerManager.cpp
Labels: core, managers

dispatcher: allow moveintogroup when floating
  src/managers/KeybindManager.cpp
Labels: core, managers

removed braces
  src/xwayland/Server.cpp
Labels: core, xwayland

hyprctl: allow parsing empty value fixes #7821
  src/debug/HyprCtl.cpp
Labels: core, debug

hyprctl: allow parsing empty value
  src/debug/HyprCtl.cpp
Labels: core, debug

data-device: conform to reported source actions
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
Labels: protocols, core

data-device: conform to reported source actions fixes #7815
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
Labels: protocols, core

core: fix crash on monitor removed with gamma control
  src/protocols/GammaControl.cpp
Labels: protocols, core

gammactrl: fix potential crash on monitor removed (#7828)
  src/protocols/GammaControl.cpp
Labels: protocols, core

gammactrl: fix potential crash on monitor removed (#7828)
  src/protocols/GammaControl.cpp
Labels: protocols, core

fix
  src/xwayland/Server.cpp
Labels: core, xwayland

Ok this time is fixed
  src/xwayland/Server.cpp
Labels: core, xwayland

dispatchers: allow moveintogroup when floating (#7818)
  src/managers/KeybindManager.cpp
Labels: core, managers

dispatchers: allow moveintogroup when floating (#7818) This allows to use the moveintogroup dispatcher when windows are floating. I don't know why was this disabled in the first place though. Cheers!
  src/managers/KeybindManager.cpp
Labels: core, managers

userchecks: add an xdg_current_desktop check
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

Formatting
  src/xwayland/Server.cpp
Labels: core, xwayland

flake.lock: update aquamarine
  flake.lock
Labels: none

flake.lock: update aquamarine
  flake.lock
Labels: none

flake.nix: inherit stdenv from package
  flake.nix
Labels: none

flake.nix: inherit stdenv from package Means we no longer have to change the base stdenv in two places.
  flake.nix
Labels: none

Nix: disable PCH
  nix/default.nix
Labels: nix

Nix: disable PCH
  nix/default.nix
Labels: nix

Nix: fix meson PCH flag
  nix/default.nix
Labels: nix

Nix: fix meson PCH flag
  nix/default.nix
Labels: nix

e
  src/managers/PointerManager.cpp
Labels: core, managers

xwayland: Some readability improvements (#7807) * Readability improvements xwayland server * Made requested changes * removed braces * fix * Ok this time is fixed * Formatting
  src/xwayland/Server.cpp
Labels: core, xwayland

xwayland: Some readability improvements (#7807)
  src/xwayland/Server.cpp
Labels: core, xwayland

pointermgr: Hide hardware cursor on leave (#7806)
  src/managers/PointerManager.cpp
Labels: core, managers

pointermgr: Hide hardware cursor on leave (#7806)
  src/managers/PointerManager.cpp
Labels: core, managers

fix: use proper path for the XWayland sockets, fixes #7849
  src/xwayland/Server.cpp
Labels: core, xwayland

xwayland: use proper path for the XWayland sockets (#7852)
  src/xwayland/Server.cpp
Labels: core, xwayland

xwayland: use proper path for the XWayland sockets (#7852) fixes #7849
  src/xwayland/Server.cpp
Labels: core, xwayland

args: add --version to binary args
  src/main.cpp
Labels: core

args: add --version to binary args
  src/main.cpp
Labels: core

version: log build aquamarine version
  CMakeLists.txt
  src/debug/HyprCtl.cpp
  src/main.cpp
Labels: core, debug
