Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

sessionLock: focus lock on creation based on mouse position (#6658) * sessionLock: focus lock on creation based on mouse position * sessionLock: immediately unfocus any focused surfaces on lock
  src/managers/SessionLockManager.cpp
Labels: core, managers

sessionLock: focus lock on creation based on mouse position (#6658)
  src/managers/SessionLockManager.cpp
Labels: core, managers

pointer-constraints: keep constraint alive until actual destruction
  src/protocols/PointerConstraints.cpp
Labels: protocols, core

fix: never switch to another monitor
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds: never switch to another monitor with per_monitor (#6665) Co-authored-by: Крылов Александр <aleksandr.krylov@hyperus.team>
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds: never switch to another monitor with per_monitor (#6665)
  src/managers/KeybindManager.cpp
Labels: core, managers

fix: move to prev ws, moved to same mon
  src/managers/KeybindManager.cpp
Labels: core, managers

refactor: max coords to vector
  src/managers/PointerManager.cpp
Labels: core, managers

pointer-constraint: default to persistent lifetime instead
  src/protocols/PointerConstraints.cpp
  src/protocols/PointerConstraints.hpp
Labels: protocols, core

watchdog: dont detach and cause race condition
  src/helpers/Watchdog.cpp
Labels: core, helpers

render: add checks for compositor shutting down
  src/render/Renderbuffer.cpp
  src/render/Texture.cpp
Labels: core, render

core: fix a few ubsan issues reported at exit of hyprland (#6699)
  src/helpers/Watchdog.cpp
  src/render/Renderbuffer.cpp
  src/render/Texture.cpp
Labels: core, helpers, render

pointer-constraint: set lifetime correctly ref #6679
  src/protocols/PointerConstraints.cpp
  src/protocols/PointerConstraints.hpp
Labels: protocols, core

pointer-constraint: set lifetime correctly
  src/protocols/PointerConstraints.cpp
  src/protocols/PointerConstraints.hpp
Labels: protocols, core

input: fix capabilities enum types passed hyprland down to the seat protocol impl expects IHID capabilities, not WL_ ones ref #6702 #6196
  src/managers/input/InputManager.cpp
Labels: core, managers

input: fix capabilities enum types passed
  src/managers/input/InputManager.cpp
Labels: core, managers

Customizable directional window resize logic
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

Remove log
  src/events/Misc.cpp
Labels: core, events

Fix listener_sessionActive to handle an event correctly when the session get inactivated
  src/events/Misc.cpp
  src/managers/KeybindManager.cpp
Labels: core, events, managers

Fix #6279: prevent sending keymap or repeat info events by keyboards without keyboard capability
  src/protocols/core/Seat.cpp
Labels: protocols, core

Remove brackets
  src/protocols/core/Seat.cpp
Labels: protocols, core

session: fix activate events being always treated as on (#6696) * Fix listener_sessionActive to handle an event correctly when the session get inactivated * Remove log
  src/events/Misc.cpp
  src/managers/KeybindManager.cpp
Labels: core, events, managers

session: fix activate events being always treated as on (#6696)
  src/events/Misc.cpp
  src/managers/KeybindManager.cpp
Labels: core, events, managers

seat: don't send keyboard data without a keyboard cap (#6697) * Fix #6279: prevent sending keymap or repeat info events by keyboards without keyboard capability * Remove brackets
  src/protocols/core/Seat.cpp
Labels: protocols, core

seat: don't send keyboard data without a keyboard cap (#6697)
  src/protocols/core/Seat.cpp
Labels: protocols, core

add drm backend to requests
  src/Compositor.cpp
Labels: core

bring back renderer session scan
  src/render/Renderer.cpp
Labels: core, render

minor fixes for new drm stuff
  src/Compositor.cpp
  src/render/Renderer.cpp
Labels: core, render

restore vt switching
  src/managers/KeybindManager.cpp
Labels: core, managers

get dma formats from aq
  src/helpers/Format.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/MesaDRM.cpp
  src/render/OpenGL.cpp
Labels: protocols, core, helpers, render

stuff I already forgot what I did
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

minor fixes for wl
  src/render/Renderer.cpp
Labels: core, render

update key state on key events to have mods working in drm
  src/devices/IKeyboard.hpp
  src/devices/Keyboard.cpp
Labels: core, devices

new event api
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, managers

switches
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/events/Devices.cpp
  src/helpers/WLClasses.hpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, debug, events, helpers, managers

fix hw cursors with new aq stuff
  src/managers/PointerManager.cpp
Labels: core, managers

fix dt issues
  src/render/Renderer.cpp
Labels: core, render

reenable direct scanout
  src/render/Renderer.cpp
Labels: core, render

ye test
  src/render/Renderer.cpp
Labels: core, render

use auto format for cursor
  src/managers/PointerManager.cpp
Labels: core, managers
