Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

restore vt switching
  src/managers/KeybindManager.cpp
Labels: core, managers

get dma formats from aq
  src/helpers/Format.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/MesaDRM.cpp
  src/render/OpenGL.cpp
Labels: protocols, core, helpers, render

minor fixes for new drm stuff
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/render/Renderer.cpp
Labels: core, debug, render

bring back renderer session scan
  src/render/Renderer.cpp
Labels: core, render

gamma done
  src/protocols/GammaControl.cpp
  src/protocols/GammaControl.hpp
Labels: protocols, core

le oops
  patch.txt
Labels: none

avoid crash on monitor unplug
  src/events/Monitors.cpp
Labels: core, events

keyboard mod fixes
  src/debug/HyprCtl.cpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/devices/Keyboard.cpp
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, debug, devices, managers

stuf2
  src/Compositor.cpp
Labels: core

tablets and shit
  patch.txt
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/devices/Tablet.cpp
  src/devices/Tablet.hpp
  src/events/Devices.cpp
  src/events/Events.hpp
  src/events/Misc.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/managers/input/Tablets.cpp
  src/protocols/Tablet.cpp
  src/protocols/Tablet.hpp
Labels: protocols, core, debug, devices, events, managers

use auto format for cursor
  src/managers/PointerManager.cpp
Labels: core, managers

new event api
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, managers

stuf
  src/Compositor.cpp
Labels: core

fix trailing comme, thanks VirtCode
  src/debug/HyprCtl.cpp
Labels: core, debug

minor fixes for wl
  src/render/Renderer.cpp
Labels: core, render

stuf3
  src/managers/KeybindManager.cpp
Labels: core, managers

fix nullptr deref
  src/helpers/Monitor.cpp
Labels: core, helpers

update key state on key events to have mods working in drm
  src/devices/IKeyboard.hpp
  src/devices/Keyboard.cpp
Labels: core, devices

ye
  src/debug/HyprCtl.cpp
Labels: core, debug

コードスタイル
  src/devices/Keyboard.cpp
  src/devices/Tablet.cpp
  src/helpers/Monitor.cpp
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, devices, helpers, managers

stuff
  src/desktop/Window.cpp
  src/events/Monitors.cpp
Labels: core, desktop, events

fixes
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/devices/Keyboard.cpp
  src/managers/input/InputManager.cpp
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core, devices, managers

add drm backend to requests
  src/Compositor.cpp
Labels: core

support headless
  src/Compositor.cpp
Labels: core

stuff I already forgot what I did
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

ye test
  src/render/Renderer.cpp
Labels: core, render

fix dt issues
  src/render/Renderer.cpp
Labels: core, render

fixado
  src/events/Misc.cpp
Labels: core, events

switches
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/events/Devices.cpp
  src/helpers/WLClasses.hpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, debug, events, helpers, managers

Nix: add aquamarine
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays.nix
Labels: nix

fix crasherino
  src/Compositor.cpp
  src/devices/IKeyboard.cpp
  src/managers/input/InputManager.cpp
Labels: core, devices, managers

some format fixes
  src/protocols/LinuxDMABUF.cpp
  src/protocols/MesaDRM.cpp
Labels: protocols, core

bring back hyprctl output
  src/debug/HyprCtl.cpp
  src/events/Monitors.cpp
Labels: core, debug, events

stuffZ
  src/Compositor.cpp
Labels: core

xcursor stuff
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/protocols/CursorShape.cpp
Labels: protocols, core, managers

nix: drop unused script after 589f758d947c
  nix/update-wlroots.sh
Labels: nix

cursorsss
  src/managers/PointerManager.cpp
Labels: core, managers

flake.lock: update aquamarine
  flake.lock
Labels: none

stuf
  src/config/ConfigManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMSyncobj.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, managers, render

leases
  CMakeLists.txt
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMLease.cpp
  src/protocols/DRMLease.hpp
Labels: protocols, core, helpers, managers

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
