Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

presentation-feedback: minor fixups
  src/helpers/Monitor.cpp
  src/protocols/PresentationTime.cpp
  src/protocols/PresentationTime.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

keybinds: fixup misused kb state
  src/managers/KeybindManager.cpp
Labels: core, managers

pch
  src/render/Renderer.hpp
Labels: core, render

render unfocused wr
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/eventLoop/EventLoopTimer.cpp
  src/managers/eventLoop/EventLoopTimer.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, desktop, managers, render

Move entire area search to a function. Enable tablet to map 'entire'.
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
Labels: core, managers

e
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

e2
  src/render/Renderer.cpp
Labels: core, render

config: Add a window rule to render while unfocused (#7582)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/eventLoop/EventLoopTimer.cpp
  src/managers/eventLoop/EventLoopTimer.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, desktop, managers, render

config: Add a window rule to render while unfocused (#7582)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/eventLoop/EventLoopTimer.cpp
  src/managers/eventLoop/EventLoopTimer.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, desktop, managers, render

meson: explicitly specify path for find(1)
  assets/install/meson.build
Labels: assets

meson: explicitly specify path for find(1) (#7590) assets/install/meson.build:1:10: ERROR: Command `/bin/sh -c 'find -type f -not -name "*.build"'` failed with status 1.
  assets/install/meson.build
Labels: assets

meson: explicitly specify path for find(1) (#7590)
  assets/install/meson.build
Labels: assets

CI: clarify Nix CI jobs; disable on forked repositories
  .github/workflows/nix-build.yml
  .github/workflows/nix-ci.yml
  .github/workflows/nix-update-inputs.yml
Labels: none

fix ds, oops
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

renderer: minor direct scanout fixes (#7594)
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

renderer: minor direct scanout fixes (#7594)
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

Fixed selection mismatch during 'wlr reset primary selection'.
  src/protocols/DataDeviceWlr.cpp
Labels: protocols, core

CI: clarify Nix CI jobs; disable on forked repositories
  .github/workflows/nix-build.yml
  .github/workflows/nix-ci.yml
  .github/workflows/nix-update-inputs.yml
Labels: none

CI: clarify Nix CI jobs; disable on forked repositories
  .github/workflows/nix-build.yml
  .github/workflows/nix-ci.yml
  .github/workflows/nix-update-inputs.yml
Labels: none

destroy new xdgDialog protocol at right time
  src/managers/ProtocolManager.cpp
Labels: core, managers

syncobj: wait for deadline instead of available avoids slow apps from lagging the desktop
  src/protocols/DRMSyncobj.cpp
Labels: protocols, core

syncobj: wait for deadline instead of available
  src/protocols/DRMSyncobj.cpp
Labels: protocols, core

fix crash on monitor removed with gammaControl
  src/protocols/GammaControl.cpp
  src/protocols/GammaControl.hpp
Labels: protocols, core

protocols: destroy new xdgDialog protocol at right time (#7600)
  src/managers/ProtocolManager.cpp
Labels: core, managers

protocols: destroy new xdgDialog protocol at right time (#7600)
  src/managers/ProtocolManager.cpp
Labels: core, managers

Update GammaControl.cpp
  src/protocols/GammaControl.cpp
Labels: protocols, core

data-device: Fix selection mismatch when wlr resets primary selection (#7598)
  src/protocols/DataDeviceWlr.cpp
Labels: protocols, core

data-device: Fix selection mismatch when wlr resets primary selection (#7598)
  src/protocols/DataDeviceWlr.cpp
Labels: protocols, core

core: fix crash on monitor removed with gammaControl (#7601) * fix crash on monitor removed with gammaControl * Update GammaControl.cpp
  src/protocols/GammaControl.cpp
  src/protocols/GammaControl.hpp
Labels: protocols, core

core: fix crash on monitor removed with gammaControl (#7601)
  src/protocols/GammaControl.cpp
  src/protocols/GammaControl.hpp
Labels: protocols, core

xwm: read atom name from xcb
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

xwm: read atom name from xcb (#7546)
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

hyprpm: add pkg-config at dependencies error
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

textinput: send deactivate to ime on destory ti
  src/managers/input/TextInput.cpp
Labels: core, managers

flake.lock: update
  flake.lock
  nix/default.nix
Labels: nix

flake.lock: update
  flake.lock
  nix/default.nix
Labels: nix

flake.lock: update xdph
  flake.lock
Labels: none

flake.lock: update xdph
  flake.lock
Labels: none

flake.lock: update xdph again
  flake.lock
Labels: none

flake.lock: update xdph again
  flake.lock
Labels: none
