Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

syncobj: dont crash compositor on protocol errors (#9627)
  src/protocols/DRMSyncobj.cpp
Labels: protocols, core

groupbar: add an option to adjust gap sizes (#9578)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

input: fix touch calibration matrix overriding
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, managers

monitor: Optimize direct scanout damage (#9653)
  src/helpers/Monitor.cpp
Labels: core, helpers

renderer: add simple color management (#9506)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/ColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Shader.hpp
  src/render/pass/SurfacePassElement.cpp
  src/render/shaders/CM.frag
  src/render/shaders/Textures.hpp
Labels: protocols, core, config, helpers, render

Nix: add changes from Nixpkgs derivation
  nix/default.nix
Labels: nix

renderer: fix cm_fs_passthrough (#9698)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, config, render

core/compositor: Correctly track SHM buffer damage (#9678)
  src/desktop/WLSurface.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/Viewporter.cpp
  src/protocols/XDGShell.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/xwayland/XSurface.cpp
Labels: protocols, core, desktop, events, helpers, render, xwayland

types: Upgrade buffer ref from WP to SP (#9677)
  src/helpers/Monitor.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

hyprpm: return 1 when plugins are outdated (#9694)
  hyprpm/src/main.cpp
Labels: hyprpm

Meson: include frags in globber
  meson.build
Labels: none

core/Compositor.hpp: fix non-relative Texture import (#9703)
  src/protocols/core/Compositor.hpp
Labels: protocols, core

opengl: simplify cm pipeline
  src/render/OpenGL.cpp
  src/render/Shader.hpp
  src/render/shaders/CM.frag
Labels: core, render

syncobj: use eventfd instead of stalling fd checks (#9437)
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/SurfaceState.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, config, helpers, render

renderer: allow commits when buffer is unchanged but cursor changed (#9648)
  src/helpers/Monitor.cpp
Labels: core, helpers

example/hyprland.conf: windowrulev2 -> windowrule (#9662)
  example/hyprland.conf
Labels: none

internal: Fix compiler warnings (#9646)
  src/helpers/Monitor.cpp
  src/macros.hpp
  src/plugins/PluginAPI.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/PointerConstraints.hpp
  src/protocols/XDGActivation.hpp
  src/protocols/core/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, helpers, plugins, xwayland

descriptions: remove allow_early_buffer_release
  src/config/ConfigDescriptions.hpp
Labels: core, config

version: bump to 0.48.0
  VERSION
Labels: none

splashes: update for 3ya
  src/helpers/Splashes.hpp
Labels: core, helpers

groupbar: remove recursive window recalc (#9561)
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

renderer: add an option to disable cm and auto-skip cm if not necessary
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/ProtocolManager.cpp
  src/render/OpenGL.cpp
Labels: core, config, managers, render

CMake: install frag files (for real this time)
  CMakeLists.txt
Labels: none

dmabuf: pop buffer on failure (#9620)
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

input: Fix clicking through groupbar tabs (#9606)
  src/managers/input/InputManager.cpp
Labels: core, managers

XWayland: restore the abstract socket, and make it optional (#9615)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/xwayland/Server.cpp
Labels: core, config, xwayland

windows: respect noinitialfocus with workspace changes (#9586)
  src/events/Windows.cpp
Labels: core, events

CMake: install frag files
  CMakeLists.txt
Labels: none

groupbar: remove 2 pixel gap above groupbar (#9664)
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

core: fix DS and VRR automation (#9334)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

syncobj: restore SHM buffer reset (#9675)
  src/helpers/Monitor.hpp
  src/protocols/core/Compositor.cpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

renderer: Simplify and fix hdr metadata setting (#9706)
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, render

nix: mesa -> libgbm (#9612)
  nix/default.nix
Labels: nix

nix: remove wayland-protocols overlay and bump flake (#9613)
  flake.lock
  nix/overlays.nix
Labels: nix

swipe: fix prev workspace remembering
  src/managers/input/Swipe.cpp
Labels: core, managers

helpers: Add an async dialog box impl (#9919)
  CMakeLists.txt
  flake.lock
  meson.build
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, helpers, managers

surfacestate: reset buffer bit before applying to current
  src/protocols/types/SurfaceState.cpp
Labels: protocols, core

makefile: add new shaders to `make installheaders` (#9783)
  Makefile
Labels: none

xwl: dont close the fd to early (#9715)
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
Labels: core, xwayland

CursorManager: Store cursor pixel data retrieved from X/HC as a copy (#9986)
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
Labels: core, managers

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
