Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

fix shader access
  src/render/OpenGL.cpp
Labels: core, render

add color-management-v1 proto
  CMakeLists.txt
  protocols/color-management-v1.xml
  protocols/meson.build
Labels: protocols

fix hdr blur
  assets/install/shaders/CM.glsl
  assets/install/shaders/blurfinish.frag
  assets/install/shaders/blurprepare.frag
  src/render/OpenGL.cpp
Labels: assets, core, render

blur cm
  assets/install/shaders/blurfinish.frag
  assets/install/shaders/blurfinish_legacy.frag
  assets/install/shaders/blurprepare.frag
  assets/install/shaders/blurprepare_legacy.frag
  assets/install/shaders/rgba.frag
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: assets, core, render

render:use_color_management
  src/render/OpenGL.cpp
Labels: core, render

add cm_fs_passthrough=2 - pass only HDR apps
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, config, render

fix install shaders to subfolder
  CMakeLists.txt
  assets/shaders/CM.frag
  assets/shaders/CM.glsl
  assets/shaders/blur1.frag
  assets/shaders/blur2.frag
  assets/shaders/blurfinish.frag
  assets/shaders/blurfinish_legacy.frag
  assets/shaders/blurprepare.frag
  assets/shaders/blurprepare_legacy.frag
  assets/shaders/border.frag
  assets/shaders/border_legacy.frag
  assets/shaders/ext.frag
  assets/shaders/glitch.frag
  assets/shaders/passthru.frag
  assets/shaders/quad.frag
  assets/shaders/rgba.frag
  assets/shaders/rgbamatte.frag
  assets/shaders/rgbx.frag
  assets/shaders/rounding.glsl
  assets/shaders/shadow.frag
  assets/shaders/shadow_legacy.frag
  assets/shaders/tex.vert
  assets/shaders/tex320.vert
  src/render/OpenGL.cpp
Labels: assets, core, render

fix setting name
  src/render/OpenGL.cpp
Labels: core, render

always load CM shader as dynamic
  src/render/OpenGL.cpp
Labels: core, render

fallback to old shaders based on m_bCMSupported
  src/render/OpenGL.cpp
Labels: core, render

extract shaders, remove headers
  assets/install/shaders/blur1.frag
  assets/install/shaders/blur2.frag
  assets/install/shaders/blurfinish.frag
  assets/install/shaders/blurprepare.frag
  assets/install/shaders/ext.frag
  assets/install/shaders/glitch.frag
  assets/install/shaders/passthru.frag
  assets/install/shaders/quad.frag
  assets/install/shaders/rgba.frag
  assets/install/shaders/rgbamatte.frag
  assets/install/shaders/rgbx.frag
  assets/install/shaders/shadow_legacy.frag
  assets/install/shaders/tex.vert
  assets/install/shaders/tex320.vert
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shaders.hpp
  src/render/shaders/Border.hpp
  src/render/shaders/Shadow.hpp
  src/render/shaders/SharedValues.hpp
  src/render/shaders/Textures.hpp
Labels: assets, core, render

do not crash on failed shader reload
  src/render/OpenGL.cpp
Labels: core, render

handle gles2 shader versions
  assets/install/shaders/border_legacy.frag
  assets/install/shaders/shadow_legacy.frag
  src/render/OpenGL.cpp
Labels: assets, core, render

rebase cleanup
  assets/shaders/CM.frag
  src/render/OpenGL.cpp
Labels: assets, core, render

fix rebase
  src/render/OpenGL.cpp
Labels: core, render

lower es version requirements
  assets/shaders/CM.frag
  assets/shaders/blurfinish.frag
  assets/shaders/blurprepare.frag
  assets/shaders/border.frag
  assets/shaders/shadow.frag
  assets/shaders/tex300.vert
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: assets, core, render

fix hdr metadata switch
  src/render/Renderer.cpp
Labels: core, render

syncobj: refactor point timelines
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
Labels: protocols, core, helpers

syncobj: refactor point timelines (#9689) no need to store the resource, just store the csynctimeline as a shared pointer and make the timeline own the syncobj fd.
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
Labels: protocols, core, helpers

syncobj: refactor point timelines (#9689)
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
Labels: protocols, core, helpers

core: Correctly track SHM buffer damage
  src/desktop/WLSurface.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/Viewporter.cpp
  src/protocols/XDGShell.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/xwayland/XSurface.cpp
Labels: protocols, core, desktop, events, helpers, render, xwayland

hyprpm: return 1 when plugins are outdated
  hyprpm/src/main.cpp
Labels: hyprpm

include shaders it the source
  .gitignore
  CMakeLists.txt
  meson.build
  scripts/generateShaderIncludes.sh
  src/render/OpenGL.cpp
Labels: core, render

screencast: wait for fence if explicit sync
  src/protocols/Screencopy.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: protocols, core, render

fix shader dir
  scripts/generateShaderIncludes.sh
Labels: none

screencopy, render: Use explicit sync for screencopy
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/core/Compositor.cpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

screencopy: Check if explicit sync is enabled
  src/protocols/Screencopy.cpp
Labels: protocols, core

screencopy: Don't require explicit KMS enabled
  src/protocols/Screencopy.cpp
  src/render/Renderer.cpp
Labels: protocols, core, render

clang-formatted
  hyprpm/src/main.cpp
Labels: hyprpm

screencopy, render: Use explicit sync for screencopy (#9697)
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/core/Compositor.cpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

hyprpm: return 1 when plugins are outdated (#9694)
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: return 1 when plugins are outdated (#9694) * hyprpm: return 1 when plugins are outdated * clang-formatted
  hyprpm/src/main.cpp
Labels: hyprpm

don't install shaders with cmake
  CMakeLists.txt
Labels: none

Revert "Meson: install shaders"
  assets/meson.build
  assets/shaders/meson.build
Labels: assets

core/compositor: Correctly track SHM buffer damage (#9678)
  src/desktop/WLSurface.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/Viewporter.cpp
  src/protocols/XDGShell.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/xwayland/XSurface.cpp
Labels: protocols, core, desktop, events, helpers, render, xwayland

core/compositor: Correctly track SHM buffer damage (#9678)
  src/desktop/WLSurface.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/Viewporter.cpp
  src/protocols/XDGShell.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/xwayland/XSurface.cpp
Labels: protocols, core, desktop, events, helpers, render, xwayland

install includable shaders
  CMakeLists.txt
  meson.build
Labels: none

fix cm_fs_passthrough
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, config, render

renderer: fix cm_fs_passthrough (#9698)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, config, render

renderer: fix cm_fs_passthrough (#9698)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, config, render

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
