Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

Bump required w-p version to 1.40
  protocols/meson.build
Labels: protocols

Update code to use amended ext-idle-notify protocol
  src/managers/ProtocolManager.cpp
  src/protocols/IdleNotify.cpp
  src/protocols/IdleNotify.hpp
Labels: protocols, core, managers

keybinds: movewindow respect gaps out for floating windows
  src/managers/KeybindManager.cpp
Labels: core, managers

fixup! random space
  src/managers/KeybindManager.cpp
Labels: core, managers

seperate gap values for float
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

fixup! seperate gap values for float
  src/config/ConfigManager.hpp
Labels: core, config

new lib
  nix/lib.nix
  nix/module.nix
Labels: nix

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

nix/overlays: add wayland-protocols overlay
  nix/overlays.nix
Labels: nix

nix/overlays: add wayland-protocols overlay
  nix/overlays.nix
Labels: nix

set cache
  .github/workflows/ci.yaml
Labels: none

try more stuff
  .github/workflows/ci.yaml
Labels: none

install mesa
  .github/workflows/ci.yaml
Labels: none

Bump required w-p version to 1.40
  protocols/meson.build
Labels: protocols

Update code to use amended ext-idle-notify protocol
  src/managers/ProtocolManager.cpp
  src/protocols/IdleNotify.cpp
  src/protocols/IdleNotify.hpp
Labels: protocols, core, managers

protocols: add version 2 of ext-idle-notify-v1 protocol (#8959) Signed-off-by: James Ramsey <james.jehiel.ramsey@gmail.com> Co-authored-by: James Ramsey <james.jehiel.ramsey@gmail.com>
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/IdleNotify.cpp
  src/protocols/IdleNotify.hpp
Labels: protocols, core, managers

protocols: add version 2 of ext-idle-notify-v1 protocol (#8959)
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/IdleNotify.cpp
  src/protocols/IdleNotify.hpp
Labels: protocols, core, managers

don't try to list /dev/dri. disable most workflows
  .github/workflows/ci.yaml
  .github/workflows/clang-format.yml
  .github/workflows/labeler.yml
  .github/workflows/nix-ci.yml
  .github/workflows/security-checks.yml
Labels: none

work already
  .github/workflows/ci.yaml
Labels: none

stats
  hyprtester/src/main.cpp
  hyprtester/src/shared.hpp
Labels: none

trigger compositor->ensurePersistentWorkspacesPresent on ws rename
  src/Compositor.cpp
  src/Compositor.hpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
Labels: core, desktop

refactoring
  src/Compositor.cpp
Labels: core

fix(env): move XDG_SESSION_TYPE to before backend init
  src/Compositor.cpp
  src/main.cpp
Labels: core

keybinds: movewindow respect gaps out for floating windows
  src/managers/KeybindManager.cpp
Labels: core, managers

fixup! random space
  src/managers/KeybindManager.cpp
Labels: core, managers

seperate gap values for float
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

fixup! seperate gap values for float
  src/config/ConfigManager.hpp
Labels: core, config

implemented follow_mouse_threshold
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, config, managers

implemented follow_mouse_threshold
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, config, managers

env: move XDG_SESSION_TYPE to before backend init (#9390)
  src/Compositor.cpp
  src/main.cpp
Labels: core

env: move XDG_SESSION_TYPE to before backend init (#9390)
  src/Compositor.cpp
  src/main.cpp
Labels: core

fix(xwayland): prevent clipboard race condition
  src/xwayland/XWM.cpp
Labels: core, xwayland

check that workspace match the rule
  src/Compositor.cpp
Labels: core

renderer: disable explicit if aquamarine output doesn't support it (#9396)
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

session-lock: send locked when in unsafe state
  src/managers/SessionLockManager.cpp
Labels: core, managers

config: actually set initial beziers
  src/config/ConfigManager.cpp
Labels: core, config

animations: sync inactive/active border angles when using borderangle animations
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, render

session-lock: send locked when in unsafe state (#9399)
  src/managers/SessionLockManager.cpp
Labels: core, managers

session-lock: send locked when in unsafe state (#9399)
  src/managers/SessionLockManager.cpp
Labels: core, managers

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
