Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

screencopy: nuke unused stuff
  src/protocols/Screencopy.cpp
Labels: protocols, core

screencopy: nuke unused stuff
  src/protocols/Screencopy.cpp
Labels: protocols, core

protocol: fix logm template checks
  src/protocols/WaylandProtocol.hpp
Labels: protocols, core

protocol: fix logm template checks
  src/protocols/WaylandProtocol.hpp
Labels: protocols, core

screencopy: fix 10b format r/b flip
  src/protocols/Screencopy.cpp
Labels: protocols, core

screencopy: fix 10b format r/b flip
  src/protocols/Screencopy.cpp
Labels: protocols, core

flake: update aquamarine
  flake.lock
Labels: none

flake: update aquamarine
  flake.lock
Labels: none

hyprpm, hyprctl: update shell completions
  hyprctl/hyprctl.bash
  hyprctl/hyprctl.fish
  hyprctl/hyprctl.usage
  hyprctl/hyprctl.zsh
  hyprpm/hyprpm.bash
  hyprpm/hyprpm.fish
  hyprpm/hyprpm.usage
  hyprpm/hyprpm.zsh
Labels: hyprctl, hyprpm

hyprpm, hyprctl: update shell completions
  hyprctl/hyprctl.bash
  hyprctl/hyprctl.fish
  hyprctl/hyprctl.usage
  hyprctl/hyprctl.zsh
  hyprpm/hyprpm.bash
  hyprpm/hyprpm.fish
  hyprpm/hyprpm.usage
  hyprpm/hyprpm.zsh
Labels: hyprctl, hyprpm

fix: use CHOICE for `focus_on_close` config type, remove redundant description
  src/config/ConfigDescriptions.hpp
Labels: core, config

config: add missing header for libc++ after 92744b5b9aa3
  src/config/ConfigManager.hpp
Labels: core, config

feat: more systemd examples
  example/hyprland-session.service
  example/hyprland-systemd.desktop
Labels: none

config: add missing header for libc++ after 92744b5b9aa3 (#7403)
  src/config/ConfigManager.hpp
Labels: core, config

examples: more systemd examples (#7409)
  example/hyprland-session.service
  example/hyprland-systemd.desktop
Labels: none

monitors: avoid crash on wayland output removal
  src/events/Monitors.cpp
Labels: core, events

monitors: avoid crash on wayland output removal
  src/events/Monitors.cpp
Labels: core, events

monitor: avoid dangling references to old monitors being undestroyed ref #7414
  src/Compositor.cpp
  src/events/Events.hpp
  src/events/Monitors.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, events, helpers

monitor: avoid dangling references to old monitors being undestroyed
  src/Compositor.cpp
  src/events/Events.hpp
  src/events/Monitors.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, events, helpers

fix: use corresponding description `data` for `focus_on_close`
  src/config/ConfigDescriptions.hpp
Labels: core, config

Fix static asan patch
  scripts/hyprlandStaticAsan.diff
Labels: none

Fix Makefile too
  Makefile
Labels: none

styl: format `ConfigDescriptions.hpp`
  src/config/ConfigDescriptions.hpp
Labels: core, config

output: dont cast enum out of range
  src/protocols/core/Output.cpp
Labels: protocols, core

Update hyprland.conf
  example/hyprland.conf
Labels: none

Update defaultConfig.hpp
  src/config/defaultConfig.hpp
Labels: core, config

example/config: fix typo in default config (#7446)
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

example/config: fix typo in default config (#7446) * Update hyprland.conf * Update defaultConfig.hpp
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

core: add option to control which window to focus on close (#7368)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
Labels: core, config, events

core: add option to control which window to focus on close (#7368)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
Labels: core, config, events

layersurface: dont rollover on size_t
  src/desktop/LayerSurface.cpp
Labels: core, desktop

output: dont cast enum out of range (#7448)
  src/protocols/core/Output.cpp
Labels: protocols, core

output: dont cast enum out of range (#7448) avoid casting non typed enum out of range, looks like WL_OUTPUT_MODE_CURRENT was the intention here.
  src/protocols/core/Output.cpp
Labels: protocols, core

animations: add workspace in/out configs
  src/config/ConfigManager.cpp
  src/desktop/Workspace.cpp
  src/managers/AnimationManager.cpp
Labels: core, config, desktop, managers

animations: add workspace in/out configs
  src/config/ConfigManager.cpp
  src/desktop/Workspace.cpp
  src/managers/AnimationManager.cpp
Labels: core, config, desktop, managers

Nix: include xcursor regardless of xwayland
  nix/default.nix
Labels: nix

Nix: include xcursor regardless of xwayland
  nix/default.nix
Labels: nix

Fix Makefile too
  Makefile
Labels: none

Fix static asan patch
  scripts/hyprlandStaticAsan.diff
Labels: none

Fix static asan patch
  scripts/hyprlandStaticAsan.diff
Labels: none

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
