Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

xwayland: fixup WM_SIZE_HINTS handling according to ICCCM
  src/managers/XWaylandManager.cpp
Labels: core, managers

xwayland: fixup WM_SIZE_HINTS handling according to ICCCM
  src/managers/XWaylandManager.cpp
Labels: core, managers

CMake, Meson, Nix: replace props.json with VERSION
  CMakeLists.txt
  VERSION
  meson.build
  nix/overlays.nix
  props.json
Labels: nix

gitignore: add CMake residual files
  .gitignore
Labels: none

CMake, Meson, Nix: replace props.json with VERSION
  CMakeLists.txt
  VERSION
  meson.build
  nix/overlays.nix
  props.json
Labels: nix

gitignore: add CMake residual files
  .gitignore
Labels: none

CMake: fmt
  CMakeLists.txt
Labels: none

CMake: fmt
  CMakeLists.txt
Labels: none

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

presentation-feedback: fix invalid values sent after aq merge
  src/protocols/PresentationTime.cpp
  src/protocols/core/Compositor.cpp
Labels: protocols, core

presentation-feedback: fix invalid values sent after aq merge
  src/protocols/PresentationTime.cpp
  src/protocols/core/Compositor.cpp
Labels: protocols, core

xwm: drop invalid case for clearing X focus fixes #6955
  src/xwayland/XWM.cpp
Labels: core, xwayland

xwm: drop invalid case for clearing X focus
  src/xwayland/XWM.cpp
Labels: core, xwayland

wayland/compositor: fixup buffer damage tracking for wl_shm buffers
  src/protocols/core/Compositor.cpp
Labels: protocols, core

wayland/compositor: fixup buffer damage tracking for wl_shm buffers remove qt hack, fixup conditions fixes #6844
  src/protocols/core/Compositor.cpp
Labels: protocols, core

renderer: drop redundant spammy trace log
  src/render/Renderer.cpp
Labels: core, render

renderer: drop redundant spammy trace log
  src/render/Renderer.cpp
Labels: core, render

compositor: ignore setting surface scanout if DS is disabled
  src/Compositor.cpp
  src/render/Renderer.cpp
Labels: core, render

compositor: ignore setting surface scanout if DS is disabled
  src/Compositor.cpp
  src/render/Renderer.cpp
Labels: core, render

fix xwayland black window bug
  src/xwayland/XWM.cpp
Labels: core, xwayland

get rid of 1s in logs lol
  src/Compositor.cpp
  src/desktop/LayerSurface.cpp
  src/helpers/Monitor.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/FractionalScale.cpp
  src/protocols/ToplevelExport.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, desktop, helpers, managers, xwayland

fix: avoid locking 2 wayland sockets
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
Labels: core

format
  src/Compositor.cpp
Labels: core

surface: fixup logical damage size calculations fixes #6618
  src/desktop/WLSurface.cpp
  src/desktop/WLSurface.hpp
  src/render/Renderer.cpp
Labels: core, desktop, render

surface: fixup logical damage size calculations
  src/desktop/WLSurface.cpp
  src/desktop/WLSurface.hpp
  src/render/Renderer.cpp
Labels: core, desktop, render

fix formatting
  src/Compositor.cpp
Labels: core

resend normal state
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

renderer: untransform textures matching display transform
  src/protocols/core/Compositor.cpp
  src/render/OpenGL.cpp
  src/render/Texture.hpp
Labels: protocols, core, render

touch: set lastInputTouch on every event
  src/managers/input/Touch.cpp
Labels: core, managers

touch: set lastInputTouch on every event
  src/managers/input/Touch.cpp
Labels: core, managers

xwm: Fix xwayland black window bug after losing focus (#6966) * fix xwayland black window bug * resend normal state
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

xwm: Fix xwayland black window bug after losing focus (#6966)
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

core: avoid locking 2 wayland sockets (#6971) * fix: avoid locking 2 wayland sockets * format * fix formatting
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
Labels: core

core: avoid locking 2 wayland sockets (#6971)
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
Labels: core

flake: update xdph
  flake.lock
Labels: none

flake: update xdph
  flake.lock
Labels: none

flake: update xdph
  flake.lock
Labels: none

wayland/output: avoid sending events to dead outputs
  src/managers/ProtocolManager.cpp
  src/protocols/core/Output.cpp
  src/protocols/core/Output.hpp
Labels: protocols, core, managers

wayland/output: avoid sending events to dead outputs ref #6835
  src/managers/ProtocolManager.cpp
  src/protocols/core/Output.cpp
  src/protocols/core/Output.hpp
Labels: protocols, core, managers
