Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

CMake: install frag files (for real this time)
  CMakeLists.txt
Labels: none

CMake: install frag files (for real this time)
  CMakeLists.txt
Labels: none

nix/tests: fail test
  nix/tests/default.nix
Labels: nix

nix/tests: propagate exit code, raise exception
  nix/tests/default.nix
Labels: nix

nix/tests: add timeout
  nix/tests/default.nix
Labels: nix

nix/tests: fix hl path
  nix/tests/default.nix
Labels: nix

hyprtester: wait more
  hyprtester/src/main.cpp
Labels: none

managers: Use primary backend for cursor swapchain
  src/managers/PointerManager.cpp
Labels: core, managers

opengl: simplify cm pipeline
  src/render/OpenGL.cpp
  src/render/Shader.hpp
  src/render/shaders/CM.frag
Labels: core, render

opengl: simplify cm pipeline fixes a few mistakes, and skips the CM shader in cpu instead of adding a costly branch ref #9641
  src/render/OpenGL.cpp
  src/render/Shader.hpp
  src/render/shaders/CM.frag
Labels: core, render

build: Update aquamarine dep to >= 0.8.0
  CMakeLists.txt
  meson.build
Labels: none

misc: Fix compiler warnings
  src/helpers/Monitor.cpp
  src/macros.hpp
  src/plugins/PluginAPI.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/PointerConstraints.hpp
  src/protocols/XDGActivation.hpp
  src/protocols/core/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, helpers, plugins, xwayland

when hw cursor is set, a frame is scheduled, but with the same surface buffer causing skip, so skip that
  src/helpers/Monitor.cpp
Labels: core, helpers

renderer: allow commits when buffer is unchanged but cursor changed (#9648)
  src/helpers/Monitor.cpp
Labels: core, helpers

renderer: allow commits when buffer is unchanged but cursor changed (#9648)
  src/helpers/Monitor.cpp
Labels: core, helpers

flake.lock: update
  flake.lock
Labels: none

flake.lock: update aquamarine: bump to 0.8.0 hyprcursor: bump to 0.1.12
  flake.lock
Labels: none

plugins: Revert ABI change and ignore warning
  src/plugins/PluginAPI.hpp
Labels: core, plugins

plugins: Add comment explaining C ABI usage
  src/plugins/PluginAPI.hpp
Labels: core, plugins

groupbar: remove recursive window recalc
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

groupbar: remove recursive window recalc (#9561)
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

groupbar: remove recursive window recalc (#9561)
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

managers: Use primary backend for cursor swapchain (#9645)
  CMakeLists.txt
  meson.build
  src/managers/PointerManager.cpp
Labels: core, managers

managers: Use primary backend for cursor swapchain (#9645)
  CMakeLists.txt
  meson.build
  src/managers/PointerManager.cpp
Labels: core, managers

internal: Fix compiler warnings (#9646)
  src/helpers/Monitor.cpp
  src/macros.hpp
  src/plugins/PluginAPI.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/PointerConstraints.hpp
  src/protocols/XDGActivation.hpp
  src/protocols/core/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, helpers, plugins, xwayland

internal: Fix compiler warnings (#9646)
  src/helpers/Monitor.cpp
  src/macros.hpp
  src/plugins/PluginAPI.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/PointerConstraints.hpp
  src/protocols/XDGActivation.hpp
  src/protocols/core/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, helpers, plugins, xwayland

renderer: delete useless ifdefs
  src/render/Renderer.cpp
Labels: core, render

dnd: some spec changes
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
Labels: protocols, core, managers

misc: format code
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
Labels: protocols, core

monitor: Optimize direct scanout damage
  src/helpers/Monitor.cpp
Labels: core, helpers

only commit hw cursor stuff if needed, otherwise vrr breaks for some reason
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/PointerManager.cpp
Labels: core, helpers, managers

window: extract matching logic and use that
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
Labels: core, desktop, managers

window: format code
  src/desktop/Window.cpp
Labels: core, desktop

style: minor
  src/desktop/Window.cpp
Labels: core, desktop

monitor: Optimize direct scanout damage (#9653)
  src/helpers/Monitor.cpp
Labels: core, helpers

monitor: Optimize direct scanout damage (#9653)
  src/helpers/Monitor.cpp
Labels: core, helpers

renderer: only commit hw cursor stuff if needed (#9654)
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/PointerManager.cpp
Labels: core, helpers, managers

renderer: only commit hw cursor stuff if needed (#9654)
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/PointerManager.cpp
Labels: core, helpers, managers

renderer: delete now redundant ifdefs (#9651) Hyprland for now requires aquamarine =>0.8.0 anyway
  src/render/Renderer.cpp
Labels: core, render

renderer: delete now redundant ifdefs (#9651)
  src/render/Renderer.cpp
Labels: core, render

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
