Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

Addition of src/config/ConfigValue.cpp
  src/config/ConfigValue.cpp
  src/config/ConfigValue.hpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.hpp
  src/managers/LayoutManager.cpp
  src/managers/LayoutManager.hpp
  src/plugins/PluginAPI.cpp
  src/plugins/PluginAPI.hpp
  src/plugins/PluginSystem.hpp
  src/render/Texture.cpp
  src/render/Texture.hpp
Labels: core, config, layout, managers, plugins, render

Rename Events to NEvents. Reset submodules.
  src/events/Events.hpp
Labels: core, events

Renamed all Events to NEvents.
  src/desktop/Window.cpp
  src/events/Windows.cpp
Labels: core, desktop, events

Revert C prefixes on interfaces.
  src/config/ConfigDataValues.cpp
  src/config/ConfigDataValues.hpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.hpp
  src/managers/LayoutManager.cpp
  src/managers/LayoutManager.hpp
  src/plugins/PluginAPI.cpp
  src/plugins/PluginAPI.hpp
  src/protocols/DataDeviceWlr.hpp
  src/protocols/PrimarySelection.hpp
  src/protocols/core/DataDevice.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
  src/xwayland/Dnd.hpp
  src/xwayland/XDataSource.hpp
Labels: protocols, core, config, layout, managers, plugins, xwayland

Reverting changes to ci.yaml, header.svg, etc. - accidental changes in mass-formatting.
  .github/workflows/ci.yaml
  assets/header.svg
Labels: assets

Err fixing some typos when reverting interfaces.
  src/protocols/DataDeviceWlr.hpp
  src/protocols/PrimarySelection.hpp
  src/protocols/core/DataDevice.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
  src/xwayland/Dnd.hpp
  src/xwayland/XDataSource.hpp
Labels: protocols, core, xwayland

Reverting Textures.hpp. This should not have changed yet.
  src/render/shaders/Textures.hpp
Labels: core, render

Reverting Textures.hpp. This should not have changed yet. Final fixes to interface names.
  src/config/ConfigDataValues.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/managers/SeatManager.hpp
  src/protocols/DataDeviceWlr.hpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/protocols/types/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: protocols, core, config, debug, managers, xwayland

stats
  hyprtester/src/main.cpp
  hyprtester/src/shared.hpp
Labels: none

nix/hyprtester: fix build
  nix/hyprtester.nix
Labels: nix

hyprtester: launch using /bin/sh, not /bin/bash
  hyprtester/src/tests/shared.cpp
Labels: none

c-f
  hyprtester/src/tests/plugin/plugin.cpp
  hyprtester/src/tests/shared.cpp
Labels: none

Nix: clean up test, add cachix step in test job
  .github/workflows/nix-ci.yml
  nix/tests/default.nix
Labels: nix

add a super basic test suite
  CMakeLists.txt
  hyprtester/CMakeLists.txt
  hyprtester/src/hyprctlCompat.cpp
  hyprtester/src/hyprctlCompat.hpp
  hyprtester/src/main.cpp
  hyprtester/src/shared.hpp
  hyprtester/src/tests/window/window.cpp
  hyprtester/src/tests/window/window.hpp
  hyprtester/test.conf
Labels: none

CI/Nix: rename test
  .github/workflows/nix-ci.yml
Labels: none

test xeyes
  hyprtester/src/hyprctlCompat.cpp
  hyprtester/src/hyprctlCompat.hpp
  hyprtester/src/main.cpp
  hyprtester/src/tests/window/window.cpp
Labels: none

hyprtester: add arg parsing, allow cmake install
  hyprtester/CMakeLists.txt
  hyprtester/src/main.cpp
Labels: none

Nix: disable stuff until we drop wl-proto overlay
  nix/tests/default.nix
Labels: nix

nix: add hyprtester
  flake.nix
  nix/hyprtester.nix
  nix/overlays.nix
Labels: nix

Nix/tests: fix test conf
  nix/tests/test.conf
Labels: nix

abgoregrjnger
  hyprtester/test.conf
Labels: none

hyprtester: allow running as root
  hyprtester/src/main.cpp
Labels: none

e
  hyprtester/src/main.cpp
Labels: none

e
  hyprtester/src/tests/window/groups.cpp
Labels: none

add test to ctest XDDDDDDDDDDDDDDDDDD
  CMakeLists.txt
Labels: none

f
  hyprtester/plugin/Makefile
Labels: none

Nix/tests: run hyprtester
  nix/tests/default.nix
Labels: nix

Nix/hyprtester: build in debug mode
  nix/hyprtester.nix
Labels: nix

hyprtester: make build.sh posix, format cmake
  hyprtester/CMakeLists.txt
  hyprtester/plugin/build.sh
Labels: none

overlays: add proper debug
  flake.nix
  nix/overlays.nix
Labels: nix

nix/tests: init
  flake.nix
  nix/tests/default.nix
  nix/tests/test.conf
Labels: nix

add plugin
  hyprtester/CMakeLists.txt
  hyprtester/plugin/Makefile
  hyprtester/plugin/build.sh
  hyprtester/plugin/src/globals.hpp
  hyprtester/plugin/src/main.cpp
  hyprtester/src/main.cpp
  hyprtester/src/tests/plugin/plugin.cpp
  hyprtester/src/tests/plugin/plugin.hpp
Labels: none

CI/Nix: add test job
  .github/workflows/nix-ci.yml
Labels: none

CMake: enable testing
  CMakeLists.txt
Labels: none

nix/tests: sorry attempt at using hyprtester
  nix/tests/default.nix
Labels: nix

add group tests
  hyprtester/src/main.cpp
  hyprtester/src/tests/shared.cpp
  hyprtester/src/tests/shared.hpp
  hyprtester/src/tests/window/groups.cpp
  hyprtester/src/tests/window/groups.hpp
  hyprtester/src/tests/window/window.cpp
  hyprtester/test.conf
Labels: none

hyprtester: add weird debug prints and increase timeouts
  hyprtester/src/main.cpp
  hyprtester/src/tests/shared.cpp
  hyprtester/src/tests/window/groups.cpp
  hyprtester/src/tests/window/window.cpp
Labels: none

input: add flip_x and flip_y for touchpad (#9481)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/devices/IPointer.hpp
  src/devices/Mouse.cpp
  src/devices/VirtualPointer.cpp
  src/managers/input/InputManager.cpp
  src/protocols/VirtualPointer.cpp
Labels: protocols, core, config, devices, managers

input: add flip_x and flip_y for touchpad (#9481)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/devices/IPointer.hpp
  src/devices/Mouse.cpp
  src/devices/VirtualPointer.cpp
  src/managers/input/InputManager.cpp
  src/protocols/VirtualPointer.cpp
Labels: protocols, core, config, devices, managers

dispatchers: scaleactive cap minimum to 0.25
  src/managers/KeybindManager.cpp
Labels: core, managers

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
