Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

keybinds: Fix syncFullscreen inconsistent with state when set by fullscreenState (#7343)
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds: Fix syncFullscreen inconsistent with state when set by fullscreenState (#7343) * Set syncFullscreen to true on synced non -1 states * Fix syncFullscreen value in fullscreenState
  src/managers/KeybindManager.cpp
Labels: core, managers

gamma-control: fix crash on monitor disconnect (#7353)
  src/protocols/GammaControl.cpp
Labels: protocols, core

gamma-control: fix crash on monitor disconnect (#7353)
  src/protocols/GammaControl.cpp
Labels: protocols, core

fix
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
Labels: core

core: Preserve existing XDG_CURRENT_DESKTOP (#7347) * Preserve existing XDG_CURRENT_DESKTOP * fix --------- Co-authored-by: vaxerski <vaxry@vaxry.net>
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
Labels: core

core: Preserve existing XDG_CURRENT_DESKTOP (#7347)
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
Labels: core

Add HYPRLAND_NO_SD_VARS env condition
  src/Compositor.cpp
Labels: core

Formatting shuffle
  src/Compositor.cpp
Labels: core

Formatting
  src/Compositor.cpp
Labels: core

env: Add HYPRLAND_NO_SD_VARS env condition (#7358)
  src/Compositor.cpp
Labels: core

env: Add HYPRLAND_NO_SD_VARS env condition (#7358) * Add HYPRLAND_NO_SD_VARS env condition wip #7083 * Formatting shuffle * Formatting
  src/Compositor.cpp
Labels: core

renderbuffer: ensure framebuffer gets deleted
  src/render/Renderbuffer.cpp
Labels: core, render

renderbuffer: ensure framebuffer gets deleted (#7363)
  src/render/Renderbuffer.cpp
Labels: core, render

feat: add a config to control which window to focus on when closing window
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
Labels: core, config, events

xcursormgr: dont apply scale on gsettings (#7316)
  src/managers/CursorManager.cpp
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
Labels: core, managers

styl: format with .clang-format
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
Labels: core, config, events

IPC: Add config descriptions (#7377)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/helpers/Color.cpp
  src/helpers/Color.hpp
  src/managers/input/InputManager.cpp
Labels: core, config, debug, helpers, managers

IPC: Add config descriptions (#7377) Thanks @gulafaran for the work --- Co-authored-by: @gulafaran
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/helpers/Color.cpp
  src/helpers/Color.hpp
  src/managers/input/InputManager.cpp
Labels: core, config, debug, helpers, managers

render: fixup format mismatch after leaving DS
  src/debug/HyprCtl.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, debug, helpers, render

render: fixup format mismatch after leaving DS fixes #7373
  src/debug/HyprCtl.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, debug, helpers, render

Allow disabling tap-to-click
  src/managers/input/InputManager.cpp
Labels: core, managers

Style fix
  src/managers/input/InputManager.cpp
Labels: core, managers

feat: add `focus_on_close` to ConfigDescriptions.hpp
  src/config/ConfigDescriptions.hpp
Labels: core, config

Update aquamarine input in flake
  flake.lock
Labels: none

Update aquamarine input in flake
  flake.lock
Labels: none

Update aquamarine input in flake
  flake.lock
Labels: none

input: Fix disabling tap-to-click (#7304) * Allow disabling tap-to-click * Style fix
  src/managers/input/InputManager.cpp
Labels: core, managers

input: Fix disabling tap-to-click (#7304)
  src/managers/input/InputManager.cpp
Labels: core, managers

shm: align size to stride
  src/protocols/core/Shm.cpp
Labels: protocols, core

shm: align size to stride (#7383)
  src/protocols/core/Shm.cpp
Labels: protocols, core

shm: align size to stride (#7383) calculate the size to the stride we got to better align it.
  src/protocols/core/Shm.cpp
Labels: protocols, core

linux-dmabuf: allow on split-node systems
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

linux-dmabuf: allow on split-node systems ref #7364
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

renderer: pass custom modelines to aq
  src/render/Renderer.cpp
Labels: core, render

renderer: pass custom modelines to aq ref #7390
  src/render/Renderer.cpp
Labels: core, render

flake: update aquamarine
  flake.lock
Labels: none

compositor: update suspendstate on window move
  src/Compositor.cpp
Labels: core

compositor: update suspendstate on window move (#7396)
  src/Compositor.cpp
Labels: core

hyprpm, hyprctl: update shell completions
  hyprctl/hyprctl.bash
  hyprctl/hyprctl.fish
  hyprctl/hyprctl.usage
  hyprctl/hyprctl.zsh
  hyprpm/hyprpm.bash
  hyprpm/hyprpm.fish
  hyprpm/hyprpm.usage
  hyprpm/hyprpm.zsh
Labels: hyprctl, hyprpm
