Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

snap: account for window extents
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/layout/IHyprLayout.cpp
Labels: core, desktop, layout

c-f
  src/layout/IHyprLayout.cpp
Labels: core, layout

monitor: retry after monitor modesetting fails
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, helpers

Update AnimationManager.hpp
  src/managers/AnimationManager.hpp
Labels: core, managers

Update AnimationManager.cpp
  src/managers/AnimationManager.cpp
Labels: core, managers

clip
  src/config/ConfigManager.cpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
  src/protocols/core/DataDevice.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, config, managers, xwayland

clang said it redundant so..
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

pass sdr overrides into shaders
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: protocols, core, render

fix rule comparison
  src/helpers/Monitor.cpp
Labels: core, helpers

additional monitor rules
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, config, helpers, render

input: add sticky option for drag_lock (#10702)
  CMakeLists.txt
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.cpp
  src/meson.build
Labels: core, config, managers

[gha] Nix: update inputs
  flake.lock
Labels: none

[gha] Nix: update inputs
  flake.lock
Labels: none

cursor: reset hc data after theme change
  src/managers/CursorManager.cpp
Labels: core, managers

cursor: reset hc data after theme change theme change invalidates the cairo surfaces there fixes #10636
  src/managers/CursorManager.cpp
Labels: core, managers

internal: clean up dead snapshot code
  src/desktop/LayerSurface.cpp
  src/events/Windows.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, desktop, events, render

internal: clean up dead snapshot code
  src/desktop/LayerSurface.cpp
  src/events/Windows.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, desktop, events, render

opengl: use a stack for storing monitor transform enabled
  src/protocols/Screencopy.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TextureMatteElement.cpp
Labels: protocols, core, render

opengl: use a stack for storing monitor transform enabled fixes #10487
  src/protocols/Screencopy.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TextureMatteElement.cpp
Labels: protocols, core, render

config/monitor: Add monitor v2 HDR rules (#10623)
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: protocols, core, config, helpers, render

config/monitor: Add monitor v2 HDR rules (#10623)
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: protocols, core, config, helpers, render

protocols: support xdg-shell v7
  src/managers/ProtocolManager.cpp
Labels: core, managers

protocols: support xdg-shell v7 there's nothing special we need to add for this rev
  src/managers/ProtocolManager.cpp
Labels: core, managers

fix wp invalid luminance check
  src/protocols/ColorManagement.cpp
Labels: protocols, core

add auto-hdr
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, config, helpers, render

different auto hdr modes
  src/config/ConfigDescriptions.hpp
  src/render/Renderer.cpp
Labels: core, config, render

fix auto condition
  src/render/Renderer.cpp
Labels: core, render

protocols/cm: fix wp invalid luminance check (#10752)
  src/protocols/ColorManagement.cpp
Labels: protocols, core

protocols/cm: fix wp invalid luminance check (#10752)
  src/protocols/ColorManagement.cpp
Labels: protocols, core

opengl: cache viewport state
  src/render/Framebuffer.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

opengl: cache glenable/gldisable state
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

opengl: cache glscissor box
  src/render/OpenGL.cpp
Labels: core, render

opengl: cache gluniform calls
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/Shader.hpp
Labels: core, render

asyncDialogBox: lock box in fdWrite to prevent a uaf
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
Labels: core, helpers

shader: rewrite handling of uniforms and state
  src/render/Framebuffer.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/Shader.hpp
Labels: core, render

xwayland: Use RAII instead or freeing memory manually (#10677)
  src/xwayland/XWM.cpp
Labels: core, xwayland

xwayland: Use RAII instead or freeing memory manually (#10677) As suggested by clang-tidy
  src/xwayland/XWM.cpp
Labels: core, xwayland

windowrules/move: clamp max pos in onscreen to avoid assert crash fixes #10760
  src/events/Windows.cpp
Labels: core, events

windowrules/move: clamp max pos in onscreen to avoid assert crash
  src/events/Windows.cpp
Labels: core, events

asyncDialogBox: lock box in fdWrite to prevent a uaf (#10759)
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
Labels: core, helpers

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
