Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

tonemapping
  src/render/shaders/CM.frag
Labels: core, render

skip CM in fullscreen, handle gamma tf
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/Shader.hpp
  src/render/shaders/CM.frag
  src/render/shaders/Textures.hpp
Labels: core, render

fix primaries conversion
  src/render/shaders/CM.frag
Labels: core, render

hlg support
  src/protocols/ColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/render/shaders/CM.frag
Labels: protocols, core, render

sdr -> hdr monitor settings
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/OpenGL.cpp
  src/render/Shader.hpp
  src/render/shaders/CM.frag
Labels: core, config, helpers, render

cm monitor rule
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, config, helpers, render

initial tonemapping
  src/protocols/ColorManagement.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/Shader.hpp
  src/render/shaders/CM.frag
Labels: protocols, core, render

use wp cm xml
  CMakeLists.txt
  protocols/color-management-v1.xml
  protocols/meson.build
Labels: protocols

fix(window): store floating size on close instead of resize
  src/desktop/Window.cpp
  src/events/Windows.cpp
Labels: core, desktop, events

e
  src/events/Windows.cpp
Labels: core, events

windowrules: store floating size on close instead of resize (#9569)
  src/desktop/Window.cpp
  src/events/Windows.cpp
Labels: core, desktop, events

windowrules: store floating size on close instead of resize (#9569)
  src/desktop/Window.cpp
  src/events/Windows.cpp
Labels: core, desktop, events

fix(compositor): prevent crash when monitor list is empty
  src/Compositor.cpp
Labels: core

add "relative" modified: src/managers/KeybindManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers

update decorations on lockgroups modified: src/managers/KeybindManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers

core: prevent crash when monitor list is empty (#9572)
  src/Compositor.cpp
Labels: core

core: prevent crash when monitor list is empty (#9572)
  src/Compositor.cpp
Labels: core

renderer: skip ds commits if buffer didn't change (#9556)
  src/helpers/Monitor.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

allow adjusting gap size for groupbar
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

change var name
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

fix(window): respect noinitialfocus
  src/events/Windows.cpp
Labels: core, events

core: update decorations on lockgroups (#9573) modified: src/managers/KeybindManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers

core: update decorations on lockgroups (#9573)
  src/managers/KeybindManager.cpp
Labels: core, managers

input: fix touch calibration matrix overriding make the default behavior non-overriding to avoid overriding user-set values elswehere.
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, managers

input: fix touch calibration matrix overriding
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, managers

groupbar: pass alpha to title tex render pass
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

groupbar: pass alpha to title tex render pass ref #9598
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

windows: respect noinitialfocus with workspace changes (#9586)
  src/events/Windows.cpp
Labels: core, events

disable CM for GLES2
  src/render/OpenGL.cpp
Labels: core, render

skip CM shader init with GLES2
  src/render/OpenGL.cpp
Labels: core, render

groupbar: add an option to adjust gap sizes (#9578)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

groupbar: add an option to adjust gap sizes (#9578)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

keybinds: add sendkeystate dispatcher
  hyprctl/hyprctl.bash
  hyprctl/hyprctl.fish
  hyprctl/hyprctl.usage
  hyprctl/hyprctl.zsh
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: hyprctl, core, managers

groupbar: render a border around the window and groupbar
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

keybinds: add all flag to closewindow dispatcher
  hyprctl/hyprctl.usage
  src/managers/KeybindManager.cpp
Labels: hyprctl, core, managers

fix clicking through groupbar tabs
  src/managers/input/InputManager.cpp
Labels: core, managers

protocols: allow xdg share pickers to reconcile with hyprctl
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/protocols/ForeignToplevelWlr.cpp
  src/protocols/ForeignToplevelWlr.hpp
Labels: protocols, core, config

nix: mesa -> libgbm
  nix/default.nix
Labels: nix

flake.lock: update nixpkgs
  flake.lock
Labels: none

nix: remove wayland-protocols bump
  nix/overlays.nix
Labels: nix

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
