Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

asyncDialogBox: lock box in fdWrite to prevent a uaf (#10759)
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
Labels: core, helpers

add a super basic test suite
  CMakeLists.txt
  hyprtester/CMakeLists.txt
  hyprtester/src/hyprctlCompat.cpp
  hyprtester/src/hyprctlCompat.hpp
  hyprtester/src/main.cpp
  hyprtester/src/shared.hpp
  hyprtester/src/tests/window/window.cpp
  hyprtester/src/tests/window/window.hpp
  hyprtester/test.conf
Labels: none

abgoregrjnger
  hyprtester/test.conf
Labels: none

test xeyes
  hyprtester/src/hyprctlCompat.cpp
  hyprtester/src/hyprctlCompat.hpp
  hyprtester/src/main.cpp
  hyprtester/src/tests/window/window.cpp
Labels: none

add test to ctest XDDDDDDDDDDDDDDDDDD
  CMakeLists.txt
Labels: none

stats
  hyprtester/src/main.cpp
  hyprtester/src/shared.hpp
Labels: none

CMake: enable testing
  CMakeLists.txt
Labels: none

add group tests
  hyprtester/src/main.cpp
  hyprtester/src/tests/shared.cpp
  hyprtester/src/tests/shared.hpp
  hyprtester/src/tests/window/groups.cpp
  hyprtester/src/tests/window/groups.hpp
  hyprtester/src/tests/window/window.cpp
  hyprtester/test.conf
Labels: none

nix/tests: init
  flake.nix
  nix/tests/default.nix
  nix/tests/test.conf
Labels: nix

hyprtester: add arg parsing, allow cmake install
  hyprtester/CMakeLists.txt
  hyprtester/src/main.cpp
Labels: none

Nix: clean up test, add cachix step in test job
  .github/workflows/nix-ci.yml
  nix/tests/default.nix
Labels: nix

e
  hyprtester/src/main.cpp
Labels: none

CI/Nix: add test job
  .github/workflows/nix-ci.yml
Labels: none

Nix: disable stuff until we drop wl-proto overlay
  nix/tests/default.nix
Labels: nix

nix: add hyprtester
  flake.nix
  nix/hyprtester.nix
  nix/overlays.nix
Labels: nix

nix/tests: sorry attempt at using hyprtester
  nix/tests/default.nix
Labels: nix

overlays: add proper debug
  flake.nix
  nix/overlays.nix
Labels: nix

hyprtester: kill hl when plugin fails
  hyprtester/src/main.cpp
Labels: none

add plugin
  hyprtester/CMakeLists.txt
  hyprtester/plugin/Makefile
  hyprtester/plugin/build.sh
  hyprtester/plugin/src/globals.hpp
  hyprtester/plugin/src/main.cpp
  hyprtester/src/main.cpp
  hyprtester/src/tests/plugin/plugin.cpp
  hyprtester/src/tests/plugin/plugin.hpp
Labels: none

nix/tests: fail test
  nix/tests/default.nix
Labels: nix

idek atp
  nix/hyprtester.nix
Labels: nix

hyprtester: add weird debug prints and increase timeouts
  hyprtester/src/main.cpp
  hyprtester/src/tests/shared.cpp
  hyprtester/src/tests/window/groups.cpp
  hyprtester/src/tests/window/window.cpp
Labels: none

CI/Nix: rename test
  .github/workflows/nix-ci.yml
Labels: none

e
  hyprtester/src/tests/window/groups.cpp
Labels: none

f
  hyprtester/plugin/Makefile
Labels: none

c-f
  hyprtester/src/tests/plugin/plugin.cpp
  hyprtester/src/tests/shared.cpp
Labels: none

hyprtester: make build.sh posix, format cmake
  hyprtester/CMakeLists.txt
  hyprtester/plugin/build.sh
Labels: none

nix/tests: add timeout
  nix/tests/default.nix
Labels: nix

nix/tests: propagate exit code, raise exception
  nix/tests/default.nix
Labels: nix

nix/tests: fix hl path
  nix/tests/default.nix
Labels: nix

nix/hyprtester: clean source
  nix/hyprtester.nix
Labels: nix

nix/tests: update test
  nix/tests/default.nix
  nix/tests/test.conf
Labels: nix

hyprtester: wait more
  hyprtester/src/main.cpp
Labels: none

nix/test: use normal user
  nix/tests/default.nix
Labels: nix

hyprtester: no longer run as root
  hyprtester/src/main.cpp
Labels: none

hyprtester: allow running as root
  hyprtester/src/main.cpp
Labels: none

Nix/hyprtester: build in debug mode
  nix/hyprtester.nix
Labels: nix

Nix/tests: fix test conf
  nix/tests/test.conf
Labels: nix

plugin: dont check hash
  hyprtester/plugin/src/main.cpp
Labels: none

nix: don't rebuild hl on each hyprtester change
  nix/default.nix
Labels: nix
