Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

center master ignoring reserved areas
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

cleanup: use doLater instead of adding idle event handlers (#8624)
  src/protocols/Tablet.cpp
  src/protocols/Tablet.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
  src/xwayland/Server.cpp
Labels: protocols, core, xwayland

cleanup: use doLater instead of adding idle event handlers (#8624)
  src/protocols/Tablet.cpp
  src/protocols/Tablet.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
  src/xwayland/Server.cpp
Labels: protocols, core, xwayland

master: make center ignore reserved areas (#8625)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

master: make center ignore reserved areas (#8625)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

version: add link versions for other utils (#8619) --------- Co-authored-by: Mihai Fufezan <mihai@fufexan.net>
  CMakeLists.txt
  hyprpm/CMakeLists.txt
  meson.build
  src/debug/HyprCtl.cpp
  src/meson.build
Labels: hyprpm, core, debug

version: add link versions for other utils (#8619)
  CMakeLists.txt
  hyprpm/CMakeLists.txt
  meson.build
  src/debug/HyprCtl.cpp
  src/meson.build
Labels: hyprpm, core, debug

fix bug in previous doLater cleanup
  src/protocols/XDGShell.cpp
Labels: protocols, core

core: move colorspace handling to oklab
  CMakeLists.txt
  src/Compositor.cpp
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/debug/HyprNotificationOverlay.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/helpers/AnimatedVariable.hpp
  src/helpers/Color.cpp
  src/helpers/Color.hpp
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/managers/AnimationManager.cpp
  src/managers/AnimationManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/plugins/PluginAPI.cpp
  src/plugins/PluginAPI.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Shader.hpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/shaders/Border.hpp
Labels: protocols, core, config, debug, desktop, helpers, hyprerror, managers, plugins, render

missed include
  src/helpers/Color.hpp
Labels: core, helpers

missed include
  src/helpers/Color.hpp
Labels: core, helpers

Meson: add hyprgraphics
  meson.build
  src/meson.build
Labels: core

Nix: add hyprgraphics
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays.nix
Labels: nix

CI/setup_base: get hyprgraphics-git
  .github/actions/setup_base/action.yml
Labels: none

core: move colorspace handling to oklab (#8635)
  .github/actions/setup_base/action.yml
  CMakeLists.txt
  flake.lock
  flake.nix
  meson.build
  nix/default.nix
  nix/overlays.nix
  src/Compositor.cpp
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/debug/HyprNotificationOverlay.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/helpers/AnimatedVariable.hpp
  src/helpers/Color.cpp
  src/helpers/Color.hpp
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/managers/AnimationManager.cpp
  src/managers/AnimationManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/meson.build
  src/plugins/PluginAPI.cpp
  src/plugins/PluginAPI.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Shader.hpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/shaders/Border.hpp
Labels: nix, protocols, core, config, debug, desktop, helpers, hyprerror, managers, plugins, render

core: move colorspace handling to oklab (#8635) * Meson: add hyprgraphics * Nix: add hyprgraphics * CI/setup_base: get hyprgraphics-git --------- Co-authored-by: Mihai Fufezan <mihai@fufexan.net>
  .github/actions/setup_base/action.yml
  CMakeLists.txt
  flake.lock
  flake.nix
  meson.build
  nix/default.nix
  nix/overlays.nix
  src/Compositor.cpp
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/debug/HyprNotificationOverlay.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/helpers/AnimatedVariable.hpp
  src/helpers/Color.cpp
  src/helpers/Color.hpp
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/managers/AnimationManager.cpp
  src/managers/AnimationManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/meson.build
  src/plugins/PluginAPI.cpp
  src/plugins/PluginAPI.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Shader.hpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/shaders/Border.hpp
Labels: nix, protocols, core, config, debug, desktop, helpers, hyprerror, managers, plugins, render

cleanup: Revert use doLater instead of adding idle event handlers (#8624) This reverts commit 6d7544458d0fafcae410c1978a0cabce2fb4a346.
  src/protocols/Tablet.cpp
  src/protocols/Tablet.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
  src/xwayland/Server.cpp
Labels: protocols, core, xwayland

cleanup: Revert use doLater instead of adding idle event handlers (#8624)
  src/protocols/Tablet.cpp
  src/protocols/Tablet.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
  src/xwayland/Server.cpp
Labels: protocols, core, xwayland

snap: check which corner is being grabbed for monitor snapping
  src/layout/IHyprLayout.cpp
Labels: core, layout

Add layout field for windowrulev2
  src/config/ConfigManager.cpp
  src/desktop/Window.hpp
  src/managers/LayoutManager.cpp
  src/managers/LayoutManager.hpp
Labels: core, config, desktop, managers

internal: fixup some missed updateColorsOk() calls
  src/desktop/Window.cpp
  src/managers/KeybindManager.cpp
Labels: core, desktop, managers

internal: fixup some missed updateColorsOk() calls
  src/desktop/Window.cpp
  src/managers/KeybindManager.cpp
Labels: core, desktop, managers

hyprpm: target installed instead of running version
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: notify when enabling a plugin after Hyprland was updated
  hyprpm/src/main.cpp
Labels: hyprpm

snap: check which corner is being grabbed for monitor snapping (#8637)
  src/layout/IHyprLayout.cpp
Labels: core, layout

snap: check which corner is being grabbed for monitor snapping (#8637)
  src/layout/IHyprLayout.cpp
Labels: core, layout

Don't use explicit sync fences if we can tear
  src/render/Renderer.cpp
Labels: core, render

core: add a few festive splashes
  src/Compositor.cpp
  src/helpers/Splashes.hpp
Labels: core, helpers

core: add a few festive splashes adds two new 'special' splash types for xmas and new years. Activated based on local time.
  src/Compositor.cpp
  src/helpers/Splashes.hpp
Labels: core, helpers

core: feeling a bit quirky today.
  src/helpers/Splashes.hpp
Labels: core, helpers

core: feeling a bit quirky today.
  src/helpers/Splashes.hpp
Labels: core, helpers

hyprctl: add directScanout to hyprctl monitors
  src/debug/HyprCtl.cpp
Labels: core, debug

hyprctl: add directScanout to hyprctl monitors
  src/debug/HyprCtl.cpp
Labels: core, debug

core: move version include to hyprctl
  src/debug/HyprCtl.cpp
  src/macros.hpp
Labels: core, debug

core: move version include to hyprctl
  src/debug/HyprCtl.cpp
  src/macros.hpp
Labels: core, debug

add version keeper
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/managers/VersionKeeperManager.cpp
  src/managers/VersionKeeperManager.hpp
Labels: core, config, helpers, managers

wording
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

missed varlist
  src/managers/VersionKeeperManager.cpp
Labels: core, managers

add missing ecosystem var
  src/config/ConfigManager.cpp
  src/managers/VersionKeeperManager.cpp
Labels: core, config, managers

clangggg
  src/config/ConfigManager.cpp
Labels: core, config
