Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

logs: don't get timezone every time logging (#7550)
  src/debug/Log.hpp
Labels: core, debug

logs: don't get timezone every time logging (#7550) its expensive cause cpp dum
  src/debug/Log.hpp
Labels: core, debug

data-device: send dndFinished when dnd offer is destroyed while unfinished
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
Labels: protocols, core

hyprctl: add next and all to switchxkblayout fixes #7555
  src/debug/HyprCtl.cpp
Labels: core, debug

hyprctl: add next and all to switchxkblayout
  src/debug/HyprCtl.cpp
Labels: core, debug

nix(flake): update aquamarine
  flake.lock
Labels: none

nix(flake): update aquamarine
  flake.lock
Labels: none

nix(flake): update aquamarine
  flake.lock
Labels: none

ensure buffer format on commit
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
Labels: core, helpers, render

renderer: ensure buffer format on commit (#7556)
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
Labels: core, helpers, render

renderer: ensure buffer format on commit (#7556)
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
Labels: core, helpers, render

window: don't focus on activate if window isn't mapped yet ref #7089
  src/desktop/Window.cpp
Labels: core, desktop

window: don't focus on activate if window isn't mapped yet
  src/desktop/Window.cpp
Labels: core, desktop

xwm: don't mark selection events as succeeded fixes #7401
  src/xwayland/XWM.cpp
Labels: core, xwayland

xwm: don't mark selection events as succeeded
  src/xwayland/XWM.cpp
Labels: core, xwayland

renderer: fade out windows on silent moves
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/render/Renderer.cpp
Labels: core, desktop, render

renderer: fade out windows on silent moves
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/render/Renderer.cpp
Labels: core, desktop, render

Remove setenv("MOZ_ENABLE_WAYLAND", 1, 1)
  src/main.cpp
Labels: core

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

renderer: better lockscreen dead behavior
  CMakeLists.txt
  assets/install/lockdead.png
  assets/install/lockdead2.png
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: assets, core, managers, render

improve
  assets/install/lockdead.png
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: assets, core, render

assets/meson.build: simplify installation of wallpapers
  assets/install/meson.build
  assets/meson.build
Labels: assets

CMake: don't install meson files
  CMakeLists.txt
Labels: none

renderer: better lockscreen dead behavior (#7574)
  CMakeLists.txt
  assets/install/lockdead.png
  assets/install/lockdead2.png
  assets/install/meson.build
  assets/meson.build
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: assets, core, managers, render

renderer: better lockscreen dead behavior (#7574) --------- Co-authored-by: Mihai Fufezan <mihai@fufexan.net>
  CMakeLists.txt
  assets/install/lockdead.png
  assets/install/lockdead2.png
  assets/install/meson.build
  assets/meson.build
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: assets, core, managers, render

xwayland: update overrideRedirect on map and configure
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

flake.lock: update aquamarine and hyprutils
  flake.lock
Labels: none

flake.lock: update aquamarine and hyprutils
  flake.lock
Labels: none

xwayland: update overrideRedirect on map and configure (#7575)
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

xwayland: update overrideRedirect on map and configure (#7575)
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

keybinds: release mods after sendshortcut
  src/managers/KeybindManager.cpp
Labels: core, managers

window/xwayland: minor property cleanup
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/layout/IHyprLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, desktop, events, helpers, layout, managers

window/xwayland: minor property cleanup fixes #6921
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/layout/IHyprLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, desktop, events, helpers, layout, managers

keybinds: release mods after sendshortcut (#7581)
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds: release mods after sendshortcut (#7581)
  src/managers/KeybindManager.cpp
Labels: core, managers

xdg-dialog: implement new protocol
  CMakeLists.txt
  protocols/meson.build
  src/Compositor.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/XDGDialog.cpp
  src/protocols/XDGDialog.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
  src/render/OpenGL.cpp
Labels: protocols, core, managers, render

xdg-dialog: implement new protocol
  CMakeLists.txt
  protocols/meson.build
  src/Compositor.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/XDGDialog.cpp
  src/protocols/XDGDialog.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
  src/render/OpenGL.cpp
Labels: protocols, core, managers, render

presentation-feedback: minor fixups
  src/helpers/Monitor.cpp
  src/protocols/PresentationTime.cpp
  src/protocols/PresentationTime.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

keybinds: fixup misused kb state fixes #7369
  src/managers/KeybindManager.cpp
Labels: core, managers
