Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

wl_seat: avoid sending events to objects without caps
  src/protocols/core/Seat.cpp
Labels: protocols, core

wl_seat: avoid sending events to objects without caps ref #6835
  src/protocols/core/Seat.cpp
Labels: protocols, core

virtual-pointer: fixup virtual pointer warp events fixes #6976
  src/devices/VirtualPointer.cpp
  src/managers/PointerManager.cpp
Labels: core, devices, managers

virtual-pointer: fixup virtual pointer warp events
  src/devices/VirtualPointer.cpp
  src/managers/PointerManager.cpp
Labels: core, devices, managers

replace WLR with AQ in logs
  src/managers/input/InputManager.cpp
Labels: core, managers

debug: get rid of useless 1s in logs (#6969) * get rid of 1s in logs lol * replace WLR with AQ in logs
  src/Compositor.cpp
  src/desktop/LayerSurface.cpp
  src/helpers/Monitor.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/FractionalScale.cpp
  src/protocols/ToplevelExport.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, desktop, helpers, managers, xwayland

debug: get rid of useless 1s in logs (#6969)
  src/Compositor.cpp
  src/desktop/LayerSurface.cpp
  src/helpers/Monitor.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/FractionalScale.cpp
  src/protocols/ToplevelExport.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, desktop, helpers, managers, xwayland

pointer/hw: extend cursor swapchain to 3 otherwise on some commits we draw twice and we draw over the front buffer
  src/managers/PointerManager.cpp
Labels: core, managers

pointer/hw: extend cursor swapchain to 3
  src/managers/PointerManager.cpp
Labels: core, managers

pointer/hw: rollback the swapchain on multiple renders without a commit fixes the hack
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
Labels: core, managers

pointer/hw: rollback the swapchain on multiple renders without a commit
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
Labels: core, managers

egl: avoid setting debug mode and handle legacyrenderer
  src/render/OpenGL.cpp
Labels: core, render

egl: avoid setting debug mode and handle legacyrenderer ref #6973
  src/render/OpenGL.cpp
Labels: core, render

renderer: use explicitly set exclusiveEdge
  src/protocols/LayerShell.cpp
  src/render/Renderer.cpp
Labels: protocols, core, render

renderer/layer-shell: use explicitly set exclusiveEdge (#6984)
  src/protocols/LayerShell.cpp
  src/render/Renderer.cpp
Labels: protocols, core, render

renderer/layer-shell: use explicitly set exclusiveEdge (#6984)
  src/protocols/LayerShell.cpp
  src/render/Renderer.cpp
Labels: protocols, core, render

validate exclusiveEdge and don't set it as top by default
  src/protocols/LayerShell.cpp
  src/protocols/LayerShell.hpp
Labels: protocols, core

make sure exclusive edge anchor is within bounds
  src/protocols/LayerShell.cpp
Labels: protocols, core

Nix: remove meson (used by wlroots)
  nix/default.nix
Labels: nix

Nix: remove meson (used by wlroots)
  nix/default.nix
Labels: nix

surface: fix zero_scaling xwayland damage
  src/desktop/WLSurface.cpp
Labels: core, desktop

surface: fix zero_scaling xwayland damage
  src/desktop/WLSurface.cpp
Labels: core, desktop

layer-shell: validate exclusiveEdge and don't set it as top by default (#7006)
  src/protocols/LayerShell.cpp
  src/protocols/LayerShell.hpp
Labels: protocols, core

layer-shell: validate exclusiveEdge and don't set it as top by default (#7006) * validate exclusiveEdge and don't set it as top by default * make sure exclusive edge anchor is within bounds
  src/protocols/LayerShell.cpp
  src/protocols/LayerShell.hpp
Labels: protocols, core

window: drop ack requirement for applying pending reported size
  src/events/Windows.cpp
Labels: core, events

window: drop ack requirement for applying pending reported size fixes #6533
  src/events/Windows.cpp
Labels: core, events

flake: update aquamarine
  flake.lock
Labels: none

flake: update aquamarine
  flake.lock
Labels: none

flake: update aquamarine
  flake.lock
Labels: none

correctly destroy wayland globals
  src/Compositor.cpp
  src/protocols/GlobalShortcuts.cpp
  src/protocols/GlobalShortcuts.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/TextInputV1.cpp
  src/protocols/TextInputV1.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/protocols/WaylandProtocol.cpp
  src/protocols/WaylandProtocol.hpp
Labels: protocols, core

touch: fix touch swipe invert config
  src/managers/input/Touch.cpp
Labels: core, managers

properly shutdown and cleanup hyprland
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
  src/managers/KeybindManager.cpp
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/managers/eventLoop/EventLoopManager.cpp
Labels: core, managers

touch: fix touch swipe invert config (#7014)
  src/managers/input/Touch.cpp
Labels: core, managers

touch: fix touch swipe invert config (#7014)
  src/managers/input/Touch.cpp
Labels: core, managers

compositor: simplify getWindowFromSurface
  src/Compositor.cpp
Labels: core

compositor: simplify getWindowFromSurface
  src/Compositor.cpp
Labels: core

keybinds: add bindp and noshortcutsinhibit (#7017)
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/protocols/ShortcutsInhibit.cpp
Labels: protocols, core, config, desktop, managers

keybinds: add bindp and noshortcutsinhibit (#7017)
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/protocols/ShortcutsInhibit.cpp
Labels: protocols, core, config, desktop, managers

remove toggleopaque modified: src/managers/KeybindManager.cpp modified: src/managers/KeybindManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

fix crash modified: src/protocols/ShortcutsInhibit.cpp
  src/protocols/ShortcutsInhibit.cpp
Labels: protocols, core

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
