Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

allow tearing while direct scanout happens
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

move to better tearing mechanism, old stuff wasn't needed anymore
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/PresentationTime.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, debug, events, helpers, render

make scanout cursor commits not use tearing cause: "nO pRoP cAn Be ChAnGeD dUrInG AsYnC fLiP" on crtc_x
  src/helpers/Monitor.cpp
Labels: core, helpers

inputs: refactor class member vars (#10230)
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/AsyncDialogBox.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/managers/input/InputMethodPopup.cpp
  src/managers/input/InputMethodPopup.hpp
  src/managers/input/InputMethodRelay.cpp
  src/managers/input/InputMethodRelay.hpp
  src/managers/input/Swipe.cpp
  src/managers/input/Tablets.cpp
  src/managers/input/TextInput.cpp
  src/managers/input/TextInput.hpp
  src/managers/input/Touch.cpp
  src/protocols/PointerConstraints.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, debug, desktop, events, helpers, layout, managers, render

inputs: refactor class member vars (#10230)
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/AsyncDialogBox.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/managers/input/InputMethodPopup.cpp
  src/managers/input/InputMethodPopup.hpp
  src/managers/input/InputMethodRelay.cpp
  src/managers/input/InputMethodRelay.hpp
  src/managers/input/Swipe.cpp
  src/managers/input/Tablets.cpp
  src/managers/input/TextInput.cpp
  src/managers/input/TextInput.hpp
  src/managers/input/Touch.cpp
  src/protocols/PointerConstraints.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, debug, desktop, events, helpers, layout, managers, render

renderer: render fading out floating windows over fs
  src/render/Renderer.cpp
Labels: core, render

renderer: render fading out floating windows over fs
  src/render/Renderer.cpp
Labels: core, render

move CMonitorState stuff to CMonitor, its a relic from wlroots times (+ a bit of cleanup)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/KeybindManager.cpp
  src/protocols/GammaControl.cpp
  src/protocols/OutputPower.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, helpers, managers, render

move commitPendingAndDoExplicit to CMonitor::fullCommit
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

add fullCommit buffer set requirement + a few other improvements
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

use fullCommit in attemptDirectScanout
  src/helpers/Monitor.cpp
Labels: core, helpers

hyprpm: optimize sys.cpp
  hyprpm/src/helpers/Sys.cpp
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: refine progress bar logic
  hyprpm/src/progress/CProgressBar.cpp
Labels: hyprpm

chore: fix fetchSuperuserBins
  hyprpm/src/helpers/Sys.cpp
Labels: hyprpm

chore: modify one line if/else statements
  hyprpm/src/helpers/Sys.cpp
  hyprpm/src/progress/CProgressBar.cpp
Labels: hyprpm

chore: fix if/else statements
  hyprpm/src/helpers/Sys.cpp
  hyprpm/src/progress/CProgressBar.cpp
Labels: hyprpm

chore: follow naming convention for const vars
  hyprpm/src/helpers/Sys.cpp
  hyprpm/src/progress/CProgressBar.cpp
Labels: hyprpm

[gha] Nix: update inputs
  flake.lock
Labels: none

[gha] Nix: update inputs
  flake.lock
Labels: none

internal: fix name confusion in SAlphaValue
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
Labels: core, desktop, managers

internal: fix name confusion in SAlphaValue fixes #10251
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
Labels: core, desktop, managers

fix: no {}
  src/config/ConfigManager.hpp
Labels: core, config

configmgr: fix CConfigValue<> from plugins
  src/config/ConfigManager.cpp
Labels: core, config

configmgr: fix CConfigValue<> from plugins
  src/config/ConfigManager.cpp
Labels: core, config

layerrules: fix abovelock interactivity for touch input
  src/managers/input/InputManager.cpp
  src/managers/input/Touch.cpp
Labels: core, managers

plugins: refactor class member vars
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/plugins/HookSystem.cpp
  src/plugins/HookSystem.hpp
  src/plugins/PluginAPI.cpp
  src/plugins/PluginSystem.cpp
  src/plugins/PluginSystem.hpp
Labels: core, debug, plugins

input: nuke a few config options
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, managers, render

plugins: refactor class member vars (#10257)
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/plugins/HookSystem.cpp
  src/plugins/HookSystem.hpp
  src/plugins/PluginAPI.cpp
  src/plugins/PluginSystem.cpp
  src/plugins/PluginSystem.hpp
Labels: core, debug, plugins

plugins: refactor class member vars (#10257)
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/plugins/HookSystem.cpp
  src/plugins/HookSystem.hpp
  src/plugins/PluginAPI.cpp
  src/plugins/PluginSystem.cpp
  src/plugins/PluginSystem.hpp
Labels: core, debug, plugins

layerrules: fix abovelock interactivity for touch input (#10253)
  src/managers/input/InputManager.cpp
  src/managers/input/Touch.cpp
Labels: core, managers

layerrules: fix abovelock interactivity for touch input (#10253)
  src/managers/input/InputManager.cpp
  src/managers/input/Touch.cpp
Labels: core, managers

Fix empty flag not selecting active workspace
  src/events/Windows.cpp
Labels: core, events

protocols: refactor class member vars (types)
  src/helpers/Monitor.cpp
  src/managers/SeatManager.cpp
  src/protocols/DataDeviceWlr.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/MesaDRM.cpp
  src/protocols/PrimarySelection.cpp
  src/protocols/Screencopy.cpp
  src/protocols/SinglePixel.cpp
  src/protocols/ToplevelExport.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/Shm.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/DMABuffer.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, managers, render

monitor: use vecnotinrect
  src/helpers/Monitor.cpp
Labels: core, helpers

inputmanager: vecnotinrect
  src/managers/input/InputManager.cpp
Labels: core, managers

clang format
  src/helpers/Monitor.cpp
Labels: core, helpers

internal: Use vecnotinrect instead of !vecinrect (#10262)
  src/helpers/Monitor.cpp
  src/managers/input/InputManager.cpp
Labels: core, helpers, managers

internal: Use vecnotinrect instead of !vecinrect (#10262) * monitor: use vecnotinrect * inputmanager: vecnotinrect * clang format
  src/helpers/Monitor.cpp
  src/managers/input/InputManager.cpp
Labels: core, helpers, managers

protocols: refactor class member vars (types) (#10261)
  src/helpers/Monitor.cpp
  src/managers/SeatManager.cpp
  src/protocols/DataDeviceWlr.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/MesaDRM.cpp
  src/protocols/PrimarySelection.cpp
  src/protocols/Screencopy.cpp
  src/protocols/SinglePixel.cpp
  src/protocols/ToplevelExport.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/Shm.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/DMABuffer.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, managers, render

protocols: refactor class member vars (types) (#10261)
  src/helpers/Monitor.cpp
  src/managers/SeatManager.cpp
  src/protocols/DataDeviceWlr.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/MesaDRM.cpp
  src/protocols/PrimarySelection.cpp
  src/protocols/Screencopy.cpp
  src/protocols/SinglePixel.cpp
  src/protocols/ToplevelExport.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/Shm.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/DMABuffer.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, managers, render
