Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

renderer: Do not set hdr metadata unless needed (#9014)
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, render

renderer: Do not set hdr metadata unless needed (#9014)
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, render

protocols: do not capture cursor in toplevel without pointer focus (#9042)
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: protocols, core

protocols: do not capture cursor in toplevel without pointer focus (#9042)
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: protocols, core

protocols: allow hyprland-toplevel-export to capture hidden windows (#9041)
  src/protocols/ToplevelExport.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, render

protocols: allow hyprland-toplevel-export to capture hidden windows (#9041)
  src/protocols/ToplevelExport.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, render

protocols: do not destroy screencopy resources before client request
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
Labels: protocols, core

protocols: immediately copy toplevel content when ignoreDamage set
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: protocols, core

feat:Added a hyprctl socket command which forwards to a layout manager and allows for returning a response
  src/debug/HyprCtl.cpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
Labels: core, debug, layout

fix:Format the dwindle layout changes
  src/layout/DwindleLayout.cpp
Labels: core, layout

protocols: immediately copy toplevel content when ignoreDamage set (#9049) Also sets m_ignoreDamage, as it wasn't set before.
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: protocols, core

protocols: immediately copy toplevel content when ignoreDamage set (#9049)
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: protocols, core

renderer: unload background texture if it's disabled
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, config, render

renderer: unload background texture if it's disabled ref #9031
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, config, render

renderer: use cairo for cpu buffer rendering
  src/managers/PointerManager.cpp
Labels: core, managers

fix fs hdr check
  src/render/Renderer.cpp
Labels: core, render

renderer: fix fullscreen hdr check (#9076)
  src/render/Renderer.cpp
Labels: core, render

renderer: fix fullscreen hdr check (#9076)
  src/render/Renderer.cpp
Labels: core, render

renderer: use cairo for cpu buffer rendering (#9071)
  src/managers/PointerManager.cpp
Labels: core, managers

renderer: use cairo for cpu buffer rendering (#9071) Instead of a wonky memcpy which doesn't work when anything non-standard is used (size, pos, transform), just use cairo
  src/managers/PointerManager.cpp
Labels: core, managers

auto enable wcg for hdr
  src/render/Renderer.cpp
Labels: core, render

const flag
  src/render/Renderer.cpp
Labels: core, render

Update DesktopTypes.hpp
  src/desktop/DesktopTypes.hpp
Labels: core, desktop

per monitor hdr check
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

desktop/DesktopTypes.hpp: fix include (#9104)
  src/desktop/DesktopTypes.hpp
Labels: core, desktop

core: fix warning in shadow
  src/render/decorations/CHyprDropShadowDecoration.cpp
Labels: core, render

regex: log an error if regex parsing fails
  src/desktop/Rule.cpp
Labels: core, desktop

core: fix warning in shadow
  src/render/decorations/CHyprDropShadowDecoration.cpp
Labels: core, render

regex: log an error if regex parsing fails
  src/desktop/Rule.cpp
Labels: core, desktop

desktop/DesktopTypes.hpp: fix include (#9104)
  src/desktop/DesktopTypes.hpp
Labels: core, desktop

10bit warning notification
  src/render/Renderer.cpp
Labels: core, render

core: fixup includes
  src/config/ConfigManager.hpp
  src/helpers/Monitor.cpp
  src/helpers/WLClasses.hpp
  src/managers/AnimationManager.cpp
  src/protocols/FocusGrab.hpp
Labels: protocols, core, config, helpers, managers

core: fixup includes
  src/config/ConfigManager.hpp
  src/helpers/Monitor.cpp
  src/helpers/WLClasses.hpp
  src/managers/AnimationManager.cpp
  src/protocols/FocusGrab.hpp
Labels: protocols, core, config, helpers, managers

renderer: Auto enable wide color gamut in HDR mode (#9090)
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

renderer: Auto enable wide color gamut in HDR mode (#9090)
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

hyprctl plugin list: add -t option so we don't need glaze
  hyprctl/main.cpp
  hyprpm/src/core/PluginManager.cpp
  src/SharedDefs.hpp
  src/debug/HyprCtl.cpp
Labels: hyprctl, hyprpm, core, debug

Remove dependency on glaze
  .github/actions/setup_base/action.yml
  hyprpm/CMakeLists.txt
  hyprpm/src/meson.build
  nix/default.nix
Labels: hyprpm, nix

Document terse output mode for plugins
  hyprctl/Strings.hpp
Labels: hyprctl

CMake, Meson: properly install 'hyprland' symlink
  CMakeLists.txt
  src/meson.build
Labels: core

hyprland-lock-notify: add protocol implementation
  CMakeLists.txt
  flake.lock
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/LockNotify.cpp
  src/protocols/LockNotify.hpp
  src/protocols/SessionLock.cpp
Labels: protocols, core, managers
