Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

debug: fix overlay not rendering
  src/debug/HyprDebugOverlay.cpp
Labels: core, debug

functionHooks: wait for hyprland pages before returning addr for trampo ref #8845
  src/plugins/HookSystem.cpp
Labels: core, plugins

functionHooks: wait for hyprland pages before returning addr for trampo
  src/plugins/HookSystem.cpp
Labels: core, plugins

Introducing Hyprland Guru on Gurubase.io
  README.md
Labels: none

hyprpm: use glaze to parse hyprctl plugin list
  .github/actions/setup_base/action.yml
  hyprpm/CMakeLists.txt
  hyprpm/src/core/DataState.cpp
  hyprpm/src/core/DataState.hpp
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/meson.build
  nix/default.nix
Labels: hyprpm, nix

update ForeignTopLevel on null window focus
  src/protocols/ForeignToplevelWlr.cpp
Labels: protocols, core

fix
  src/protocols/ForeignToplevelWlr.cpp
Labels: protocols, core

clang
  src/protocols/ForeignToplevelWlr.cpp
Labels: protocols, core

Updated window position/size after changing fullscreenstate This effects fullscreen group of floating windows.
  src/desktop/Window.cpp
Labels: core, desktop

hyprpm: use glaze to parse hyprctl plugin list (#8812)
  .github/actions/setup_base/action.yml
  hyprpm/CMakeLists.txt
  hyprpm/src/core/DataState.cpp
  hyprpm/src/core/DataState.hpp
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/meson.build
  nix/default.nix
Labels: hyprpm, nix

internal: update window position/size after changing fullscreenstate (#8865) This effects fullscreen group of floating windows.
  src/desktop/Window.cpp
Labels: core, desktop

internal: update window position/size after changing fullscreenstate (#8865)
  src/desktop/Window.cpp
Labels: core, desktop

foreign-toplevel: update active on null window focus (#8860)
  src/protocols/ForeignToplevelWlr.cpp
Labels: protocols, core

foreign-toplevel: update active on null window focus (#8860) * update ForeignTopLevel on null window focus * fix * clang
  src/protocols/ForeignToplevelWlr.cpp
Labels: protocols, core

pass: scale blur regions properly
  src/render/pass/Pass.cpp
Labels: core, render

pass: scale blur regions properly
  src/render/pass/Pass.cpp
Labels: core, render

snap: don't snap to any windows if workspace has a fullscreen window
  src/layout/IHyprLayout.cpp
Labels: core, layout

snap: revert #8659, use bounds checking instead of bit mask
  src/layout/IHyprLayout.cpp
Labels: core, layout

Replaced always_center_master to slave_count_for_center_master (#1)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

snap: revert #8659, use bounds checking instead of bit mask (#8872)
  src/layout/IHyprLayout.cpp
Labels: core, layout

[gha] Nix: update inputs
  flake.lock
Labels: none

[gha] Nix: update inputs
  flake.lock
Labels: none

snap: give edge snapping precedence over corner snapping
  src/layout/IHyprLayout.cpp
Labels: core, layout

xwayland: don't create an abstract unix domain socket on linux
  src/xwayland/Server.cpp
Labels: core, xwayland

all i want for christmas
  src/helpers/Monitor.cpp
Labels: core, helpers

core: refactor/improve monitor mode selection (#8804)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/KeybindManager.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, helpers, managers, render

core: refactor/improve monitor mode selection (#8804)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/KeybindManager.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, helpers, managers, render

xwayland: don't create an abstract unix domain socket on linux (#8874)
  src/xwayland/Server.cpp
Labels: core, xwayland

xwayland: don't create an abstract unix domain socket on linux (#8874)
  src/xwayland/Server.cpp
Labels: core, xwayland

handle subsurfaces & defaults
  src/protocols/FrogColorManagement.cpp
  src/render/Renderer.cpp
Labels: protocols, core, render

snap: give edge snapping precedence over corner snapping (#8873)
  src/layout/IHyprLayout.cpp
Labels: core, layout

snap: give edge snapping precedence over corner snapping (#8873)
  src/layout/IHyprLayout.cpp
Labels: core, layout

pass: scale blur region in ::render
  src/render/pass/Pass.cpp
Labels: core, render

pass: scale blur region in ::render
  src/render/pass/Pass.cpp
Labels: core, render

Implement force reloading all plugins
  hyprpm/hyprpm.usage
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

ctm: add an internal fade animation to ctm transitions
  src/config/ConfigManager.cpp
  src/managers/AnimationManager.cpp
  src/protocols/CTMControl.cpp
  src/protocols/CTMControl.hpp
Labels: protocols, core, config, managers

ctm: add an internal fade animation to ctm transitions
  src/config/ConfigManager.cpp
  src/managers/AnimationManager.cpp
  src/protocols/CTMControl.cpp
  src/protocols/CTMControl.hpp
Labels: protocols, core, config, managers

remove framesToSkip, its not used anymore
  src/Compositor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

only set drm format when needed after leaving direct scanout
  src/render/Renderer.cpp
Labels: core, render

always set drm damage
  src/render/Renderer.cpp
Labels: core, render
