Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

don't over synchronize in scanout, also give present feedback on same buffer commit
  src/helpers/Monitor.cpp
Labels: core, helpers

cleanup eglSync
  src/helpers/sync/SyncReleaser.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

add renderingDoneCallback and use it in screencopy
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/Screencopy.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, helpers, render

remove syncReleaser and properly release buffers in renderer
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, helpers, render

watchdog: remove watchdog it has been unused for a while now
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Watchdog.cpp
  src/helpers/Watchdog.hpp
Labels: core, config, helpers

watchdog: remove watchdog
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Watchdog.cpp
  src/helpers/Watchdog.hpp
Labels: core, config, helpers

remove renderer finalDamage since it's unused
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/Pass.cpp
Labels: core, render

fix crash in data device on shutdown
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

input: gate behind `warp_on_toggle_special` instead
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

input: make clang format happy pls
  src/config/ConfigDescriptions.hpp
Labels: core, config

pass: remove renderer finalDamage since it's unused (#9996)
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/Pass.cpp
Labels: core, render

pass: remove renderer finalDamage since it's unused (#9996)
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/Pass.cpp
Labels: core, render

core: fix crash in data device on shutdown (#9997)
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

core: fix crash in data device on shutdown (#9997)
  src/protocols/core/DataDevice.cpp
Labels: protocols, core

IHyprLayout: respect minimum window size
  src/layout/IHyprLayout.cpp
Labels: core, layout

e
  src/layout/IHyprLayout.cpp
Labels: core, layout

e
  src/layout/IHyprLayout.cpp
Labels: core, layout

e
  src/layout/IHyprLayout.cpp
Labels: core, layout

e
  src/layout/IHyprLayout.cpp
Labels: core, layout

properly follow tearing control protocol
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/protocols/TearingControl.cpp
  src/protocols/TearingControl.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
Labels: protocols, core, desktop

allow tearing while direct scanout happens
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

move all direct scanout allowed code to attemptDirectScanout
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
Labels: core, helpers, render

use APIs to move/change workspace
  src/helpers/Monitor.cpp
Labels: core, helpers

set noFocus to false on restore
  src/helpers/Monitor.cpp
Labels: core, helpers

set unused param to false
  src/helpers/Monitor.cpp
Labels: core, helpers

move to better tearing mechanism, old stuff wasn't needed anymore
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/PresentationTime.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, debug, events, helpers, render

make scanout cursor commits not use tearing cause: "nO pRoP cAn Be ChAnGeD dUrInG AsYnC fLiP" on crtc_x
  src/helpers/Monitor.cpp
Labels: core, helpers

input: add warp_on_toggle_special (#9945)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

input: add warp_on_toggle_special (#9945)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

fix floating offscreen
  src/Compositor.cpp
  src/Compositor.hpp
  src/helpers/Monitor.cpp
Labels: core, helpers

cmake: do not install version.h.in
  CMakeLists.txt
Labels: none

rename NON_FULLSCREEN -> SKIP_FULLSCREEN_PRIORITY
  src/Compositor.cpp
  src/desktop/Window.hpp
  src/layout/DwindleLayout.cpp
Labels: core, desktop, layout

e
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/managers/input/InputManager.cpp
Labels: core, desktop, managers

first group bar autohide test
  src/desktop/Window.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, desktop, render

cmake: do not install version.h.in (#10035)
  CMakeLists.txt
Labels: none

cmake: do not install version.h.in (#10035)
  CMakeLists.txt
Labels: none

Revert "pass: remove renderer finalDamage since it's unused (#9996)"
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/Pass.cpp
Labels: core, render

pass: revert "remove renderer finalDamage since it's unused (#9996)" (#10039)
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/Pass.cpp
Labels: core, render

pass: revert "remove renderer finalDamage since it's unused (#9996)" (#10039) This reverts commit 0a7e2cb152a11db35aa134fad0919bc939f16bae.
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/Pass.cpp
Labels: core, render

change for suggestion
  src/helpers/Monitor.cpp
Labels: core, helpers
