Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

internal: remove dead code (#8748)
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/helpers/AnimatedVariable.cpp
  src/helpers/AnimatedVariable.hpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/managers/input/InputMethodRelay.cpp
  src/managers/input/InputMethodRelay.hpp
  src/protocols/core/Shm.hpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/DMABuffer.hpp
  src/render/OpenGL.cpp
Labels: protocols, core, config, desktop, events, helpers, layout, managers, render

internal: remove dead code (#8748)
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/helpers/AnimatedVariable.cpp
  src/helpers/AnimatedVariable.hpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/managers/input/InputMethodRelay.cpp
  src/managers/input/InputMethodRelay.hpp
  src/protocols/core/Shm.hpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/DMABuffer.hpp
  src/render/OpenGL.cpp
Labels: protocols, core, config, desktop, events, helpers, layout, managers, render

hyprctl: Fix `hyprctl` batch JSON command (#8749)
  hyprctl/main.cpp
Labels: hyprctl

hyprctl: Fix `hyprctl` batch JSON command (#8749)
  hyprctl/main.cpp
Labels: hyprctl

get broader GPUINFO
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

logging: get broader GPUINFO (#8753)
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

logging: get broader GPUINFO (#8753)
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

core: avoid activating toplevel-less surfaces
  src/managers/XWaylandManager.cpp
Labels: core, managers

core: avoid activating toplevel-less surfaces ref #8609
  src/managers/XWaylandManager.cpp
Labels: core, managers

xwayland: fix dnd including xwayland
  src/xwayland/Dnd.cpp
Labels: core, xwayland

xwayland: fix dnd including xwayland ref #8759
  src/xwayland/Dnd.cpp
Labels: core, xwayland

hyprpm: fix hyrpm sometimes returning 0 despite errors occuring
  hyprpm/src/main.cpp
Labels: hyprpm

xwm: fixup targets in selection requests
  src/xwayland/XWM.cpp
Labels: core, xwayland

xwm: fixup targets in selection requests fixes #8719
  src/xwayland/XWM.cpp
Labels: core, xwayland

make functions used in 1 file static
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/main.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/ThreadManager.cpp
  src/render/OpenGL.cpp
  src/xwayland/Server.cpp
Labels: core, debug, desktop, events, helpers, managers, render, xwayland

fix invalid substr param -1
  src/debug/HyprCtl.cpp
Labels: core, debug

CrashReporter: restore explicit environ(7) after 8bbeee11734d
  src/signal-safe.cpp
Labels: core

xwayland: fix compile with no xwayland
  src/xwayland/Dnd.cpp
Labels: core, xwayland

xwayland: fix compile with no xwayland
  src/xwayland/Dnd.cpp
Labels: core, xwayland

fix
  src/signal-safe.cpp
Labels: core

core: Unbreak build on FreeBSD (#8762)
  src/signal-safe.cpp
Labels: core

there u go
  hyprpm/src/main.cpp
Labels: hyprpm

fix Gpu info
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

implement xx cm missing bits
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/FrogColorManagement.hpp
  src/protocols/core/Compositor.hpp
  src/render/Renderer.cpp
Labels: protocols, core, config, managers, render

logging: fix Gpu info (#8764)
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

logging: fix Gpu info (#8764)
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

give default initializer to borderGradier
  src/layout/IHyprLayout.hpp
Labels: core, layout

hyprpm: fix hyrpm sometimes returning 0 despite errors occuring (#8761) * hyprpm: fix hyrpm sometimes returning 0 despite errors occuring * there u go
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: fix hyrpm sometimes returning 0 despite errors occuring (#8761)
  hyprpm/src/main.cpp
Labels: hyprpm

move RASSERT from printf to std::print
  src/macros.hpp
Labels: core

internal: Make static analysis more happy (#8767)
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/layout/IHyprLayout.hpp
  src/macros.hpp
  src/main.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/ThreadManager.cpp
  src/render/OpenGL.cpp
  src/xwayland/Server.cpp
Labels: core, debug, desktop, events, helpers, layout, managers, render, xwayland

Remove non-standard value from example config
  example/hyprland.conf
Labels: none

apply group rules after window creation
  src/layout/IHyprLayout.cpp
Labels: core, layout

cleanup
  src/config/ConfigManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/core/Compositor.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, managers, render

clang-format
  src/layout/IHyprLayout.cpp
Labels: core, layout

core: fix possible crash on null active workspace fixes #7822
  src/Compositor.cpp
Labels: core

core: fix possible crash on null active workspace
  src/Compositor.cpp
Labels: core

layout: apply group rules after window creation (#8779) * apply group rules after window creation * clang-format
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: apply group rules after window creation (#8779)
  src/layout/IHyprLayout.cpp
Labels: core, layout

core: fix possible crash on null active workspace
  src/Compositor.cpp
Labels: core

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
