Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

config/descriptions: add enable_anr_dialog
  src/config/ConfigDescriptions.hpp
Labels: core, config

anr: capitalize options
  src/managers/ANRManager.cpp
Labels: core, managers

anr: capitalize options
  src/managers/ANRManager.cpp
Labels: core, managers

feat(anr): add xwayland support
  src/desktop/Window.cpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
  src/xwayland/XWayland.hpp
Labels: core, desktop, managers, xwayland

refactor(anr): minor improvements
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
Labels: core, managers

refactor(anr): if fetching fails, default to unnamed
  src/managers/ANRManager.cpp
Labels: core, managers

chore: resolve compiler warnings
  src/managers/ANRManager.cpp
Labels: core, managers

refactor(anr): minor changes
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
Labels: core, managers

refactor(anr): restore atomic variables
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
Labels: core, managers

refactor(anr): better code organization and more templates cuz maintainer big mad
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
Labels: core, managers

chore: minor cleanup
  src/protocols/PointerConstraints.cpp
  src/protocols/PointerConstraints.hpp
Labels: protocols, core

xwayland: add INCR support for clipboard transfers (#9434)
  src/xwayland/XWM.cpp
Labels: core, xwayland

chore: style change
  src/managers/ANRManager.cpp
Labels: core, managers

flake.lock: update hyprutils and aquamarine
  flake.lock
Labels: none

flake.lock: update hyprutils and aquamarine
  flake.lock
Labels: none

nix/module: use xdph package directly
  nix/module.nix
Labels: nix

new lib
  nix/lib.nix
  nix/module.nix
Labels: nix

nix/module: toHyprconf -> toHyprlang
  nix/module.nix
Labels: nix

lib: add flattenAttrs, remove category processing
  nix/lib.nix
Labels: nix

Add documentation
  hyprctl/Strings.hpp
Labels: hyprctl

hyprctl: Add IPC support for Hyprsunset (#9315)
  hyprctl/Strings.hpp
  hyprctl/main.cpp
Labels: hyprctl

hyprctl: Add IPC support for Hyprsunset (#9315) * Add IPC support for Hyprsunset * clang-format * Add documentation
  hyprctl/Strings.hpp
  hyprctl/main.cpp
Labels: hyprctl

anr: add a note for no pid dialogs
  src/managers/ANRManager.cpp
Labels: core, managers

anr: add a note for no pid dialogs
  src/managers/ANRManager.cpp
Labels: core, managers

anr: add xwayland support
  src/desktop/Window.cpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
  src/xwayland/XSurface.cpp
  src/xwayland/XSurface.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWayland.hpp
Labels: core, desktop, managers, xwayland

fixes
  src/xwayland/XSurface.cpp
  src/xwayland/XSurface.hpp
  src/xwayland/XWM.cpp
Labels: core, xwayland

read wm protocols to get ping info
  src/xwayland/XSurface.cpp
  src/xwayland/XSurface.hpp
  src/xwayland/XWM.cpp
Labels: core, xwayland

anr: add xwayland support (#9456) Adds XWayland support to ANR dialogs
  src/desktop/Window.cpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
  src/xwayland/XSurface.cpp
  src/xwayland/XSurface.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWayland.hpp
Labels: core, desktop, managers, xwayland

anr: add xwayland support (#9456)
  src/desktop/Window.cpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
  src/xwayland/XSurface.cpp
  src/xwayland/XSurface.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWayland.hpp
Labels: core, desktop, managers, xwayland

remove xcb
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
Labels: core, xwayland

i forgor i didnt have autoformat
  src/xwayland/Dnd.hpp
Labels: core, xwayland

dispatchers: Allow relative numbers for scaleactive
  src/managers/KeybindManager.cpp
Labels: core, managers

Less crash-prone monitor config parser
  src/config/ConfigManager.cpp
Labels: core, config

yes
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
Labels: core, xwayland

signalActive: use isNumber from hyprutils
  src/managers/KeybindManager.cpp
Labels: core, managers

protocols: allow xdg share pickers to reconcile with hyprctl
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/protocols/ForeignToplevelWlr.cpp
  src/protocols/ForeignToplevelWlr.hpp
Labels: protocols, core, config

flake.lock: update
  flake.lock
Labels: none

xcursor: move config check to sync gsettings
  src/managers/XCursorManager.cpp
Labels: core, managers

lib: add proper NixDoc
  nix/lib.nix
Labels: nix

xcursor: move config check to sync gsettings (#9473)
  src/managers/XCursorManager.cpp
Labels: core, managers

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
