Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

config: Refactor class member vars (#10124)
  src/Compositor.cpp
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/desktop/Window.cpp
  src/devices/IKeyboard.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
  src/main.cpp
  src/managers/KeybindManager.cpp
  src/managers/input/Touch.cpp
  src/protocols/OutputManagement.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: protocols, core, config, debug, desktop, devices, helpers, layout, managers, render

tablet: naive window refocusing (#10110)
  src/managers/input/Tablets.cpp
Labels: core, managers

protocols: add xdg_toplevel_tag_v1 support
  CMakeLists.txt
  protocols/meson.build
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/XDGShell.hpp
  src/protocols/XDGTag.cpp
  src/protocols/XDGTag.hpp
Labels: protocols, core, config, debug, desktop, managers

InputManager: add nofollowmouse (#9994)
  src/desktop/Window.hpp
  src/managers/input/InputManager.cpp
Labels: core, desktop, managers

keybinds: allow executing binds not bound to a key (#10102)
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

keybindmgr: fixup bindn regression
  src/managers/KeybindManager.cpp
Labels: core, managers

helpers: properly support next/prev for workspace switching (#10074)
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

groupbar: Add options for setting group bar title font weight (and indicator gap) (#9617)
  src/config/ConfigDataValues.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: core, config, render

protocols: add Hyprland toplevel mapping implementation (#9775)
  CMakeLists.txt
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/ForeignToplevel.cpp
  src/protocols/ForeignToplevel.hpp
  src/protocols/ForeignToplevelWlr.cpp
  src/protocols/ToplevelMapping.cpp
  src/protocols/ToplevelMapping.hpp
Labels: protocols, core, managers

dwindle: use idealIgnoreReserved for moveWindowTo bbs
  src/layout/DwindleLayout.cpp
Labels: core, layout

flake.lock: update
  flake.lock
Labels: none

permissions: add perms for plugin loading (#10184)
  example/hyprland.conf
  hyprpm/src/core/HyprlandSocket.cpp
  hyprpm/src/core/HyprlandSocket.hpp
  hyprpm/src/core/PluginManager.cpp
  src/config/ConfigManager.cpp
  src/config/defaultConfig.hpp
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
  src/plugins/PluginSystem.cpp
  src/plugins/PluginSystem.hpp
Labels: hyprpm, core, config, debug, managers, plugins

nix/overlays: add w-p 1.43
  nix/overlays.nix
Labels: nix

layerrules: add abovelock to render above lockscreen (#9793)
  src/Compositor.cpp
  src/Compositor.hpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/managers/input/InputManager.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, desktop, managers, render

window: make AsyncDialogBoxes not closeable
  src/events/Windows.cpp
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
Labels: core, events, helpers

workspaces: refactor class member vars (#10167)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Rule.cpp
  src/desktop/Rule.hpp
  src/desktop/Subsurface.cpp
  src/desktop/Subsurface.hpp
  src/desktop/WLSurface.cpp
  src/desktop/WLSurface.hpp
  src/desktop/Window.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/events/Windows.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Touch.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/HyprlandSurface.cpp
  src/protocols/PointerConstraints.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, config, debug, desktop, events, helpers, layout, managers, render

SECURITY: init security policy
  SECURITY.md
Labels: none

protocols: add support for xdg-system-bell-v1
  CMakeLists.txt
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/XDGBell.cpp
  src/protocols/XDGBell.hpp
Labels: protocols, core, managers

decorationPositioner: update posinfo on window update
  src/render/decorations/DecorationPositioner.cpp
Labels: core, render

async: add Promise and use it for AsyncDialogBox
  src/config/ConfigManager.cpp
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
  src/helpers/defer/Promise.hpp
  src/managers/ANRManager.cpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
Labels: core, config, helpers, managers

window: Fix order of urgency flag and event emission (#10163)
  src/desktop/Window.cpp
Labels: core, desktop

layers: refactor class member vars (#10149)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/desktop/Subsurface.cpp
  src/desktop/WLSurface.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/managers/AnimationManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Touch.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, config, debug, desktop, events, helpers, managers, render

screencopy: support hw cursors while sharing with cursor
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
Labels: protocols, core, managers

windowrules: add noclosefor
  src/Compositor.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/events/Windows.cpp
  src/managers/KeybindManager.cpp
Labels: core, desktop, events, managers

asyncdialogbox: fix missing header
  src/helpers/AsyncDialogBox.cpp
Labels: core, helpers

renderer: add render:send_content_type setting (#9851)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

screencopy: don't render cursor when frame doesn't want it
  src/protocols/Screencopy.cpp
Labels: protocols, core

devices: refactor class member vars (#10206)
  src/debug/HyprCtl.cpp
  src/devices/IHID.hpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/devices/IPointer.hpp
  src/devices/ITouch.hpp
  src/devices/Keyboard.cpp
  src/devices/Keyboard.hpp
  src/devices/Mouse.cpp
  src/devices/Mouse.hpp
  src/devices/Tablet.cpp
  src/devices/Tablet.hpp
  src/devices/TouchDevice.cpp
  src/devices/TouchDevice.hpp
  src/devices/VirtualKeyboard.cpp
  src/devices/VirtualKeyboard.hpp
  src/devices/VirtualPointer.cpp
  src/devices/VirtualPointer.hpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Tablets.cpp
  src/managers/input/Touch.cpp
  src/protocols/InputMethodV2.cpp
  src/protocols/Tablet.cpp
  src/protocols/core/Seat.cpp
Labels: protocols, core, debug, devices, managers

cm: Use precomputed primaries conversion (#9814)
  src/protocols/ColorManagement.cpp
  src/protocols/types/ColorManagement.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/Shader.hpp
  src/render/shaders/glsl/CM.frag
  src/render/shaders/glsl/CM.glsl
  src/render/shaders/glsl/blurprepare.frag
  src/render/shaders/glsl/border.frag
  src/render/shaders/glsl/shadow.frag
Labels: protocols, core, render

xdg-bell/xdg-tag: fix moved resource usage
  src/protocols/XDGBell.cpp
  src/protocols/XDGTag.cpp
Labels: protocols, core

Update InputManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

Update InputManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

fix https://github.com/hyprwm/Hyprland/issues/8795
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/devices/IPointer.hpp
  src/managers/input/InputManager.cpp
Labels: core, config, devices, managers

input: don't use pointer hold logic for unmapped surfs fixes #10215
  src/desktop/LayerSurface.cpp
  src/managers/input/InputManager.cpp
Labels: core, desktop, managers

input: don't use pointer hold logic for unmapped surfs
  src/desktop/LayerSurface.cpp
  src/managers/input/InputManager.cpp
Labels: core, desktop, managers

permissions: disable automatic reloading of permissions from cfg security reasons, avoid reading them live. Ideally we'd lock them behind sudo, but we can't do that.
  example/hyprland.conf
  src/config/ConfigManager.cpp
  src/config/defaultConfig.hpp
Labels: core, config

permissions: disable automatic reloading of permissions from cfg
  example/hyprland.conf
  src/config/ConfigManager.cpp
  src/config/defaultConfig.hpp
Labels: core, config

e
  src/managers/DonationNagManager.cpp
Labels: core, managers

cleanup eglSync
  src/helpers/sync/SyncReleaser.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

add renderingDoneCallback and use it in screencopy
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/Screencopy.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, helpers, render
