Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

[gha] Nix: update inputs
  flake.lock
Labels: none

snap: don't snap to any windows if workspace has a fullscreen window (#8870)
  src/layout/IHyprLayout.cpp
Labels: core, layout

snap: don't snap to any windows if workspace has a fullscreen window (#8870)
  src/layout/IHyprLayout.cpp
Labels: core, layout

core/compositor: fix too early buffer release (#8966)
  src/protocols/core/Compositor.cpp
Labels: protocols, core

core/compositor: fix too early buffer release (#8966)
  src/protocols/core/Compositor.cpp
Labels: protocols, core

hyprctl: fix hyprctl --batch not working with exec rules (#8952)
  src/debug/HyprCtl.cpp
Labels: core, debug

hyprctl: fix hyprctl --batch not working with exec rules (#8952)
  src/debug/HyprCtl.cpp
Labels: core, debug

add option to show slaves on left in master center orientation
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

core: use CGenericAnimatedVariabled::{enabled,setConfig,getStyle} and adapt callbacks
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Window.cpp
  src/desktop/Workspace.cpp
  src/events/Windows.cpp
  src/hyprerror/HyprError.cpp
  src/managers/AnimationManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Touch.cpp
  src/protocols/CTMControl.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: protocols, core, debug, desktop, events, hyprerror, managers, render

config: move animation config to hyprutils animation tree
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/AnimationManager.cpp
Labels: core, config, managers

use g_pAnimationManager->createAnimation and the new PHLANIMVAR template
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/protocols/CTMControl.cpp
  src/protocols/CTMControl.hpp
Labels: protocols, core, desktop, hyprerror

core: change animation manager to use Hyprutils::Animation
  src/helpers/AnimatedVariable.cpp
  src/helpers/AnimatedVariable.hpp
  src/helpers/BezierCurve.cpp
  src/helpers/BezierCurve.hpp
  src/helpers/WLClasses.hpp
  src/managers/AnimationManager.cpp
  src/managers/AnimationManager.hpp
Labels: core, helpers, managers

misc: bump CMakeLists to hyprutils 0.3.3
  CMakeLists.txt
Labels: none

core: adapt animated variable usage (dereference the shared pointer)
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Subsurface.cpp
  src/desktop/WLSurface.cpp
  src/desktop/Window.cpp
  src/desktop/Workspace.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/hyprerror/HyprError.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Tablets.cpp
  src/managers/input/Touch.cpp
  src/protocols/CTMControl.cpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/DecorationPositioner.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, debug, desktop, events, helpers, hyprerror, layout, managers, render

fix: blank windows when using corner rounding (#8969)
  src/render/shaders/Textures.hpp
Labels: core, render

cleanups
  src/Compositor.cpp
  src/Compositor.hpp
  src/desktop/WLSurface.hpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
Labels: protocols, core, desktop

shaders: fix blank windows when using corner rounding (#8969) (#8971)
  src/render/shaders/Textures.hpp
Labels: core, render

shaders: fix blank windows when using corner rounding (#8969) (#8971)
  src/render/shaders/Textures.hpp
Labels: core, render

k
  .github/workflows/ci.yaml
Labels: none

fix
  .github/workflows/ci.yaml
Labels: none

fix the fix
  .github/workflows/ci.yaml
Labels: none

f
  .github/workflows/ci.yaml
Labels: none

move SImageDescription to types
  src/Compositor.hpp
  src/protocols/ColorManagement.hpp
  src/protocols/types/ColorManagement.hpp
Labels: protocols, core

add donation nag
  src/Compositor.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/helpers/fs/FsUtils.cpp
  src/helpers/fs/FsUtils.hpp
  src/managers/DonationNagManager.cpp
  src/managers/DonationNagManager.hpp
  src/managers/VersionKeeperManager.cpp
  src/managers/VersionKeeperManager.hpp
Labels: core, helpers, managers

make it disableable
  src/config/ConfigManager.cpp
  src/managers/DonationNagManager.cpp
Labels: core, config, managers

master: add option to show slaves on left in center orientation (#8940)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

master: add option to show slaves on left in center orientation (#8940) Co-authored-by: Zetta1_Reid0 <11255-Zetta1_Reid0@users.noreply.gitlab.xfce.org>
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

animationmgr: fix invalid include
  src/managers/AnimationManager.hpp
Labels: core, managers

animationmgr: fix invalid include
  src/managers/AnimationManager.hpp
Labels: core, managers

core: Add support for HDR and color management protocols (#8715)
  CMakeLists.txt
  protocols/frog-color-management-v1.xml
  protocols/meson.build
  protocols/xx-color-management-v4.xml
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/WLSurface.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/FrogColorManagement.hpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/ColorManagement.hpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, config, desktop, managers, render

core: Add support for HDR and color management protocols (#8715)
  CMakeLists.txt
  protocols/frog-color-management-v1.xml
  protocols/meson.build
  protocols/xx-color-management-v4.xml
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/WLSurface.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/FrogColorManagement.hpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/ColorManagement.hpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, config, desktop, managers, render

config: update animation even if disabled
  src/config/ConfigManager.cpp
Labels: core, config

config: update animation even if disabled
  src/config/ConfigManager.cpp
Labels: core, config

core: minor fixes for animation rewrite
  src/desktop/Workspace.cpp
  src/managers/AnimationManager.cpp
Labels: core, desktop, managers

core: minor fixes for animation rewrite
  src/desktop/Workspace.cpp
  src/managers/AnimationManager.cpp
Labels: core, desktop, managers

window: fixup fade out animation on silent moves
  src/desktop/Window.cpp
Labels: core, desktop

window: fixup fade out animation on silent moves
  src/desktop/Window.cpp
Labels: core, desktop

Add tag: to window parameters for matching tag(s) by regex
  src/Compositor.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

k
  src/managers/KeybindManager.cpp
Labels: core, managers

protocols: fix compilation error
  src/protocols/FrogColorManagement.cpp
Labels: protocols, core

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
