Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

stuff
  src/Compositor.hpp
  src/events/Monitors.cpp
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, events, managers

fix crashas
  src/protocols/core/Compositor.cpp
  src/protocols/types/WLBuffer.cpp
  src/render/Renderer.cpp
Labels: protocols, core, render

add scheduleFrame reasons (#6799)
  src/Compositor.cpp
  src/Compositor.hpp
  src/events/Monitors.cpp
  src/helpers/Monitor.cpp
  src/managers/AnimationManager.cpp
  src/managers/CursorManager.cpp
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/render/Renderer.cpp
Labels: core, events, helpers, managers, render

thanks ikalco
  CMakeLists.txt
Labels: none

stuf
  src/helpers/Monitor.cpp
Labels: core, helpers

stuff for aq alloc split
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/managers/PointerManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/protocols/Viewporter.hpp
  src/render/OpenGL.cpp
  src/render/Renderer.hpp
Labels: protocols, core, config, helpers, managers, render

logs
  src/protocols/Screencopy.cpp
Labels: protocols, core

use output state format
  src/debug/HyprCtl.cpp
  src/helpers/Monitor.hpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: protocols, core, debug, helpers, render

make explicit sync setting actually disable it
  src/render/Renderer.cpp
Labels: core, render

thanks ikalco
  src/protocols/LinuxDMABUF.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: protocols, core, render

thanks virt
  src/debug/HyprCtl.cpp
Labels: core, debug

flake.lock: update
  flake.lock
Labels: none

Nix: add xcursor dep
  nix/default.nix
Labels: nix

send flag on main tranche
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

Aquamarine headers for no pch build and a heap use after free (#6892)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/devices/IKeyboard.cpp
  src/helpers/Format.cpp
  src/helpers/math/Math.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/managers/CursorManager.hpp
  src/managers/PointerManager.hpp
  src/managers/ProtocolManager.cpp
  src/plugins/PluginAPI.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/Screencopy.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/WLBuffer.cpp
  src/render/OpenGL.cpp
  src/render/Renderbuffer.cpp
  src/render/Renderbuffer.hpp
  src/xwayland/Server.cpp
Labels: protocols, core, config, debug, devices, helpers, managers, plugins, render, xwayland

initialize arrays
  src/devices/IKeyboard.hpp
Labels: core, devices

no leakeroni
  src/managers/CursorManager.cpp
Labels: core, managers

stuff
  src/helpers/Monitor.cpp
  src/render/OpenGL.cpp
Labels: core, helpers, render

Hw cursors fix for nvidia (#6847)
  src/config/ConfigManager.cpp
  src/managers/PointerManager.cpp
  src/render/Renderer.cpp
Labels: core, config, managers, render

shm drm woo
  src/protocols/core/Shm.cpp
Labels: protocols, core

flake.lock: update
  flake.lock
Labels: none

ds fixes
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

viewporter stuff
  src/protocols/Viewporter.cpp
Labels: protocols, core

fix
  src/Compositor.cpp
Labels: core

flake: update aquamarine
  flake.lock
Labels: none

flake: update aquamarine
  flake.lock
Labels: none

flake: update aquamarine
  flake.lock
Labels: none

fix crash
  src/protocols/MesaDRM.cpp
Labels: protocols, core

fix possible crash 2
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

fix possible crash 3
  src/protocols/LinuxDMABUF.cpp
  src/protocols/MesaDRM.cpp
Labels: protocols, core

flake: update aquamarine
  flake.lock
Labels: none

rerun pipeline
  src/protocols/LinuxDMABUF.cpp
Labels: protocols, core

touch: add touch swipe invert config (#6940)
  src/config/ConfigManager.cpp
  src/managers/input/Touch.cpp
Labels: core, config, managers

touch: add touch swipe invert config (#6940)
  src/config/ConfigManager.cpp
  src/managers/input/Touch.cpp
Labels: core, config, managers

hyprpm: init submodules after resets
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

hyprpm: init submodules after resets ref #6948
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

input: fix invalid usage of dev in setTouchDeviceConfigs ref #6943
  src/managers/input/InputManager.cpp
Labels: core, managers

input: fix invalid usage of dev in setTouchDeviceConfigs
  src/managers/input/InputManager.cpp
Labels: core, managers

xwayland: avoid unfocusing on OR child focuses fixes #6698
  src/xwayland/XWM.cpp
Labels: core, xwayland

xwayland: avoid unfocusing on OR child focuses
  src/xwayland/XWM.cpp
Labels: core, xwayland
