Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

renderer: simplify blur enabling logic
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, render

renderer: simplify blur enabling logic
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, render

hyprpm: fix format crash ref #8487
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

hyprpm: fix format crash
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

allow repeating multiple binds modified: src/managers/KeybindManager.cpp modified: src/managers/KeybindManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

only add timer once modified: src/managers/KeybindManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers

windows/xdg: minor cleanup of min/max size calculations fixes #8495
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/XWaylandManager.cpp
  src/managers/XWaylandManager.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
Labels: protocols, core, desktop, events, layout, managers

windows/xdg: minor cleanup of min/max size calculations
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/XWaylandManager.cpp
  src/managers/XWaylandManager.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
Labels: protocols, core, desktop, events, layout, managers

hooks: add pre connected/disconnected monitor events (#8503)
  src/helpers/Monitor.cpp
Labels: core, helpers

hooks: add pre connected/disconnected monitor events (#8503)
  src/helpers/Monitor.cpp
Labels: core, helpers

rebase modified: src/managers/KeybindManager.cpp modified: src/managers/KeybindManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

shell: don't use fgrep, prefer grep -F
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

shell: don't use fgrep, prefer grep -F
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

shell: propagate new machanism from hyprctl to miscfunctions
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

shell: propagate new machanism from hyprctl to miscfunctions
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

format modified: src/managers/KeybindManager.cpp modified: src/managers/KeybindManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

Fix example config name @ auto-generated cfg header
  src/config/defaultConfig.hpp
Labels: core, config

miscfunctions: add missing include
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

miscfunctions: add missing include
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

constraints: don't warp pointer position on release (#8491)
  src/protocols/PointerConstraints.cpp
Labels: protocols, core

xcursors: store themes in a std:set to order it (#8474)
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
Labels: core, managers

workspace: fix missing name via focusworkspaceoncurrentmonitor (#8484)
  src/managers/KeybindManager.cpp
Labels: core, managers

constraints: don't warp pointer position on release (#8491)
  src/protocols/PointerConstraints.cpp
Labels: protocols, core

renderer: scaled surfaces could have zero area (#8423)
  src/render/Renderer.cpp
Labels: core, render

renderer: don't render unmapped popups
  src/desktop/Popup.hpp
  src/render/Renderer.cpp
Labels: core, desktop, render

shell: don't use fgrep, prefer grep -F
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

makefile: add stub to discourage direct make
  Makefile
Labels: none

hyprpm: fix format crash
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

windows/xdg: minor cleanup of min/max size calculations
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/XWaylandManager.cpp
  src/managers/XWaylandManager.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
Labels: protocols, core, desktop, events, layout, managers

protocols: mark primarySelection as not privileged
  src/managers/ProtocolManager.cpp
Labels: core, managers

workspacerules: Do not check 'on-created-empty' if using a workspace windowrule (#8486)
  src/events/Windows.cpp
Labels: core, events

core: guard pmonitor in focuswindow
  src/Compositor.cpp
Labels: core

defaultConfig: fixup smart gaps rules
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

version: bump to 0.45.1
  VERSION
Labels: none

[gha] Nix: update inputs
  flake.lock
Labels: none

miscfunctions: fix cross build
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

miscfunctions: fix cross build
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

internal: fix changeWindowZOrder reordering incorrectly (#8494)
  src/Compositor.cpp
Labels: core

internal: fix changeWindowZOrder reordering incorrectly (#8494)
  src/Compositor.cpp
Labels: core

Fix example config name in auto-generated cfg header (#8509)
  src/config/defaultConfig.hpp
Labels: core, config
