Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

internal: redirect exec'd app output to /dev/null (#9411)
  src/managers/KeybindManager.cpp
Labels: core, managers

internal: redirect exec'd app output to /dev/null (#9411)
  src/managers/KeybindManager.cpp
Labels: core, managers

workspaces: update persistence on workspace rename (#9368)
  src/Compositor.cpp
  src/Compositor.hpp
  src/debug/HyprCtl.cpp
  src/desktop/Workspace.cpp
Labels: core, debug, desktop

workspaces: update persistence on workspace rename (#9368)
  src/Compositor.cpp
  src/Compositor.hpp
  src/debug/HyprCtl.cpp
  src/desktop/Workspace.cpp
Labels: core, debug, desktop

hyprtester: add arg parsing, allow cmake install
  hyprtester/CMakeLists.txt
  hyprtester/src/main.cpp
Labels: none

nix: add hyprtester
  flake.nix
  nix/hyprtester.nix
  nix/overlays.nix
Labels: nix

nix/tests: sorry attempt at using hyprtester
  nix/tests/default.nix
Labels: nix

fixed socket not returning errors where appropriate
  src/managers/KeybindManager.cpp
Labels: core, managers

balls
  src/xwayland/XWM.cpp
Labels: core, xwayland

xwayland: fix a possible clipboard race condition (#9394)
  src/xwayland/XDataSource.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

xwayland: fix a possible clipboard race condition (#9394)
  src/xwayland/XDataSource.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

keybinds: fix some errors not returning a failure (#9416)
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds: fix some errors not returning a failure (#9416)
  src/managers/KeybindManager.cpp
Labels: core, managers

fixed description
  src/config/ConfigDescriptions.hpp
Labels: core, config

xwayland: configure on a configure request and cleanup geometry conversion (#9375)
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/xwayland/XSurface.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, desktop, xwayland

refactor(xwayland): improve dnd and cleanup
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: protocols, core, xwayland

fix(subsurface): dont try to access popup surfaces when handling subsurface updates
  src/desktop/Popup.hpp
  src/desktop/Subsurface.cpp
Labels: core, desktop

feat(window): add option to disable maximized hints
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

i like this better
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

animations: add the gnomed animation style for windows
  src/managers/AnimationManager.cpp
  src/managers/AnimationManager.hpp
Labels: core, managers

animations: add the gnomed animation style for windows
  src/managers/AnimationManager.cpp
  src/managers/AnimationManager.hpp
Labels: core, managers

suggestions
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/desktop/Subsurface.cpp
Labels: core, desktop

input: add follow_mouse_threshold (#9392)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, config, managers

input: add follow_mouse_threshold (#9392)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, config, managers

protocols: ensure PointerConstraints activation occurs only after attched to InputManager
  src/protocols/PointerConstraints.cpp
  src/protocols/PointerConstraints.hpp
Labels: protocols, core

dispatchers: add scaleactive for per-window content scaling
  src/Compositor.cpp
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/InputManager.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/SurfacePassElement.hpp
Labels: protocols, core, desktop, managers, render

subsurfaces: dont try to access popup surfaces when handling subsurface updates (#9421)
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/desktop/Subsurface.cpp
Labels: core, desktop

subsurfaces: dont try to access popup surfaces when handling subsurface updates (#9421)
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/desktop/Subsurface.cpp
Labels: core, desktop

fix clang-format errors
  src/Compositor.cpp
  src/desktop/Window.hpp
  src/managers/input/InputManager.cpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/SurfacePassElement.hpp
Labels: core, desktop, managers, render

windowrule: added contentscale property
  src/Compositor.cpp
  src/config/ConfigManager.hpp
  src/desktop/Popup.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
  src/render/Renderer.cpp
Labels: core, config, desktop, managers, render

hyprctl: don't return empty str if there are no global shortcuts fixes #6043
  src/debug/HyprCtl.cpp
Labels: core, debug

hyprctl: don't return empty str if there are no global shortcuts
  src/debug/HyprCtl.cpp
Labels: core, debug

hyprctl: small fix
  hyprctl/main.cpp
Labels: hyprctl

refactor(build): convert generateVersion to posix
  scripts/generateVersion.sh
Labels: none

scripts/generateVersion.sh: convert to posix (#9433)
  scripts/generateVersion.sh
Labels: none

scripts/generateVersion.sh: convert to posix (#9433)
  scripts/generateVersion.sh
Labels: none

fix(xwayland): add INCR support for clipboard transfers
  src/xwayland/XWM.cpp
Labels: core, xwayland

core: add an ANR dialog for xdg-shell, we can ping the wm_base, and thus render an ANR dialog if an app dies for XWayland, there probably is a similar method, but I don't know about it and don't care.
  CMakeLists.txt
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, desktop, managers, render

core: add an ANR dialog
  CMakeLists.txt
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, desktop, managers, render

config/descriptions: add enable_anr_dialog
  src/config/ConfigDescriptions.hpp
Labels: core, config

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
