Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

add snapping to floating windows
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

snap: add more ignore criteria and change if clause into a guard
  src/layout/IHyprLayout.cpp
Labels: core, layout

fix drm lease protocol
  src/protocols/DRMLease.cpp
  src/protocols/DRMLease.hpp
Labels: protocols, core

drm-lease: fix crashes and implementation (#8116)
  src/protocols/DRMLease.cpp
  src/protocols/DRMLease.hpp
Labels: protocols, core

drm-lease: fix crashes and implementation (#8116)
  src/protocols/DRMLease.cpp
  src/protocols/DRMLease.hpp
Labels: protocols, core

IME: Fixup IME popup candidate windows position when scale is not 1.0
  src/managers/input/InputMethodPopup.cpp
Labels: core, managers

example: update desktop file to include DesktopNames
  example/hyprland.desktop
Labels: none

example: update desktop file to include DesktopNames
  example/hyprland.desktop
Labels: none

IME: Fixup IME popup candidate windows position when scale is not 1.0 (#8117)
  src/managers/input/InputMethodPopup.cpp
Labels: core, managers

IME: Fixup IME popup candidate windows position when scale is not 1.0 (#8117)
  src/managers/input/InputMethodPopup.cpp
Labels: core, managers

layout: simplify the conditions to autogroup
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: simplify the conditions to autogroup (#8120)
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: simplify the conditions to autogroup (#8120)
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: enable group rules for new floating windows
  src/layout/IHyprLayout.cpp
Labels: core, layout

clean up modified: src/events/Windows.cpp
  src/events/Windows.cpp
Labels: core, events

makefile: fix typo
  Makefile
Labels: none

fix comment
  src/layout/IHyprLayout.cpp
Labels: core, layout

comment
  src/layout/IHyprLayout.cpp
Labels: core, layout

do not apply group rules to a new floating window if it shouldBeFloated. fixes child windows
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: enable group rules for new floating windows (#8122)
  src/layout/IHyprLayout.cpp
Labels: core, layout

[gha] Nix: update inputs
  flake.lock
Labels: none

[gha] Nix: update inputs
  flake.lock
Labels: none

layout: move applyGroupRules() to onWindowCreated()
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, layout, render

Fix hyprpm crashes due to misplaced fmt argument(s)
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

output: send enter events on late wl_output binds fixes #6560
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Output.cpp
Labels: protocols, core

output: send enter events on late wl_output binds
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Output.cpp
Labels: protocols, core

layout: move applyGroupRules() to onWindowCreated() (#8139)
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, layout, render

layout: move applyGroupRules() to onWindowCreated() (#8139)
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, layout, render

hyprpm: Fix crashes due to misplaced fmt argument(s) (#8140)
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

hyprpm: Fix crashes due to misplaced fmt argument(s) (#8140)
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

window: properly break cycles in X11TransientFor
  src/desktop/Window.cpp
Labels: core, desktop

window: properly break cycles in X11TransientFor ref #8045
  src/desktop/Window.cpp
Labels: core, desktop

feat: drag the window when the cursor starts moving
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

clang-format
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

hyprctl: Add caps/num lock state
  src/debug/HyprCtl.cpp
Labels: core, debug

Fixed clang format
  src/debug/HyprCtl.cpp
Labels: core, debug

makefile: fix typo (#8127)
  Makefile
Labels: none

makefile: fix typo (#8127)
  Makefile
Labels: none

Fixed JSON format
  src/debug/HyprCtl.cpp
Labels: core, debug

makefile: fix typo (#8127)
  Makefile
Labels: none

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
