Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

remove unnecessary check as https://github.com/hyprwm/Hyprland/pull/3302 is no longer reproduceable
  src/layout/DwindleLayout.cpp
Labels: core, layout

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

acept optional window selector
  src/layout/DwindleLayout.cpp
Labels: core, layout

dwindle: add config option `split_bias`
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
Labels: core, config, layout

dwindle: add config option `split_bias` (#7920)
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
Labels: core, config, layout

check argument against "unstable"
  src/layout/DwindleLayout.cpp
Labels: core, layout

Fix Musl builds
  src/protocols/PresentationTime.cpp
Labels: protocols, core

core: Fix Musl builds (#7934)
  src/protocols/PresentationTime.cpp
Labels: protocols, core

core: Fix Musl builds (#7934) Musl does not include the internal type `__time_t`. Use `time_t` instead.
  src/protocols/PresentationTime.cpp
Labels: protocols, core

config: add descriptions for dwindle and master layout options
  src/config/ConfigDescriptions.hpp
Labels: core, config

fix: XWayland floating windows
  src/layout/IHyprLayout.cpp
Labels: core, layout

CI/Nix: git+https -> github
  .github/workflows/nix-build.yml
Labels: none

CI/Nix: git+https -> github
  .github/workflows/nix-build.yml
Labels: none

config: add descriptions for dwindle and master layout options (#7933)
  src/config/ConfigDescriptions.hpp
Labels: core, config

config: add descriptions for dwindle and master layout options (#7933)
  src/config/ConfigDescriptions.hpp
Labels: core, config

flake.lock: update
  flake.lock
Labels: none

dwindle: add movetoroot method to layout messages (#7903)
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
Labels: core, layout

dwindle: add movetoroot method to layout messages (#7903)
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
Labels: core, layout

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

single-pixel-buffer: new protocol impl fixes #6624
  CMakeLists.txt
  src/helpers/Color.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
Labels: protocols, core, helpers, managers

single-pixel-buffer: new protocol impl
  CMakeLists.txt
  src/helpers/Color.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
Labels: protocols, core, helpers, managers

meson: fix arch build with new protocol
  protocols/meson.build
Labels: protocols

protocol: fix missing include
  src/protocols/SinglePixel.cpp
Labels: protocols, core

protocol: fix missing include
  src/protocols/SinglePixel.cpp
Labels: protocols, core

meson: fix arch build with new protocol
  protocols/meson.build
Labels: protocols

meson: fix arch build with new protocol
  protocols/meson.build
Labels: protocols

protocol: fix missing include
  src/protocols/SinglePixel.cpp
Labels: protocols, core

input-capture: impl keyboard, mouse button & mouse wheel
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

WIP: input capture
  .gitmodules
  CMakeLists.txt
  src/managers/PointerManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
  src/protocols/core/Output.cpp
Labels: protocols, core, managers

input-capture: fix build
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: code cleanup
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: Init active property & upstream protocol changes
  src/managers/PointerManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: inhibit inputs
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

refactor: unify and simplify the code
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.cpp
Labels: core, layout

input-capture: fixes
  CMakeLists.txt
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

compositor/wayland: up the max buffer size to avoid disconnects when app hangs
  CMakeLists.txt
  src/Compositor.cpp
  src/helpers/ByteOperations.hpp
Labels: core, helpers

compositor/wayland: up the max buffer size to avoid disconnects when app hangs
  CMakeLists.txt
  src/Compositor.cpp
  src/helpers/ByteOperations.hpp
Labels: core, helpers

byteoperations: add missing header
  src/helpers/ByteOperations.hpp
Labels: core, helpers
