Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

rules/windowRuleApplicator: fix min/max size effects
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

tests
  hyprtester/src/tests/main/window.cpp
Labels: none

run
  example/hyprland.conf
  src/i18n/Engine.cpp
Labels: core

i18n: fix typos/unnatural spellings in french translation (#12443)
  src/i18n/Engine.cpp
Labels: core

g
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

cm: higher-quality tonemapping
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/Shader.hpp
  src/render/shaders/glsl/CM.glsl
  src/render/shaders/glsl/blurprepare.frag
Labels: protocols, core, render

fix(tag): preserve workspace and monitor from exec rules
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

hyprpm: check for abi strings in headersValid
  hyprpm/src/core/DataState.cpp
  hyprpm/src/core/DataState.hpp
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  src/debug/HyprCtl.cpp
  src/main.cpp
Labels: hyprpm, core, debug

desktop/overridableVar: improve performance
  src/desktop/types/OverridableVar.hpp
Labels: core, desktop

Added Finnish translations
  src/i18n/Engine.cpp
Labels: core

e
  hyprpm/src/core/DataState.cpp
  hyprpm/src/core/DataState.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

desktop/overridableVar: improve performance
  src/desktop/types/OverridableVar.hpp
Labels: core, desktop

anr: open anr dialog on parent's workspace
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
  src/managers/ANRManager.cpp
Labels: core, helpers, managers

oops
  src/managers/ANRManager.cpp
Labels: core, managers

kitty
  src/helpers/AsyncDialogBox.cpp
  src/managers/ANRManager.cpp
Labels: core, helpers, managers

renderer: fix uv sufrace calc with scales < 1 (#12481)
  src/render/Renderer.cpp
Labels: core, render

maybe
  src/managers/ANRManager.cpp
Labels: core, managers

Fix application of dynamic rules passed via exec dispatcher
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
  src/desktop/rule/windowRule/WindowRuleApplicator.hpp
Labels: core, desktop

clang-format
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

remove debug logging i missed
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

Remove move and center window rules, combine them in new position rule
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
  src/desktop/rule/windowRule/WindowRuleApplicator.hpp
  src/desktop/rule/windowRule/WindowRuleEffectContainer.cpp
  src/desktop/rule/windowRule/WindowRuleEffectContainer.hpp
  src/events/Windows.cpp
Labels: core, desktop, events

cpp has this? cool
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

fix
  hyprtester/src/tests/main/window.cpp
  src/desktop/WLSurface.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/helpers/Monitor.cpp
  src/helpers/math/Math.cpp
  src/helpers/math/Math.hpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/PointerManager.cpp
  src/managers/XWaylandManager.cpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/SurfaceState.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: protocols, core, desktop, helpers, layout, managers, render

protocols/cursor-shape: impl version 2 (#12270)
  src/helpers/CursorShapes.hpp
  src/managers/ProtocolManager.cpp
  src/managers/XCursorManager.cpp
Labels: core, helpers, managers

chore: apply exec rules after removal and use CWindowRule
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

e
  hyprpm/src/core/DataState.cpp
  hyprpm/src/core/DataState.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: check for abi strings in headersValid
  hyprpm/src/core/DataState.cpp
  hyprpm/src/core/DataState.hpp
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  src/debug/HyprCtl.cpp
  src/main.cpp
Labels: hyprpm, core, debug

Tablet: added option to hide cursor
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.hpp
  src/managers/input/Tablets.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, managers, render

forgot to format
  src/render/Renderer.hpp
Labels: core, render

added entry in ConfigDescriptions
  src/config/ConfigDescriptions.hpp
Labels: core, config

refactor: unregister exec rules after applying them
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

flake.lock: update
  flake.lock
Labels: none

desktop/rules: tag static rule being ignored (#12514)
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

fix
  hyprpm/CMakeLists.txt
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

fix
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

fuck
  hyprtester/src/tests/main/window.cpp
Labels: none

welcome: init welcome manager
  src/Compositor.cpp
  src/managers/WelcomeManager.cpp
  src/managers/WelcomeManager.hpp
Labels: core, managers

flake.lock: update
  flake.lock
Labels: none

infra stuff for protocol to use
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/ForeignToplevel.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/protocols/core/Seat.cpp
  src/protocols/core/Seat.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: protocols, core, desktop, events, helpers, managers, render

add screenshare manager
  src/Compositor.cpp
  src/helpers/Monitor.cpp
  src/managers/screenshare/ScreenshareFrame.cpp
  src/managers/screenshare/ScreenshareManager.cpp
  src/managers/screenshare/ScreenshareManager.hpp
  src/managers/screenshare/ScreenshareSession.cpp
  src/render/Renderer.hpp
Labels: core, helpers, managers, render

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
