Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

gestures: fix gesture direction detection (#11852)
  src/managers/input/trackpad/TrackpadGestures.cpp
  src/managers/input/trackpad/TrackpadGestures.hpp
Labels: core, managers

internal: fix clang-tidy "errors" (#11862)
  .clang-tidy
  src/config/ConfigManager.cpp
  src/devices/IKeyboard.cpp
  src/helpers/Format.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Splashes.hpp
  src/layout/MasterLayout.cpp
  src/protocols/LayerShell.cpp
  src/render/OpenGL.cpp
  src/xwayland/Dnd.cpp
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
Labels: protocols, core, config, devices, helpers, layout, render, xwayland

renderer/cm: add more monitor cm options (#11861)
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, config, helpers

rules: fix some monitor rules (#11873)
  hyprtester/src/tests/main/window.cpp
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
Labels: core, config, events

remove unneeded preferred ref
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
Labels: protocols, core

protocols/cm: remove unneeded preferred ref (#11877)
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
Labels: protocols, core

protocols/seat: force down rounding of coords at the surface edge
  src/protocols/core/Seat.cpp
  src/protocols/core/Seat.hpp
Labels: protocols, core

renderer: optimize border drawcalls
  src/render/OpenGL.cpp
Labels: core, render

protocols/seat: force down rounding of coords at the surface edge (#11890)
  src/protocols/core/Seat.cpp
  src/protocols/core/Seat.hpp
Labels: protocols, core

config: increase default anr_missed_pings value
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

renderer: optimize border drawcalls (#11891)
  src/render/OpenGL.cpp
Labels: core, render

render:non_shader_cm and fixes
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/Renderer.cpp
Labels: protocols, core, config, helpers, render

sendshortcut keybind tests
  hyprtester/plugin/src/main.cpp
  hyprtester/src/tests/main/exec.cpp
  hyprtester/src/tests/main/keybinds.cpp
  hyprtester/src/tests/shared.cpp
  hyprtester/src/tests/shared.hpp
Labels: none

Fix flashes/gliches when moving between displays. Fix psudo-tiled windows moving off center after reaching their min/max
  src/desktop/Window.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, desktop, layout

renderer: fix popup fadeout blur (#11756)
  src/render/Renderer.cpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
Labels: core, render

renderer: add render:non_shader_cm and fixes (#11900)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/Renderer.cpp
Labels: protocols, core, config, helpers, render

compositor: make pending states store frame callbacks
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
Labels: protocols, core

buffer: damage is relative to current commit
  src/protocols/types/SurfaceState.cpp
  src/render/Texture.cpp
Labels: protocols, core, render

add screenshare manager
  src/helpers/Monitor.cpp
  src/managers/screenshare/ScreenshareFrame.cpp
  src/managers/screenshare/ScreenshareManager.cpp
  src/managers/screenshare/ScreenshareManager.hpp
  src/managers/screenshare/ScreenshareSession.cpp
  src/render/Renderer.hpp
Labels: core, helpers, managers, render

fix primaries to proto scale
  src/protocols/ColorManagement.cpp
Labels: protocols, core

handle inert cm outputs
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
Labels: protocols, core

compositor: move callbacks back to compositor
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
Labels: protocols, core

compositor: ensure commits come in order
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core

input manager: do not share keys/mods states from grabbed keyboards with ime keys/mods
  src/managers/input/InputManager.cpp
Labels: core, managers

input manager: update comment; merge keys before sending to ime also
  src/managers/input/InputManager.cpp
Labels: core, managers

cm: fix primaries to proto scale (#11914)
  src/protocols/ColorManagement.cpp
Labels: protocols, core

[gha] Nix: update inputs
  flake.lock
Labels: none

dispatcher: added set and unset options to fullscreen dispatcher added set option to fullscreenstate
  src/managers/KeybindManager.cpp
Labels: core, managers

cm: handle inert cm outputs (#11916)
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
Labels: protocols, core

e
  src/layout/DwindleLayout.cpp
Labels: core, layout

dispatchers: add forceidle
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/protocols/IdleNotify.cpp
  src/protocols/IdleNotify.hpp
Labels: protocols, core, managers

fix clang-format
  hyprtester/plugin/src/main.cpp
  hyprtester/src/tests/main/keybinds.cpp
Labels: none

debug: fix data race in Debug::log()
  src/debug/Log.cpp
  src/debug/Log.hpp
Labels: core, debug

await kitty prompt before tests
  hyprtester/src/tests/main/keybinds.cpp
Labels: none

fmt
  hyprtester/src/tests/main/keybinds.cpp
Labels: none

debug: fix data race in Debug::log()
  src/debug/Log.cpp
  src/debug/Log.hpp
Labels: core, debug

refactor: fullscreen dispatcher
  src/managers/KeybindManager.cpp
Labels: core, managers

tests: fullscreen and fullscreenstate dispatchers
  hyprtester/src/tests/main/misc.cpp
Labels: none

infra stuff for protocol to use
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/protocols/ForeignToplevel.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: protocols, core, desktop, events, render

implement image capture source protocol
  CMakeLists.txt
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/ImageCaptureSource.cpp
  src/protocols/ImageCaptureSource.hpp
Labels: protocols, core, managers

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
