Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

xwayland: Don't leave shell process (#10802)
  src/xwayland/Server.cpp
Labels: core, xwayland

[gha] Nix: update inputs
  flake.lock
Labels: none

input: fix mouseDown triggering hl ops on locked
  src/managers/input/InputManager.cpp
Labels: core, managers

renderer: add wrapping options to renderTextureWithBlur method (#10807)
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

input: fix mouseDown triggering hl ops on locked (#10809)
  src/managers/input/InputManager.cpp
Labels: core, managers

Throttle timer loop to avoid high CPU usage and track idle callbacks to avoid flooding
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, managers

opengl: cache viewport state
  src/render/Framebuffer.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

opengl: cache glenable/gldisable state
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

opengl: cache glscissor box
  src/render/OpenGL.cpp
Labels: core, render

opengl: cache gluniform calls
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/Shader.hpp
Labels: core, render

shader: rewrite handling of uniforms and state
  src/render/Framebuffer.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/Shader.hpp
Labels: core, render

opengl: get the uniform locations properly
  src/render/OpenGL.cpp
Labels: core, render

shader: fix typo and hdr typo
  src/render/OpenGL.cpp
  src/render/Shader.cpp
Labels: core, render

opengl: remove instanced shader draw
  src/render/shaders/glsl/tex320.vert
Labels: core, render

texture: use fast std::array caching
  src/render/Texture.cpp
  src/render/Texture.hpp
Labels: core, render

opengl: stuff and 300 shaders
  src/macros.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/shaders/glsl/blur1.frag
  src/render/shaders/glsl/blur2.frag
  src/render/shaders/glsl/blurfinish_legacy.frag
  src/render/shaders/glsl/blurprepare_legacy.frag
  src/render/shaders/glsl/border_legacy.frag
  src/render/shaders/glsl/ext.frag
  src/render/shaders/glsl/glitch.frag
  src/render/shaders/glsl/passthru.frag
  src/render/shaders/glsl/quad.frag
  src/render/shaders/glsl/rgba.frag
  src/render/shaders/glsl/rgbamatte.frag
  src/render/shaders/glsl/rgbx.frag
  src/render/shaders/glsl/shadow_legacy.frag
  src/render/shaders/glsl/tex.vert
  src/render/shaders/glsl/tex300.vert
  src/render/shaders/glsl/tex320.vert
Labels: core, render

opengl: typo
  src/render/OpenGL.cpp
Labels: core, render

texture: cache texture paramaters
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/hyprerror/HyprError.cpp
  src/render/Framebuffer.cpp
  src/render/OpenGL.cpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, debug, hyprerror, render

opengl: check epsilon on float and remove extra glcall
  src/render/OpenGL.cpp
  src/render/Shader.cpp
Labels: core, render

texture: make caching not linear lookup
  src/render/Texture.cpp
  src/render/Texture.hpp
Labels: core, render

hyprctl: print no open windows instead of invalid request on empty clients
  src/debug/HyprCtl.cpp
Labels: core, debug

config: add missing description for enforce_permissions
  src/config/ConfigDescriptions.hpp
Labels: core, config

minor style changes
  src/render/Texture.cpp
Labels: core, render

renderer/cm: Add automatic hdr (#9785)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, config, helpers, render

opengl: revert drawarrays
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

buffer: don't use crazy listener::emit()
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
Labels: protocols, core

Nix: filter src using fileset
  nix/default.nix
Labels: nix

f
  hyprtester/plugin/Makefile
Labels: none

hyprtester: make build.sh posix, format cmake
  hyprtester/CMakeLists.txt
  hyprtester/plugin/build.sh
Labels: none

nix/test: use normal user
  nix/tests/default.nix
Labels: nix

c-f
  hyprtester/src/tests/plugin/plugin.cpp
  hyprtester/src/tests/shared.cpp
Labels: none

CMake: enable testing
  CMakeLists.txt
Labels: none

hyprtester: kill hl when plugin fails
  hyprtester/src/main.cpp
Labels: none

CI/Nix: rename test
  .github/workflows/nix-ci.yml
Labels: none

Nix/hyprtester: build in debug mode
  nix/hyprtester.nix
Labels: nix

abgoregrjnger
  hyprtester/test.conf
Labels: none

nix/tests: update test
  nix/tests/default.nix
  nix/tests/test.conf
Labels: nix

add test to ctest XDDDDDDDDDDDDDDDDDD
  CMakeLists.txt
Labels: none

nix/tests: init
  flake.nix
  nix/tests/default.nix
  nix/tests/test.conf
Labels: nix

nix/hyprtester: clean source
  nix/hyprtester.nix
Labels: nix
