Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

byteoperations: add missing header
  src/helpers/ByteOperations.hpp
Labels: core, helpers

wlr-output-management: accept 0 refresh rates
  src/protocols/OutputManagement.cpp
Labels: protocols, core

wlr-output-management: accept 0 refresh rates fixes #7879
  src/protocols/OutputManagement.cpp
Labels: protocols, core

wayland/output: send geometry in updateState
  src/protocols/core/Output.cpp
Labels: protocols, core

wayland/output: send geometry in updateState
  src/protocols/core/Output.cpp
Labels: protocols, core

refactor: remove recursiveness
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, events, layout

style: remove curly braces around short else statement
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: add auto_group to control default grouping (#7883)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.cpp
Labels: core, config, events, layout

layout: add auto_group to control default grouping (#7883)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.cpp
Labels: core, config, events, layout

renderer: fix uvBR calculation
  src/render/Renderer.cpp
Labels: core, render

layout: fix dragging a window into a group after e242694
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: fix dragging a window into a group after e242694 (#7976)
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: fix dragging a window into a group after e242694 (#7976)
  src/layout/IHyprLayout.cpp
Labels: core, layout

renderer: fix uvBR calculation (#7975)
  src/render/Renderer.cpp
Labels: core, render

renderer: fix uvBR calculation (#7975)
  src/render/Renderer.cpp
Labels: core, render

fix: add missing include directive
  src/helpers/SdDaemon.cpp
Labels: core, helpers

internal: fix missing include directive (#7984)
  src/helpers/SdDaemon.cpp
Labels: core, helpers

internal: fix missing include directive (#7984) This should fix building with clang.
  src/helpers/SdDaemon.cpp
Labels: core, helpers

xdg-output: minor cleanups
  src/protocols/XDGOutput.cpp
  src/protocols/XDGOutput.hpp
Labels: protocols, core

compositor: update all xdg outputs on arrange
  src/Compositor.cpp
Labels: core

monitor: cleanup and modernize scheduleDone
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, helpers

doodoo fart
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, render

ooo
  src/desktop/WLSurface.cpp
  src/render/OpenGL.cpp
Labels: core, desktop, render

initial stuff to fix resizes
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, render

doodoo fart
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, render

xdg-output: minor cleanups
  src/protocols/XDGOutput.cpp
  src/protocols/XDGOutput.hpp
Labels: protocols, core

xdg-output: minor cleanups
  src/protocols/XDGOutput.cpp
  src/protocols/XDGOutput.hpp
Labels: protocols, core

compositor: update all xdg outputs on arrange
  src/Compositor.cpp
Labels: core

compositor: update all xdg outputs on arrange
  src/Compositor.cpp
Labels: core

renderer: Fix resize artifacts (stretching, bumps) (#7499)
  src/desktop/WLSurface.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, desktop, render

renderer: Fix resize artifacts (stretching, bumps) (#7499)
  src/desktop/WLSurface.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, desktop, render

monitor: cleanup and modernize scheduleDone
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, helpers

monitor: cleanup and modernize scheduleDone
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, helpers

monitor: use a scope guard for disconnect events
  src/helpers/Monitor.cpp
Labels: core, helpers

monitor: use a scope guard for disconnect events
  src/helpers/Monitor.cpp
Labels: core, helpers

protocolmgr: don't expose the fallback output
  src/managers/ProtocolManager.cpp
Labels: core, managers

protocolmgr: don't expose the fallback output
  src/managers/ProtocolManager.cpp
Labels: core, managers

monitor: arrange monitors on connect and disconnect
  src/helpers/Monitor.cpp
Labels: core, helpers

monitor: arrange monitors on connect and disconnect
  src/helpers/Monitor.cpp
Labels: core, helpers

opengl: use GL_CLAMP_TO_EDGE instead of GL_CLAMP
  src/render/OpenGL.cpp
Labels: core, render

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
