Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

cursormgr: ensure a fallback xcursor exist
  src/managers/CursorManager.cpp
Labels: core, managers

fix leds on kb creation
  src/managers/input/InputManager.cpp
Labels: core, managers

xdg-shell: make xdg-positioner flip target greatest available space
  src/protocols/XDGShell.cpp
Labels: protocols, core

input: fix leds on kb creation (#7206)
  src/managers/input/InputManager.cpp
Labels: core, managers

input: fix leds on kb creation (#7206)
  src/managers/input/InputManager.cpp
Labels: core, managers

debug: dont manually unlock the lock_guard
  src/debug/Log.hpp
Labels: core, debug

debug: dont manually unlock the lock_guard (#7210)
  src/debug/Log.hpp
Labels: core, debug

debug: dont manually unlock the lock_guard (#7210) when lock_guard goes out of scope it RAII itself and calls unlock. causes crashes on freebsd/libc++ and double unlocking a mutex is UB.
  src/debug/Log.hpp
Labels: core, debug

keybinds: fix NoSymbol keybinds (#7199)
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds: fix NoSymbol keybinds (#7199)
  src/managers/KeybindManager.cpp
Labels: core, managers

cursormgr: implement inheriting themes for xcursor (#7197)
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
Labels: core, managers

xdg-shell: make xdg-positioner flip target greatest available space (#7209)
  src/protocols/XDGShell.cpp
Labels: protocols, core

renderer: guard layer in renderLayer
  src/render/Renderer.cpp
Labels: core, render

renderer: guard layer in renderLayer ref #7181
  src/render/Renderer.cpp
Labels: core, render

compositor: minor cleanups for fading out layers
  src/Compositor.cpp
Labels: core

compositor: minor cleanups for fading out layers
  src/Compositor.cpp
Labels: core

hyprctl: link to much less libraries
  CMakeLists.txt
  hyprctl/CMakeLists.txt
Labels: hyprctl

drm-syncobj: fixup fd leak with timelines
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
Labels: protocols, core

drm-syncobj: fixup fd leak with timelines
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
Labels: protocols, core

fix general:extend_border_grab_area
  src/Compositor.cpp
Labels: core

xcursormgr: avoid scanning ill formed inherit
  src/managers/XCursorManager.cpp
Labels: core, managers

hyprctl: link to much less libraries (#7212)
  CMakeLists.txt
  hyprctl/CMakeLists.txt
Labels: hyprctl

compositor: fix general:extend_border_grab_area (#7214)
  src/Compositor.cpp
Labels: core

compositor: fix general:extend_border_grab_area (#7214) Co-authored-by: Agent_00Ming <agent00ming9366@gmail.com>
  src/Compositor.cpp
Labels: core

cursormgr: avoid scanning ill formed inherit (#7211)
  src/managers/XCursorManager.cpp
Labels: core, managers

wayland/compositor: introduce client commit events
  src/protocols/DRMSyncobj.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core

wayland/compositor: introduce client commit events
  src/protocols/DRMSyncobj.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core

framebuffer: avoid gluint overflow
  src/render/Framebuffer.cpp
  src/render/Framebuffer.hpp
Labels: core, render

opengl: avoid gluint rollover
  src/render/OpenGL.cpp
Labels: core, render

renderer: fixup nvidia driver version checks
  src/render/Renderer.cpp
Labels: core, render

renderer: fixup nvidia driver version checks
  src/render/Renderer.cpp
Labels: core, render

props: bump version to 0.42.0
  VERSION
Labels: none

props: bump version to 0.42.0
  VERSION
Labels: none

use native_handle to cloexec debug log
  CMakeLists.txt
  src/debug/Log.cpp
Labels: core, debug

mesooon
  meson.build
Labels: none

troll
  flake.nix
Labels: none

e
  nix/overlays.nix
Labels: nix

Nix: add cmake patch
  nix/default.nix
  nix/stdcxx.patch
Labels: nix

core: Move to C++26 and use native_handle to CLOEXEC the debug fd (#7219) Requires GCC >= 14 / Clang >= 18 --------- Co-authored-by: Mihai Fufezan <mihai@fufexan.net>
  CMakeLists.txt
  flake.nix
  meson.build
  nix/default.nix
  nix/overlays.nix
  nix/stdcxx.patch
  src/debug/Log.cpp
Labels: nix, core, debug

core: Move to C++26 and use native_handle to CLOEXEC the debug fd (#7219)
  CMakeLists.txt
  flake.nix
  meson.build
  nix/default.nix
  nix/overlays.nix
  nix/stdcxx.patch
  src/debug/Log.cpp
Labels: nix, core, debug
