Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

flake.lock: update
  flake.lock
Labels: none

config: disable borderangle by default (#9165)
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
Labels: core, config, desktop

config: disable borderangle by default (#9165)
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
Labels: core, config, desktop

config/ConfigWatcher.cpp: add missing include needed for clang (#9166)
  src/config/ConfigWatcher.cpp
Labels: core, config

config/ConfigWatcher.cpp: add missing include needed for clang (#9166)
  src/config/ConfigWatcher.cpp
Labels: core, config

dwindle: fix possible crash on null ws
  src/layout/DwindleLayout.cpp
Labels: core, layout

dwindle: fix possible crash on null ws
  src/layout/DwindleLayout.cpp
Labels: core, layout

input: pass touch events to lock screens (#9129) * refactor: use weak pointers for session lock surfaces * input: pass touch events to lock screens
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/managers/input/InputManager.hpp
  src/managers/input/Touch.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, managers, render

input: pass touch events to lock screens (#9129)
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/managers/input/InputManager.hpp
  src/managers/input/Touch.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, managers, render

window: revert only set m_iMonitorMovedFrom, when moving to a different monitor
  src/Compositor.cpp
  src/desktop/Window.cpp
Labels: core, desktop

window: revert only set m_iMonitorMovedFrom, when moving to a different monitor This reverts commit 089fdd1ea0d991da5b068db51531f54c90a2df25. Great commit.
  src/Compositor.cpp
  src/desktop/Window.cpp
Labels: core, desktop

core: move sendWindowSize off of xwaylandmgr additionally fixes that one weird x11 issue with floating windows being mis-sized on open
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/Workspace.cpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/XWaylandManager.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, desktop, events, layout, managers, render

core: move sendWindowSize off of xwaylandmgr
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/Workspace.cpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/XWaylandManager.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, desktop, events, layout, managers, render

subsurface: damage the entire parent on size change the previous method doesn't exactly work, idk todo fix fixes #8784
  src/desktop/Subsurface.cpp
Labels: core, desktop

subsurface: damage the entire parent on size change
  src/desktop/Subsurface.cpp
Labels: core, desktop

window: only set m_iMonitorMovedFrom when the workspace is visible
  src/desktop/Window.cpp
Labels: core, desktop

xwayland: fix pointer mismatches with multiple monitors
  src/desktop/Window.cpp
Labels: core, desktop

xwayland: fix pointer mismatches with multiple monitors (#9179)
  src/desktop/Window.cpp
Labels: core, desktop

xwayland: fix pointer mismatches with multiple monitors (#9179)
  src/desktop/Window.cpp
Labels: core, desktop

desktop: move desktop types to memory-safe pointers
  src/Compositor.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/desktop/Subsurface.cpp
  src/desktop/Subsurface.hpp
  src/desktop/Window.cpp
  src/main.cpp
  src/render/Renderer.cpp
Labels: core, desktop, render

desktop: move desktop types to memory-safe pointers
  src/Compositor.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/desktop/Subsurface.cpp
  src/desktop/Subsurface.hpp
  src/desktop/Window.cpp
  src/main.cpp
  src/render/Renderer.cpp
Labels: core, desktop, render

window: only set m_iMonitorMovedFrom when the workspace is visible (#9178)
  src/desktop/Window.cpp
Labels: core, desktop

window: only set m_iMonitorMovedFrom when the workspace is visible (#9178)
  src/desktop/Window.cpp
Labels: core, desktop

pointer: always scale the cpu cursor to the right size fixes #9003
  src/managers/PointerManager.cpp
Labels: core, managers

pointer: always scale the cpu cursor to the right size
  src/managers/PointerManager.cpp
Labels: core, managers

core: make persistent workspaces always follow the config
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/helpers/Monitor.cpp
Labels: core, config, helpers

core: make persistent workspaces always follow the config instead of just staying after open, they will now be enforced on their respective monitors fixes #8769
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/helpers/Monitor.cpp
Labels: core, config, helpers

renderer/internal: stop using box pointers in favor of const refs
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Subsurface.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/hyprerror/HyprError.cpp
  src/layout/IHyprLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/PointerManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/XWaylandManager.hpp
  src/managers/input/InputMethodPopup.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/HyprlandSurface.cpp
  src/protocols/Screencopy.cpp
  src/protocols/core/DataDevice.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/pass/BorderPassElement.cpp
  src/render/pass/Pass.cpp
  src/render/pass/RectPassElement.cpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TextureMatteElement.cpp
Labels: protocols, core, debug, desktop, events, helpers, hyprerror, layout, managers, render

renderer/internal: stop using box pointers
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Subsurface.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/hyprerror/HyprError.cpp
  src/layout/IHyprLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/PointerManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/XWaylandManager.hpp
  src/managers/input/InputMethodPopup.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/HyprlandSurface.cpp
  src/protocols/Screencopy.cpp
  src/protocols/core/DataDevice.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/pass/BorderPassElement.cpp
  src/render/pass/Pass.cpp
  src/render/pass/RectPassElement.cpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TextureMatteElement.cpp
Labels: protocols, core, debug, desktop, events, helpers, hyprerror, layout, managers, render

shadow: avoid drawing empty shadows
  src/render/decorations/CHyprDropShadowDecoration.cpp
Labels: core, render

shadow: avoid drawing empty shadows
  src/render/decorations/CHyprDropShadowDecoration.cpp
Labels: core, render

renderer: fix funky corners oopsie
  src/render/OpenGL.cpp
Labels: core, render

renderer: fix funky corners
  src/render/OpenGL.cpp
Labels: core, render

hooksystem: avoid huge include for HANDLE
  src/managers/HookSystemManager.hpp
Labels: core, managers

hooksystem: avoid huge include for HANDLE
  src/managers/HookSystemManager.hpp
Labels: core, managers

update groups on movewindow modified: src/layout/DwindleLayout.cpp modified: src/layout/MasterLayout.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, layout

core: update groups on movewindow (#9183)
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, layout

core: update groups on movewindow (#9183)
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, layout

renderer: fix rare case when a tiled window would be rendered over fs
  src/render/Renderer.cpp
Labels: core, render

renderer: fix rare case when a tiled window would be rendered over fs
  src/render/Renderer.cpp
Labels: core, render
