Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

keep top and overlay layer windows in presence of fullscreen window
  src/events/Windows.cpp
  src/render/Renderer.cpp
  subprojects/.wraplock
Labels: core, events, render

Permission display: fix keyboard and undo plugin change
  src/managers/permissions/DynamicPermissionManager.cpp
Labels: core, managers

Permission display: undo nested quotes
  src/managers/permissions/DynamicPermissionManager.cpp
Labels: core, managers

layers: add "noscreenshare" rule
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/protocols/Screencopy.cpp
Labels: protocols, core, desktop

WIP: input capture
  .gitmodules
  CMakeLists.txt
  src/managers/PointerManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: impl keyboard, mouse button & mouse wheel
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: Init active property & upstream protocol changes
  src/managers/PointerManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: code cleanup
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: fix build
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: inhibit inputs
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: impl force release
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: fix build
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: don't send motion when the input is locked (like inside a 3d game)
  src/managers/PointerManager.cpp
Labels: core, managers

input-capture: send modifiers (highly experimental)
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: add protocol to meson.build
  protocols/meson.build
Labels: protocols

input-capture: fixes
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: impl keymap
  src/managers/SeatManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: fix rebase issues
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/core/Output.cpp
Labels: protocols, core, managers

inputcapture: fix keybind inhibit
  src/managers/KeybindManager.cpp
Labels: core, managers

input-capture: fix build
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: fix build
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
Labels: protocols, core, managers

input-capture: fix keyboard not captured
  src/managers/input/InputManager.cpp
Labels: core, managers

input-capture: hide cursor when the input is captured
  src/render/Renderer.cpp
Labels: core, render

input-capture: simplify sendKeymap
  src/protocols/InputCapture.cpp
Labels: protocols, core

input-capture: lint
  src/managers/PointerManager.cpp
  src/managers/ProtocolManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

input-capture: force cursor hiding
  src/protocols/InputCapture.cpp
Labels: protocols, core

input-capture: fix build
  src/protocols/InputCapture.cpp
Labels: protocols, core

render/OpenGL: fix compilation for 32bit systems
  src/render/OpenGL.cpp
Labels: core, render

meson: set minimum version
  meson.build
Labels: none

flake.lock: update
  flake.lock
Labels: none

clarify kb_file_v1
  src/config/ConfigDescriptions.hpp
Labels: core, config

add input:kb_file_v1 to chang e the fallback
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/managers/input/InputManager.cpp
Labels: core, config, devices, managers

create V1 keymap from V2 keymap
  src/devices/IKeyboard.cpp
Labels: core, devices

update xkb_keymap_new_from_names to xkb_keymap_new_from_names2
  src/devices/IKeyboard.cpp
  src/managers/KeybindManager.cpp
Labels: core, devices, managers

remove newline
  src/config/ConfigManager.cpp
Labels: core, config

remove input:kb_file_v1
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/devices/IKeyboard.hpp
  src/managers/input/InputManager.cpp
Labels: core, config, devices, managers

support V2 format in the file, with fallback to V1 to clients
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/managers/KeybindManager.cpp
  src/protocols/InputMethodV2.cpp
  src/protocols/VirtualKeyboard.cpp
  src/protocols/core/Seat.cpp
Labels: protocols, core, devices, managers

added no screenshot option to layers
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/protocols/Screencopy.cpp
Labels: protocols, core, desktop

render/OpenGL: fix compilation for 32bit systems (#11667)
  src/render/OpenGL.cpp
Labels: core, render

input: support xkb v2 format (#11482)
  src/config/ConfigDescriptions.hpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/InputMethodV2.cpp
  src/protocols/VirtualKeyboard.cpp
  src/protocols/core/Seat.cpp
Labels: protocols, core, config, devices, managers

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
