Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

i18n: missing space
  src/i18n/Engine.cpp
Labels: core

ci: fix translator ci
  .github/workflows/translation-ai-check.yml
Labels: none

sorted locales and rebased
  src/i18n/Engine.cpp
Labels: core

Add missing semicolon
  src/i18n/Engine.cpp
Labels: core

i18n: grammar fixes
  src/i18n/Engine.cpp
Labels: core

Added Slovenian translations
  src/i18n/Engine.cpp
Labels: core

i18n: add Persian translations (#12361)
  src/i18n/Engine.cpp
Labels: core

ci: fix translation ci again
  .github/workflows/translation-ai-check.yml
Labels: none

Reformat
  src/i18n/Engine.cpp
Labels: core

i18n: clang-format
  src/i18n/Engine.cpp
Labels: core

config: export version variable for versioned configs
  src/config/ConfigManager.cpp
Labels: core, config

i18n: slight update to it_IT translations
  src/i18n/Engine.cpp
Labels: core

i18n: add Croatian translations
  src/i18n/Engine.cpp
Labels: core

minor fixes
  src/i18n/Engine.cpp
Labels: core

i18n: improve Spanish translations for clarity and consistency
  src/i18n/Engine.cpp
Labels: core

i18n: update Spanish error messages for clarity and support
  src/i18n/Engine.cpp
Labels: core

fix test
  hyprtester/src/tests/clients/child-window.cpp
Labels: none

dwindle: Revert rework split logic to be fully gap-aware (#12047)
  hyprtester/src/tests/main/window.cpp
  hyprtester/src/tests/main/workspaces.cpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
Labels: core, layout

cm: higher-quality tonemapping
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/Shader.hpp
  src/render/shaders/glsl/CM.glsl
  src/render/shaders/glsl/blurprepare.frag
Labels: protocols, core, render

input-capure: cleanup keymap logs & added config permission value for input-capture
  src/config/ConfigManager.cpp
  src/managers/input/Eis.cpp
Labels: core, config, managers

i18n: Update Russian translations
  src/i18n/Engine.cpp
Labels: core

[hyprpm] Add -nn breaking change fallback to nofity users.
  hyprpm/src/main.cpp
Labels: hyprpm

deps: added min version for xkbcommon
  CMakeLists.txt
Labels: none

windowrules: fix matching against xdgTag
  src/desktop/rule/windowRule/WindowRule.cpp
Labels: core, desktop

CMake: add min version for xkbcommon
  CMakeLists.txt
Labels: none

CMake: fix GIT_COMMIT_MESSAGE parsing
  CMakeLists.txt
Labels: none

windowrules: fix matching against xdgTag (#12393)
  src/desktop/rule/windowRule/WindowRule.cpp
Labels: core, desktop

hyprpm: remove -nn flag and make notification behaviour more consist… (#11272)
  hyprpm/src/main.cpp
Labels: hyprpm

fix example config
  example/hyprland.conf
Labels: none

windowrules: bring back windowUpdateRules
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
Labels: core, desktop

examples: fix example config (#12394)
  example/hyprland.conf
Labels: none

Fixed Code Style (clang-format)
  src/i18n/Engine.cpp
Labels: core

Fix issues pointed by ai for #12337.
  src/i18n/Engine.cpp
Labels: core

Fix indentation on el_GR comment for the start of the Greek translation for #12337
  src/i18n/Engine.cpp
Labels: core

remove proc read from test
  hyprtester/src/tests/clients/child-window.cpp
Labels: none

i18n: add Norwegian Bokmål translations (#12354)
  src/i18n/Engine.cpp
Labels: core

CI/AI translate: fix yet again
  .github/workflows/translation-ai-check.yml
Labels: none

pointer: apply locked pointer workaround only on xwayland
  src/managers/PointerManager.cpp
Labels: core, managers

i18n: add Ukrainian translation (#12370)
  src/i18n/Engine.cpp
Labels: core

i18n: add Slovenian translation (#12369)
  src/i18n/Engine.cpp
Labels: core

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
