Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

renderer: schedule frame callbacks
  src/Compositor.cpp
  src/helpers/Monitor.cpp
  src/helpers/MonitorFrameScheduler.cpp
  src/helpers/MonitorFrameScheduler.hpp
  src/managers/BufferReleaseManager.hpp
  src/managers/PointerManager.cpp
  src/managers/SurfaceManager.cpp
  src/managers/SurfaceManager.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/DataDevice.cpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, helpers, managers, render

ci: fix ai workflow for the nth time
  .github/workflows/translation-ai-check.yml
Labels: none

config: added locale config option (#12416)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/i18n/Engine.cpp
Labels: core, config

fix
  src/i18n/Engine.cpp
Labels: core

clang fix
  src/i18n/Engine.cpp
Labels: core

i18n: add Czech translations
  src/i18n/Engine.cpp
Labels: core

i18n: add Latvian translations
  src/i18n/Engine.cpp
Labels: core

i18n: fix formatting
  src/i18n/Engine.cpp
Labels: core

i18n: fix some minor latvian grammar stuff
  src/i18n/Engine.cpp
Labels: core

added extra debug info on tests
  hyprtester/src/tests/clients/child-window.cpp
Labels: none

attempt to make child window open faster
  hyprtester/clients/child-window.cpp
Labels: none

grammar fixes
  src/i18n/Engine.cpp
Labels: core

i18n: romanian translation
  src/i18n/Engine.cpp
  src/render/Renderer.cpp
Labels: core, render

i18n: add Latvian translations (#12430)
  src/i18n/Engine.cpp
Labels: core

getHDRImageDescription
  src/Compositor.cpp
  src/Compositor.hpp
Labels: core

quirks:prefer_hdr
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/protocols/core/Compositor.cpp
Labels: protocols, core, config

animation: improvement animation on multi refresh rate monitors
  src/managers/animation/AnimationManager.cpp
  src/managers/animation/AnimationManager.hpp
  src/render/Renderer.cpp
Labels: core, managers, render

animation: improve animations on multi refresh rate monitors (#12418)
  src/managers/animation/AnimationManager.cpp
  src/managers/animation/AnimationManager.hpp
  src/render/Renderer.cpp
Labels: core, managers, render

surfacemgr: also remove monitor from scheduled frames
  src/managers/SurfaceManager.cpp
Labels: core, managers

config: add change_focus config for touchdevices
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/devices/ITouch.hpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/managers/input/Touch.cpp
Labels: core, config, devices, managers

fix crash
  src/protocols/core/Compositor.cpp
Labels: protocols, core

CrashReporter.cpp: fix stderr conflict
  src/debug/CrashReporter.cpp
Labels: core, debug

windowrules: fix persistent_size not applying
  hyprtester/src/tests/main/window.cpp
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
  src/layout/IHyprLayout.cpp
Labels: core, desktop, layout

fixed typo in french translation
  src/i18n/Engine.cpp
Labels: core

fix quelques tyos et des formulations non-naturelles
  src/i18n/Engine.cpp
Labels: core

renderer: stop looping over null texture surfaces
  src/render/Renderer.cpp
Labels: core, render

CrashReporter.cpp: fix stderr conflict (#12440)
  src/debug/CrashReporter.cpp
Labels: core, debug

fixes
  src/desktop/reserved/ReservedArea.cpp
  src/desktop/reserved/ReservedArea.hpp
  src/render/Renderer.cpp
  tests/desktop/Reserved.cpp
Labels: core, desktop, render

fifo: unlock locksurfaces aswell
  src/protocols/Fifo.cpp
Labels: protocols, core

windowrules: fix persistent_size not applying (#12441)
  hyprtester/src/tests/main/window.cpp
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
  src/layout/IHyprLayout.cpp
Labels: core, desktop, layout

renderer: stop looping over null texture surfaces (#12446)
  src/render/Renderer.cpp
Labels: core, render

config: add debounce_drag option for window drag/resize
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

default to false
  src/layout/IHyprLayout.cpp
Labels: core, layout

i18n: add nepali translations
  src/i18n/Engine.cpp
Labels: core

chore: fix missing semicolon
  src/i18n/Engine.cpp
Labels: core

i18n: update nepali translations
  src/i18n/Engine.cpp
Labels: core

protocols/workspace: avoid crash on inert outputs
  src/protocols/ExtWorkspace.cpp
Labels: protocols, core

i18n: add Czech translations (#12428)
  src/i18n/Engine.cpp
Labels: core

[gha] Nix: update inputs
  flake.lock
Labels: none

desktop/windowRule: return reset props from resetProps and recheck them
  src/desktop/rule/windowRule/WindowRuleApplicator.cpp
  src/desktop/rule/windowRule/WindowRuleApplicator.hpp
Labels: core, desktop

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
