Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

Nix: create TAG info from version
  nix/default.nix
Labels: nix

Nix: create TAG info from version
  nix/default.nix
Labels: nix

snap: use the bit mask to check if snapping occurred
  src/layout/IHyprLayout.cpp
Labels: core, layout

Nix: add hyprland-qtutils to PATH
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays.nix
Labels: nix

flake.lock: update
  flake.lock
Labels: none

renderer: drop requesting OUT_FENCE_PTR
  src/render/Renderer.cpp
Labels: core, render

renderer: drop requesting OUT_FENCE_PTR
  src/render/Renderer.cpp
Labels: core, render

snap: use the bit mask to check if snapping occurred (#8659)
  src/layout/IHyprLayout.cpp
Labels: core, layout

snap: use the bit mask to check if snapping occurred (#8659)
  src/layout/IHyprLayout.cpp
Labels: core, layout

core: Add support for hyprqtutils' update screen (#8651) * Nix: add hyprland-qtutils to PATH * flake.lock: update --------- Co-authored-by: Mihai Fufezan <mihai@fufexan.net>
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays.nix
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/managers/VersionKeeperManager.cpp
  src/managers/VersionKeeperManager.hpp
Labels: nix, core, config, helpers, managers

core: Add support for hyprqtutils' update screen (#8651)
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays.nix
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/managers/VersionKeeperManager.cpp
  src/managers/VersionKeeperManager.hpp
Labels: nix, core, config, helpers, managers

step1
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/debug/Log.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/helpers/AnimatedVariable.cpp
  src/helpers/AnimatedVariable.hpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/LayoutManager.hpp
  src/plugins/PluginAPI.hpp
  src/protocols/SecurityContext.hpp
  src/protocols/WaylandProtocol.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/Texture.hpp
  src/xwayland/XWM.hpp
Labels: protocols, core, config, debug, desktop, events, helpers, layout, managers, plugins, render, xwayland

stuf
  src/config/ConfigManager.cpp
Labels: core, config

e
  src/managers/KeybindManager.hpp
Labels: core, managers

e
  .clang-tidy
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, debug, desktop, events, layout, managers

e
  src/xwayland/XWM.cpp
Labels: core, xwayland

penis
  src/Compositor.cpp
  src/helpers/SdDaemon.cpp
  src/helpers/SdDaemon.hpp
Labels: core, helpers

github: mention PR guidelines in the template
  .github/pull_request_template.md
Labels: none

github: mention PR guidelines in the template
  .github/pull_request_template.md
Labels: none

CI/Nix: temporarily disable cross build
  .github/workflows/nix-build.yml
Labels: none

CI/Nix: temporarily disable cross build
  .github/workflows/nix-build.yml
Labels: none

hyprpm: update logic fixes + style changes
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/main.cpp
Labels: hyprpm

config: add 'force' option for 'cursor:warp_on_change_workspace'
  src/config/ConfigDescriptions.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
Labels: core, config, desktop, managers

crashreporter: avoid clang warning
  src/debug/CrashReporter.cpp
Labels: core, debug

crashreporter: avoid clang warning
  src/debug/CrashReporter.cpp
Labels: core, debug

initial work
  src/helpers/WLClasses.hpp
  src/managers/PointerManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/Transformer.cpp
  src/render/Transformer.hpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/pass/BorderPassElement.cpp
  src/render/pass/BorderPassElement.hpp
  src/render/pass/FramebufferElement.cpp
  src/render/pass/FramebufferElement.hpp
  src/render/pass/Pass.cpp
  src/render/pass/Pass.hpp
  src/render/pass/PassElement.hpp
  src/render/pass/RectPassElement.cpp
  src/render/pass/RectPassElement.hpp
  src/render/pass/ShadowPassElement.cpp
  src/render/pass/ShadowPassElement.hpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
  src/render/pass/TextureMatteElement.cpp
  src/render/pass/TextureMatteElement.hpp
Labels: core, helpers, managers, render

handle snapshots
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

stuff
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/pass/BorderPassElement.hpp
  src/render/pass/FramebufferElement.cpp
  src/render/pass/FramebufferElement.hpp
  src/render/pass/Pass.cpp
  src/render/pass/Pass.hpp
  src/render/pass/PassElement.hpp
  src/render/pass/RectPassElement.cpp
  src/render/pass/RectPassElement.hpp
  src/render/pass/ShadowPassElement.hpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
  src/render/pass/TextureMatteElement.hpp
Labels: core, render

Add window rules for mouse and touchpad scroll factors
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, desktop, managers

eee
  src/desktop/LayerSurface.cpp
  src/events/Windows.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, desktop, events, render

fak
  src/render/pass/ClearPassElement.cpp
  src/render/pass/ClearPassElement.hpp
  src/render/pass/PassElement.cpp
  src/render/pass/PreBlurElement.cpp
  src/render/pass/PreBlurElement.hpp
Labels: core, render

fak
  src/render/pass/TexPassElement.hpp
Labels: core, render

fak
  src/render/pass/BorderPassElement.hpp
  src/render/pass/Pass.cpp
  src/render/pass/Pass.hpp
  src/render/pass/TexPassElement.cpp
Labels: core, render

fak
  src/render/pass/TexPassElement.cpp
Labels: core, render

fak
  src/render/pass/TextureMatteElement.hpp
Labels: core, render

fak
  src/render/pass/TexPassElement.cpp
Labels: core, render

fix groupbar
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

add xpmode
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

fak
  src/render/Renderer.cpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
Labels: core, render

sw cursors
  src/managers/PointerManager.cpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
Labels: core, managers, render

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
