Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

protocols: add Fifo-v1
  CMakeLists.txt
  protocols/meson.build
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/Fifo.cpp
  src/protocols/Fifo.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core, helpers, managers

fifo: cformat
  src/protocols/Fifo.hpp
Labels: protocols, core

fifo: only present locked surfaces
  src/protocols/Fifo.cpp
Labels: protocols, core

buffer: try to merge states before committing them
  src/protocols/core/Compositor.cpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/protocols/types/SurfaceStateQueue.cpp
Labels: protocols, core

protocols: add committiming and surface state queue
  CMakeLists.txt
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/CommitTiming.cpp
  src/protocols/CommitTiming.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/Fifo.cpp
  src/protocols/Fifo.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/protocols/types/SurfaceStateQueue.cpp
  src/protocols/types/SurfaceStateQueue.hpp
Labels: protocols, core, managers

fifo: schedule a frame if waiting on barrier
  src/protocols/Fifo.cpp
Labels: protocols, core

fifo: properly check monitor intersection
  src/protocols/Fifo.cpp
Labels: protocols, core

Updated meson.build to match the new workflow
  meson.build
Labels: none

Added an empty line between includes and namespaces that I accidentally removed
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

build: replace generateVersion.sh (#12110)
  CMakeLists.txt
  meson.build
  scripts/generateVersion.sh
  src/helpers/MiscFunctions.cpp
  src/version.h.in
Labels: core, helpers

[gha] Nix: update inputs
  flake.lock
Labels: none

fifo: dont fifo lock on tearing
  src/protocols/Fifo.cpp
Labels: protocols, core

Fixed git lookup for when building out of srcdir. For example with makepkg.
  CMakeLists.txt
Labels: none

buffer: queue the state directly
  src/protocols/CommitTiming.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/Fifo.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/SurfaceStateQueue.cpp
  src/protocols/types/SurfaceStateQueue.hpp
Labels: protocols, core

renderer: remove opengl:nvidia_anti_flicker
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

renderer: remove opengl:nvidia_anti_flicker
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

dwindle: rework split logic to be fully gap-aware (#12047)
  hyprtester/src/tests/main/window.cpp
  hyprtester/src/tests/main/workspaces.cpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
Labels: core, layout

fmt
  src/render/Renderer.cpp
Labels: core, render

cmake: fix git lookup for when building out of srcdir(#12116)
  CMakeLists.txt
Labels: none

layer-shell: fix fullscreen alpha when changing layers
  src/desktop/LayerSurface.cpp
Labels: core, desktop

surface: fix xwayland zero scaling damage calcs
  src/desktop/WLSurface.cpp
Labels: core, desktop

hyprctl: include color management presets and sdr information (#12019)
  Makefile
  hyprtester/src/tests/main/colors.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/helpers/CMType.cpp
  src/helpers/CMType.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, config, debug, helpers, render

surface: fix xwayland zero scaling damage calcs (#12123)
  src/desktop/WLSurface.cpp
Labels: core, desktop

Fix: add XBGR2101010 format to screencopy_force_8b
  src/render/OpenGL.cpp
Labels: core, render

renderer/cm: allow gamma 2.2 instead of sRGB EOTF
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/shaders/glsl/CM.glsl
Labels: core, config, helpers, render

cm: prevent direct scanout for SDR in HDR
  src/helpers/Monitor.cpp
Labels: core, helpers

screencopy: fix missing XBGR2101010 format with screencopy_force_8b (#12125)
  src/render/OpenGL.cpp
Labels: core, render

this is intended
  src/desktop/LayerSurface.cpp
Labels: core, desktop

meson: disable lto
  meson.build
Labels: none

ooops
  src/desktop/LayerSurface.cpp
Labels: core, desktop

meson: disable lto (#12129)
  meson.build
Labels: none

ooops #2
  src/desktop/LayerSurface.cpp
Labels: core, desktop

layer-shell: fix fullscreen alpha when changing layers (#12124)
  src/desktop/LayerSurface.cpp
Labels: core, desktop

opengl: use EGLint and we dont have to cast data
  src/render/OpenGL.cpp
Labels: core, render

opengl: add linear to correct vector
  src/render/OpenGL.cpp
Labels: core, render

EGL: minor egl changes (#12132)
  src/render/OpenGL.cpp
Labels: core, render

protocols: add committiming and surface state queue
  CMakeLists.txt
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/CommitTiming.cpp
  src/protocols/CommitTiming.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/Fifo.cpp
  src/protocols/Fifo.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/protocols/types/SurfaceStateQueue.cpp
  src/protocols/types/SurfaceStateQueue.hpp
Labels: protocols, core, managers

fifo: schedule a frame if waiting on barrier
  src/protocols/Fifo.cpp
Labels: protocols, core

fifo: dont fifo lock on tearing
  src/protocols/Fifo.cpp
Labels: protocols, core

protocols: add Fifo-v1
  CMakeLists.txt
  protocols/meson.build
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/Fifo.cpp
  src/protocols/Fifo.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core, helpers, managers
