Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

renderer: add expand_undersized_textures adds an option to disable the texture expansion for textures that are smaller while resizing up
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

renderer: add expand_undersized_textures
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

Update hyprland-systemd.desktop
  systemd/hyprland-systemd.desktop
Labels: none

Move entire area search to a function. Enable tablet to map 'entire'.
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
Labels: core, managers

screencopy: fix build with legacyrenderer fixes #8355
  src/protocols/Screencopy.cpp
Labels: protocols, core

screencopy: fix build with legacyrenderer
  src/protocols/Screencopy.cpp
Labels: protocols, core

shadow: add sharp and refactor options options moved to decoration:shadow:
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/AnimationManager.cpp
  src/render/OpenGL.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
Labels: core, config, managers, render

shadow: add sharp and refactor options
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/AnimationManager.cpp
  src/render/OpenGL.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
Labels: core, config, managers, render

shaders: fixup jagged edges in texture rounded corners
  src/render/shaders/Textures.hpp
Labels: core, render

shaders: fixup jagged edges in texture rounded corners
  src/render/shaders/Textures.hpp
Labels: core, render

shaders: improve corner AA in borders shader
  src/render/shaders/Border.hpp
  src/render/shaders/SharedValues.hpp
  src/render/shaders/Textures.hpp
Labels: core, render

shaders: improve corner AA in borders shader
  src/render/shaders/Border.hpp
  src/render/shaders/SharedValues.hpp
  src/render/shaders/Textures.hpp
Labels: core, render

hyprctl: add mirrorOf to hyprctl monitors
  src/debug/HyprCtl.cpp
Labels: core, debug

hyprctl: add mirrorOf to hyprctl monitors fixes #8026
  src/debug/HyprCtl.cpp
Labels: core, debug

shadow: fix double premultiplication shader takes straight alpha aaaa
  src/render/OpenGL.cpp
Labels: core, render

shadow: fix double premultiplication
  src/render/OpenGL.cpp
Labels: core, render

Don't render animating windows out of their monitor when they are not moving workspaces
  src/render/Renderer.cpp
Labels: core, render

update default config
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

defaultConfig: update default config values for shadows (#8360)
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

defaultConfig: update default config values for shadows (#8360)
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

hyprland-systemd.desktop: change name back to Hyprland (#8351)
  systemd/hyprland-systemd.desktop
Labels: none

hyprland-systemd.desktop: change name back to Hyprland (#8351)
  systemd/hyprland-systemd.desktop
Labels: none

scrolling focuses window only once when window differs
  src/managers/input/InputManager.cpp
Labels: core, managers

groups: add merge_groups_on_groupbar
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, layout, render

layershell: check if workspace is valid in onMap ref #8296
  src/desktop/LayerSurface.cpp
Labels: core, desktop

layershell: check if workspace is valid in onMap
  src/desktop/LayerSurface.cpp
Labels: core, desktop

cleanup: removed unnecessary braces
  src/managers/input/InputManager.cpp
Labels: core, managers

defaultConfig: improve default groupbar appearance
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

groups: add merge_groups_on_groupbar (#8362)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, layout, render

groups: add merge_groups_on_groupbar (#8362)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, layout, render

CI: update actions
  .github/workflows/ci.yaml
  .github/workflows/man-update.yaml
  .github/workflows/nix-update-inputs.yml
  .github/workflows/release.yaml
  .github/workflows/security-checks.yml
  .github/workflows/stale.yml
Labels: none

CI: update actions
  .github/workflows/ci.yaml
  .github/workflows/man-update.yaml
  .github/workflows/nix-update-inputs.yml
  .github/workflows/release.yaml
  .github/workflows/security-checks.yml
  .github/workflows/stale.yml
Labels: none

renderer: don't rely on datarootdir for local share
  src/render/OpenGL.cpp
Labels: core, render

renderer: don't rely on datarootdir for local share
  src/render/OpenGL.cpp
Labels: core, render

renderer: minor fixup to window rendering logic (#8359)
  src/render/Renderer.cpp
Labels: core, render

renderer: minor fixup to window rendering logic (#8359) Don't render animating windows out of their monitor when they are not moving workspaces
  src/render/Renderer.cpp
Labels: core, render

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

Nix: build aquamarine and hyprutils in debug when using hyprland-debug
  nix/default.nix
  nix/overlays.nix
Labels: nix

Nix: build aquamarine and hyprutils in debug when using hyprland-debug
  nix/default.nix
  nix/overlays.nix
Labels: nix
