Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

tests: Test that `workspace previous` works after workspace gesture
  hyprtester/src/tests/main/gestures.cpp
Labels: none

moveActiveToWorkspace: remember previous workspace unconditionally
  src/managers/KeybindManager.cpp
Labels: core, managers

monitor: remove monitor from list on disconnect before unsafestate
  src/helpers/Monitor.cpp
Labels: core, helpers

CMake: Track dependencies in pkgconfig file
  CMakeLists.txt
  hyprland.pc.in
Labels: none

hyprctl: use new hyprpaper ipc format (#12537)
  .github/actions/setup_base/action.yml
  .gitignore
  flake.lock
  flake.nix
  hyprctl/CMakeLists.txt
  hyprctl/hw-protocols/hyprpaper_core.xml
  hyprctl/src/Strings.hpp
  hyprctl/src/helpers/Memory.hpp
  hyprctl/src/hyprpaper/Hyprpaper.cpp
  hyprctl/src/hyprpaper/Hyprpaper.hpp
  hyprctl/src/main.cpp
  nix/default.nix
  nix/overlays.nix
Labels: hyprctl, nix

hyprpm: check for abi strings in headersValid (#12504)
  hyprpm/CMakeLists.txt
  hyprpm/src/core/DataState.cpp
  hyprpm/src/core/DataState.hpp
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  hyprpm/src/main.cpp
  src/debug/HyprCtl.cpp
  src/main.cpp
Labels: hyprpm, core, debug

renderer: remove unnecessary assert from renderRoundedShadow (#12540)
  src/render/OpenGL.cpp
Labels: core, render

cmake: track dependencies in pkgconfig file (#12543)
  CMakeLists.txt
  hyprland.pc.in
Labels: none

pointer: apply locked pointer workaround only on xwayland (#12402)
  src/managers/PointerManager.cpp
Labels: core, managers

i18n: add Tatar translations (#12538)
  src/i18n/Engine.cpp
Labels: core

desktop: rewrite reserved area handling
  .github/actions/setup_base/action.yml
  .github/workflows/nix-ci.yml
  CMakeLists.txt
  flake.nix
  hyprtester/src/shared.hpp
  hyprtester/src/tests/main/window.cpp
  hyprtester/src/tests/main/workspaces.cpp
  nix/default.nix
  nix/overlays.nix
  nix/tests/default.nix
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/desktop/Window.cpp
  src/desktop/reserved/ReservedArea.cpp
  src/desktop/reserved/ReservedArea.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/hyprerror/HyprError.cpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/animation/DesktopAnimationManager.cpp
  src/render/Renderer.cpp
  tests/desktop/Reserved.cpp
Labels: nix, core, config, debug, desktop, events, helpers, hyprerror, layout, managers, render

fix
  CMakeLists.txt
Labels: none

forgor
  src/managers/ANRManager.cpp
Labels: core, managers

anr: open anr dialog on parent's workspace
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
  src/managers/ANRManager.cpp
Labels: core, helpers, managers

i18n: add Indonesian translations (#12468)
  src/i18n/Engine.cpp
Labels: core

fix cursor overlay for window screenshare
  src/managers/screenshare/ScreenshareFrame.cpp
Labels: core, managers

fixes
  hyprtester/plugin/src/main.cpp
  hyprtester/src/tests/main/keybinds.cpp
Labels: none

format
  src/render/Renderer.hpp
Labels: core, render

changed comment, set `m_lastInputTablet = false` in onMouseMoved & onMouseWarp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, managers

renamed variables to use "tablet" instead of "pen" also remove redundant "m_lastInputTablet = ture"
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.hpp
  src/managers/input/Tablets.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, managers, render

Adds zoom with detached camera
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
Labels: core, config, render

Formatting
  src/render/OpenGL.cpp
Labels: core, render

cmake: add missing space
  hyprland.pc.in
Labels: none

Revised translations, and fixed html tags.
  src/i18n/Engine.cpp
Labels: core

fix: typo on color simage description op
  src/protocols/types/ColorManagement.hpp
Labels: protocols, core

dispatcher/dpms: include mirrors
  src/managers/KeybindManager.cpp
Labels: core, managers

renderer/cm: fix typo on color simage description op (#12551)
  src/protocols/types/ColorManagement.hpp
Labels: protocols, core

desktop: rewrite reserved area handling + improve tests (#12383)
  .github/actions/setup_base/action.yml
  .github/workflows/nix-ci.yml
  CMakeLists.txt
  flake.nix
  hyprtester/plugin/src/main.cpp
  hyprtester/src/shared.hpp
  hyprtester/src/tests/main/keybinds.cpp
  hyprtester/src/tests/main/window.cpp
  hyprtester/src/tests/main/workspaces.cpp
  nix/default.nix
  nix/overlays.nix
  nix/tests/default.nix
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/desktop/Window.cpp
  src/desktop/reserved/ReservedArea.cpp
  src/desktop/reserved/ReservedArea.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/hyprerror/HyprError.cpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/animation/DesktopAnimationManager.cpp
  src/render/Renderer.cpp
  tests/desktop/Reserved.cpp
Labels: nix, core, config, debug, desktop, events, helpers, hyprerror, layout, managers, render

cmake: add missing space (#12549)
  hyprland.pc.in
Labels: none

start: init start-hyprland and safe mode
  CMakeLists.txt
  example/hyprland.conf
  example/hyprland.desktop
  hyprland.pc.in
  hyprpm/src/core/PluginManager.cpp
  nix/default.nix
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/i18n/Engine.cpp
  src/i18n/Engine.hpp
  src/main.cpp
  src/plugins/PluginSystem.hpp
  start/CMakeLists.txt
  start/src/core/Instance.cpp
  start/src/core/Instance.hpp
  start/src/core/State.hpp
  start/src/helpers/Logger.hpp
  start/src/helpers/Memory.hpp
  start/src/main.cpp
Labels: hyprpm, nix, core, config, plugins

start: init start-hyprland and safe mode (#12484)
  CMakeLists.txt
  example/hyprland.conf
  example/hyprland.desktop
  hyprland.pc.in
  hyprpm/src/core/PluginManager.cpp
  nix/default.nix
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/i18n/Engine.cpp
  src/i18n/Engine.hpp
  src/main.cpp
  src/plugins/PluginSystem.hpp
  start/CMakeLists.txt
  start/src/core/Instance.cpp
  start/src/core/Instance.hpp
  start/src/core/State.hpp
  start/src/helpers/Logger.hpp
  start/src/helpers/Memory.hpp
  start/src/main.cpp
Labels: hyprpm, nix, core, config, plugins

use m_realMonitors instead
  src/managers/KeybindManager.cpp
Labels: core, managers

example/config: use hyprshutdown if available
  example/hyprland.conf
Labels: none

cmake: fix XKBCOMMON variable typo
  CMakeLists.txt
  hyprland.pc.in
Labels: none

renderer/cm: make needsHDRupdate per-monitor state
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

ci: add new pr comment workflow
  .github/workflows/new-pr-comment.yml
Labels: none

dispatcher: include mirrors of monitor in dpms (#12552)
  src/managers/KeybindManager.cpp
Labels: core, managers

keybinds: fix previous workspace remembering (#12399)
  hyprtester/src/tests/main/gestures.cpp
  src/managers/KeybindManager.cpp
  src/managers/input/UnifiedWorkspaceSwipeGesture.cpp
Labels: core, managers

Implement review recommendations
  src/protocols/XDGShell.cpp
Labels: protocols, core

corrected process wait and updated tests
  hyprtester/src/tests/clients/child-window.cpp
Labels: none

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
