Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

move applyMonitorRule from Renderer to CMonitor
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/KeybindManager.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, helpers, managers, render

fix logs + fix trying INVALID format in modeset
  src/helpers/Monitor.cpp
Labels: core, helpers

fix fallback + add trying requested as custom fallback
  src/helpers/Monitor.cpp
Labels: core, helpers

fix highrr and highres
  src/helpers/Monitor.cpp
Labels: core, helpers

make requested mode selection better
  src/helpers/Monitor.cpp
Labels: core, helpers

logs + add fallback on fail
  src/render/Renderer.cpp
Labels: core, render

better logs + cleanup
  src/helpers/Monitor.cpp
Labels: core, helpers

improve sorting logic + bring out func
  src/helpers/Monitor.cpp
Labels: core, helpers

fix addBest3Modes and use better sorting
  src/helpers/Monitor.cpp
Labels: core, helpers

use glaze for json parsing
  .github/actions/setup_base/action.yml
  hyprpm/CMakeLists.txt
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

WIP: input capture
  .gitmodules
  CMakeLists.txt
  src/managers/PointerManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
  src/protocols/core/Output.cpp
Labels: protocols, core, managers

input-capture: impl keyboard, mouse button & mouse wheel
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: fix build
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: code cleanup
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: inhibit inputs
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: Init active property & upstream protocol changes
  src/managers/PointerManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: fixes
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

change repo URL in plugin manager (#2)
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

input-capture: hide cursor when the input is captured
  src/render/Renderer.cpp
Labels: core, render

input-capture: send modifiers (highly experimental)
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: fix build
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: don't send motion when the input is locked (like inside a 3d game)
  src/managers/PointerManager.cpp
Labels: core, managers

input-capture: impl keymap
  src/managers/SeatManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: impl force release
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: add protocol to meson.build
  protocols/meson.build
Labels: protocols

input-capture: fix rebase issues
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/core/Output.cpp
Labels: protocols, core, managers

debug: fix ISDEBUG checking
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
Labels: core, debug

Nix: fix TAG substitution
  nix/default.nix
Labels: nix

Nix: fix TAG substitution
  nix/default.nix
Labels: nix

monitor: bring back old description behavior
  src/helpers/Monitor.cpp
Labels: core, helpers

monitor: bring back old description behavior this makes description match the beginning again. Fixes #8756
  src/helpers/Monitor.cpp
Labels: core, helpers

add getPluginStates helper method
  hyprpm/src/core/DataState.cpp
  hyprpm/src/core/DataState.hpp
Labels: hyprpm

added reference to CTimer class in KeybindManager
  src/managers/KeybindManager.hpp
Labels: core, managers

pass: improve blur region detection
  src/render/pass/Pass.cpp
Labels: core, render

pass: improve blur region detection
  src/render/pass/Pass.cpp
Labels: core, render

debug: fix ISDEBUG checking (#8823)
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
Labels: core, debug

debug: fix ISDEBUG checking (#8823)
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
Labels: core, debug

internal: added reference to CTimer class in KeybindManager (#8836)
  src/managers/KeybindManager.hpp
Labels: core, managers

internal: added reference to CTimer class in KeybindManager (#8836)
  src/managers/KeybindManager.hpp
Labels: core, managers

debug: fix overlay not rendering
  src/debug/HyprDebugOverlay.cpp
Labels: core, debug
