Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

windowrules: fix group rule recalcs
  hyprtester/src/tests/main/window.cpp
  src/desktop/Window.cpp
  src/managers/KeybindManager.cpp
Labels: core, desktop, managers

rule: nuke parseRelativeVector
  src/desktop/rule/windowRule/WindowRule.cpp
  src/desktop/rule/windowRule/WindowRule.hpp
  src/layout/IHyprLayout.cpp
Labels: core, desktop, layout

i18n: slight update to it_IT translations (#12372)
  src/i18n/Engine.cpp
Labels: core

renderer: make new_render_scheduler not drop buffers wrong
  src/helpers/MonitorFrameScheduler.cpp
  src/helpers/MonitorFrameScheduler.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

renderer: add damage to second monitor
  src/render/pass/SurfacePassElement.cpp
Labels: core, render

renderer: avoid races with commited frame
  src/helpers/MonitorFrameScheduler.cpp
  src/helpers/MonitorFrameScheduler.hpp
Labels: core, helpers

renderer: remove copy paste
  src/helpers/MonitorFrameScheduler.cpp
Labels: core, helpers

renderer: store used buffers per monitor
  src/Compositor.cpp
  src/helpers/Monitor.cpp
  src/managers/BufferReleaseManager.cpp
  src/managers/BufferReleaseManager.hpp
  src/protocols/types/Buffer.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, helpers, managers, render

hyprctl/activewindow: show contentType
  src/debug/HyprCtl.cpp
Labels: core, debug

fixed typo
  src/i18n/Engine.cpp
Labels: core

hyprctl: show contentType in activewindow (#12214)
  src/debug/HyprCtl.cpp
Labels: core, debug

hyprctl: fix no_vrr prop ref
  src/managers/KeybindManager.cpp
Labels: core, managers

CI/AI translate: change path filter action
  .github/workflows/translation-ai-check.yml
Labels: none

i18n: improve Spanish translations for clarity and consistency (#12378)
  src/i18n/Engine.cpp
Labels: core

welcome: init welcome manager
  src/Compositor.cpp
  src/managers/WelcomeManager.cpp
  src/managers/WelcomeManager.hpp
Labels: core, managers

fix
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, layout

test
  hyprtester/src/tests/main/window.cpp
Labels: none

windowrules: fix group rule recalcs (#12403)
  hyprtester/src/tests/main/window.cpp
  src/desktop/Window.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
Labels: core, desktop, layout, managers

desktop: rewrite reserved area handling
  hyprtester/src/tests/main/window.cpp
  hyprtester/src/tests/main/workspaces.cpp
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/desktop/Window.cpp
  src/desktop/reserved/ReservedArea.cpp
  src/desktop/reserved/ReservedArea.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/hyprerror/HyprError.cpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/animation/DesktopAnimationManager.cpp
  src/render/Renderer.cpp
Labels: core, config, debug, desktop, events, helpers, hyprerror, layout, managers, render

I think I'm gonna kill myself
  CMakeLists.txt
  src/config/ConfigManager.cpp
  src/desktop/reserved/ReservedArea.cpp
  src/main.cpp
Labels: core, config, desktop

hyprctl: fix no_vrr prop ref (#12410)
  src/managers/KeybindManager.cpp
Labels: core, managers

i18n: add Português (Portugal) translation (#12328)
  src/i18n/Engine.cpp
Labels: core

Added locale config option
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/i18n/Engine.cpp
Labels: core, config

CI/AI translate: expose output
  .github/workflows/translation-ai-check.yml
Labels: none

flake.lock: update
  flake.lock
Labels: none

protocols/workspace: fix crash in initial group sending
  src/protocols/ExtWorkspace.cpp
  src/protocols/ExtWorkspace.hpp
Labels: protocols, core

split gtests
  CMakeLists.txt
  src/desktop/reserved/ReservedArea.cpp
  src/main.cpp
Labels: core, desktop

cmaek: more
  CMakeLists.txt
Labels: none

add test
  tests/desktop/Reserved.cpp
Labels: none

renderer: fix render_unfocused
  src/render/Renderer.cpp
Labels: core, render

cmake
  CMakeLists.txt
Labels: none

Nix/tests: also run gtests
  .github/workflows/nix-ci.yml
  nix/tests/default.nix
Labels: nix

Nix: add hyprland-with-tests
  flake.nix
  nix/default.nix
  nix/overlays.nix
Labels: nix

CMake: build tests without running
  CMakeLists.txt
Labels: none

Nix: proper with tests
  nix/default.nix
  nix/overlays.nix
Labels: nix

CI,Nix: add gtest dep
  .github/actions/setup_base/action.yml
  nix/default.nix
Labels: nix

animation: improvement animation on multi refresh rate monitors
  src/managers/animation/AnimationManager.cpp
  src/managers/animation/AnimationManager.hpp
  src/render/Renderer.cpp
Labels: core, managers, render

i18n: add Romanian translation
  src/i18n/Engine.cpp
Labels: core

swipe: Fix previous workspace remembering in workspace gesture
  src/managers/input/UnifiedWorkspaceSwipeGesture.cpp
Labels: core, managers

tests: Test that `workspace previous` works after workspace gesture
  hyprtester/src/tests/main/gestures.cpp
Labels: none

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
