Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

renderer: make lock fail textures dynamically loaded
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: core, render

config: nuke explicit_sync settings
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/ProtocolManager.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, managers, render

formatting changes
  src/xwayland/XWM.hpp
Labels: core, xwayland

I just woke up
  src/xwayland/XWM.hpp
Labels: core, xwayland

log
  src/xwayland/XWM.hpp
Labels: core, xwayland

xwayland: Fix crash when copying from wayland to xwayland (#10786)
  src/protocols/PrimarySelection.cpp
  src/xwayland/Dnd.cpp
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: protocols, core, xwayland

CI/Nix: add cache-nix-action
  .github/workflows/nix-build.yml
  .github/workflows/nix-update-inputs.yml
Labels: none

CI/Nix: add cache-nix-action
  .github/workflows/nix-build.yml
  .github/workflows/nix-update-inputs.yml
Labels: none

treewide: hyprland.org -> hypr.land
  README.md
  docs/ISSUE_GUIDELINES.md
  example/hyprland.conf
  hyprctl/Strings.hpp
  nix/default.nix
  nix/module.nix
  nix/overlays.nix
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/plugins/PluginAPI.hpp
Labels: docs, hyprctl, nix, core, config, plugins

[gha] build man pages
  docs/Hyprland.1
  docs/hyprctl.1
Labels: docs

Fix window data access in drop shadow decoration Update CHyprDropShadowDecoration to use new API: - m_monitorID -> m_monitor.lock() - m_sWindowData -> m_windowData
  src/render/decorations/CHyprDropShadowDecoration.cpp
Labels: core, render

Fix texture ID access in batched pass elements Update texture ID field name from m_iTexID to m_texID Add missing Texture.hpp include
  src/render/pass/BatchedPassElement.cpp
  src/render/pass/BatchedPassElement.hpp
Labels: core, render

xwayland: support HiDPI scale
  src/protocols/PointerConstraints.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
  src/xwayland/XWayland.hpp
Labels: protocols, core, xwayland

refactor performSnap function
  src/layout/IHyprLayout.cpp
Labels: core, layout

formating
  src/layout/IHyprLayout.cpp
Labels: core, layout

render: add comprehensive performance metrics for instanced rendering
  src/render/BatchManager.cpp
  src/render/BatchManager.hpp
Labels: core, render

Implement core render batching system
  src/render/BatchManager.cpp
  src/render/BatchManager.hpp
Labels: core, render

Add config option to control render batching
  examples/render_batching_config.conf
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

Add optimized batched rectangle renderer
  src/render/BatchManager.cpp
  src/render/BatchManager.hpp
  src/render/BatchedRectRenderer.cpp
  src/render/BatchedRectRenderer.hpp
Labels: core, render

fix: address critical code review issues in render batching
  src/render/BatchManager.hpp
  src/render/BatchedRectRenderer.cpp
  src/render/InstancedRectRenderer.cpp
  src/render/pass/BatchedPassElement.cpp
Labels: core, render

Fix window data access in drop shadow decoration
  src/render/decorations/CHyprDropShadowDecoration.cpp
Labels: core, render

Integrate batch manager with OpenGL and pass system
  CMakeLists.txt
  examples/batching_example.cpp
  examples/render_batching_example.cpp
  src/render/BatchManager.cpp
  src/render/BatchManager.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/pass/BatchedPassElement.cpp
  src/render/pass/BatchedPassElement.hpp
  tests/CMakeLists.txt
Labels: core, render

Add render batch manager with TDD tests
  src/render/BatchManager.cpp
  src/render/BatchManager.hpp
  tests/render/test_render_batching.cpp
Labels: core, render

feat: make render batching production-ready
  src/config/ConfigManager.cpp
  src/render/BatchManager.cpp
  src/render/BatchManager.hpp
  src/render/InstancedRectRenderer.cpp
  src/render/OpenGL.cpp
  src/render/pass/BatchedShadowPassElement.cpp
Labels: core, config, render

Add implementation summary for render batching feature
  IMPLEMENTATION_SUMMARY.md
Labels: none

Add shadow batching support
  src/render/BatchManager.cpp
  src/render/Renderer.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/pass/BatchedShadowPassElement.cpp
  src/render/pass/BatchedShadowPassElement.hpp
Labels: core, render

render: integrate instanced rendering into BatchManager
  src/render/BatchManager.cpp
  src/render/BatchManager.hpp
Labels: core, render

Integrate render batching in group bar decorations
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

render: add instanced vertex shader for GPU instancing
  src/render/shaders/glsl/quad_instanced.vert
Labels: core, render

Fix batch manager implementation details
  src/render/BatchManager.cpp
Labels: core, render

render: add performance tests and documentation for instanced rendering
  INSTANCED_RENDERING.md
  src/render/test/TestInstancedRendering.cpp
Labels: core, render

Add comprehensive tests and documentation for render batching
  docs/RENDER_BATCHING.md
  examples/integration_example.cpp
  tests/render/test_render_batching.cpp
Labels: docs

Fix texture ID access in batched pass elements
  src/render/pass/BatchedPassElement.cpp
  src/render/pass/BatchedPassElement.hpp
Labels: core, render

render: implement InstancedRectRenderer class
  src/render/InstancedRectRenderer.cpp
  src/render/InstancedRectRenderer.hpp
Labels: core, render

Add project documentation and formatting fixes
  src/render/BatchManager.cpp
  src/render/BatchManager.hpp
  src/render/BatchedRectRenderer.cpp
  src/render/BatchedRectRenderer.hpp
  src/render/InstancedRectRenderer.cpp
  src/render/InstancedRectRenderer.hpp
  src/render/OpenGL.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/pass/BatchedPassElement.cpp
  src/render/pass/BatchedPassElement.hpp
  src/render/pass/BatchedShadowPassElement.hpp
  src/render/test/TestInstancedRendering.cpp
Labels: core, render

xwayland: Don't leave shell process
  src/xwayland/Server.cpp
Labels: core, xwayland

Remove documentation files from render batching branch
  IMPLEMENTATION_SUMMARY.md
  INSTANCED_RENDERING.md
  docs/RENDER_BATCHING.md
Labels: docs

Remove gtest-based tests
  tests/CMakeLists.txt
  tests/render/test_render_batching.cpp
Labels: none

Refactor onMouse move and onEndDragWindow
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
Labels: core, layout

added wrapping options to renderTextureWithBlur method
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
