Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

Add config option to focus master window on close in master layout
  hyprtester/CMakeLists.txt
  hyprtester/plugin/Makefile
  hyprtester/plugin/build.sh
  hyprtester/plugin/src/globals.hpp
  hyprtester/plugin/src/main.cpp
  hyprtester/src/Log.hpp
  hyprtester/src/hyprctlCompat.cpp
  hyprtester/src/hyprctlCompat.hpp
  hyprtester/src/main.cpp
  hyprtester/src/shared.hpp
  hyprtester/src/tests/main/groups.cpp
  hyprtester/src/tests/main/master.cpp
  hyprtester/src/tests/main/misc.cpp
  hyprtester/src/tests/main/tests.hpp
  hyprtester/src/tests/main/window.cpp
  hyprtester/src/tests/main/workspaces.cpp
  hyprtester/src/tests/plugin/plugin.cpp
  hyprtester/src/tests/plugin/plugin.hpp
  hyprtester/src/tests/shared.cpp
  hyprtester/src/tests/shared.hpp
  hyprtester/test.conf
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
  src/layout/MasterLayout.hpp
Labels: core, config, layout

move to better tearing mechanism, old stuff wasn't needed anymore
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/PresentationTime.cpp
  src/render/Renderer.cpp
Labels: protocols, core, config, debug, events, helpers, render

move shouldDoTearing to CMonitor class
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

actually use the surface state tearing hint lol
  src/desktop/Window.cpp
  src/desktop/Window.hpp
Labels: core, desktop

seperate direct scanout logic from direct scanout commit code
  src/debug/HyprCtl.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, debug, helpers, render

make scanout cursor commits not use tearing cause: "nO pRoP cAn Be ChAnGeD dUrInG AsYnC fLiP" on crtc_x
  src/helpers/Monitor.cpp
Labels: core, helpers

move all direct scanout allowed code to attemptDirectScanout
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
Labels: core, helpers, render

allow tearing while direct scanout happens
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

properly follow tearing control protocol
  src/protocols/TearingControl.cpp
  src/protocols/TearingControl.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
Labels: protocols, core

update hyprctl monitors output
  src/debug/HyprCtl.cpp
Labels: core, debug

use a seperate atomic commit for only hw cursor movement since it doesn't work in the same commit as a tearing flip in current kernel
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/PointerManager.cpp
  src/render/Renderer.cpp
Labels: core, helpers, managers, render

shader: replace texture2d with texture
  src/render/shaders/glsl/blur1.frag
  src/render/shaders/glsl/blur2.frag
  src/render/shaders/glsl/glitch.frag
  src/render/shaders/glsl/passthru.frag
  src/render/shaders/glsl/rgba.frag
  src/render/shaders/glsl/rgbamatte.frag
  src/render/shaders/glsl/rgbx.frag
Labels: core, render

sessionlock: restore cursor if hidden on unlock
  src/protocols/SessionLock.cpp
Labels: protocols, core

shader: use the more modern essl3 extension
  src/render/shaders/glsl/ext.frag
Labels: core, render

buffer: check if buffer fd already readable
  src/protocols/types/DMABuffer.cpp
Labels: protocols, core

Add config option to focus master window on close in master layout
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
  src/layout/MasterLayout.hpp
Labels: core, config, layout

sessionlock: restore cursor if hidden on unlock (#10889)
  src/protocols/SessionLock.cpp
Labels: protocols, core

shader: replace texture2d with texture (#10893)
  src/render/shaders/glsl/blur1.frag
  src/render/shaders/glsl/blur2.frag
  src/render/shaders/glsl/ext.frag
  src/render/shaders/glsl/glitch.frag
  src/render/shaders/glsl/passthru.frag
  src/render/shaders/glsl/rgba.frag
  src/render/shaders/glsl/rgbamatte.frag
  src/render/shaders/glsl/rgbx.frag
Labels: core, render

buffer: check if buffer fd already readable (#10894)
  src/protocols/types/DMABuffer.cpp
Labels: protocols, core

opengl: add missing skipcm if case (#10888)
  src/render/OpenGL.cpp
Labels: core, render

renderer: add mouse zoom animations (#10882)
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/input/InputManager.cpp
  src/render/Renderer.cpp
Labels: core, config, debug, helpers, managers, render

CMake: disable tests by default
  CMakeLists.txt
  nix/hyprtester.nix
Labels: nix

Added pointer_position uniform for screen shader
  src/render/OpenGL.cpp
  src/render/Shader.hpp
Labels: core, render

Followed naming convention and added warning if pointer_position uniform is used but damage tracking is enabled
  src/render/OpenGL.cpp
Labels: core, render

update pointer_position uniform error message
  src/render/OpenGL.cpp
Labels: core, render

Forgot a "."
  src/render/OpenGL.cpp
Labels: core, render

Remove stupid copy pasting mistake and remove testing stuff
  src/render/OpenGL.cpp
Labels: core, render

inputmgr: remove unused var
  src/managers/input/InputManager.cpp
Labels: core, managers

CMake: disable tests by default (#10899)
  CMakeLists.txt
  nix/hyprtester.nix
Labels: nix

use makeShared
  src/managers/AnimationManager.cpp
  src/managers/SessionLockManager.cpp
Labels: core, managers

print missing dependencies
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

print all missing dependencies
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

compositor: dont send around int max values
  src/protocols/core/Compositor.cpp
Labels: protocols, core

Temp fix for memory leak on mouse movement
  src/managers/PointerManager.cpp
Labels: core, managers

eventloop: RAII the even source on readable fd
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, managers

nix: update aquamarine
  flake.lock
Labels: none

handle setGroupCurrent properly on fs groups modified: src/desktop/Window.cpp
  src/desktop/Window.cpp
Labels: core, desktop

nix: update aquamarine
  flake.lock
Labels: none

remove newline
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

format
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm
