Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

animations: sync inactive/active border angles when using borderangle animations (#9401)
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, render

animations: sync inactive/active border angles when using borderangle animations (#9401)
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, render

renderer: disable explicit if aquamarine output doesn't support it (#9396) (#9398)
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, helpers, render

config: actually set initial beziers (#9400)
  src/config/ConfigManager.cpp
Labels: core, config

config: actually set initial beziers (#9400)
  src/config/ConfigManager.cpp
Labels: core, config

remove unused variable
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

fix variable name
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, managers

fix(xwayland): prevent clipboard race condition
  src/xwayland/XDataSource.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

fix(dnd): prevent input block after dnd
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
Labels: protocols, core, xwayland

internal: remove unused variable (#9402)
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

internal: remove unused variable (#9402)
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

improve checks order
  src/Compositor.cpp
Labels: core

abgoregrjnger
  hyprtester/test.conf
Labels: none

add a super basic test suite
  CMakeLists.txt
  hyprtester/CMakeLists.txt
  hyprtester/src/hyprctlCompat.cpp
  hyprtester/src/hyprctlCompat.hpp
  hyprtester/src/main.cpp
  hyprtester/src/shared.hpp
  hyprtester/src/tests/window/window.cpp
  hyprtester/src/tests/window/window.hpp
  hyprtester/test.conf
Labels: none

stats
  hyprtester/src/main.cpp
  hyprtester/src/shared.hpp
Labels: none

nix/tests: init
  flake.nix
  nix/tests/default.nix
  nix/tests/test.conf
Labels: nix

add group tests
  hyprtester/src/main.cpp
  hyprtester/src/tests/shared.cpp
  hyprtester/src/tests/shared.hpp
  hyprtester/src/tests/window/groups.cpp
  hyprtester/src/tests/window/groups.hpp
  hyprtester/src/tests/window/window.cpp
  hyprtester/test.conf
Labels: none

add test to ctest XDDDDDDDDDDDDDDDDDD
  CMakeLists.txt
Labels: none

e
  hyprtester/src/main.cpp
Labels: none

test xeyes
  hyprtester/src/hyprctlCompat.cpp
  hyprtester/src/hyprctlCompat.hpp
  hyprtester/src/main.cpp
  hyprtester/src/tests/window/window.cpp
Labels: none

CMake: enable testing
  CMakeLists.txt
Labels: none

CI/Nix: add test job
  .github/workflows/nix-ci.yml
Labels: none

Nix: clean up test, add cachix step in test job
  .github/workflows/nix-ci.yml
  nix/tests/default.nix
Labels: nix

Nix: disable stuff until we drop wl-proto overlay
  nix/tests/default.nix
Labels: nix

new lib
  nix/lib.nix
  nix/module.nix
Labels: nix

nix/module: toHyprconf -> toHyprlang
  nix/module.nix
Labels: nix

nix/module: use xdph package directly
  nix/module.nix
Labels: nix

lib: add flattenAttrs, remove category processing
  nix/lib.nix
Labels: nix

balls
  src/xwayland/XDataSource.cpp
  src/xwayland/XWM.cpp
Labels: core, xwayland

renderer: remove spammy log
  src/render/Renderer.cpp
Labels: core, render

renderer: remove spammy log
  src/render/Renderer.cpp
Labels: core, render

monitor: report a scheduled frame when tearing on cursor move
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/PointerManager.cpp
Labels: core, helpers, managers

monitor: report a scheduled frame when tearing on cursor move
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/PointerManager.cpp
Labels: core, helpers, managers

config: set no_hw_cursors to auto by default and disable on tearing
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/PointerManager.cpp
Labels: core, config, managers

config: set no_hw_cursors to auto by default and disable on tearing when tearing, updates to the overlay plane may be ignored by the kernel. To avoid the cursor being a slideshow, disable hw cursors
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/PointerManager.cpp
Labels: core, config, managers

Add IPC support for Hyprsunset
  hyprctl/Strings.hpp
  hyprctl/main.cpp
Labels: hyprctl

clang-format
  hyprctl/Strings.hpp
Labels: hyprctl

fix(exec): redirect app output to /dev/null
  src/managers/KeybindManager.cpp
Labels: core, managers

syncobj: ensure we only add waiters on succesful checks
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
Labels: protocols, core

syncobj: ensure we only add waiters on succesful checks (#9412)
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
Labels: protocols, core

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
