Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

initial ctm support
  CMakeLists.txt
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/CTMControl.cpp
  src/protocols/CTMControl.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

moment
  src/managers/ProtocolManager.cpp
Labels: core, managers

bump dep
  CMakeLists.txt
Labels: none

ooga booga
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: protocols, core

redundant
  src/protocols/Screencopy.cpp
Labels: protocols, core

screencopy: fix screencopy frames not being cleaned up (#8017)
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: protocols, core

screencopy: fix screencopy frames not being cleaned up (#8017) --------- Co-authored-by: Vaxry <vaxry@vaxry.net>
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: protocols, core

config: give simple help for super+q not working only on default config :P
  src/config/ConfigManager.cpp
Labels: core, config

config: give simple help for super+q not working
  src/config/ConfigManager.cpp
Labels: core, config

fix
  src/protocols/CTMControl.hpp
Labels: protocols, core

layout: add drag_into_group to control merging dragging windows (#8004)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, layout, render

layout: add drag_into_group to control merging dragging windows (#8004)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, layout, render

misc: refactor version command
  src/main.cpp
Labels: core

misc: refactor version command (#8027) Fixes a minor spacing issue if git status is not dirty. Additionally now should be easier to extend it eventually.
  src/main.cpp
Labels: core

misc: refactor version command (#8027)
  src/main.cpp
Labels: core

keybinds: fixup xkb_states for resolve_by_sym fixes #7750
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/managers/KeybindManager.cpp
Labels: core, devices, managers

keybinds: fixup xkb_states for resolve_by_sym
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/managers/KeybindManager.cpp
Labels: core, devices, managers

flake.lock: update
  flake.lock
Labels: none

Meson: bump required versions and add ctm proto
  meson.build
  protocols/meson.build
Labels: protocols

FORMATTTT
  src/protocols/CTMControl.cpp
  src/protocols/CTMControl.hpp
Labels: protocols, core

chore: add HYPRLAND_VERSION
  scripts/generateVersion.sh
  src/main.cpp
  src/version.h.in
Labels: core

chore: start some use of std::print and std::format
  src/debug/HyprCtl.cpp
  src/main.cpp
Labels: core, debug

protocols: Add support for hyprland-ctm-control-v1 (#8023)
  CMakeLists.txt
  flake.lock
  meson.build
  protocols/meson.build
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/CTMControl.cpp
  src/protocols/CTMControl.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, managers, render

pointer: expand sw cursor damage box fixes #8031 just a bit, rounding errors I guess
  src/managers/PointerManager.cpp
Labels: core, managers

pointer: expand sw cursor damage box
  src/managers/PointerManager.cpp
Labels: core, managers

dispatchers: allow leading whitespace in window parameter
  src/Compositor.cpp
Labels: core

dispatchers: allow leading whitespace in window parameter (#8016)
  src/Compositor.cpp
Labels: core

dispatchers: allow leading whitespace in window parameter (#8016)
  src/Compositor.cpp
Labels: core

layout: remove unnecessary check after 45e8219
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: remove unnecessary check after 45e8219 (#8037)
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: remove unnecessary check after 45e8219 (#8037)
  src/layout/IHyprLayout.cpp
Labels: core, layout

defaultConfig: add a nofocus rule for weird X windows ref #6543
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

defaultConfig: add a nofocus rule for weird X windows
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

hyprerror: make hyprerror reserve space
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/render/Renderer.cpp
Labels: core, hyprerror, render

revert std::print and getopt changes
  src/debug/HyprCtl.cpp
  src/main.cpp
Labels: core, debug

hyprerror: make hyprerror reserve space (#8040)
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/render/Renderer.cpp
Labels: core, hyprerror, render

hyprerror: make hyprerror reserve space (#8040)
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/render/Renderer.cpp
Labels: core, hyprerror, render

chore: refactor versionRequest()
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
  src/main.cpp
Labels: core, debug

chore: remove useless files
  compile_flags.txt
  te.sh
Labels: none

renderer: reserve space for error at the bottom if that's set
  src/render/Renderer.cpp
Labels: core, render

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
