Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

internal: Use `using` instead of `#define` to alias smart pointers (#10673)
  src/helpers/memory/Memory.hpp
Labels: core, helpers

internal: Use `using` instead of `#define` to alias smart pointers (#10673)
  src/helpers/memory/Memory.hpp
Labels: core, helpers

renderer: fix incorrect cursor position when screencopy region with monitor scaling (#10675)
  src/protocols/Screencopy.cpp
Labels: protocols, core

renderer: fix incorrect cursor position when screencopy region with monitor scaling (#10675)
  src/protocols/Screencopy.cpp
Labels: protocols, core

screencopy: fix incorrect noscreenshare positions with monitor scaling (#10674)
  src/protocols/Screencopy.cpp
Labels: protocols, core

screencopy: fix incorrect noscreenshare positions with monitor scaling (#10674)
  src/protocols/Screencopy.cpp
Labels: protocols, core

hyprctl: don't detect a negative value as a parameter (#10671)
  hyprctl/main.cpp
Labels: hyprctl

hyprctl: don't detect a negative value as a parameter (#10671)
  hyprctl/main.cpp
Labels: hyprctl

fix typo
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: fix typo in help message (#10687)
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: fix typo in help message (#10687)
  hyprpm/src/main.cpp
Labels: hyprpm

dwindle: add the ability to specify an aspect ratio for a singular window (#10650)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
Labels: core, config, layout

dwindle: add the ability to specify an aspect ratio for a singular window (#10650)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
Labels: core, config, layout

allow configuring the sticky option for `drag_lock`
  src/config/ConfigDescriptions.hpp
  src/managers/input/InputManager.cpp
Labels: core, config, managers

enable sticky drag_lock by default as recommended by libinput
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

hyprpm: check version and update automatically on add
  hyprpm/src/main.cpp
Labels: hyprpm

drm-lease: Add Multi-GPU Support
  src/helpers/Monitor.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMLease.cpp
  src/protocols/DRMLease.hpp
Labels: protocols, core, helpers, managers

protocols/subcompositor: fixup place_above and _below
  src/protocols/core/Subcompositor.cpp
Labels: protocols, core

protocols/subcompositor: fixup place_above and _below fixes #10716
  src/protocols/core/Subcompositor.cpp
Labels: protocols, core

renderer: refuse rendering invalid resolutions sometimes a driver fails to assign any reasonable mode in which case we might render 0x0 which will make us crash. Don't do that. Part 1 of #10678
  src/render/Renderer.cpp
Labels: core, render

renderer: refuse rendering invalid resolutions
  src/render/Renderer.cpp
Labels: core, render

anr: make dialog disappear if the app dies
  src/managers/ANRManager.cpp
Labels: core, managers

anr: make dialog disappear if the app dies fixes #10514
  src/managers/ANRManager.cpp
Labels: core, managers

input: grab the correct active workspace on mouseMove fixes #10651
  src/managers/input/InputManager.cpp
Labels: core, managers

input: grab the correct active workspace on mouseMove
  src/managers/input/InputManager.cpp
Labels: core, managers

renderer: fixup some missing fadeout cases with special
  src/desktop/Window.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, desktop, helpers, render

renderer: fixup some missing fadeout cases with special fixes some fadeout missing cases: - closing last window - closing above fs - closing in general fixes #10283
  src/desktop/Window.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, desktop, helpers, render

hyprpm: check version and update automatically on add (#10706) ideally should let the user know, but jic also checks for header updates
  hyprpm/src/main.cpp
Labels: hyprpm

hyprpm: check version and update automatically on add (#10706)
  hyprpm/src/main.cpp
Labels: hyprpm

protocols: whitelist wp_color_manager_v1
  src/managers/ProtocolManager.cpp
Labels: core, managers

Update image in README
  README.md
Labels: none

README: Update image cdn (#10722)
  README.md
Labels: none

README: Update image cdn (#10722)
  README.md
Labels: none

protocols: whitelist wp_color_manager_v1 for security_context (#10723)
  src/managers/ProtocolManager.cpp
Labels: core, managers

xwm: always sync clipboard from xwl.
  src/xwayland/XWM.cpp
Labels: core, xwayland

Use -1 as default for color variables instead of INT64_MAX
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

require a minimum libinput version of 1.28
  CMakeLists.txt
  src/meson.build
Labels: core

only set the drag_lock config if value is in range
  src/managers/input/InputManager.cpp
Labels: core, managers

drm-lease: Add Multi-GPU Support (#10099)
  src/helpers/Monitor.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMLease.cpp
  src/protocols/DRMLease.hpp
Labels: protocols, core, helpers, managers

drm-lease: Add Multi-GPU Support (#10099)
  src/helpers/Monitor.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMLease.cpp
  src/protocols/DRMLease.hpp
Labels: protocols, core, helpers, managers
