Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

MesaDRM: use the m_drmRenderNodeFD if it exist
  src/protocols/MesaDRM.cpp
Labels: protocols, core

buffers: drop buffers as early as possible
  src/protocols/types/Buffer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, render

build hyprtester with clang
  hyprtester/plugin/Makefile
Labels: none

FIXME for broken tests
  hyprtester/src/shared.hpp
Labels: none

make CI happier
  hyprtester/src/tests/main/solitary.cpp
Labels: none

fix codeblock macro
  hyprtester/src/shared.hpp
Labels: none

fix Presentation time proto version
  src/managers/ProtocolManager.cpp
Labels: core, managers

dwindle: fix single_window_aspect_ratio not updating with config reload
  src/layout/DwindleLayout.cpp
Labels: core, layout

refactor: dereference instead of using ptr method
  src/layout/DwindleLayout.cpp
Labels: core, layout

protocols: fix presentation time proto version (#11306)
  src/managers/ProtocolManager.cpp
Labels: core, managers

[gha] Nix: update inputs
  flake.lock
Labels: none

keybinds: use the triggering keyboard for repeat timings
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

fix crash on screencopy when CM is disabled
  src/protocols/Screencopy.cpp
Labels: protocols, core

renderer: add popup fade-in-out
  src/config/ConfigManager.cpp
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, desktop, render

blur
  src/render/Renderer.cpp
Labels: core, render

cf
  src/render/Renderer.cpp
Labels: core, render

screencopy: avoid crash on cm disabled
  src/protocols/Screencopy.cpp
Labels: protocols, core

dwindle: fix single_window_aspect_ratio not updating with config reload (#11305)
  src/layout/DwindleLayout.cpp
Labels: core, layout

renderer: apply default luma for reverting back to srgb
  src/render/OpenGL.cpp
Labels: core, render

Style update: rename member variable; virtual keyboard test: destroy keyboards after test
  hyprtester/plugin/src/main.cpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/devices/VirtualKeyboard.cpp
Labels: core, devices

run clang-format
  src/devices/VirtualKeyboard.cpp
Labels: core, devices

virtual keyboard test: destroy in CScopeGuard; run clang-format
  hyprtester/plugin/src/main.cpp
Labels: none

virtual keyboard test: Add missing capture
  hyprtester/plugin/src/main.cpp
Labels: none

fp16 config
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Framebuffer.cpp
Labels: core, config, render

experimental fp16
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Format.cpp
  src/helpers/Monitor.cpp
  src/render/Framebuffer.cpp
Labels: core, config, helpers, render

cm debug checks cleanup
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
Labels: protocols, core

fix scRGB luminance range
  src/protocols/types/ColorManagement.hpp
Labels: protocols, core

handle hlg source as hdr
  src/protocols/ColorManagement.cpp
Labels: protocols, core

clamp blur color to fix fp16
  src/render/shaders/glsl/blurprepare.frag
Labels: core, render

move fp16 to experimental
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Framebuffer.cpp
Labels: core, config, render

cleanup
  src/managers/ProtocolManager.cpp
Labels: core, managers

apply sdr monitor rules only when sdr -> hdr
  src/render/OpenGL.cpp
Labels: core, render

fix scRGB proto check
  src/protocols/ColorManagement.cpp
Labels: protocols, core

handle scRGB
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, helpers, render

fix cm proto creation
  src/managers/ProtocolManager.cpp
Labels: core, managers

allow scRGB proto when fp16 is active
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
Labels: protocols, core, managers

fix rebase
  src/render/OpenGL.cpp
Labels: core, render

hyprctl: fix typo in seterror
  src/debug/HyprCtl.cpp
Labels: core, debug

screencopy: multiply box pos by scale
  src/protocols/Screencopy.cpp
Labels: protocols, core

renderer: add popup fade-in-out (#11313)
  src/config/ConfigManager.cpp
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, desktop, render

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
