Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

perf(render): enforce framebuffer offloading and remove introspection toggle
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/pass/Pass.cpp
  src/render/pass/Pass.hpp
Labels: core, config, render

monitor: round refresh rates in sorting modes fixes #9209
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, helpers

monitor: round refresh rates in sorting modes
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, helpers

add content-type-v1 proto
  CMakeLists.txt
  protocols/meson.build
  src/protocols/ContentType.cpp
  src/protocols/ContentType.hpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core

Extract IPC code to separate method This makes it possible to use the same IPC code for more projects in the future
  hyprctl/main.cpp
Labels: hyprctl

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

automate no_break_fs_vrr with content type
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/helpers/Monitor.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/ContentType.hpp
Labels: protocols, core, config, desktop, helpers, managers

automate direct_scanout with content type
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

popup: stop refocusing at unmap
  src/desktop/Popup.cpp
Labels: core, desktop

popup: stop refocusing at unmap fixes #9018
  src/desktop/Popup.cpp
Labels: core, desktop

subsurface: fix invalid parent typo
  src/desktop/Subsurface.cpp
Labels: core, desktop

subsurface: fix invalid parent typo fixes #9224
  src/desktop/Subsurface.cpp
Labels: core, desktop

deps: add libinotify-kqueue on BSDs after 8dd2cd41fb4c (#9197)
  CMakeLists.txt
  meson.build
  src/meson.build
Labels: core

core: fix clang-format
  src/render/Renderer.cpp
Labels: core, render

subsurface: fix invalid parent typo
  src/desktop/Subsurface.cpp
Labels: core, desktop

xwayland: respect window size set by configure requests (#9190)
  src/managers/XWaylandManager.cpp
  src/xwayland/XWM.cpp
Labels: core, managers, xwayland

popup: stop refocusing at unmap
  src/desktop/Popup.cpp
Labels: core, desktop

configmgr: properly free glob memory
  src/config/ConfigManager.cpp
Labels: core, config

presentation: log a fixme when there is a feedback leak
  src/protocols/PresentationTime.cpp
Labels: protocols, core

pass/rect: fix bounding / opaque regions
  src/render/pass/PassElement.hpp
  src/render/pass/RectPassElement.cpp
Labels: core, render

monitor: round refresh rates in sorting modes
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, helpers

xwayland: send synthetic configure events (#9193)
  src/xwayland/XSurface.cpp
Labels: core, xwayland

config/hyprctl: fix keyword not updating autoreload
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
Labels: core, config, debug

ikeyboard: free xkbSymState in clearManuallyAllocd
  src/devices/IKeyboard.cpp
Labels: core, devices

renderer: calculate UV using both pixel and monitor dimensions (#9210)
  src/render/OpenGL.cpp
Labels: core, render

version: bump to 0.47.1
  VERSION
Labels: none

declare dtor once + DMABBUF typo fix
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/desktop/Subsurface.cpp
  src/desktop/Subsurface.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/protocols/FocusGrab.cpp
  src/protocols/FocusGrab.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprBorderDecoration.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
  src/render/decorations/IHyprWindowDecoration.cpp
  src/render/decorations/IHyprWindowDecoration.hpp
Labels: protocols, core, config, desktop, helpers, hyprerror, layout, render

layouts: set real size/position for FSMODE_MAXIMIZED
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, layout

dup include + clang moment
  hyprctl/main.cpp
  src/Compositor.cpp
  src/helpers/Monitor.hpp
  src/layout/MasterLayout.hpp
  src/managers/EventManager.hpp
  src/managers/XCursorManager.hpp
Labels: hyprctl, core, helpers, layout, managers

linux-dmabuf: last minute nit change
  src/protocols/LinuxDMABUF.hpp
Labels: protocols, core

core,hyprctl: clang, clang-tidy, typo fixes and dtors changes (#9233) * declare dtor once + DMABBUF typo fix * dup include + clang moment * linux-dmabuf: last minute nit change
  hyprctl/main.cpp
  src/Compositor.cpp
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/desktop/Subsurface.cpp
  src/desktop/Subsurface.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.hpp
  src/managers/EventManager.hpp
  src/managers/XCursorManager.hpp
  src/protocols/FocusGrab.cpp
  src/protocols/FocusGrab.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprBorderDecoration.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
  src/render/decorations/IHyprWindowDecoration.cpp
  src/render/decorations/IHyprWindowDecoration.hpp
Labels: hyprctl, protocols, core, config, desktop, helpers, hyprerror, layout, managers, render

core,hyprctl: clang, clang-tidy, typo fixes and dtors changes (#9233)
  hyprctl/main.cpp
  src/Compositor.cpp
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/desktop/Subsurface.cpp
  src/desktop/Subsurface.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.hpp
  src/managers/EventManager.hpp
  src/managers/XCursorManager.hpp
  src/protocols/FocusGrab.cpp
  src/protocols/FocusGrab.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprBorderDecoration.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
  src/render/decorations/IHyprWindowDecoration.cpp
  src/render/decorations/IHyprWindowDecoration.hpp
Labels: hyprctl, protocols, core, config, desktop, helpers, hyprerror, layout, managers, render

config: make fd use CFileDescriptor
  src/config/ConfigWatcher.cpp
  src/config/ConfigWatcher.hpp
  src/managers/eventLoop/EventLoopManager.cpp
Labels: core, config, managers

core: make explicit sync use CFileDescriptor
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

core: make SHMFile functions use CFileDescriptor
  src/devices/IKeyboard.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/protocols/InputMethodV2.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
Labels: protocols, core, devices, helpers

hyprctl: make fd use CFileDescriptor
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
Labels: core, debug

ikeyboard: make fd use CFileDescriptor
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/protocols/core/Seat.cpp
Labels: protocols, core, devices

eventmgr: make fd and sockets use CFileDescriptor
  src/managers/EventManager.cpp
  src/managers/EventManager.hpp
Labels: core, managers

core: make selection source/offer use CFileDescriptor
  src/protocols/DataDeviceWlr.cpp
  src/protocols/DataDeviceWlr.hpp
  src/protocols/PrimarySelection.cpp
  src/protocols/PrimarySelection.hpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/protocols/types/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/XDataSource.cpp
  src/xwayland/XDataSource.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: protocols, core, xwayland
