Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

more debug logging
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/Timer.cpp
  src/helpers/Timer.hpp
Labels: core, events, helpers

do not trust locked cursor position to get monitor
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, managers

skip extra frames for hw cursors
  src/managers/AnimationManager.cpp
  src/managers/PointerManager.cpp
Labels: core, managers

store movement before the skip
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/managers/input/InputManager.cpp
Labels: core, managers

avoid extra pointerFrame events
  src/events/Windows.cpp
  src/managers/PointerManager.cpp
  src/managers/SeatManager.hpp
Labels: core, events, managers

skip extra frames for hw cursors
  src/managers/AnimationManager.cpp
  src/managers/PointerManager.cpp
Labels: core, managers

fix dumb cursor buffers
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/PointerManager.cpp
Labels: core, helpers, managers

renderer: drastically optimize bg texture creation
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

renderer: drastically optimize bg texture creation stop loading 20MB images every time, dumbass
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

move screencopy and toplevel export to hyprwayland-scanner
  CMakeLists.txt
  src/events/Monitors.cpp
  src/events/Windows.cpp
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/render/Renderer.hpp
Labels: protocols, core, events, managers, render

oops
  protocols/meson.build
  src/managers/ProtocolManager.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: protocols, core, managers

opengl: destroy cairo image surface after use
  src/render/OpenGL.cpp
Labels: core, render

opengl: destroy cairo image surface after use
  src/render/OpenGL.cpp
Labels: core, render

xwayland: fix high cpu idle usage fixes #7051
  src/xwayland/XWM.cpp
Labels: core, xwayland

xwayland: fix high cpu idle usage
  src/xwayland/XWM.cpp
Labels: core, xwayland

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

layersurface: fixup focus issues in onUnmap
  src/desktop/LayerSurface.cpp
  src/desktop/WLSurface.cpp
  src/desktop/WLSurface.hpp
Labels: core, desktop

layersurface: fixup focus issues in onUnmap fixes #6929
  src/desktop/LayerSurface.cpp
  src/desktop/WLSurface.cpp
  src/desktop/WLSurface.hpp
Labels: core, desktop

Fix `hyprctl switchxkblayout` not actually changing layout
  src/devices/IKeyboard.cpp
Labels: core, devices

protocols: move screencopy and toplevel export to hyprwayland-scanner (#7065) * move screencopy and toplevel export to hyprwayland-scanner * oops
  CMakeLists.txt
  protocols/meson.build
  src/events/Monitors.cpp
  src/events/Windows.cpp
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/render/Renderer.hpp
Labels: protocols, core, events, managers, render

protocols: move screencopy and toplevel export to hyprwayland-scanner (#7065)
  CMakeLists.txt
  protocols/meson.build
  src/events/Monitors.cpp
  src/events/Windows.cpp
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/render/Renderer.hpp
Labels: protocols, core, events, managers, render

wayland/compositor: fixup double buffer releases fixes #7043
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
Labels: protocols, core

wayland/compositor: fixup double buffer releases
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
Labels: protocols, core

input: Fix `hyprctl switchxkblayout` not actually changing layout (#7070)
  src/devices/IKeyboard.cpp
Labels: core, devices

input: refocus last window on keyboard unfocusable surfaces
  src/managers/input/InputManager.cpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core, managers

input: refocus last window on keyboard unfocusable surfaces fixes #4460
  src/managers/input/InputManager.cpp
  src/protocols/core/Compositor.hpp
Labels: protocols, core, managers

layer-shell: properly map and unmap surface and propagate unmap events
  src/desktop/LayerSurface.cpp
  src/protocols/LayerShell.cpp
  src/protocols/LayerShell.hpp
Labels: protocols, core, desktop

layer-shell: properly map and unmap surface and propagate unmap events
  src/desktop/LayerSurface.cpp
  src/protocols/LayerShell.cpp
  src/protocols/LayerShell.hpp
Labels: protocols, core, desktop

renderer: use session lock alpha for rendering lacking locks
  src/render/Renderer.cpp
Labels: core, render

renderer: use session lock alpha for rendering lacking locks
  src/render/Renderer.cpp
Labels: core, render

configmgr: fix warning
  src/config/ConfigManager.cpp
Labels: core, config

configmgr: fix warning
  src/config/ConfigManager.cpp
Labels: core, config

input: unify removing currentlyDraggedWindow (#7071)
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/layout/IHyprLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/InputManager.cpp
Labels: core, desktop, events, layout, managers

flake.lock: update hyprutils
  flake.lock
Labels: none

flake.lock: update hyprutils
  flake.lock
Labels: none

flake.lock: update aquamarine
  flake.lock
Labels: none

flake.lock: update aquamarine
  flake.lock
Labels: none

CI: only run once for PRs with branches from original repo
  .github/workflows/ci.yaml
  .github/workflows/nix-ci.yml
  .github/workflows/security-checks.yml
Labels: none

different approach
  .github/workflows/ci.yaml
  .github/workflows/man-update.yaml
  .github/workflows/nix-ci.yml
  .github/workflows/security-checks.yml
Labels: none

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
