Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

sessionlock: fix flipped if condition
  src/managers/SessionLockManager.cpp
Labels: core, managers

renderer: Add cursor:invisible to allow to hide the cursor (#11058)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

CI/Nix: also check for qt version in update script
  nix/update-inputs.sh
Labels: nix

renderer: fix HLG transfer function
  src/render/shaders/glsl/CM.glsl
Labels: core, render

renderer: HLG: replace complicated expression with 0.5
  src/render/shaders/glsl/CM.glsl
Labels: core, render

systeminfo: print more render info
  src/debug/HyprCtl.cpp
  src/render/OpenGL.hpp
Labels: core, debug, render

internal: replace unsafe strcpy with snprintf (#11128)
  src/debug/HyprCtl.cpp
  src/render/OpenGL.cpp
Labels: core, debug, render

internal: set value and goal for window size and position on setGroupCurrent (#11120)
  src/desktop/Window.cpp
  src/layout/IHyprLayout.cpp
  src/managers/KeybindManager.cpp
Labels: core, desktop, layout, managers

renderer: implement wp-color-management-v1 transfer functions (#11084)
  src/protocols/ColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/render/shaders/glsl/CM.glsl
Labels: protocols, core, render

protocols/subcompositor: fix subsurface sorting
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Subcompositor.cpp
Labels: protocols, core

fp16 config
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Framebuffer.cpp
Labels: core, config, render

experimental fp16
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Format.cpp
  src/helpers/Monitor.cpp
  src/render/Framebuffer.cpp
Labels: core, config, helpers, render

fix scRGB luminance range
  src/protocols/types/ColorManagement.hpp
Labels: protocols, core

move fp16 to experimental
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Framebuffer.cpp
Labels: core, config, render

handle scRGB
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: protocols, core, helpers, render

allow scRGB proto when fp16 is active
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
Labels: protocols, core, managers

clamp blur color to fix fp16
  src/render/shaders/glsl/blurprepare.frag
Labels: core, render

apply sdr monitor rules only when sdr -> hdr
  src/render/OpenGL.cpp
Labels: core, render

fix scRGB proto check
  src/protocols/ColorManagement.cpp
Labels: protocols, core

handle hlg source as hdr
  src/protocols/ColorManagement.cpp
Labels: protocols, core

protocols/subcompositor: fix subsurface sorting (#11136)
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Subcompositor.cpp
Labels: protocols, core

cm debug checks cleanup
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
Labels: protocols, core

fix cm proto creation
  src/managers/ProtocolManager.cpp
Labels: core, managers

cleanup
  src/managers/ProtocolManager.cpp
Labels: core, managers

Add files via upload
  photo_2025-07-18_15-20-09.jpg
Labels: none

heyyy
  txt1.txt
Labels: none

example: make screen shader example compatible with glsl 300 (#10846)
  example/screenShader.frag
Labels: none

drm: centralize syncobj timeline check in compositor
  src/Compositor.cpp
  src/Compositor.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/managers/ProtocolManager.cpp
Labels: core, helpers, managers

example: make screen shader example compatible with glsl 300 (#10846) (#11132)
  example/screenShader.frag
Labels: none

style: remove unnecessary braces
  src/managers/ProtocolManager.cpp
Labels: core, managers

ensures unique identifiers for persistent workspaces
  src/Compositor.cpp
Labels: core

CI/Nix: also check for qt version in update script
  nix/update-inputs.sh
Labels: nix

core: enter unsafe state on boot if there are no mons
  src/Compositor.cpp
Labels: core

use active window alpha on setGroupCurrent modified: src/desktop/Window.cpp
  src/desktop/Window.cpp
Labels: core, desktop

slightly improve m_realBorderColorPrevious changes modified: src/Compositor.cpp
  src/Compositor.cpp
Labels: core

remove mon recalc on fullscreen set and unset modified: src/Compositor.cpp modified: src/Compositor.hpp modified: src/desktop/Window.cpp
  src/Compositor.cpp
  src/Compositor.hpp
  src/desktop/Window.cpp
Labels: core, desktop

clang-format modified: src/Compositor.hpp
  src/Compositor.hpp
Labels: core

Fix clang-format violations
  src/Compositor.cpp
  src/Compositor.hpp
Labels: core

core: fix maxwidth resolution mode
  src/config/ConfigManager.cpp
Labels: core, config

swipe: fix workspace swipe not rendering last frame if target ws is on edge
  src/managers/input/Swipe.cpp
Labels: core, managers

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
