Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

input-capture: impl force release
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: code cleanup
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: fix rebase issues
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/core/Output.cpp
Labels: protocols, core, managers

input-capture: inhibit inputs
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: Init active property & upstream protocol changes
  src/managers/PointerManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: fix build
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: fixes
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: impl keymap
  src/managers/SeatManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: force cursor hiding
  src/protocols/InputCapture.cpp
Labels: protocols, core

inputcapture: fix keybind inhibit
  src/managers/KeybindManager.cpp
Labels: core, managers

input-capture: send modifiers (highly experimental)
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

input-capture: hide cursor when the input is captured
  src/render/Renderer.cpp
Labels: core, render

input-capture: add protocol to meson.build
  protocols/meson.build
Labels: protocols

input-capture: fix build
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

input-capture: don't send motion when the input is locked (like inside a 3d game)
  src/managers/PointerManager.cpp
Labels: core, managers

input-capture: simplify sendKeymap
  src/protocols/InputCapture.cpp
Labels: protocols, core

input-capture: fix build
  src/managers/input/InputManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/core/Output.cpp
Labels: protocols, core, managers

input-capture: lint
  src/managers/PointerManager.cpp
  src/managers/ProtocolManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

input-capture: fix build
  src/protocols/InputCapture.cpp
Labels: protocols, core

input-capture: fix build
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core

screencopy: fix improper box calculations for transforms
  src/protocols/Screencopy.cpp
Labels: protocols, core

Revert "Throttle timer loop to avoid high CPU usage and track idle callbacks to avoid flooding"
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, managers

config: add misc:allow_session_lock_xray
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

session-lock: decide rendering based on whether locked was sent
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/render/Renderer.cpp
Labels: core, managers, render

session-lock: remove fade in for missing lockscreen
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/render/Renderer.cpp
Labels: core, managers, render

renderer: add renderSessionLockPrimer
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, render

session-lock: correctly handle some edge cases when lock is dead
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/render/Renderer.cpp
Labels: core, managers, render

session-lock: add a timer to guaranty either finished or locked is sent
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
Labels: core, managers

session-lock: render lockdead with a render pass and minor renames
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/render/Renderer.cpp
Labels: core, managers, render

unbind: add unbind all
  src/config/ConfigManager.cpp
Labels: core, config

screencopy: fix improper box calculations for transforms (#10870)
  src/protocols/Screencopy.cpp
Labels: protocols, core

add zoom animations
  src/debug/HyprCtl.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, debug, helpers, render

add zoom animations
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, config, debug, helpers, render

session-lock: send locked on timeout when the session is inactive
  src/managers/SessionLockManager.cpp
Labels: core, managers

config: add config description for misc:session_lock_xray
  src/config/ConfigDescriptions.hpp
Labels: core, config

flake.lock: update
  flake.lock
Labels: none

flake.lock: update
  flake.lock
Labels: none

edit InputManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

opengl: add missing skipcm if case
  src/render/OpenGL.cpp
Labels: core, render

sessionlock: restore cursor if hidden on unlock
  src/protocols/SessionLock.cpp
Labels: protocols, core
