Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

monitor: avoid crash on released buffer in surf
  src/helpers/Monitor.cpp
Labels: core, helpers

fix floating window damage
  src/events/Windows.cpp
Labels: core, events

Use modifiersState instead of LEDs
  src/debug/HyprCtl.cpp
Labels: core, debug

Fixed Error and displays true/false correctly
  src/debug/HyprCtl.cpp
Labels: core, debug

Added caps/num lock state to non-json output
  src/debug/HyprCtl.cpp
Labels: core, debug

Add option to notify on fail and keep original notify (#1)
  hyprpm/src/main.cpp
Labels: hyprpm

input: add snapping to floating windows (#8088)
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
Labels: core, config, layout

renderer: fix floating window damage (#8182)
  src/events/Windows.cpp
Labels: core, events

renderer: fix floating window damage (#8182)
  src/events/Windows.cpp
Labels: core, events

hyprpm: Add option to notify on fail and keep original notify (#8167)
  hyprpm/src/main.cpp
Labels: hyprpm

minor XWM fix
  src/xwayland/XWM.cpp
Labels: core, xwayland

formatting
  src/xwayland/XWM.cpp
Labels: core, xwayland

updated flake.lock
  flake.lock
Labels: none

remove redundant !expired()
  src/layout/IHyprLayout.cpp
Labels: core, layout

default/config: improve default animations
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

default/config: improve default animations objectively better
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

groups: add group_on_movetoworkspace (#8159)
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

groups: add group_on_movetoworkspace (#8159)
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

updated flake.lock
  flake.lock
Labels: none

updated flake.lock
  flake.lock
Labels: none

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Fix stupid typo
  Makefile
Labels: none

Get caps/num lock index dynamically
  src/debug/HyprCtl.cpp
Labels: core, debug

Makefile: fix legacyrendererdebug typo (#8214)
  Makefile
Labels: none

Makefile: fix legacyrendererdebug typo (#8214)
  Makefile
Labels: none

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

PrimarySelection: remove unused lambda
  src/protocols/PrimarySelection.cpp
Labels: protocols, core

Tablet: remove unused lambda
  src/devices/Tablet.cpp
Labels: core, devices

DataDeviceWlr: remove unused lambda
  src/protocols/DataDeviceWlr.cpp
Labels: protocols, core

TokenManager: remove unused lambda
  src/managers/TokenManager.cpp
Labels: core, managers

InputManager: remove unused lambda
  src/managers/input/InputManager.cpp
Labels: core, managers

Get mod state via lambda
  src/debug/HyprCtl.cpp
Labels: core, debug

fix swallowing for groups
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/layout/IHyprLayout.cpp
Labels: core, desktop, events, layout

internal: Remove some unused lambda captures (#8218)
  src/devices/Tablet.cpp
  src/managers/TokenManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/DataDeviceWlr.cpp
  src/protocols/PrimarySelection.cpp
Labels: protocols, core, devices, managers

internal: Remove some unused lambda captures (#8218)
  src/devices/Tablet.cpp
  src/managers/TokenManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/DataDeviceWlr.cpp
  src/protocols/PrimarySelection.cpp
Labels: protocols, core, devices, managers

Update hyprland-session.service
  example/hyprland-session.service
Labels: none

Update hyprland-session.service
  example/hyprland-session.service
Labels: none

hyprctl: add caps/num lock state for keyboards (#8145) --------- Co-authored-by: Behzad <behzadasbahi@gmail.com>
  src/debug/HyprCtl.cpp
Labels: core, debug

hyprctl: add caps/num lock state for keyboards (#8145)
  src/debug/HyprCtl.cpp
Labels: core, debug

Improve hyprland-session.service (#8225)
  example/hyprland-session.service
Labels: none
