Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

opengl: use GL_CLAMP_TO_EDGE instead of GL_CLAMP avoid error spam on select hw
  src/render/OpenGL.cpp
Labels: core, render

single-pixel: set buffer size to 1,1
  src/protocols/SinglePixel.cpp
Labels: protocols, core

single-pixel: set buffer size to 1,1
  src/protocols/SinglePixel.cpp
Labels: protocols, core

chore: eat my leftovers
  nix/treefmt.nix
Labels: nix

chore: make git-hooks useful
  flake.nix
  nix/formatter.nix
Labels: nix

feat: pre-commit-hooks
  .gitignore
  flake.lock
  flake.nix
Labels: none

chore: homemade treewide formatter
  flake.lock
  flake.nix
  nix/default.nix
  nix/formatter.nix
  nix/overlays.nix
Labels: nix

feat: add treefmt-nix
  flake.lock
  flake.nix
  nix/treefmt.nix
Labels: nix

chore: make the script more posix
  nix/formatter.nix
Labels: nix

chore: remove useless equality check
  nix/formatter.nix
Labels: nix

feat: added exclusions
  nix/formatter.nix
Labels: nix

fix: add missing exclude in nix_format
  nix/formatter.nix
Labels: nix

formatter: fix subprojects exclusion
  flake.nix
  nix/formatter.nix
Labels: nix

version: bump to 0.44.0
  VERSION
Labels: none

version: bump to 0.44.0
  VERSION
Labels: none

fix: writeDashBin -> writeShellApplication
  flake.lock
  flake.nix
  nix/#formatter.nix#
  nix/.#formatter.nix
Labels: nix

chore: shebang with dash
  .gitignore
  nix/.#formatter.nix
  nix/formatter.nix
Labels: nix

chore: eat leftover emacs file
  nix/#formatter.nix#
Labels: nix

fix: replace dash with a shellcheck check
  nix/formatter.nix
Labels: nix

security-context: implement protocol
  CMakeLists.txt
  protocols/meson.build
  src/Compositor.cpp
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/protocols/SecurityContext.cpp
  src/protocols/SecurityContext.hpp
  src/protocols/TextInputV1.hpp
  src/protocols/WaylandProtocol.cpp
  src/protocols/WaylandProtocol.hpp
Labels: protocols, core, managers

security-context: implement protocol fixes #7318
  CMakeLists.txt
  protocols/meson.build
  src/Compositor.cpp
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/protocols/SecurityContext.cpp
  src/protocols/SecurityContext.hpp
  src/protocols/TextInputV1.hpp
  src/protocols/WaylandProtocol.cpp
  src/protocols/WaylandProtocol.hpp
Labels: protocols, core, managers

security-context: close client fds after disconnect
  src/protocols/SecurityContext.cpp
  src/protocols/SecurityContext.hpp
Labels: protocols, core

security-context: close client fds after disconnect
  src/protocols/SecurityContext.cpp
  src/protocols/SecurityContext.hpp
Labels: protocols, core

layout: fix auto_group when opening a new window in a non-focused workspace using window rules
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: fix auto group when opening a new window in a non-focused workspace using window rules
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: fix auto group when opening a new window in a non-focused workspace using window rules (#8006)
  src/layout/IHyprLayout.cpp
Labels: core, layout

layout: fix auto group when opening a new window in a non-focused workspace using window rules (#8006)
  src/layout/IHyprLayout.cpp
Labels: core, layout

input-capture: impl keymap
  src/managers/SeatManager.cpp
  src/protocols/InputCapture.cpp
  src/protocols/InputCapture.hpp
Labels: protocols, core, managers

flake.nix: add xdph follows
  flake.lock
  flake.nix
Labels: none

use clampWindowSize to unify min/maxsize handling modified: src/desktop/Window.cpp modified: src/desktop/Window.hpp modified: src/events/Windows.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
Labels: core, desktop, events

layout: add drag_into_group to control whether dragging a window into a unlocked group will merge them
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, layout, render

flake.nix: add xdph follows
  flake.lock
  flake.nix
Labels: none

flake.nix: add xdph follows fixes a duplicate hyprland-protocols instance sometimes being created due to xdph not following hyprlands instance
  flake.lock
  flake.nix
Labels: none

feat: add a custom made treewide formatter (#7992)
  .gitignore
  flake.lock
  flake.nix
  nix/default.nix
  nix/formatter.nix
  nix/overlays.nix
Labels: nix

feat: add a custom made treewide formatter (#7992)
  .gitignore
  flake.lock
  flake.nix
  nix/default.nix
  nix/formatter.nix
  nix/overlays.nix
Labels: nix

internal: use clampWindowSize to unify min/maxsize handling (#8014) modified: src/desktop/Window.cpp modified: src/desktop/Window.hpp modified: src/events/Windows.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
Labels: core, desktop, events

internal: use clampWindowSize to unify min/maxsize handling (#8014)
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
Labels: core, desktop, events

args: use getopt_long() for the arguments
  compile_flags.txt
  hyprpm/src/core/PluginManager.cpp
  src/main.cpp
  te.sh
Labels: hyprpm, core

fix screencopy frame leaks
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
Labels: protocols, core

allow specifying max size in size window rule modified: src/events/Windows.cpp
  src/events/Windows.cpp
Labels: core, events

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
