Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

version: log build aquamarine version log the built against aq version, might be useful when it's mismatched to identify the problem
  CMakeLists.txt
  src/debug/HyprCtl.cpp
  src/main.cpp
Labels: core, debug

Meson: pass AQUAMARINE_VERSION argument
  meson.build
  src/meson.build
Labels: core

Meson: pass AQUAMARINE_VERSION argument
  meson.build
  src/meson.build
Labels: core

Some fixes to XWM
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

formatting
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

Nix: use mold linker
  nix/default.nix
Labels: nix

Nix: use mold linker
  nix/default.nix
Labels: nix

dmabuffer: attempt importing failed dmabufs as implicit
  src/protocols/types/DMABuffer.cpp
Labels: protocols, core

dmabuffer: attempt importing failed dmabufs as implicit don't ask me why, vulkan doesn't like this. funny note, broken on wlroots :P fixes #7037
  src/protocols/types/DMABuffer.cpp
Labels: protocols, core

Formatting & implicit cast
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

if
  src/xwayland/XSurface.cpp
Labels: core, xwayland

Sorry I'm stupid was passing wrong path to clang-format
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

xwm: Minor cleanup, add wrappers for basic types (#7856)
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

xwm: Minor cleanup, add wrappers for basic types (#7856)
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

flake.lock: update
  flake.lock
  flake.nix
Labels: none

flake.lock: update
  flake.lock
  flake.nix
Labels: none

shm: send a static list of shm formats fixes #7733
  src/protocols/core/Shm.cpp
Labels: protocols, core

shm: send a static list of shm formats
  src/protocols/core/Shm.cpp
Labels: protocols, core

internal: move to hyprutils' scopeguard bumps hyprutils dep to 0.2.2
  CMakeLists.txt
  flake.lock
  src/helpers/Monitor.cpp
  src/helpers/ScopeGuard.cpp
  src/helpers/ScopeGuard.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

internal: move to hyprutils' scopeguard
  CMakeLists.txt
  flake.lock
  src/helpers/Monitor.cpp
  src/helpers/ScopeGuard.cpp
  src/helpers/ScopeGuard.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

Nix: clean up derivation
  nix/default.nix
Labels: nix

Nix: clean up derivation
  nix/default.nix
Labels: nix

flake: update xdph
  flake.lock
Labels: none

fix dpms toggle
  src/managers/KeybindManager.cpp
Labels: core, managers

flake: update xdph
  flake.lock
Labels: none

flake: update xdph
  flake.lock
Labels: none

CMake: print pch messages based on var
  CMakeLists.txt
Labels: none

Nix: drop ninja for CMake build
  nix/default.nix
Labels: nix

Revert "nix: adapt cmake options"
  nix/cmake-version.patch
  nix/default.nix
  nix/stdcxx.patch
Labels: nix

Revert "nix: use meson"
  nix/default.nix
Labels: nix

feat: auto_group
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

chore: add HYPRLAND_CONFIG environment variable
  src/config/ConfigManager.cpp
Labels: core, config

chore: fix some non-c++ stuff (credited to fufexan and vaxerski)
  src/config/ConfigManager.cpp
Labels: core, config

chore: auto instead of declaring the real type
  src/config/ConfigManager.cpp
Labels: core, config

fix: fix one of the silliest misinterpretations of code i have ever made
  src/config/ConfigManager.cpp
Labels: core, config

chore: clang-format
  src/config/ConfigManager.cpp
Labels: core, config

chore: shorten if statement body
  src/config/ConfigManager.cpp
Labels: core, config

chore: clang-format ConfigManager.cpp
  src/config/ConfigManager.cpp
Labels: core, config

core: add HYPRLAND_CONFIG environment variable (#7851)
  src/config/ConfigManager.cpp
Labels: core, config

core: add HYPRLAND_CONFIG environment variable (#7851)
  src/config/ConfigManager.cpp
Labels: core, config

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
