Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

animation: fix slide/slidefade to accept forced direction
  src/managers/animation/DesktopAnimationManager.cpp
Labels: core, managers

fix flicker
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/SurfaceState.hpp
Labels: protocols, core

solitary: fix check for config error
  src/debug/HyprCtl.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, debug, helpers

fix
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, helpers

fix
  src/debug/HyprCtl.cpp
Labels: core, debug

cache xyz primaries
  src/protocols/types/ColorManagement.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/shaders/glsl/CM.frag
  src/render/shaders/glsl/CM.glsl
  src/render/shaders/glsl/border.frag
  src/render/shaders/glsl/shadow.frag
Labels: protocols, core, render

core: fix clang-format
  src/render/OpenGL.cpp
Labels: core, render

solitary: fix check for config error (#11733)
  src/debug/HyprCtl.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, debug, helpers

Force <rules>, <params>. Also changed to string view because of all the loops and lookups..
  hyprtester/src/tests/main/window.cpp
  hyprtester/test.conf
  src/config/ConfigManager.cpp
Labels: core, config

Fixed unset and added a test.
  hyprtester/src/tests/main/window.cpp
  hyprtester/test.conf
  src/config/ConfigManager.cpp
Labels: core, config

Allow multiple window rules per windowrule line.
  src/config/ConfigManager.cpp
Labels: core, config

Changed push_back to emplace_back
  src/config/ConfigManager.cpp
Labels: core, config

Cleanup and rename to match wiki.
  src/config/ConfigManager.cpp
Labels: core, config

Fixed param trim.
  src/config/ConfigManager.cpp
Labels: core, config

Fixed unset so it can now do individual rules or all the rules.
  src/config/ConfigManager.cpp
Labels: core, config

test/gestures: Factor out `waitForWindowCount`
  hyprtester/src/tests/main/gestures.cpp
Labels: none

config: Fix multi-argument gesture dispatchers parsing
  src/config/ConfigManager.cpp
Labels: core, config

test/gestures: Add a test for a gesture with a multi-argument dispatcher
  hyprtester/src/tests/main/gestures.cpp
  hyprtester/test.conf
Labels: none

Gorram tests..
  hyprtester/test.conf
Labels: none

renderer: fix window corners for roundingPower < 2
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/shaders/glsl/border.frag
Labels: core, render

add screenshare manager
  src/helpers/Monitor.cpp
  src/managers/ScreenshareManager.cpp
  src/managers/ScreenshareManager.hpp
  src/render/Renderer.hpp
Labels: core, helpers, managers, render

renderer: asynchronously load wallpaper tex
  CMakeLists.txt
  meson.build
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/MainLoopExecutor.cpp
  src/helpers/MainLoopExecutor.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/memory/Memory.hpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/render/AsyncResourceGatherer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, helpers, managers, render

animation: fix slide/slidefade to accept forced direction (#11725)
  src/managers/animation/DesktopAnimationManager.cpp
Labels: core, managers

hyprpm: make temp root if not present
  hyprpm/src/core/DataState.cpp
Labels: hyprpm

Auto apply suggested scale and notify the user.
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
Labels: core, config, helpers

renderer: apply correctionOffset to distOuter instead
  src/render/shaders/glsl/border.frag
Labels: core, render

Typo..
  src/helpers/Monitor.cpp
Labels: core, helpers

Get monitor by string to allow any identifier to be used.
  src/config/ConfigManager.cpp
Labels: core, config

renderer: fix popup fadeout blur
  src/render/Renderer.cpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
Labels: core, render

flake.lock: update
  flake.lock
Labels: none

workspace: fix relative workspaces with monitor descs
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

Allow submaps to auto reset to parent.
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, config, debug, managers

renderer: asynchronously load background tex (#11749)
  CMakeLists.txt
  flake.lock
  meson.build
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/MainLoopExecutor.cpp
  src/helpers/MainLoopExecutor.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/memory/Memory.hpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/render/AsyncResourceGatherer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, helpers, managers, render

renderer: apply correction offset pre-render
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/shaders/glsl/border.frag
Labels: core, render

renderer: remove extra line
  src/render/shaders/glsl/border.frag
Labels: core, render

renderer: fix inconsistent border thickness for roundingPower < 2 (#11752)
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
Labels: core, render

layers: add "noscreenshare" rule
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/protocols/Screencopy.cpp
Labels: protocols, core, desktop

Really should be a stack instead.
  src/managers/KeybindManager.cpp
Labels: core, managers

remove m_xkbKeymapV1
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
Labels: core, devices

input: fix virtual keyboard keymaps (#11763)
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
Labels: core, devices
