Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

fix fullscreen typos modified: src/events/Windows.cpp modified: src/layout/DwindleLayout.cpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
Labels: core, events, layout

internal: fix fullscreen typos (#7134) modified: src/events/Windows.cpp modified: src/layout/DwindleLayout.cpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
Labels: core, events, layout

internal: fix fullscreen typos (#7134)
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
Labels: core, events, layout

xdg-shell: fixup unassigned wl surfaces to xdg surfaces fixes #7133
  src/protocols/XDGShell.cpp
Labels: protocols, core

xdg-shell: fixup unassigned wl surfaces to xdg surfaces
  src/protocols/XDGShell.cpp
Labels: protocols, core

window/ls: reset core signals after destroy
  src/desktop/LayerSurface.cpp
  src/events/Windows.cpp
Labels: core, desktop, events

window/ls: reset core signals after destroy fixes #7137
  src/desktop/LayerSurface.cpp
  src/events/Windows.cpp
Labels: core, desktop, events

sessionLock: reset m_pSessionLock on destroy
  src/managers/SessionLockManager.cpp
Labels: core, managers

sessionLock: only send locked when resource is good
  src/managers/SessionLockManager.cpp
Labels: core, managers

sessionLock: don't sendLocked when session lock has already been destoyed (#7150) * sessionLock: reset m_pSessionLock on destroy * sessionLock: only send locked when resource is good
  src/managers/SessionLockManager.cpp
Labels: core, managers

sessionLock: don't sendLocked when session lock has already been destoyed (#7150)
  src/managers/SessionLockManager.cpp
Labels: core, managers

hyprerror: minor stylistic changes
  src/hyprerror/HyprError.cpp
Labels: core, hyprerror

hyprerror: minor stylistic changes
  src/hyprerror/HyprError.cpp
Labels: core, hyprerror

increase hyprctl timeout to 5s to fix #6801
  hyprctl/main.cpp
Labels: hyprctl

hyprctl: increase hyprctl timeout to 5s to fix #6801 (#7152)
  hyprctl/main.cpp
Labels: hyprctl

hyprctl: increase hyprctl timeout to 5s to fix #6801 (#7152)
  hyprctl/main.cpp
Labels: hyprctl

xcursor: rework bootleg xcursor
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
Labels: core, managers

xcursor: rework bootleg xcursor (#7140)
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
Labels: core, managers

Add missing header for libc++ after e989a0bcffac
  src/Compositor.cpp
  src/desktop/Window.cpp
Labels: core, desktop

CMake: Suppress CMake warning about GNUInstallDirs
  CMakeLists.txt
Labels: none

core: Add missing header for libc++ after e989a0bcffac (#7158)
  src/Compositor.cpp
  src/desktop/Window.cpp
Labels: core, desktop

wayland/surface: fixup self-owning surface roles fixes #7133
  src/protocols/LayerShell.cpp
  src/protocols/LayerShell.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Subcompositor.cpp
  src/protocols/core/Subcompositor.hpp
Labels: protocols, core

wayland/surface: fixup self-owning surface roles
  src/protocols/LayerShell.cpp
  src/protocols/LayerShell.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Subcompositor.cpp
  src/protocols/core/Subcompositor.hpp
Labels: protocols, core

banner
  src/config/ConfigManager.cpp
Labels: core, config

maybe dont leak fds all the time
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: core, helpers, render

real ass fixes
  src/helpers/sync/SyncReleaser.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, helpers, render

stuf
  src/helpers/Monitor.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
  src/render/Renderer.hpp
Labels: protocols, core, helpers, render

experimental ->r ender
  src/config/ConfigManager.cpp
  src/managers/ProtocolManager.cpp
  src/render/Renderer.cpp
Labels: core, config, managers, render

try2
  src/render/Renderer.cpp
Labels: core, render

stuff
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/protocols/types/WLBuffer.cpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

nuke buggy code wtf XD lol lmao
  src/render/Renderer.cpp
Labels: core, render

stuffff
  src/helpers/Monitor.cpp
Labels: core, helpers

fix
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
Labels: core, helpers

STUFF XDDD
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

try
  src/render/Renderer.cpp
Labels: core, render

work
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.hpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: protocols, core, helpers, render

e
  src/render/Renderer.cpp
Labels: core, render

fix infinite recursion on no_gaps when only modified: src/layout/DwindleLayout.cpp modified: src/layout/MasterLayout.cpp modified: src/render/decorations/CHyprBorderDecoration.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, layout, render

eeeee
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/managers/KeybindManager.cpp
  src/render/Renderer.cpp
Labels: core, config, helpers, managers, render

FUCK
  src/helpers/ScopeGuard.cpp
  src/helpers/ScopeGuard.hpp
Labels: core, helpers

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"
