Repository hyprwm/Hyprland, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, docs, hyprctl, hyprpm, nix, protocols, core, config, debug, desktop, devices, events, helpers, hyprerror, init, layout, managers, pch, plugins, render, xwayland

.github/labeler.yml:

assets:
  - changed-files:
      - any-glob-to-any-file: "assets/**"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

hyprctl:
  - changed-files:
      - any-glob-to-any-file: "hyprctl/**"

hyprpm:
  - changed-files:
      - any-glob-to-any-file: "hyprpm/**"

nix:
  - changed-files:
      - any-glob-to-any-file: "nix/**"

protocols:
  - changed-files:
      - any-glob-to-any-file: ["protocols/**", "src/protocols/**"]

core:
  - changed-files:
      - any-glob-to-any-file: "src/**"

config:
  - changed-files:
      - any-glob-to-any-file: "src/config/**"

debug:
  - changed-files:
      - any-glob-to-any-file: "src/debug/**"

desktop:
  - changed-files:
      - any-glob-to-any-file: "src/desktop/**"

devices:
  - changed-files:
      - any-glob-to-any-file: "src/devices/**"

events:
  - changed-files:
      - any-glob-to-any-file: "src/events/**"

helpers:
  - changed-files:
      - any-glob-to-any-file: "src/helpers/**"

hyprerror:
  - changed-files:
      - any-glob-to-any-file: "src/hyprerror/**"

init:
  - changed-files:
      - any-glob-to-any-file: "src/init/**"

layout:
  - changed-files:
      - any-glob-to-any-file: "src/layout/**"

managers:
  - changed-files:
      - any-glob-to-any-file: "src/managers/**"

pch:
  - changed-files:
      - any-glob-to-any-file: "src/pch/**"

plugins:
  - changed-files:
      - any-glob-to-any-file: "src/plugins/**"

render:
  - changed-files:
      - any-glob-to-any-file: "src/render/**"

xwayland:
  - changed-files:
      - any-glob-to-any-file: "src/xwayland/**"

renderer: don't access hdrMetadata optional if it has no value
  src/render/Renderer.cpp
Labels: core, render

protocols: fix compilation error (#8988)
  src/protocols/FrogColorManagement.cpp
Labels: protocols, core

protocols: fix compilation error (#8988)
  src/protocols/FrogColorManagement.cpp
Labels: protocols, core

renderer: don't access hdrMetadata optional if it has no value (#8987)
  src/render/Renderer.cpp
Labels: core, render

renderer: don't access hdrMetadata optional if it has no value (#8987)
  src/render/Renderer.cpp
Labels: core, render

opengl: only allocate offMainFB on demand These are not used by hyprland, only potentially plugins. No need to keep the VRAM allocated all the time
  src/render/OpenGL.cpp
Labels: core, render

opengl: only allocate offMainFB on demand
  src/render/OpenGL.cpp
Labels: core, render

k
  .github/workflows/ci.yaml
Labels: none

windows : honor xdg_toplevel_set_fullscreen output
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
Labels: protocols, core, desktop, events

mb
  .github/workflows/ci.yaml
Labels: none

wtf
  .github/workflows/ci.yaml
Labels: none

ah
  .github/workflows/ci.yaml
Labels: none

core: use cpu-buffer hw cursors on nvidia by default
  src/config/ConfigManager.cpp
  src/managers/PointerManager.cpp
Labels: core, config, managers

core: use cpu-buffer hw cursors on nvidia by default
  src/config/ConfigManager.cpp
  src/managers/PointerManager.cpp
Labels: core, config, managers

opengl: fix crash on null fb stencil op
  src/render/OpenGL.cpp
Labels: core, render

opengl: fix crash on null fb stencil op
  src/render/OpenGL.cpp
Labels: core, render

do not set hdr metadata unless needed
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: protocols, core, render

keybinds: add new window destruction dispatchers (#8962)
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

keybinds: add new window destruction dispatchers (#8962)
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

only in pr
  .github/workflows/ci.yaml
Labels: none

i
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
Labels: core, config

clang format
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
Labels: core, config

Fix struct name and initialize members
  src/config/ConfigManager.hpp
Labels: core, config

clang format
  src/config/ConfigManager.hpp
Labels: core, config

clang format
  src/config/ConfigManager.hpp
Labels: core, config

pair->struct
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
Labels: core, config

Add `movecursortomonitor` dispatcher
  hyprctl/hyprctl.bash
  hyprctl/hyprctl.fish
  hyprctl/hyprctl.usage
  hyprctl/hyprctl.zsh
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: hyprctl, core, managers

animationmgr: don't warp based on POINTY value
  src/managers/AnimationManager.cpp
Labels: core, managers

animationmgr: don't warp based on POINTY value (#9000)
  src/managers/AnimationManager.cpp
Labels: core, managers

animationmgr: don't warp based on POINTY value (#9000)
  src/managers/AnimationManager.cpp
Labels: core, managers

clang format
  src/config/ConfigManager.hpp
Labels: core, config

selectors: add a tag: to for matching window tag(s) by regex (#8985)
  src/Compositor.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

selectors: add a tag: to for matching window tag(s) by regex (#8985)
  src/Compositor.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

ci(clang-format): directly do the clang-format instead of error (#8955)
  .github/workflows/ci.yaml
Labels: none

ci(clang-format): directly do the clang-format instead of error (#8955) Will suggest a clang-format fix on every MR that violates it.
  .github/workflows/ci.yaml
Labels: none

config: fix animations requiring all args fixes #9009
  src/config/ConfigManager.cpp
Labels: core, config

config: fix animations requiring all args
  src/config/ConfigManager.cpp
Labels: core, config

feat: window rounding %
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
Labels: core, config, desktop

windows: honor xdg_toplevel_set_fullscreen output hint (#8965) Co-authored-by: Dardo D Kleiner <dardo.kleiner@nrl.navy.mil>
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
Labels: protocols, core, desktop, events

windows: honor xdg_toplevel_set_fullscreen output hint (#8965)
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
Labels: protocols, core, desktop, events
