Repository hyprwm/Hyprland, pull requests merged in 2024-08, with the labels that each got.

#7131 fix buffer crash with cursors
  src/protocols/core/Compositor.cpp
Labels: core, protocols

#7129 fix: dynamic rules not updating after setting fullscreen
  src/Compositor.cpp
Labels: core

#7128 allows toggling fullscreenstate
  src/managers/KeybindManager.cpp
Labels: core, managers

#7134 fix fullscreen typos
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
Labels: core, events, layout

#7150 sessionLock: don't sendLocked when session lock has already been destoyed
  src/managers/SessionLockManager.cpp
Labels: core, managers

#7152 increase hyprctl timeout to 5s to fix #6801
  hyprctl/main.cpp
Labels: hyprctl

#7140 xcursor rework bootleg xcursor
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
Labels: core, managers

#7158 Unbreak build with libc++
  src/Compositor.cpp
  src/desktop/Window.cpp
Labels: core, desktop

#7169 fix infinite recursion on no_gaps when only
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, render, layout

#7174 improve fullscreenstate toggling
  src/managers/KeybindManager.cpp
Labels: core, managers

#7178 implent xcursor manager
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
Labels: core, managers

#7151 Explicit sync fixes
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/ScopeGuard.cpp
  src/helpers/ScopeGuard.hpp
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/managers/KeybindManager.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, managers, protocols, render, helpers

#7206 fix leds on kb creation
  src/managers/input/InputManager.cpp
Labels: core, managers

#7210 debug: dont manually unlock the lock_guard
  src/debug/Log.hpp
Labels: core, debug

#7199 fix NoSymbol keybinds
  src/managers/KeybindManager.cpp
Labels: core, managers

#7197 xcursor implent inheriting themes
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
Labels: core, managers

#7209 xdg-shell: make xdg-positioner flip target greatest available space
  src/protocols/XDGShell.cpp
Labels: core, protocols

#7212 hyprctl: link to much less libraries
  CMakeLists.txt
  hyprctl/CMakeLists.txt
Labels: hyprctl

#7214 fix general:extend_border_grab_area
  src/Compositor.cpp
Labels: core

#7211 safe guard against ill formed index.themes
  src/managers/XCursorManager.cpp
Labels: core, managers, layout

#7219 core: Move to C++26 and use native_handle to CLOEXEC the debug fd
  CMakeLists.txt
  flake.nix
  meson.build
  nix/default.nix
  nix/overlays.nix
  nix/stdcxx.patch
  src/debug/Log.cpp
Labels: Nix, core, debug

#7216 type conversion to new types to avoid unsigned int rollover and signed int overflow
  hyprctl/main.cpp
  src/Compositor.cpp
  src/Compositor.hpp
  src/SharedDefs.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/events/Windows.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/Timer.cpp
  src/helpers/Timer.hpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.cpp
  src/layout/MasterLayout.hpp
  src/macros.hpp
  src/managers/KeybindManager.cpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/input/InputMethodPopup.hpp
  src/managers/input/Swipe.cpp
  src/protocols/ForeignToplevelWlr.cpp
  src/protocols/ForeignToplevelWlr.hpp
  src/render/Framebuffer.cpp
  src/render/Framebuffer.hpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/signal-safe.cpp
  src/signal-safe.hpp
Labels: hyprctl, core, config, debug, managers, protocols, render, desktop, events, helpers, layout

#7245 fix: set correct paths to header files
  src/helpers/MiscFunctions.hpp
Labels: core, helpers

#7253 xcursmgr add a new setting to sync gsettings
  CMakeLists.txt
  meson.build
  src/config/ConfigManager.cpp
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
  src/meson.build
Labels: core, config, managers

#7267 Include cstring whenever strncpy is used
  hyprctl/main.cpp
  src/helpers/SdDaemon.cpp
  src/managers/EventManager.cpp
  src/xwayland/Server.cpp
Labels: hyprctl, core, managers, helpers, xwayland

#7268 cursor: make inactive_timeout setting a float
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

#7286 fix initial cursorwarp
  src/Compositor.cpp
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
Labels: core, managers

#7293 fix explicit sync option warning
  src/config/ConfigManager.cpp
Labels: core, config

#7278 fix data race and a unsigned int rollover
  src/Compositor.cpp
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprDebugOverlay.hpp
  src/helpers/Watchdog.cpp
  src/helpers/Watchdog.hpp
  src/managers/KeybindManager.cpp
  src/render/Renderer.cpp
Labels: core, config, debug, managers, render, helpers

#7288 Fix fullscreenState toggling behaviour
  src/managers/KeybindManager.cpp
Labels: core, managers, desktop, events

#7290 protocols avoid crashing in drmlease
  src/protocols/DRMLease.cpp
Labels: core, managers, protocols

#7295 fix cursor gsettings on session change
  src/Compositor.cpp
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
Labels: core, managers

#7323 fix resizing
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, layout

#7336 Add file path to asset ERR log
  src/render/OpenGL.cpp
Labels: core, render

#7326 handle file errors when loading xcursor themes
  src/managers/XCursorManager.cpp
Labels: core, managers

#7339 helpers: fix: revert to signed arithmetic for cycling through workspaces
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

#7353 gamma-control: fix crash on monitor disconnect
  src/protocols/GammaControl.cpp
Labels: core, protocols

#7347 Preserve existing XDG_CURRENT_DESKTOP
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
Labels: core

#7358 Add HYPRLAND_NO_SD_VARS env condition
  src/Compositor.cpp
Labels: core

#7363 renderbuffer ensure framebuffer gets deleted
  src/render/Renderbuffer.cpp
Labels: core, render

#7316 xcursormgr dont apply scale on gsettings
  src/managers/CursorManager.cpp
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
Labels: core, managers

#7377 Add config descriptions
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/helpers/Color.cpp
  src/helpers/Color.hpp
  src/managers/input/InputManager.cpp
Labels: core, config, debug, managers, helpers

#7304 Fix disabling tap-to-click
  src/managers/input/InputManager.cpp
Labels: core, managers

#7383 shm align size to stride
  src/protocols/core/Shm.cpp
Labels: core, protocols

#7396 compositor: update suspendstate on window move
  src/Compositor.cpp
Labels: core

#7399 hyprpm, hyprctl: update shell completions
  hyprctl/hyprctl.bash
  hyprctl/hyprctl.fish
  hyprctl/hyprctl.usage
  hyprctl/hyprctl.zsh
  hyprpm/hyprpm.bash
  hyprpm/hyprpm.fish
  hyprpm/hyprpm.usage
  hyprpm/hyprpm.zsh
Labels: hyprctl, hyprpm

#7446 Fix typo
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

#7368 feat: add a config to control which window to focus on when closing window
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
Labels: core, config, events

#7448 dont cast enum out of range
  src/protocols/core/Output.cpp
Labels: core, protocols

#7451 dont rollover in layersurface
  src/desktop/LayerSurface.cpp
Labels: hyprctl, core, config, debug, managers, protocols, render, desktop, helpers, plugins, xwayland

#7469 Fix crash reports having execute permission
  src/debug/CrashReporter.cpp
Labels: core, debug

#7486 Fix modifier keys getting stuck if depressed during config reload
  src/devices/IKeyboard.cpp
Labels: core, devices

#7466 windowrules: add fullscreenstate field
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/desktop/Window.hpp
Labels: core, config, desktop

#7331 refactor dispatchers to be beetter
  src/debug/HyprCtl.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/plugins/PluginAPI.cpp
Labels: core, debug, managers, plugins

#7504 hyprpm: Fix checking dependencies
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

#7458 xwayland: deactivate xwayland focus if wayland is focused
  src/managers/XWaylandManager.cpp
  src/xwayland/XWM.cpp
Labels: core, managers, xwayland

#7511 sessionLock: fix misc:allow_session_lock_restore
  src/protocols/SessionLock.cpp
Labels: core, protocols

#7522 Rename all instances of "emtpy" to "empty"
  src/Compositor.cpp
  src/Compositor.hpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
Labels: core, desktop

#7510 build: fix 32bit builds
  src/helpers/MiscFunctions.cpp
  src/protocols/PresentationTime.cpp
Labels: core, protocols, helpers

#7527 make most for loops use const references
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprDebugOverlay.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Window.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/managers/SeatManager.cpp
  src/managers/SessionLockManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Tablets.cpp
  src/plugins/HookSystem.cpp
  src/protocols/DRMLease.cpp
  src/protocols/DataDeviceWlr.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/Output.cpp
  src/protocols/core/Seat.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
Labels: core, config, debug, managers, protocols, render, desktop, helpers, plugins, xwayland, layout

#7530 fix some minor typos
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

#7490 Fix missing include needed by clang
  src/managers/XCursorManager.cpp
Labels: core, managers

#7538 Fix NO_XWAYLAND build
  src/xwayland/XWayland.hpp
Labels: core, xwayland

#7544 hyprctl: avoid parsing string::npos on invalid cmd
  src/debug/HyprCtl.cpp
Labels: core, debug

#7550 don't get timezone every time logging, its expensive cause cpp dum
  src/debug/Log.hpp
Labels: core, debug

#7556 ensure buffer format on commit
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
Labels: core, render, helpers

#7575 xwayland: update overrideRedirect on map and configure
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

#7582 Add a window rule to render while unfocused
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/eventLoop/EventLoopTimer.cpp
  src/managers/eventLoop/EventLoopTimer.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, managers, protocols, render, desktop, helpers

#7590 meson: unbreak build with BSD find(1)
  assets/install/meson.build
Labels: assets

#7594 fix direct scanout
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, render, helpers

#7600 fixes crash on Hyprland exit
  src/managers/ProtocolManager.cpp
Labels: core, managers

#7598 Fixed selection mismatch during 'wlr reset primary selection'.
  src/protocols/DataDeviceWlr.cpp
Labels: core, protocols

#7601 fix crash on monitor removed with gammaControl
  src/protocols/GammaControl.cpp
  src/protocols/GammaControl.hpp
Labels: core, protocols
