Repository hyprwm/Hyprland, pull requests merged in 2024-12, with the labels that each got.

#8624 use doLater instead of using wayland idle event sources
  src/protocols/Tablet.cpp
  src/protocols/Tablet.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
  src/xwayland/Server.cpp
Labels: core, protocols, xwayland

#8625 Ignore reserved areas when centering master window
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

#8619 version: add link versions for other utils
  CMakeLists.txt
  hyprpm/CMakeLists.txt
  meson.build
  src/debug/HyprCtl.cpp
  src/meson.build
Labels: core, debug, hyprpm

#8635 core: move colorspace handling to oklab
  .github/actions/setup_base/action.yml
  CMakeLists.txt
  flake.lock
  flake.nix
  meson.build
  nix/default.nix
  nix/overlays.nix
  src/Compositor.cpp
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/debug/HyprNotificationOverlay.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/helpers/AnimatedVariable.hpp
  src/helpers/Color.cpp
  src/helpers/Color.hpp
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/managers/AnimationManager.cpp
  src/managers/AnimationManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/meson.build
  src/plugins/PluginAPI.cpp
  src/plugins/PluginAPI.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Shader.hpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/shaders/Border.hpp
Labels: Nix, core, config, debug, managers, protocols, render, desktop, helpers, plugins, hyprerror

#8637 snap: check which corner is being grabbed for monitor snapping
  src/layout/IHyprLayout.cpp
Labels: core, layout

#8659 snap: use the bit mask to check if snapping occurred
  src/layout/IHyprLayout.cpp
Labels: core, layout

#8651 Add support for hyprqtutils' update screen
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays.nix
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/managers/VersionKeeperManager.cpp
  src/managers/VersionKeeperManager.hpp
Labels: Nix, core, config, managers, helpers

#8566 replacing existing fullscreen
  src/Compositor.cpp
Labels: core, config

#8687 Fix workspace selector parsing
  src/desktop/Workspace.cpp
Labels: core, desktop

#8681 config: add 'force' option for 'cursor:warp_on_change_workspace'
  src/config/ConfigDescriptions.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers, desktop

#8634 hyprpm: target installed instead of running version
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

#8694 snap: bias reserved monitor area when its size is greater than zero
  src/layout/IHyprLayout.cpp
Labels: core, layout

#8601 Modified the `movefocus` dispatcher to prioritize focus change within groups.
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

#8707 core/data: Use pointer focus for DnD operations
  src/managers/SeatManager.cpp
  src/managers/SeatManager.hpp
  src/managers/input/InputManager.cpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
Labels: core, managers, protocols

#8708 xwayland: Support cross DnD from Wayland
  src/managers/XWaylandManager.cpp
  src/managers/XWaylandManager.hpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, managers, protocols, xwayland

#8735 core: Optimize window/layer rule application and scanning
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/events/Windows.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, desktop, events, layout

#8736 core: Move regex from stdlib to re2
  .github/actions/setup_base/action.yml
  CMakeLists.txt
  hyprctl/CMakeLists.txt
  hyprctl/main.cpp
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.cpp
  src/pch/pch.hpp
Labels: hyprctl, core, config, desktop, events, layout, pch

#8738 {nix/default,meson}: add re2 dependency
  hyprctl/meson.build
  meson.build
  nix/default.nix
  src/meson.build
Labels: Nix, hyprctl, core

#8748 remove dead code
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/helpers/AnimatedVariable.cpp
  src/helpers/AnimatedVariable.hpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/managers/input/InputMethodRelay.cpp
  src/managers/input/InputMethodRelay.hpp
  src/protocols/core/Shm.hpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/DMABuffer.hpp
  src/render/OpenGL.cpp
Labels: core, config, managers, protocols, render, desktop, events, helpers, layout

#8749 Fix `hyprctl` batch JSON command
  hyprctl/main.cpp
Labels: hyprctl

#8753 get broader GPUINFO
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

#8764 Fix GPU info
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, debug, helpers

#8761 hyprpm: fix hyrpm sometimes returning 0 despite errors occuring
  hyprpm/src/main.cpp
Labels: hyprpm

#8767 Make static analysis more happy
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/layout/IHyprLayout.hpp
  src/macros.hpp
  src/main.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/ThreadManager.cpp
  src/render/OpenGL.cpp
  src/xwayland/Server.cpp
Labels: core, debug, managers, render, desktop, events, helpers, xwayland, layout

#8779 apply group rules after window creation
  src/layout/IHyprLayout.cpp
Labels: core, layout

#8782 groups: honor the group lock window rule
  src/layout/IHyprLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render, layout

#8836 added reference to CTimer class in KeybindManager
  src/managers/KeybindManager.hpp
Labels: core, managers

#8812 Use glaze to parse hyprctl json output, other improvements
  .github/actions/setup_base/action.yml
  hyprpm/CMakeLists.txt
  hyprpm/src/core/DataState.cpp
  hyprpm/src/core/DataState.hpp
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/meson.build
  nix/default.nix
Labels: Nix, hyprpm

#8865 Updated window position/size for grouped fullscreen-windows in setGroupCurrent fn
  src/desktop/Window.cpp
Labels: core, desktop

#8860 update ForeignTopLevel on null window focus
  src/protocols/ForeignToplevelWlr.cpp
Labels: core, protocols

#8872 snap: revert #8659, use bounds checking instead of bit mask
  src/layout/IHyprLayout.cpp
Labels: core, layout

#8804 refactor/improve monitor mode selection
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/KeybindManager.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, managers, render, helpers

#8874 xwayland: don't create an abstract unix domain socket on linux
  src/xwayland/Server.cpp
Labels: core, xwayland

#8873 snap: give edge snapping precedence over corner snapping
  src/layout/IHyprLayout.cpp
Labels: core, layout

#8883 make `hyprpm reload -f` unload & load all enabled plugins
  hyprpm/hyprpm.usage
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

#8871 Replaced always_center_master to slave_count_for_center_master
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

#8890 few small monitor improvements
  src/Compositor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, render, helpers

#8897 fix custom resolutions
  src/helpers/Monitor.cpp
Labels: core, helpers

#8899 hyprpm: add glaze dependency FetchContent fallback
  hyprpm/CMakeLists.txt
Labels: hyprpm
