Repository hyprwm/Hyprland, pull requests merged in 2024-09, with the labels that each got.

#7546 xwm: read atom name from xcb
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

#7614 textinput: send deactivate to ime on destory ti
  src/managers/input/TextInput.cpp
Labels: core, managers

#7617 textinput: don't deactivate ime if another ti is focused
  src/managers/input/TextInput.cpp
Labels: core, managers

#7649 input: don't emit idle activity when calling simulateMouseMovement
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, managers

#7647 sessionLock: ensure sls focus in some edge cases
  src/Compositor.cpp
  src/managers/SessionLockManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

#7633 config: add option to enable/disable xwayland
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/xwayland/Server.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWayland.cpp
  src/xwayland/XWayland.hpp
Labels: core, config, xwayland

#7650 config: Add a variable to prevent groups from merging after being dragged
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
Labels: core, config, desktop

#7660 textinput: fix ime activation in some edge cases
  src/managers/input/TextInput.cpp
  src/protocols/TextInputV3.cpp
Labels: core, managers, protocols

#7657 workspacerules: fix on-created-empty window focus
  src/desktop/Workspace.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers, desktop

#7659 input: move idle notify to input handlers
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/managers/input/Tablets.cpp
  src/managers/input/Touch.cpp
Labels: core, managers

#7666 input: kb focus mouse focused window if unset
  src/managers/input/InputManager.cpp
Labels: core, managers

#7669 input: try to refocus a focusable window when seat grabs are reset
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/managers/SeatManager.cpp
Labels: core, managers, desktop

#7672 Added default button mapping for laptop multimedia keys for volume an…
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

#7683 config: add exec-shutdown for running commands on shutdown
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

#7695 feat: add XF86Audio* key bindings
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

#7716 tiv1: fix deleting first character
  src/managers/input/TextInput.cpp
Labels: core, managers

#7715 Remove execute permission from lockdead.png
  assets/install/lockdead.png
Labels: assets

#7697 Add order rule for layers
  src/config/ConfigManager.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/render/Renderer.cpp
Labels: core, config, render, desktop

#7713 Fixed the man page to show the new information
  docs/Hyprland.1
  docs/Hyprland.1.rst
Labels: docs

#7721 input: move dmps activation to input listeners
  src/managers/KeybindManager.hpp
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

#7709 build: Set cmake_minimum_required to version 3.30
  CMakeLists.txt
  nix/cmake-version.patch
  nix/default.nix
Labels: Nix

#7731 textinput: handle reset
  src/managers/input/InputMethodRelay.cpp
  src/managers/input/InputMethodRelay.hpp
  src/managers/input/TextInput.cpp
  src/managers/input/TextInput.hpp
  src/protocols/TextInputV1.cpp
  src/protocols/TextInputV1.hpp
  src/protocols/TextInputV3.cpp
  src/protocols/TextInputV3.hpp
Labels: core, managers, protocols

#7755 xwayland: remove extra x11 deactivation
  src/managers/XWaylandManager.cpp
Labels: core, managers

#7761 textinput: fix tiv3 leave
  src/managers/input/TextInput.cpp
Labels: core, managers

#7774 nix: use meson
  nix/default.nix
Labels: Nix

#7778 nix: remove cmake remnants
  nix/cmake-version.patch
  nix/default.nix
  nix/stdcxx.patch
Labels: Nix

#7793 fix cursor:default_monitor
  src/Compositor.cpp
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
Labels: core, managers

#7798 textinput: don't reset if ti isn't enabled
  src/managers/input/TextInput.cpp
Labels: core, managers

#7802 Fix change group current messing up fullscreen
  src/desktop/Window.cpp
Labels: core, desktop

#7797 Delay monitor messages
  src/helpers/Monitor.cpp
Labels: core, helpers

#7818 dispatcher: allow moveintogroup when windows are floating
  src/managers/KeybindManager.cpp
Labels: core, managers

#7807 Some readability improvements for xwayland server
  src/xwayland/Server.cpp
Labels: core, xwayland

#7806 Hide cursor on leave
  src/managers/PointerManager.cpp
Labels: core, managers

#7852 fix: use proper path for the XWayland sockets, fixes #7849
  src/xwayland/Server.cpp
Labels: core, xwayland

#7856 Some fixes to XWM
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

#7851 core: add HYPRLAND_CONFIG environment variable
  src/config/ConfigManager.cpp
Labels: Nix, core, config, debug, xwayland

#7902 Internal: move to Mat3x3 from hyprutils
  CMakeLists.txt
  flake.lock
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/math/Math.cpp
  src/helpers/math/Math.hpp
  src/meson.build
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render, helpers

#7875 Fix dpms toggle
  src/managers/KeybindManager.cpp
Labels: core, managers

#7571 Improve output configuration via wlr-output-configuration
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/helpers/Monitor.cpp
  src/managers/KeybindManager.cpp
  src/protocols/OutputManagement.cpp
  src/protocols/OutputManagement.hpp
Labels: core, config, managers, protocols, helpers

#7920 dwindle: add config option `split_bias`
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
Labels: core, config, layout

#7934 Fix Musl builds
  src/protocols/PresentationTime.cpp
Labels: core, protocols

#7933 config: add descriptions for dwindle and master layout options
  src/config/ConfigDescriptions.hpp
Labels: core, config

#7903 add movetoroot method to dwindle layout
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
Labels: core, layout
