Repository hyprwm/Hyprland, pull requests merged in 2024-11, with the labels that each got.

#8314 fix vrr breaking monitor disconnect
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
Labels: core, config, helpers

#8323 xwayland: minor fixups for stability
  src/xwayland/Server.cpp
  src/xwayland/XWM.cpp
Labels: core, xwayland

#8360 default/config: move shadow options to decoration:shadow
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

#8362 groups: add merge_groups_on_groupbar
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render, layout

#8359 Don't render animating windows out of their monitor when they are not moving workspaces
  src/render/Renderer.cpp
Labels: core, render

#8361 Focus window on scrolling
  src/managers/input/InputManager.cpp
Labels: core, managers

#8401 debug: clean up opening of files in HyprCtl
  src/debug/HyprCtl.cpp
Labels: core, debug

#8413 debug: clean up fetching of the contents of /proc/device-tree
  src/debug/HyprCtl.cpp
Labels: core, debug

#8352 pointer: map devices across all outputs by default
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/devices/Tablet.hpp
  src/devices/VirtualPointer.cpp
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, managers, devices

#8423 renderer: scaled surfaces could have zero area
  src/render/Renderer.cpp
Labels: core, render

#8418 Changed the default value of decoration:blur:ignore_opacity to true
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
Labels: core, config

#8326 Add some context to config error logs
  src/config/ConfigManager.cpp
Labels: core, config

#8474 xcursors store themes in a std:set to order it
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
Labels: core, managers

#8431 Enable explicit out fence in AQ
  src/render/Renderer.cpp
Labels: core, render

#8302 bind: new long press option
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, config, debug, managers, hyprpm

#8484 Fix: Workspace name not assigned via hyprctl dispatch focusworkspaceoncurrentmonitor
  src/managers/KeybindManager.cpp
Labels: core, managers

#8486 Window/Workspace Rules: If workspace is created by a windowrule, don't create it as empty workspace
  src/events/Windows.cpp
Labels: core, events

#8480 fix: json output on hyprctl -j plugins list
  src/debug/HyprCtl.cpp
Labels: core, debug

#8467 renderer: add the lockdead_screen_delay
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/render/Renderer.cpp
Labels: core, config, managers, render

#8503 Plugins: add pre connected/disconnected monitor events
  src/helpers/Monitor.cpp
Labels: core, helpers

#8491 pointer constraints: don't warp pointer position on release
  src/protocols/PointerConstraints.cpp
Labels: core, protocols

#8494 fix changeWindowZOrder
  src/Compositor.cpp
Labels: core

#8509 Fix example config name @ auto-generated cfg header
  src/config/defaultConfig.hpp
Labels: core, config

#8290 allow repeating multiple binds
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

#8528 bezier: optimize setup of bezier curves
  src/helpers/BezierCurve.cpp
  src/helpers/BezierCurve.hpp
Labels: core, helpers

#8538 actually suppress internal keybinds instead of passing them along
  src/managers/KeybindManager.cpp
Labels: core, managers

#8521 renderer: add option to blur IME popups
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

#8526 binds: option to fullscreen pinned window
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/Window.hpp
Labels: core, config, desktop

#8572 protocols: fix shm fd size check before creating or resizing shm_pool
  src/protocols/core/Shm.cpp
Labels: core, protocols

#8590 renderer: fix incorrect early return
  src/render/Renderer.cpp
Labels: core, render

#8584 sessionLock: don't send motion events on every surface commit
  src/managers/SessionLockManager.cpp
Labels: core, managers

#8592 descriptions: change allow_pin_fullscreen value to false
  src/config/ConfigDescriptions.hpp
Labels: core, config

#8604 Fix incomplete unmet dependencies message from Hyprpm
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm
