Repository hyprwm/Hyprland, pull requests merged in 2024-06, with the labels that each got.

#6380 hyprctl: add --quiet flag
  hyprctl/Strings.hpp
  hyprctl/hyprctl.bash
  hyprctl/hyprctl.fish
  hyprctl/hyprctl.usage
  hyprctl/hyprctl.zsh
  hyprctl/main.cpp
Labels: hyprctl

#6391 build: ProtocolManager missing header LIstener.hpp
  src/managers/ProtocolManager.hpp
Labels: core, managers

#6360 wlr-foreign-toplevel: fix fullscreen failing and add output support
  src/protocols/ForeignToplevelWlr.cpp
Labels: core, protocols

#6392 Fix groupbar window title rendering
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: core, render

#6402 wayland: consistently check MAP_FAILED
  src/protocols/LinuxDMABUF.cpp
  src/protocols/core/Shm.cpp
Labels: core, protocols

#6413 layerSurface: respect input regions
  src/Compositor.cpp
Labels: core

#6414 sessionLock: fix focus not being tied to mouse
  src/managers/input/InputManager.cpp
Labels: core, managers

#6385 core: move to hyprutils for utils
  .github/actions/setup_base/action.yml
  CMakeLists.txt
  flake.lock
  flake.nix
  hyprctl/CMakeLists.txt
  hyprctl/main.cpp
  hyprctl/meson.build
  hyprpm/CMakeLists.txt
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/meson.build
  nix/default.nix
  nix/overlays.nix
  src/Compositor.cpp
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/desktop/Popup.hpp
  src/desktop/Window.cpp
  src/desktop/Workspace.cpp
  src/devices/IKeyboard.cpp
  src/events/Windows.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/helpers/Monitor.cpp
  src/helpers/VarList.cpp
  src/helpers/VarList.hpp
  src/helpers/WLClasses.hpp
  src/helpers/memory/Memory.hpp
  src/helpers/memory/SharedPtr.hpp
  src/helpers/memory/WeakPtr.hpp
  src/helpers/signal/Listener.cpp
  src/helpers/signal/Listener.hpp
  src/helpers/signal/Signal.cpp
  src/helpers/signal/Signal.hpp
  src/helpers/varlist/VarList.hpp
  src/macros.hpp
  src/managers/EventManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/ProtocolManager.hpp
  src/managers/SessionLockManager.hpp
  src/managers/TokenManager.hpp
  src/managers/eventLoop/EventLoopTimer.hpp
  src/managers/input/InputManager.hpp
  src/managers/input/InputMethodPopup.hpp
  src/managers/input/InputMethodRelay.hpp
  src/managers/input/TextInput.hpp
  src/meson.build
  src/plugins/HookSystem.cpp
  src/protocols/AlphaModifier.hpp
  src/protocols/FocusGrab.hpp
  src/protocols/GammaControl.hpp
  src/protocols/OutputManagement.hpp
  src/protocols/OutputPower.hpp
  src/protocols/PointerConstraints.hpp
  src/protocols/core/Output.hpp
  src/xwayland/XWM.hpp
Labels: Nix, hyprctl, core, config, debug, managers, protocols, hyprpm, desktop, devices, events, helpers, plugins, xwayland

#6423 session-lock: fix refocus after unlocking
  src/protocols/SessionLock.cpp
Labels: core, protocols

#6394 Fix layershell keyboard focus grabs (#4968)
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, managers, desktop, helpers, plugins

#6424 layer: don't close special ws when restoring focus
  src/Compositor.cpp
  src/Compositor.hpp
  src/managers/input/InputManager.cpp
Labels: core, managers, desktop

#6429 fixed mouse dispatcher
  src/config/ConfigManager.cpp
Labels: core, config

#6433 fix groupbar position rounding
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

#6434 properly use software cursors with zoom_factor
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/render/Renderer.cpp
Labels: core, config, managers, render

#6460 check if VirtualKeyboard is valid before accessing.
  src/protocols/InputMethodV2.cpp
  src/protocols/VirtualKeyboard.cpp
Labels: core, protocols

#6470 last bits of asan output
  src/Compositor.cpp
  src/events/Monitors.cpp
  src/managers/ThreadManager.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, managers, render, events

#6471 helpers: unbreak shm_open() on FreeBSD
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

#6486 Fix build warnings
  hyprpm/src/core/PluginManager.cpp
  src/helpers/MiscFunctions.cpp
Labels: core, hyprpm, helpers

#6487 layerSurface: fix layer being refocused every commit with on_demand
  src/desktop/LayerSurface.cpp
Labels: core, desktop

#6325 feat: added --follow option to `hyprctl rollinglog` #6300
  Makefile
  hyprctl/Strings.hpp
  hyprctl/main.cpp
  src/debug/HyprCtl.cpp
  src/debug/Log.cpp
  src/debug/RollingLogFollow.hpp
Labels: hyprctl, core, debug

#6483 option to fix mouse breaking vrr
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, managers, render, helpers

#6479 layout: refine master layout new window handling
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

#6537 update example hyprland.conf
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

#6480 input: add cursor:warp_on_changeworkspace
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

#6521 xdg-shell: Continue transform of popup until size fits
  src/protocols/XDGShell.cpp
Labels: core, protocols

#6559 a few compiler level performance optimisations
  src/config/ConfigValue.hpp
  src/desktop/Window.hpp
  src/helpers/WLListener.cpp
  src/helpers/WLListener.hpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/DMABuffer.hpp
Labels: core, config, protocols, desktop, helpers

#6467 fix zsh completion in hyprctl
  hyprctl/hyprctl.zsh
Labels: hyprctl

#6587 pointer: use software rendering when monitor is mirrored
  src/helpers/Monitor.cpp
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
Labels: core, managers, helpers

#6583 Expose pseudotiled state in hyprctl clients and add an optional window argument for the pseudo dispatcher
  src/debug/HyprCtl.cpp
  src/managers/KeybindManager.cpp
Labels: core, debug, managers

#6620 add virtual destructor to surfacerole to avoid undefined behaviour
  src/managers/CursorManager.hpp
  src/protocols/types/SurfaceRole.hpp
  src/xwayland/XSurface.hpp
  src/xwayland/XWM.hpp
  src/xwayland/XWayland.hpp
Labels: core, managers, protocols, xwayland

#6621 increase read timeout for hyprctl
  hyprctl/main.cpp
Labels: hyprctl

#6627 Pointer constraints: Lock surface region when region is empty
  src/protocols/PointerConstraints.cpp
Labels: core, protocols

#6598 feat: [compositor, misc] ability to select previous workspace per monitor
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/events/Windows.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/helpers/Monitor.cpp
  src/macros.hpp
  src/managers/KeybindManager.cpp
  src/managers/input/Swipe.cpp
Labels: core, config, managers, desktop, events, helpers

#6640 systemd,dbus: import PATH XDG_DATA_DIRS variables into systemd and dbus session
  src/Compositor.cpp
  src/config/ConfigManager.cpp
Labels: core, config

#6659 output: fix cursors disappearing after dpms
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.hpp
Labels: core, managers

#6652 keybinds: fix mouse pass
  src/managers/KeybindManager.cpp
Labels: core, managers

#6658 sessionLock: focus lock on creation based on mouse position
  src/managers/SessionLockManager.cpp
Labels: core, managers

#6688 fix: move to prev ws, moved to same mon
  src/managers/KeybindManager.cpp
Labels: core, managers

#6699 fix a few ubsan issues reported at exit of hyprland
  src/helpers/Watchdog.cpp
  src/render/Renderbuffer.cpp
  src/render/Texture.cpp
Labels: core, render, helpers

#6696 Fix `listener_sessionActive` to handle an event correctly when the session get inactivated
  src/events/Misc.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers, events

#6697 Fix #6279: prevent sending keymap or repeat info events by keyboards without keyboard capability
  src/protocols/core/Seat.cpp
Labels: core, managers, protocols

#6713 inputmgr ensure we dont divide by zero
  src/managers/input/InputManager.cpp
Labels: core, managers

#6715 Nvidia driver info
  src/debug/HyprCtl.cpp
Labels: core, debug

#6722 xwayland: break cyclic loop of parents
  src/desktop/Window.cpp
Labels: core, desktop
