Repository hyprwm/Hyprland, pull requests merged in 2024-10, with the labels that each got.

#7883 feat: auto_group
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.cpp
Labels: core, config, events, layout

#7976 layout: fix dragging a window into a group after e242694
  src/layout/IHyprLayout.cpp
Labels: core, layout

#7975 renderer: fix uvBR calculation
  src/render/Renderer.cpp
Labels: core, render

#7984 fix: add missing include directive
  src/helpers/SdDaemon.cpp
Labels: core, helpers

#8006 layout: fix auto group when opening a new window in a non-focused workspace using window rules
  src/layout/IHyprLayout.cpp
Labels: core, layout

#7992 feat: add a custom made treewide formatter
  .gitignore
  flake.lock
  flake.nix
  nix/default.nix
  nix/formatter.nix
  nix/overlays.nix
Labels: Nix

#8014 use clampWindowSize to unify min/maxsize handling
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
Labels: core, desktop, events

#8004 layout: add drag_into_group
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render, layout

#8027 misc: refactor version command
  src/main.cpp
Labels: core

#8016 dispatchers: allow leading whitespace in window parameter
  src/Compositor.cpp
Labels: core

#8037 layout: remove unnecessary check after 45e8219
  src/layout/IHyprLayout.cpp
Labels: core, layout

#8040 Make hyprerror reserve space
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/render/Renderer.cpp
Labels: core, render, hyprerror

#8044 output: update state even if no owner exists
  src/protocols/core/Output.cpp
Labels: core, protocols

#8043 hyprerror: fix height calc with bottom bar
  src/hyprerror/HyprError.cpp
Labels: core, hyprerror

#8042 layout: add merge_floated_into_tiled_on_groupbar to fine control merging dragging windows
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

#8072 layouts: Nuke no_gaps_when_only
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/input/Touch.cpp
Labels: core, config, managers, layout

#8076 xwaylandmanager minor fixes
  src/managers/XWaylandManager.cpp
Labels: core, managers

#8034 improve version query and some code and add HYPRLAND_VERSION
  CMakeLists.txt
  hyprpm/src/core/PluginManager.cpp
  meson.build
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
  src/main.cpp
Labels: core, debug, hyprpm

#8083 Add check for conflicting acquire and release points
  src/protocols/DRMSyncobj.cpp
Labels: core, protocols

#6877 Fix VRR for constrained cursors
  src/Compositor.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/Timer.cpp
  src/helpers/Timer.hpp
  src/managers/AnimationManager.cpp
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/managers/SeatManager.hpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, managers, events, helpers

#8108 layout: deny automatically grouping a new floated window into a tiled group
  src/layout/IHyprLayout.cpp
Labels: core, layout

#8117 IME: Fixup IME popup candidate windows position when scale is not 1.0
  src/managers/input/InputMethodPopup.cpp
Labels: core, managers

#8120 layout: simplify the conditions to autogroup
  src/layout/IHyprLayout.cpp
Labels: core, layout

#8122 layout: enable group rules for new floating windows
  src/layout/IHyprLayout.cpp
Labels: core, layout

#8139 layout: move applyGroupRules() to onWindowCreated()
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render, layout

#8140 Fix hyprpm crashes due to misplaced fmt argument(s)
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

#8021 allow specifying max size in size window rule
  src/events/Windows.cpp
Labels: core, events

#8164 config: fix generateConfig loop
  src/config/ConfigManager.cpp
Labels: core, config

#8088 add snapping to floating windows
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
Labels: core, config, layout

#8167 hyprpm: Add option to notify on fail and keep original notify
  hyprpm/src/main.cpp
Labels: hyprpm

#8159 compositor: add group_on_movetoworkspace
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

#8218 Remove some unused lambda capture
  src/devices/Tablet.cpp
  src/managers/TokenManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/DataDeviceWlr.cpp
  src/protocols/PrimarySelection.cpp
Labels: core, managers, protocols, devices

#8145 hyprctl devices: Get caps/num lock state
  src/debug/HyprCtl.cpp
Labels: core, debug

#8229 security-context: avoid UB in C macro
  src/protocols/SecurityContext.cpp
  src/protocols/SecurityContext.hpp
Labels: core, protocols

#8240 Fix bad link in /example/hyprland.conf
  README.md
  docs/ISSUE_GUIDELINES.md
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config, docs

#8223 fix swallowing for groups
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/layout/IHyprLayout.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render, desktop, events, layout

#8264 optimize cursor move a bit
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/managers/input/InputManager.cpp
  src/render/decorations/DecorationPositioner.cpp
Labels: core, managers, render, desktop

#8257 groupbar: set locked color when groups are globally locked
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

#8266 Core: move internal structures from monitor IDs to pointers
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/events/Windows.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Touch.cpp
  src/protocols/ForeignToplevelWlr.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, debug, managers, protocols, render, desktop, events, helpers, layout

#8273 layout: slight adjustments to snapping logic
  src/layout/IHyprLayout.cpp
Labels: core, layout

#8265 swallow: check if swallow_regex doesn't exist in the user's config file
  src/desktop/Window.cpp
Labels: core, desktop

#8271 few more marginal optimisations from profiling
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/decorations/DecorationPositioner.cpp
Labels: core, protocols, render, desktop

#8275 move setprop into dispatchers
  src/debug/HyprCtl.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, debug, managers

#8276 seat: avoid sending pointless 'keymap' and 'repeat_info' events
  src/protocols/core/Seat.cpp
  src/protocols/core/Seat.hpp
Labels: core, protocols

#8297 Fix CKeybindManager::moveWindowIntoGroup
  src/layout/IHyprLayout.cpp
  src/managers/KeybindManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, managers, render, layout

#8279 Fixed window not taking focus on scroll after workspace switch
  src/managers/input/InputManager.cpp
Labels: core, managers

#8300 more profiling less calls and local copies
  src/Compositor.cpp
  src/managers/PointerManager.cpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/core/Compositor.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprBorderDecoration.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
  src/render/decorations/IHyprWindowDecoration.hpp
Labels: core, managers, protocols, render

#8289 snap: add option `border_overlap` and other improvements
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout
