Repository hyprwm/Hyprland, pull requests merged in 2024-07, with the labels that each got.

#6027 fix: change min cursor padding to 0
  src/config/ConfigManager.cpp
  src/managers/PointerManager.cpp
Labels: core, config, managers

#6744 hyprctl completions: Use only awk rather than grep + awk
  hyprctl/hyprctl.bash
  hyprctl/hyprctl.fish
  hyprctl/hyprctl.zsh
Labels: hyprctl

#6761 [Tablet] Send Frame on ProximityOut
  src/protocols/Tablet.cpp
Labels: core, protocols

#6763 Removing unnecessary pipes for completions
  hyprctl/hyprctl.usage
  hyprpm/hyprpm.bash
  hyprpm/hyprpm.fish
  hyprpm/hyprpm.usage
  hyprpm/hyprpm.zsh
Labels: hyprctl, hyprpm

#6777 fix movewindow float to 0
  src/managers/KeybindManager.cpp
Labels: core, managers

#6780 config: don't crash when getenv HOME returns null
  src/config/ConfigManager.cpp
Labels: core, config

#6745 Add functions to hyprctl header
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
Labels: core, debug

#6802 workspaces: don't try to reopen special workspaces
  src/helpers/Monitor.cpp
Labels: core, helpers

#6809 fix setting xwayland title prop
  src/xwayland/XWM.cpp
Labels: core, xwayland

#6829 Explicit sync fixes
  src/helpers/sync/SyncTimeline.cpp
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: core, managers, protocols, render, helpers

#6776 Improve handling of window properties
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/XWaylandManager.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, debug, managers, render, desktop, events, layout

#6841 reset explicit fences before commit
  src/render/Renderer.cpp
Labels: core, render

#6843 sessionLock: fix the check for locking a locked session
  src/protocols/SessionLock.cpp
Labels: core, protocols

#6845 meson: install wayland.hpp header
  protocols/meson.build
Labels: protocols

#6799 Add scheduleFrame and scheduleFrameForMonitor reasons
  src/Compositor.cpp
  src/Compositor.hpp
  src/events/Monitors.cpp
  src/helpers/Monitor.cpp
  src/managers/AnimationManager.cpp
  src/managers/CursorManager.cpp
  src/managers/PointerManager.cpp
  src/managers/input/InputManager.cpp
  src/render/Renderer.cpp
Labels: core, managers, render, events, helpers

#6855 fix: xray regressions
  src/render/OpenGL.cpp
Labels: core, render

#6850 session-lock: send `locked` after the lock screen is properly rendered
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/render/Renderer.cpp
Labels: core, managers, render

#6857 Send done after title and app id events for ForeignTopLevel protocol
  src/protocols/ForeignToplevel.cpp
Labels: core, protocols

#6861 toplevelexport: fix flipped r/b channels when sharing windows
  src/protocols/ToplevelExport.cpp
Labels: core, protocols

#6856 Add windowtitlev2 event for the socket which includes the window title
  src/desktop/Window.cpp
Labels: core, desktop

#6868 partial revert previous xray fix
  src/render/OpenGL.cpp
Labels: core, render

#6870 fix: new_window_takes_over_fullscreen=1, overridingNoMaximise (#6812)
  src/events/Windows.cpp
Labels: core, events

#6878 update workspace rules on layout change
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, layout

#6880 feat: option to exit window while retaining fullscreen (#516)
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
Labels: core, config, events

#6892 Aquamarine headers for no pch build and a heap use after free
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/devices/IKeyboard.cpp
  src/helpers/Format.cpp
  src/helpers/math/Math.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/managers/CursorManager.hpp
  src/managers/PointerManager.hpp
  src/managers/ProtocolManager.cpp
  src/plugins/PluginAPI.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/Screencopy.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/WLBuffer.cpp
  src/render/OpenGL.cpp
  src/render/Renderbuffer.cpp
  src/render/Renderbuffer.hpp
  src/xwayland/Server.cpp
Labels: core, config, debug, managers, protocols, render, devices, helpers, plugins, xwayland

#6891 Config: use hyprutils helper
  CMakeLists.txt
  flake.lock
  nix/overlays.nix
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/meson.build
  src/render/OpenGL.cpp
Labels: Nix, core, config, render

#6881 [Scroll Wheel] Emulate discrete scrolling from v120 events
  src/config/ConfigManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, config, managers

#6930 compositor: implement wayland socket handover
  docs/Hyprland.1
  docs/Hyprland.1.rst
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
Labels: core, docs

#6932 Fix crash when opening chromium
  src/protocols/PresentationTime.cpp
Labels: core, protocols

#6940 Add touch swipe invert config
  src/config/ConfigManager.cpp
  src/managers/input/Touch.cpp
Labels: core, config, managers

#6966 Fix xwayland black window bug after losing focus
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

#6971 fix: avoid locking 2 wayland sockets
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
Labels: core

#6969 get rid of 1 in logs
  src/Compositor.cpp
  src/desktop/LayerSurface.cpp
  src/helpers/Monitor.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/FractionalScale.cpp
  src/protocols/ToplevelExport.cpp
  src/xwayland/XWM.cpp
Labels: core, managers, protocols, desktop, helpers, xwayland

#6984 renderer: use explicitly set exclusiveEdge
  src/protocols/LayerShell.cpp
  src/render/Renderer.cpp
Labels: core, protocols, render

#7006 validate exclusiveEdge and don't set it as top by default
  src/protocols/LayerShell.cpp
  src/protocols/LayerShell.hpp
Labels: core, protocols

#7014 touch: fix touch swipe invert config
  src/managers/input/Touch.cpp
Labels: core, managers

#7017 add bindp and noshortcutsinhibit
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/protocols/ShortcutsInhibit.cpp
Labels: core, config, managers, protocols, desktop

#7028 add date and flags to crash report
  src/debug/CrashReporter.cpp
Labels: core, debug

#7018 Properly shutdown wl display
  src/Compositor.cpp
  src/Compositor.hpp
  src/main.cpp
  src/managers/KeybindManager.cpp
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/protocols/GlobalShortcuts.cpp
  src/protocols/GlobalShortcuts.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/TextInputV1.cpp
  src/protocols/TextInputV1.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/protocols/WaylandProtocol.cpp
  src/protocols/WaylandProtocol.hpp
Labels: core, managers, protocols

#7030 handle monitor changes in moveWindowIntoGroup
  src/managers/KeybindManager.cpp
Labels: core, managers

#7015 Don't simulate mouse movement on focus change in follow_mouse = 2/3 if no_warps is false
  src/managers/KeybindManager.cpp
Labels: core, managers

#7034 add safeguard to mousebinds
  src/managers/KeybindManager.cpp
Labels: core, managers

#7065 move screencopy and toplevel export to hyprwayland-scanner
  CMakeLists.txt
  protocols/meson.build
  src/events/Monitors.cpp
  src/events/Windows.cpp
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/render/Renderer.hpp
Labels: core, managers, protocols, render, events

#7070 Fix `hyprctl switchxkblayout` not actually changing layout
  src/devices/IKeyboard.cpp
Labels: core, devices

#7071 unify removing currentlyDraggedWindow
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/layout/IHyprLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/InputManager.cpp
Labels: core, managers, desktop, events, layout

#7067 xdg-shell: completely rewrite xdg-positioner
  CMakeLists.txt
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/meson.build
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
Labels: core, protocols, desktop

#7079 input: fix keyboard leds with multiple keyboards
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/managers/input/InputManager.cpp
Labels: core, managers, devices

#7094 xdg-shell: fix xdg-positioner y-flip
  src/protocols/XDGShell.cpp
Labels: core, protocols

#7099 Add force reload of config at the end of plugin initialization
  src/plugins/PluginSystem.cpp
Labels: core, plugins

#7096 move text-input-v1 to hyprwayland-scanner
  CMakeLists.txt
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/managers/input/InputMethodRelay.cpp
  src/managers/input/InputMethodRelay.hpp
  src/managers/input/TextInput.cpp
  src/managers/input/TextInput.hpp
  src/protocols/TextInputV1.cpp
  src/protocols/TextInputV1.hpp
  src/protocols/VirtualPointer.hpp
Labels: core, managers, protocols

#7111 Fix typos in Compositor.cpp
  src/Compositor.cpp
Labels: core

#7102 Move globalshortcuts impl
  CMakeLists.txt
  protocols/meson.build
  src/debug/HyprCtl.cpp
  src/managers/KeybindManager.cpp
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/protocols/GlobalShortcuts.cpp
  src/protocols/GlobalShortcuts.hpp
Labels: core, debug, managers, protocols

#7122 keybinds: handle null monitor in pinActive
  src/managers/KeybindManager.cpp
Labels: core, managers

#7104 refactor fullscreen
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.cpp
  src/layout/MasterLayout.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/protocols/ForeignToplevelWlr.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, debug, managers, protocols, render, desktop, events, helpers, layout

#7123 some minor fd/socket cleanups and make logging thread safe
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
  src/debug/Log.cpp
  src/debug/Log.hpp
  src/helpers/BezierCurve.cpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
Labels: core, debug, managers, helpers, xwayland

#7110 Buffer lock/release fixes
  src/desktop/LayerSurface.cpp
  src/desktop/WLSurface.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/managers/PointerManager.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/InputMethodV2.cpp
  src/protocols/LayerShell.cpp
  src/protocols/SessionLock.cpp
  src/protocols/Viewporter.cpp
  src/protocols/XDGShell.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/Seat.cpp
  src/protocols/core/Seat.hpp
  src/protocols/core/Subcompositor.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/SurfaceRole.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
  src/render/Renderer.cpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/xwayland/XSurface.cpp
Labels: core, managers, protocols, render, desktop, events, helpers, xwayland
