Repository hyprwm/Hyprland, pull requests merged in 2025-05, with the labels that each got.

#10227 hyprerror: refactor class member vars
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
Labels: core, hyprerror

#10228 layouts: refactor class member vars
  src/layout/DwindleLayout.cpp
  src/layout/DwindleLayout.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.cpp
  src/layout/MasterLayout.hpp
Labels: core, layout

#10201 Change center_master_slaves_on_right to center_master_fallback
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

#10211 hyprpm: move to system directories for storing plugins
  CMakeLists.txt
  hyprpm/CMakeLists.txt
  hyprpm/src/core/DataState.cpp
  hyprpm/src/core/DataState.hpp
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/core/PluginManager.hpp
  hyprpm/src/helpers/Die.hpp
  hyprpm/src/helpers/Sys.cpp
  hyprpm/src/helpers/Sys.hpp
  hyprpm/src/main.cpp
  meson.build
Labels: hyprpm

#10234 hyprpm: unbreak build with libc++
  hyprpm/src/core/DataState.cpp
Labels: hyprpm

#10230 inputs: refactor class member vars
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/AsyncDialogBox.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/managers/input/InputMethodPopup.cpp
  src/managers/input/InputMethodPopup.hpp
  src/managers/input/InputMethodRelay.cpp
  src/managers/input/InputMethodRelay.hpp
  src/managers/input/Swipe.cpp
  src/managers/input/Tablets.cpp
  src/managers/input/TextInput.cpp
  src/managers/input/TextInput.hpp
  src/managers/input/Touch.cpp
  src/protocols/PointerConstraints.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: core, debug, managers, protocols, render, desktop, events, helpers, layout

#10242 managers: refactor class member vars
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprDebugOverlay.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/AnimationManager.hpp
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
  src/managers/DonationNagManager.cpp
  src/managers/DonationNagManager.hpp
  src/managers/EventManager.cpp
  src/managers/EventManager.hpp
  src/managers/HookSystemManager.cpp
  src/managers/HookSystemManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/LayoutManager.cpp
  src/managers/LayoutManager.hpp
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/managers/ProtocolManager.cpp
  src/managers/ProtocolManager.hpp
  src/managers/SeatManager.cpp
  src/managers/SeatManager.hpp
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/managers/TokenManager.cpp
  src/managers/TokenManager.hpp
  src/managers/VersionKeeperManager.cpp
  src/managers/VersionKeeperManager.hpp
  src/managers/XCursorManager.cpp
  src/managers/XCursorManager.hpp
  src/managers/input/InputManager.cpp
  src/managers/input/Tablets.cpp
  src/plugins/PluginAPI.cpp
  src/protocols/DataDeviceWlr.cpp
  src/protocols/FocusGrab.cpp
  src/protocols/InputMethodV2.cpp
  src/protocols/PointerConstraints.cpp
  src/protocols/PointerGestures.cpp
  src/protocols/PrimarySelection.cpp
  src/protocols/RelativePointer.cpp
  src/protocols/Tablet.cpp
  src/protocols/ToplevelExport.cpp
  src/protocols/XDGShell.cpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/Seat.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/pass/Pass.cpp
  src/xwayland/XWM.cpp
Labels: core, config, debug, managers, protocols, render, desktop, events, plugins, xwayland, layout

#10259 protocols: refactor class member vars (core)
  src/Compositor.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Subsurface.cpp
  src/desktop/WLSurface.cpp
  src/desktop/Window.cpp
  src/devices/Tablet.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/layout/IHyprLayout.cpp
  src/managers/PointerManager.cpp
  src/managers/ProtocolManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputMethodPopup.cpp
  src/managers/input/TextInput.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/CTMControl.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ContentType.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/FocusGrab.cpp
  src/protocols/ForeignToplevelWlr.cpp
  src/protocols/FractionalScale.cpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/GammaControl.cpp
  src/protocols/HyprlandSurface.cpp
  src/protocols/IdleInhibit.cpp
  src/protocols/InputMethodV2.cpp
  src/protocols/LayerShell.cpp
  src/protocols/OutputPower.cpp
  src/protocols/PointerConstraints.cpp
  src/protocols/Screencopy.cpp
  src/protocols/SessionLock.cpp
  src/protocols/Viewporter.cpp
  src/protocols/VirtualPointer.cpp
  src/protocols/XDGOutput.cpp
  src/protocols/XDGShell.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/protocols/core/Output.cpp
  src/protocols/core/Output.hpp
  src/protocols/core/Seat.cpp
  src/protocols/core/Seat.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/protocols/core/Subcompositor.cpp
  src/protocols/core/Subcompositor.hpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/pass/Pass.cpp
  src/render/pass/SurfacePassElement.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
Labels: core, managers, protocols, render, desktop, devices, events, helpers, xwayland, layout

#10257 plugins: refactor class member vars
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/plugins/HookSystem.cpp
  src/plugins/HookSystem.hpp
  src/plugins/PluginAPI.cpp
  src/plugins/PluginSystem.cpp
  src/plugins/PluginSystem.hpp
Labels: core, debug, plugins

#10253 layerrules: fix abovelock interactivity for touch input
  src/managers/input/InputManager.cpp
  src/managers/input/Touch.cpp
Labels: core, managers

#10262 Use vecnotinrect instead of !vecinrect
  src/helpers/Monitor.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers, helpers

#10261 protocols: refactor class member vars (types)
  src/helpers/Monitor.cpp
  src/managers/SeatManager.cpp
  src/protocols/DataDeviceWlr.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/MesaDRM.cpp
  src/protocols/PrimarySelection.cpp
  src/protocols/Screencopy.cpp
  src/protocols/SinglePixel.cpp
  src/protocols/ToplevelExport.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/Shm.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/DMABuffer.hpp
  src/protocols/types/DataDevice.cpp
  src/protocols/types/DataDevice.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
  src/render/Renderer.cpp
Labels: core, managers, protocols, render, helpers

#10265 protocols: refactor class member vars (a-m)
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/WLSurface.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputMethodPopup.cpp
  src/managers/input/InputMethodRelay.cpp
  src/managers/input/TextInput.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/AlphaModifier.hpp
  src/protocols/CTMControl.cpp
  src/protocols/CTMControl.hpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/ContentType.cpp
  src/protocols/ContentType.hpp
  src/protocols/CursorShape.cpp
  src/protocols/CursorShape.hpp
  src/protocols/DRMLease.cpp
  src/protocols/DRMLease.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/DataDeviceWlr.cpp
  src/protocols/DataDeviceWlr.hpp
  src/protocols/FocusGrab.cpp
  src/protocols/FocusGrab.hpp
  src/protocols/ForeignToplevel.cpp
  src/protocols/ForeignToplevel.hpp
  src/protocols/ForeignToplevelWlr.cpp
  src/protocols/ForeignToplevelWlr.hpp
  src/protocols/FractionalScale.cpp
  src/protocols/FractionalScale.hpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/FrogColorManagement.hpp
  src/protocols/GammaControl.cpp
  src/protocols/GammaControl.hpp
  src/protocols/GlobalShortcuts.cpp
  src/protocols/GlobalShortcuts.hpp
  src/protocols/HyprlandSurface.cpp
  src/protocols/HyprlandSurface.hpp
  src/protocols/IdleInhibit.cpp
  src/protocols/IdleInhibit.hpp
  src/protocols/IdleNotify.cpp
  src/protocols/IdleNotify.hpp
  src/protocols/InputMethodV2.cpp
  src/protocols/InputMethodV2.hpp
  src/protocols/LayerShell.cpp
  src/protocols/LayerShell.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/MesaDRM.cpp
  src/protocols/MesaDRM.hpp
  src/protocols/XXColorManagement.cpp
  src/render/Renderer.cpp
Labels: core, config, managers, protocols, render, desktop, events

#10273 protocols: refactor class member vars (n-t)
  src/managers/SessionLockManager.cpp
  src/managers/input/InputMethodRelay.cpp
  src/managers/input/TextInput.cpp
  src/protocols/OutputManagement.cpp
  src/protocols/OutputManagement.hpp
  src/protocols/OutputPower.cpp
  src/protocols/OutputPower.hpp
  src/protocols/PointerConstraints.cpp
  src/protocols/PointerConstraints.hpp
  src/protocols/PointerGestures.cpp
  src/protocols/PointerGestures.hpp
  src/protocols/PresentationTime.cpp
  src/protocols/PresentationTime.hpp
  src/protocols/PrimarySelection.cpp
  src/protocols/PrimarySelection.hpp
  src/protocols/RelativePointer.cpp
  src/protocols/RelativePointer.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/SecurityContext.cpp
  src/protocols/SecurityContext.hpp
  src/protocols/ServerDecorationKDE.cpp
  src/protocols/ServerDecorationKDE.hpp
  src/protocols/SessionLock.cpp
  src/protocols/SessionLock.hpp
  src/protocols/ShortcutsInhibit.cpp
  src/protocols/ShortcutsInhibit.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/Tablet.cpp
  src/protocols/Tablet.hpp
  src/protocols/TearingControl.cpp
  src/protocols/TearingControl.hpp
  src/protocols/TextInputV1.cpp
  src/protocols/TextInputV1.hpp
  src/protocols/TextInputV3.cpp
  src/protocols/TextInputV3.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/protocols/ToplevelMapping.cpp
  src/protocols/ToplevelMapping.hpp
Labels: core, managers, protocols

#10282 protocols: refactor class member vars (u-z)
  src/Compositor.cpp
  src/desktop/Popup.cpp
  src/desktop/Window.cpp
  src/devices/VirtualKeyboard.cpp
  src/devices/VirtualPointer.cpp
  src/events/Windows.cpp
  src/layout/IHyprLayout.cpp
  src/managers/ANRManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/InputManager.cpp
  src/protocols/LayerShell.cpp
  src/protocols/Viewporter.cpp
  src/protocols/Viewporter.hpp
  src/protocols/VirtualKeyboard.cpp
  src/protocols/VirtualKeyboard.hpp
  src/protocols/VirtualPointer.cpp
  src/protocols/VirtualPointer.hpp
  src/protocols/WaylandProtocol.cpp
  src/protocols/WaylandProtocol.hpp
  src/protocols/XDGActivation.cpp
  src/protocols/XDGActivation.hpp
  src/protocols/XDGBell.cpp
  src/protocols/XDGBell.hpp
  src/protocols/XDGDecoration.cpp
  src/protocols/XDGDecoration.hpp
  src/protocols/XDGDialog.cpp
  src/protocols/XDGDialog.hpp
  src/protocols/XDGOutput.cpp
  src/protocols/XDGOutput.hpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
  src/protocols/XDGTag.cpp
  src/protocols/XDGTag.hpp
  src/protocols/XWaylandShell.cpp
  src/protocols/XWaylandShell.hpp
  src/protocols/XXColorManagement.cpp
  src/protocols/XXColorManagement.hpp
  src/render/Renderer.cpp
  src/xwayland/XWM.cpp
Labels: core, managers, protocols, render, desktop, devices, events, xwayland, layout

#10246 hyprpm: Minor optimizations and refactor of helpers and progress bar
  hyprpm/src/helpers/Sys.cpp
  hyprpm/src/main.cpp
  hyprpm/src/progress/CProgressBar.cpp
Labels: hyprpm

#10291 Fix renderer crashing on uninitialized FBs due to a null mode
  src/helpers/Monitor.cpp
Labels: core, helpers

#10229 Feature: add monitorremovedv2 IPC event
  src/helpers/Monitor.cpp
Labels: core, helpers

#10212 fix(window): use stored size for new floating window when persistentsize is set
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

#10277 Add option for animating workspaces as if the first and last were adjacent
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
Labels: core, config, managers, helpers

#10299 hyprpm: add missing return
  hyprpm/src/helpers/Sys.cpp
Labels: hyprpm

#10306 popup: damage old size on unmap as well as new
  src/desktop/Popup.cpp
Labels: core, desktop

#10304 hyprpm: clean up root access and properly check input
  hyprpm/src/core/DataState.cpp
  hyprpm/src/core/Manifest.cpp
  hyprpm/src/core/Manifest.hpp
  hyprpm/src/core/PluginManager.cpp
  hyprpm/src/helpers/Sys.cpp
  hyprpm/src/helpers/Sys.hpp
  hyprpm/src/main.cpp
Labels: hyprpm

#10312 xwayland: refactor class member vars
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/layout/IHyprLayout.cpp
  src/managers/ANRManager.cpp
  src/managers/XWaylandManager.cpp
  src/protocols/XDGOutput.cpp
  src/protocols/core/DataDevice.cpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
  src/xwayland/XDataSource.cpp
  src/xwayland/XDataSource.hpp
  src/xwayland/XSurface.cpp
  src/xwayland/XSurface.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
  src/xwayland/XWayland.cpp
  src/xwayland/XWayland.hpp
Labels: core, managers, protocols, desktop, events, xwayland, layout

#10317 DMABuffer: reserve vector and avoid UB
  src/protocols/types/DMABuffer.cpp
Labels: core, protocols

#10319 renderer: precompute fullalpha
  src/render/Renderer.cpp
Labels: core, render

#10324 refactor: cshader class to sshader struct
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/Shader.hpp
Labels: core, render

#10303 set fullscreenstate on movetoworkspace
  src/managers/KeybindManager.cpp
Labels: core, managers

#10326 layout: allow interacting with pinned windows when fullscreened
  src/layout/IHyprLayout.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers, layout

#10338 layout: properly assign workspace and monitor when moving a child to the parent
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/layout/IHyprLayout.cpp
Labels: core, desktop, layout

#10289 desktop: cleanup code and use std::ranges
  src/desktop/LayerRule.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
Labels: core, desktop

#10341 socket2: fix order of window events on map
  src/events/Windows.cpp
Labels: core, events

#10344 hyprpm: unbreak build with libc++
  hyprpm/src/helpers/Sys.cpp
Labels: hyprpm

#10345 hyprpm: unbreak install on BSDs
  hyprpm/src/helpers/Sys.cpp
Labels: hyprpm

#10356 renderer: render blur on fade out
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
Labels: core, render, desktop, events

#10364 opengl: optimize shaders and reduce unneeded drawcalls
  src/Compositor.cpp
  src/managers/PointerManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Shader.cpp
  src/render/Shader.hpp
Labels: core, managers, render

#10378 opengl: publicize shader creation/usage functions
  src/render/OpenGL.hpp
Labels: core, render

#10397 opengl: add missing vao for screenshader
  src/render/OpenGL.cpp
Labels: core, render

#10402 input: disallow virtual keyboards from changing LED state
  src/managers/input/InputManager.cpp
Labels: core, managers

#10407 xwayland: do not include xcb.h when xwayland is disabled
  src/xwayland/Dnd.hpp
Labels: core, xwayland

#10415 protocols/hyprland-surface: account for scaled monitor positions
  src/render/pass/SurfacePassElement.cpp
Labels: core, render

#10408 core: drop the legacy renderer
  CMakeLists.txt
  Makefile
  flake.nix
  meson.build
  meson_options.txt
  nix/default.nix
  nix/overlays.nix
  src/debug/CrashReporter.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/helpers/Format.cpp
  src/hyprerror/HyprError.cpp
  src/includes.hpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/render/Framebuffer.cpp
  src/render/OpenGL.cpp
  src/render/Texture.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, debug, protocols, render, helpers, hyprerror

#10417 desktop: prevent layers from dismissing their own seat grabs on map
  src/desktop/LayerSurface.cpp
Labels: core, desktop

#10404 core: Include cstring whenever strncpy is used
  hyprpm/src/core/HyprlandSocket.cpp
Labels: hyprpm

#10429 protocols: simulate mouse movement after activating a toplevel
  src/protocols/ForeignToplevelWlr.cpp
Labels: core, protocols

#10416 input: do not send mouse events when outside of a surface
  src/managers/input/InputManager.cpp
Labels: core, managers

#10418 input: ensure seat grabs from exclusive layers can be dismissed
  src/managers/input/InputManager.cpp
Labels: core, managers

#10435 hyprpm: fix execute permission bit on installed dirs
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

#10455 screencopy: store a fb before permission popup if the permission is pending
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
Labels: core, protocols

#10367 permissions: add permission management for keyboards
  src/config/ConfigManager.cpp
  src/devices/IKeyboard.hpp
  src/managers/input/InputManager.cpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
Labels: core, config, managers, devices

#10497 added wrapping options to renderTexture method
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render

#10484 unhide cursor on tablet events after touch events
  src/managers/input/Tablets.cpp
Labels: core, managers

#10502 hyprpm: ignore pins when adding a package with a git rev
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

#9704 better drag and drop window direction
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

#10527 core: add auto-center arrangements
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.hpp
Labels: core, config, helpers

#10524 snap: option to respect gaps
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
Labels: core, config, layout

#10599 Refactor: Always use `empty()` to check for emptiness.
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/hyprerror/HyprError.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/CursorManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/ProtocolManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/plugins/HookSystem.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, debug, managers, render, desktop, events, helpers, plugins, hyprerror, layout
