Repository hyprwm/Hyprland, pull requests merged in 2025-01, with the labels that each got.

#8928 renderer: fix CRendererHintsPassElement reset duplication issue
  src/render/Renderer.cpp
Labels: core, render

#8929 protocols: fix alpha modifier noncompliance
  src/desktop/WLSurface.hpp
  src/protocols/AlphaModifier.cpp
  src/protocols/AlphaModifier.hpp
  src/render/pass/SurfacePassElement.cpp
Labels: core, managers, protocols, render, desktop

#8921 socket2: add focusedmonv2 event
  src/Compositor.cpp
Labels: core

#8926 master: make loop around optional when cycling
  src/layout/MasterLayout.cpp
  src/layout/MasterLayout.hpp
Labels: core, layout

#8943 feat: add support for supercircular (e.g. squircles) window corner rounding
  example/hyprland.conf
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/config/defaultConfig.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Shader.hpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/pass/BorderPassElement.cpp
  src/render/pass/BorderPassElement.hpp
  src/render/pass/RectPassElement.cpp
  src/render/pass/RectPassElement.hpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/SurfacePassElement.hpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
  src/render/shaders/Border.hpp
  src/render/shaders/Shadow.hpp
  src/render/shaders/Textures.hpp
Labels: core, config, render, desktop

#8870 snap: snap only to windows floating over top of fullscreen window if one exists
  src/layout/IHyprLayout.cpp
Labels: core, layout

#8966 Fix a bunch of issues with dropCurrentBuffer
  src/protocols/core/Compositor.cpp
Labels: core, protocols

#8952 Bug fix for hyprctl --batch doesn't work with exec rules
  src/debug/HyprCtl.cpp
Labels: core, debug

#8940 Add option to show slaves on left in master layout center orientation
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

#8868 core: move parts of the animation system to hyprutils
  CMakeLists.txt
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Popup.cpp
  src/desktop/Subsurface.cpp
  src/desktop/WLSurface.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/events/Windows.cpp
  src/helpers/AnimatedVariable.cpp
  src/helpers/AnimatedVariable.hpp
  src/helpers/BezierCurve.cpp
  src/helpers/BezierCurve.hpp
  src/helpers/Monitor.cpp
  src/helpers/WLClasses.hpp
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/AnimationManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Tablets.cpp
  src/managers/input/Touch.cpp
  src/protocols/CTMControl.cpp
  src/protocols/CTMControl.hpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/DecorationPositioner.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: core, config, debug, managers, protocols, render, desktop, events, helpers, hyprerror, layout

#8715 Support color management protocols
  CMakeLists.txt
  protocols/frog-color-management-v1.xml
  protocols/meson.build
  protocols/xx-color-management-v4.xml
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/WLSurface.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/FrogColorManagement.hpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/ColorManagement.hpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: core, config, managers, protocols, render, desktop

#8988 protocols: fix compilation error
  src/protocols/FrogColorManagement.cpp
Labels: core, protocols

#8987 renderer: don't access hdrMetadata optional if it has no value
  src/render/Renderer.cpp
Labels: core, render

#8962 windows destruction dispatchers
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

#9000 animationmgr: don't warp based on POINTY value
  src/managers/AnimationManager.cpp
Labels: core, managers

#8985 Add tag: to window parameters for matching tag(s) by regex
  src/Compositor.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers

#8965 WIP : honor xdg_toplevel_set_fullscreen output
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/protocols/XDGShell.cpp
  src/protocols/XDGShell.hpp
Labels: core, protocols, desktop, events

#9021 fix: nullptr in forcekillactive when no window is present
  src/managers/KeybindManager.cpp
Labels: core, managers

#8981 Add a periodic donation nag
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/helpers/fs/FsUtils.cpp
  src/helpers/fs/FsUtils.hpp
  src/managers/DonationNagManager.cpp
  src/managers/DonationNagManager.hpp
  src/managers/VersionKeeperManager.cpp
  src/managers/VersionKeeperManager.hpp
Labels: core, config, managers, helpers

#8953 exec(-onec) with rules and execr(-once)
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
Labels: core, config

#9010 fix: previous_per_monitor logic
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/KeybindManager.cpp
Labels: core, managers, desktop, helpers

#9030 animation: fixup adding animvars during ::tick
  src/managers/AnimationManager.cpp
Labels: core, managers

#9033 animations: fix XWayland cursor glitch and refactor skill issues
  src/events/Windows.cpp
  src/managers/XWaylandManager.cpp
Labels: core, managers, events

#9039 Fix include paths.
  src/helpers/Monitor.hpp
Labels: core, helpers

#9040 Fix movefocus fallback for special workspaces
  src/managers/KeybindManager.cpp
Labels: core, managers

#9014 Do not set hdr metadata unless needed
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, protocols, render

#9042 protocols: do not capture cursor in hyprland-toplevel-export without pointer focus
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: core, protocols

#9041 protocols: allow hyprland-toplevel-export to capture hidden windows
  src/protocols/ToplevelExport.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, protocols, render

#9049 protocols: immediately copy toplevel content when ignoreDamage set
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
Labels: core, protocols

#9076 Fix HDR check for FS windows
  src/render/Renderer.cpp
Labels: core, render

#9071 renderer: use cairo for cpu buffer rendering
  src/managers/PointerManager.cpp
Labels: core, managers

#9090 Auto enable wide color gamut in HDR mode
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, render, helpers

#9091 Meson: properly install 'hyprland' symlink
  CMakeLists.txt
  src/meson.build
Labels: core

#9006 nix/module.nix: expand nixos module for configuring hyprland
  nix/module.nix
Labels: Nix

#9118 reserve vector sizes as much as we can
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/managers/KeybindManager.cpp
  src/protocols/DRMLease.cpp
  src/protocols/GlobalShortcuts.cpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/decorations/DecorationPositioner.cpp
  src/xwayland/Dnd.cpp
  src/xwayland/XWM.cpp
Labels: core, managers, protocols, render, desktop, xwayland

#9123 config: fix float animation speeds
  src/config/ConfigManager.cpp
Labels: core, config

#9111 xwayland: support sending clipboard change notification on focus
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, config, xwayland

#9077 Check that Xwayland exists before enabling it
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/xwayland/XWayland.cpp
  src/xwayland/XWayland.hpp
Labels: core, config, xwayland

#9045 feat: cyclenext, visible parameter
  src/Compositor.cpp
  src/Compositor.hpp
  src/managers/KeybindManager.cpp
Labels: core, managers, desktop

#9137 xwayland: fix clipboard mime name and atom mismatch
  src/xwayland/XDataSource.cpp
Labels: core, xwayland

#9134 xwayland: fix sending large clipboard data
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

#8980 GPU hotplug support
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
Labels: core, managers

#9132 tablet: send `motion`s on tip events
  src/managers/input/Tablets.cpp
Labels: core, managers

#9157 datadevice: do the unfocus surface stuff before dndActive is true
  src/managers/SeatManager.cpp
Labels: core, managers

#9156 layershell: check if layer is valid
  src/protocols/LayerShell.cpp
Labels: core, protocols

#9149 animation: fix borderangle once
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
Labels: core, desktop

#9161 compositor: fix incorrect cast, use lambda capture instead
  src/Compositor.cpp
Labels: core

#9160 window: only set m_iMonitorMovedFrom, when moving to a different monitor
  src/Compositor.cpp
  src/desktop/Window.cpp
Labels: core, desktop

#9166 config/ConfigWatcher.cpp: add missing include needed for clang
  src/config/ConfigWatcher.cpp
Labels: core, config

#9129 input: pass touch events to lock screens
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/managers/input/InputManager.hpp
  src/managers/input/Touch.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, managers, render

#9179 xwayland: fix pointer mismatches with multiple monitors
  src/desktop/Window.cpp
Labels: core, desktop

#9178 window: only set m_iMonitorMovedFrom when the workspace is visible
  src/desktop/Window.cpp
Labels: core, desktop

#9183 update groups on movewindow
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
Labels: core, layout

#9193 xwayland: send synthetic configure events
  src/xwayland/XSurface.cpp
Labels: core, xwayland

#9197 Unbreak build on FreeBSD via libinotify-kqueue
  CMakeLists.txt
  meson.build
  src/meson.build
Labels: core

#9190 xwayland: respect window size set by configure requests
  src/managers/XWaylandManager.cpp
  src/xwayland/XWM.cpp
Labels: core, managers, xwayland

#9210 fix(render): calculate UV using both pixel and monitor dimensions
  src/render/OpenGL.cpp
Labels: core, render

#9196 change window grab cursor to closed hand
  src/layout/IHyprLayout.cpp
Labels: core, layout

#9233 core,hyprctl: clang, clang-tidy, typo fixes and dtors changes
  hyprctl/main.cpp
  src/Compositor.cpp
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/desktop/Subsurface.cpp
  src/desktop/Subsurface.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/hyprerror/HyprError.cpp
  src/hyprerror/HyprError.hpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/layout/MasterLayout.hpp
  src/managers/EventManager.hpp
  src/managers/XCursorManager.hpp
  src/protocols/FocusGrab.cpp
  src/protocols/FocusGrab.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprBorderDecoration.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
  src/render/decorations/IHyprWindowDecoration.cpp
  src/render/decorations/IHyprWindowDecoration.hpp
Labels: hyprctl, core, config, managers, protocols, render, desktop, helpers, hyprerror, layout

#9122 begin using CFileDescriptor from hyprutils
  src/config/ConfigWatcher.cpp
  src/config/ConfigWatcher.hpp
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/managers/EventManager.cpp
  src/managers/EventManager.hpp
  src/managers/KeybindManager.cpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/protocols/DRMLease.cpp
  src/protocols/DRMLease.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/DataDeviceWlr.cpp
  src/protocols/DataDeviceWlr.hpp
  src/protocols/GammaControl.cpp
  src/protocols/InputMethodV2.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/PrimarySelection.cpp
  src/protocols/PrimarySelection.hpp
  src/protocols/SecurityContext.cpp
  src/protocols/SecurityContext.hpp
  src/protocols/VirtualKeyboard.cpp
  src/protocols/VirtualKeyboard.hpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/protocols/core/Seat.cpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/protocols/types/DataDevice.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
  src/xwayland/XDataSource.cpp
  src/xwayland/XDataSource.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, config, debug, managers, protocols, render, devices, helpers, xwayland

#9238 fix(xwayland): handle window coords correctly
  src/desktop/Window.cpp
Labels: core, desktop

#9246 preferred mode now trys first 3 modes if preferred fails before erroring
  src/helpers/Monitor.cpp
Labels: core, helpers

#9253 fix(xwayland): prevent invalid window configurations for X11 apps
  src/desktop/Window.cpp
Labels: core, desktop

#9223 Extract IPC code to separate method
  hyprctl/main.cpp
Labels: hyprctl

#9247 desktop: fix segfault when destroying a partially create layer surface
  src/desktop/LayerSurface.cpp
Labels: core, desktop

#9259 fix(xwayland): correct pointer coordinate mismatch in X11 windows
  src/desktop/Window.cpp
Labels: core, desktop

#9217 perf(render): enforce framebuffer offloading and remove introspection toggle
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/pass/Pass.cpp
  src/render/pass/Pass.hpp
Labels: core, config, render
