Repository hyprwm/Hyprland, pull requests merged in 2025-04, with the labels that each got.

#9815 Don't force default cursor on config reload/monitor reconfigure
  src/managers/CursorManager.cpp
Labels: core, managers

#9780 layout: center floating window at cursor when picked up from fullscreen
  src/layout/IHyprLayout.cpp
Labels: core, layout

#9781 window: don't deactivate unfocused xwayland windows in groups
  src/desktop/Window.cpp
Labels: core, desktop

#9829 versionkeeper: create version file if not present
  src/managers/VersionKeeperManager.cpp
Labels: core, managers

#9836 nix module: load plugins using exec-once
  nix/module.nix
Labels: Nix

#9835 ctm: fix crash when finishing ctm progress with a destroyed monitor
  src/protocols/CTMControl.cpp
Labels: core, protocols

#9848 compositor: fix crash when moving a workspace to a monitor with size 0x0
  src/Compositor.cpp
Labels: core

#9895 DataDevice: position icon at cursor hotspot
  src/protocols/core/DataDevice.cpp
Labels: core, managers, protocols

#9937 layout: properly track floating window position
  src/layout/IHyprLayout.cpp
Labels: core, layout

#9927 swipe: fix swiping onto a new workspace bound to another monitor (#8176)
  src/managers/input/Swipe.cpp
Labels: core, managers

#9982 helpers: unbreak build on BSDs
  src/helpers/AsyncDialogBox.cpp
Labels: core, helpers

#9984 input/layers: Fix exclusive LS focus / refocus after unmap
  src/desktop/LayerSurface.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, managers, desktop

#9805 core: refactor and improve surface commit
  src/helpers/Monitor.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/ToplevelExport.cpp
  src/protocols/ToplevelExport.hpp
  src/protocols/Viewporter.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/render/Renderer.cpp
Labels: core, protocols, render, helpers

#9986 CursorManager: Store cursor pixel data retrieved from X/HC as a copy.
  src/managers/CursorManager.cpp
  src/managers/CursorManager.hpp
Labels: core, managers

#9952 xwayland: sync primary selection with wayland
  src/xwayland/XDataSource.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, managers, xwayland

#9992 xdg-shell: fix some null refs
  src/desktop/Window.cpp
  src/managers/XWaylandManager.cpp
Labels: core, managers, desktop, layout

#9996 remove renderer finalDamage since it's unused
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/Pass.cpp
Labels: core, render

#9997 fix crash in data device on shutdown
  src/protocols/core/DataDevice.cpp
Labels: core, protocols

#9945 input: add warp_on_toggle_special
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

#10039 Revert "pass: remove renderer finalDamage since it's unused (#9996)"
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/Pass.cpp
Labels: core, render

#10050 screencopy: Handle explicit sync failure
  src/protocols/Screencopy.cpp
Labels: core, protocols

#9839 binds: drag_threshold for click/drag isolation
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/input/InputManager.hpp
Labels: core, config, managers, layout

#10055 fix surface opaque and input regions not being updated
  src/protocols/core/Compositor.cpp
Labels: core, protocols

#9838 fix(dwindle): ignore fullscreen window for positioning when use_active_for_splits=false
  src/Compositor.cpp
  src/desktop/Window.hpp
  src/layout/DwindleLayout.cpp
Labels: core, desktop, layout

#10017 IHyprLayout: respect minimum window size
  src/layout/IHyprLayout.cpp
Labels: core, layout

#10063 IHyprLayout: center floating window at cursor when picked up from fullscreen
  src/layout/IHyprLayout.cpp
Labels: core, layout

#10054 layerSurface: warp position and size before taking a snapshot
  src/desktop/LayerSurface.cpp
Labels: core, desktop

#10068 fix: 1x1 framebuffer creation
  src/render/Framebuffer.cpp
Labels: core, render

#9874 fix: disconnected monitors are reconnected to an empty workspace
  src/Compositor.cpp
  src/Compositor.hpp
  src/helpers/Monitor.cpp
Labels: core, helpers

#9566 allow incrementing window props
  src/config/ConfigValue.cpp
  src/config/ConfigValue.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowOverridableVar.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/hyprerror/HyprError.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/CursorManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Touch.cpp
  src/protocols/CTMControl.cpp
  src/protocols/XDGOutput.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, config, managers, protocols, render, desktop, events, helpers, hyprerror, layout

#9806 core: wait for dmabuf readiness
  src/helpers/Monitor.cpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/DMABuffer.hpp
Labels: core, managers, protocols, render, helpers

#10064 InputManager: add config option to disable keybinds
  src/config/ConfigManager.cpp
  src/devices/IKeyboard.hpp
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, config, managers, devices

#10111 render, helpers: Call OpenGL destroyMonitorResources on disconnect
  src/helpers/Monitor.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, render, helpers

#10095 ctm: enable fade animation on nvidia driver versions 575 and above
  src/helpers/MiscFunctions.cpp
  src/helpers/MiscFunctions.hpp
  src/protocols/CTMControl.cpp
  src/render/Renderer.cpp
Labels: core, protocols, render, helpers

#10096 fix PointerConstraints activation occurring before attached to InputManager
  src/protocols/PointerConstraints.cpp
Labels: core, protocols

#10114 Fix CCompositor::getMonitorInDirection does not return focused monitor
  src/Compositor.cpp
Labels: core

#10124 Refactor config classes vars
  src/Compositor.cpp
  src/config/ConfigDataValues.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/desktop/Window.cpp
  src/devices/IKeyboard.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
  src/main.cpp
  src/managers/KeybindManager.cpp
  src/managers/input/Touch.cpp
  src/protocols/OutputManagement.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, debug, managers, protocols, render, desktop, devices, helpers, layout

#10110 input(tablet): naive window refocusing
  src/managers/input/Tablets.cpp
Labels: core, managers

#10102 managers: allow executing binds not bound to a key
  src/managers/KeybindManager.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers

#9994 InputManager: add nofollowmouse
  src/desktop/Window.hpp
  src/managers/input/InputManager.cpp
Labels: core, managers, desktop

#9617 Groupbar: Add options for setting group bar title font weight (and indicator gap)
  src/config/ConfigDataValues.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: core, config, render

#10149 layers: refactor class member vars
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/desktop/Subsurface.cpp
  src/desktop/WLSurface.cpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/managers/AnimationManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Touch.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, config, debug, managers, render, desktop, events, helpers

#10167 workspaces: refactor class member vars
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/Popup.cpp
  src/desktop/Rule.cpp
  src/desktop/Rule.hpp
  src/desktop/Subsurface.cpp
  src/desktop/Subsurface.hpp
  src/desktop/WLSurface.cpp
  src/desktop/WLSurface.hpp
  src/desktop/Window.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/events/Windows.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Swipe.cpp
  src/managers/input/Touch.cpp
  src/protocols/AlphaModifier.cpp
  src/protocols/HyprlandSurface.cpp
  src/protocols/PointerConstraints.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: core, config, debug, managers, protocols, render, desktop, events, helpers, layout

#10163 Fix order of urgency flag and event emmission
  src/desktop/Window.cpp
Labels: core, desktop

#9793 layerrules: add abovelock to render above lockscreen
  src/Compositor.cpp
  src/Compositor.hpp
  src/desktop/LayerRule.cpp
  src/desktop/LayerRule.hpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/managers/input/InputManager.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, managers, render, desktop

#10074 helpers: properly support next/prev for workspace switching
  src/helpers/MiscFunctions.cpp
Labels: core, helpers

#10168 windows: refactor class member vars
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/desktop/Popup.cpp
  src/desktop/Subsurface.cpp
  src/desktop/WLSurface.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/desktop/Workspace.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/ANRManager.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/XWaylandManager.cpp
  src/managers/input/IdleInhibitor.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Tablets.cpp
  src/managers/input/Touch.cpp
  src/plugins/PluginAPI.cpp
  src/protocols/ForeignToplevel.cpp
  src/protocols/ForeignToplevelWlr.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/PointerConstraints.cpp
  src/protocols/ShortcutsInhibit.cpp
  src/protocols/TearingControl.cpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/DecorationPositioner.cpp
  src/render/pass/Pass.cpp
  src/render/pass/SurfacePassElement.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWayland.cpp
Labels: core, config, debug, managers, protocols, render, desktop, events, helpers, plugins, xwayland, layout

#10184 PermissionSystem: add perms for plugin loading
  example/hyprland.conf
  hyprpm/src/core/HyprlandSocket.cpp
  hyprpm/src/core/HyprlandSocket.hpp
  hyprpm/src/core/PluginManager.cpp
  src/config/ConfigManager.cpp
  src/config/defaultConfig.hpp
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/managers/permissions/DynamicPermissionManager.hpp
  src/plugins/PluginSystem.cpp
  src/plugins/PluginSystem.hpp
Labels: core, config, debug, managers, hyprpm, plugins

#10206 devices: refactor class member vars
  src/debug/HyprCtl.cpp
  src/devices/IHID.hpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
  src/devices/IPointer.hpp
  src/devices/ITouch.hpp
  src/devices/Keyboard.cpp
  src/devices/Keyboard.hpp
  src/devices/Mouse.cpp
  src/devices/Mouse.hpp
  src/devices/Tablet.cpp
  src/devices/Tablet.hpp
  src/devices/TouchDevice.cpp
  src/devices/TouchDevice.hpp
  src/devices/VirtualKeyboard.cpp
  src/devices/VirtualKeyboard.hpp
  src/devices/VirtualPointer.cpp
  src/devices/VirtualPointer.hpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/managers/SeatManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/Tablets.cpp
  src/managers/input/Touch.cpp
  src/protocols/InputMethodV2.cpp
  src/protocols/Tablet.cpp
  src/protocols/core/Seat.cpp
Labels: core, debug, managers, protocols, devices

#9814 Use precomputed primaries conversion
  src/protocols/ColorManagement.cpp
  src/protocols/types/ColorManagement.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/Shader.hpp
  src/render/shaders/glsl/CM.frag
  src/render/shaders/glsl/CM.glsl
  src/render/shaders/glsl/blurprepare.frag
  src/render/shaders/glsl/border.frag
  src/render/shaders/glsl/shadow.frag
Labels: core, protocols, render

#9851 render:send_content_type setting
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

#10210 feat(config): natural increase and decrease of brightness
  example/hyprland.conf
  src/config/defaultConfig.hpp
Labels: core, config

#10213 DonationNag: ask after each major update
  src/managers/DonationNagManager.cpp
  src/managers/DonationNagManager.hpp
Labels: core, managers

#9807 render: properly release rendered buffers
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/Screencopy.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
  src/render/pass/SurfacePassElement.cpp
Labels: core, managers, protocols, render, helpers
