Repository hyprwm/Hyprland, pull requests merged in 2025-07, with the labels that each got.

#10889 sessionlock: restore cursor if hidden on unlock
  src/protocols/SessionLock.cpp
Labels: core, protocols

#10894 buffer: check if buffer fd already readable
  src/protocols/types/DMABuffer.cpp
Labels: core, protocols

#10888 opengl: add missing skipcm if case
  src/render/OpenGL.cpp
Labels: core, render

#10907 hyprpm: print all dependencies that are missing
  hyprpm/src/core/PluginManager.cpp
Labels: hyprpm

#10920 handle setGroupCurrent properly on fulscreen groups
  src/desktop/Window.cpp
Labels: core, desktop

#10955 turn on -Wpedantic and name the anonymous struct
  CMakeLists.txt
  src/protocols/DRMSyncobj.cpp
  src/protocols/Viewporter.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
Labels: core, protocols

#10957 plugins: make currentWindow available to plugins in RENDER_PRE_WINDOW
  src/render/Renderer.cpp
Labels: core, render

#10960 opengl: avoid reallocations
  src/render/OpenGL.cpp
Labels: core, render

#10970 compositor: fix race to finish on null buffer
  src/protocols/core/Compositor.cpp
Labels: core, protocols

#10821 Added a pointer position uniform to the screen shader.
  CMakeLists.txt
  meson.build
  src/render/OpenGL.cpp
  src/render/Shader.hpp
Labels: core, render

#10865 session-lock: don't render workspaces when locked
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/AnimationManager.cpp
  src/managers/SessionLockManager.cpp
  src/managers/SessionLockManager.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, managers, render

#11019 renderer: use makeUnique for session-lock render passes
  src/render/Renderer.cpp
Labels: core, render

#10987 snap: fix `border_overlap` option for monitor snapping
  hyprtester/plugin/src/main.cpp
  hyprtester/src/shared.hpp
  hyprtester/src/tests/main/snap.cpp
  hyprtester/test.conf
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
Labels: core, layout

#10871 make hyprctl animations print details about bezier curves (#10413)
  hyprtester/src/tests/main/animations.cpp
  src/debug/HyprCtl.cpp
Labels: core, debug

#11076 fix: support pipes for wlr-gamma-protocol
  src/protocols/GammaControl.cpp
Labels: core, protocols

#11077 opengl: detect android fence support and disable explicit if it's missing
  src/helpers/MonitorFrameScheduler.cpp
  src/helpers/MonitorFrameScheduler.hpp
  src/managers/ProtocolManager.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
Labels: core, managers, render, helpers

#11128 Fix: Replace unsafe strcpy with snprintf
  src/debug/HyprCtl.cpp
  src/render/OpenGL.cpp
Labels: core, debug, render

#11120 set value and goal for window size and position on setGroupCurrent
  src/desktop/Window.cpp
  src/layout/IHyprLayout.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers, desktop, layout

#11084 renderer: implement wp-color-management-v1 transfer functions
  src/protocols/ColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/render/shaders/glsl/CM.glsl
Labels: core, protocols, render

#11136 protocols/subcompositor: fix subsurface sorting
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Subcompositor.cpp
Labels: core, protocols

#11185 CTM: check for finite value aswell
  src/protocols/CTMControl.cpp
Labels: core, protocols

#11184 swipe: fix workspace swipe not rendering last frame if target ws is on edge
  src/managers/input/Swipe.cpp
Labels: core, managers

#11194 core: move workspace ptrs to weak
  CMakeLists.txt
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
  src/desktop/Workspace.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
  src/managers/input/Swipe.cpp
  src/protocols/ExtWorkspace.cpp
  src/render/Renderer.cpp
Labels: core, config, debug, managers, protocols, render, desktop, helpers

#11213 ci: correct tar command for xz compression & fix typos
  .github/workflows/ci.yaml
  flake.nix
  hyprctl/hyprctl.fish
  hyprctl/hyprctl.usage
  hyprctl/hyprctl.zsh
  hyprpm/hyprpm.fish
  hyprpm/hyprpm.usage
  hyprpm/hyprpm.zsh
  hyprpm/src/core/PluginManager.cpp
  hyprtester/src/tests/main/workspaces.cpp
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/desktop/Window.cpp
  src/events/Windows.cpp
  src/helpers/AsyncDialogBox.cpp
  src/helpers/Monitor.cpp
  src/layout/DwindleLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/AnimationManager.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
  src/managers/PointerManager.cpp
  src/managers/SessionLockManager.cpp
  src/managers/XCursorManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/permissions/DynamicPermissionManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/DRMLease.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/FocusGrab.cpp
  src/protocols/FocusGrab.hpp
  src/protocols/GlobalShortcuts.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/Screencopy.cpp
  src/protocols/SessionLock.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/types/SurfaceState.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/shaders/glsl/border.frag
  src/render/shaders/glsl/rounding.glsl
  src/xwayland/Server.cpp
  src/xwayland/XDataSource.cpp
Labels: hyprctl, core, config, managers, protocols, render, hyprpm, desktop, events, helpers, xwayland, layout

#11232 fix: include decorations in visibleOnMonitor calculation
  src/desktop/Window.cpp
Labels: core, desktop

#11219 input: lock focus for tablet when down
  src/managers/input/Tablets.cpp
Labels: core, managers

#11239 core: fix workspace persistence tracking
  CMakeLists.txt
  hyprtester/src/tests/main/persistent.cpp
  hyprtester/test.conf
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
Labels: core, debug, desktop

#11267 Layer surface check monitor is not null on animation update
  src/desktop/LayerSurface.cpp
Labels: core, desktop

#10980 renderer: use CRegion foreach over getRects
  src/protocols/core/Compositor.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/Texture.cpp
Labels: core, protocols, render

#11270 dnd: drop drag-and-drop on tablet pen tip up
  src/managers/input/Tablets.cpp
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
Labels: core, managers, protocols

#11288 fix: add climits includes
  src/helpers/MiscFunctions.cpp
  src/helpers/Monitor.cpp
Labels: core, helpers

#11286 opengl: improve render fn arg clarity
  src/managers/PointerManager.cpp
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
  src/render/pass/BorderPassElement.cpp
  src/render/pass/Pass.cpp
  src/render/pass/RectPassElement.cpp
  src/render/pass/SurfacePassElement.cpp
  src/render/pass/TexPassElement.cpp
Labels: core, managers, protocols, render

#11294 screencopy: un-hdr screencopy buffers for cm-unaware clients
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
Labels: core, protocols, render
