Repository hyprwm/Hyprland, pull requests merged in 2025-10, with the labels that each got.

#11877 Remove unneeded preferred image description ref
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
Labels: core, protocols

#11891 renderer: optimize border drawcalls
  src/render/OpenGL.cpp
Labels: core, render

#11900 CM without shader settings
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/Renderer.cpp
Labels: core, config, protocols, render, helpers

#11914 Fix primaries to proto scale
  src/protocols/ColorManagement.cpp
Labels: core, protocols

#11931 debug: fix data race in Debug::log()
  src/debug/Log.cpp
  src/debug/Log.hpp
Labels: core, debug

#11896 make wl_surface::frame follow pending states
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/render/Texture.cpp
Labels: core, protocols, render

#11893 dispatchers: added setfullscreen, unsetfullscreen and setfullscreenstate
  hyprtester/src/tests/main/misc.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers
