Repository hyprwm/Hyprland, pull requests merged in 2025-03, with the labels that each got.

#9513 Provide a non-zero time for button release triggered during window unmap
  src/managers/input/InputManager.cpp
Labels: core, managers

#9516 Fix fullscreening in sober
  src/Compositor.cpp
Labels: core

#9221 nix/module: toHyprconf -> toHyprlang
  nix/lib.nix
  nix/module.nix
Labels: Nix

#9521 protocols: Ensure protocol dtors are called in ProtocolManager dtor
  src/managers/ProtocolManager.cpp
Labels: core, managers

#9481 feat(input): add flip_x and flip_y for touchpad
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/devices/IPointer.hpp
  src/devices/Mouse.cpp
  src/devices/VirtualPointer.cpp
  src/managers/input/InputManager.cpp
  src/protocols/VirtualPointer.cpp
Labels: core, config, managers, protocols, devices

#9530 feat(ipc): add activespecialv2
  src/helpers/Monitor.cpp
Labels: core, helpers

#9536 Error handling improvements, magic number replacement and removed unused header files.
  hyprctl/main.cpp
Labels: hyprctl

#9547 protocols: Fix cursor shape protocol valid shape check
  src/protocols/CursorShape.cpp
Labels: core, protocols

#9529 fix(input): replace not mouse check
  src/devices/IPointer.hpp
  src/devices/Mouse.cpp
  src/managers/input/InputManager.cpp
Labels: core, managers, devices

#9537 feat(master): add option to keep master window position
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/MasterLayout.cpp
Labels: core, config, layout

#9551 fix(keybinds): prevent crash when executing movewindoworgroup
  src/managers/KeybindManager.cpp
Labels: core, managers

#9563 protocols: Fix blocked color management get_information
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/XXColorManagement.cpp
  src/protocols/XXColorManagement.hpp
Labels: core, protocols

#9422 feat(window): add option to allow size persistence between app launches
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/layout/IHyprLayout.cpp
Labels: hyprctl, core, config, debug, managers, protocols, render, hyprpm, desktop, xwayland, layout

#9569 fix(window): store floating size on close instead of resize
  src/desktop/Window.cpp
  src/events/Windows.cpp
Labels: core, desktop, events

#9572 fix(compositor): prevent crash when monitor list is empty
  src/Compositor.cpp
Labels: core

#9556 fix direct scanout glitches
  src/helpers/Monitor.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/render/Renderer.cpp
Labels: core, protocols, render, helpers

#9573 update decorations on lockgroups
  src/managers/KeybindManager.cpp
Labels: core, managers

#9578 Allow adjusting gap size for groupbar
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

#9506 Simple color management
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/ColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Shader.hpp
  src/render/pass/SurfacePassElement.cpp
  src/render/shaders/CM.frag
  src/render/shaders/Textures.hpp
Labels: core, config, protocols, render, helpers

#9613 nix: remove wayland-protocols bump
  flake.lock
  nix/overlays.nix
Labels: Nix

#9437 syncobj: use eventfd instead of stalling fd checks
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/sync/SyncReleaser.cpp
  src/helpers/sync/SyncReleaser.hpp
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/LinuxDMABUF.hpp
  src/protocols/SinglePixel.cpp
  src/protocols/SinglePixel.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/protocols/types/Buffer.cpp
  src/protocols/types/Buffer.hpp
  src/protocols/types/DMABuffer.cpp
  src/protocols/types/SurfaceState.hpp
  src/protocols/types/WLBuffer.cpp
  src/protocols/types/WLBuffer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: core, config, protocols, render, helpers

#9606 Fix clicking through groupbar tabs
  src/managers/input/InputManager.cpp
Labels: core, managers

#9629 Fix window offset when a window is dragged while a workspace is animated
  src/desktop/Window.cpp
Labels: core, desktop

#9627 syncobj: dont crash compositor on protocol errors
  src/protocols/DRMSyncobj.cpp
Labels: core, protocols

#9648 fix hw cursor not being committed cause of same main buffer in DS
  src/helpers/Monitor.cpp
Labels: core, helpers

#9561 groupbar: remove recursive window recalc
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

#9645 managers: Use primary backend for cursor swapchain
  CMakeLists.txt
  meson.build
  src/managers/PointerManager.cpp
Labels: core, managers

#9646 misc: Fix compiler warnings
  src/helpers/Monitor.cpp
  src/macros.hpp
  src/plugins/PluginAPI.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/PointerConstraints.hpp
  src/protocols/XDGActivation.hpp
  src/protocols/core/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/XWM.cpp
Labels: core, protocols, helpers, plugins, xwayland

#9653 monitor: Optimize direct scanout damage
  src/helpers/Monitor.cpp
Labels: core, helpers

#9654 renderer: only commit hw cursor stuff if needed
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/managers/PointerManager.cpp
Labels: core, managers, helpers

#9651 renderer: delete useless ifdefs
  src/render/Renderer.cpp
Labels: core, render

#9668 ci: Fail on warnings
  .github/workflows/ci.yaml
  src/plugins/PluginAPI.hpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/XXColorManagement.cpp
Labels: core, protocols, plugins

#9620 dmabuf: pop buffer on failure
  src/protocols/LinuxDMABUF.cpp
Labels: core, protocols

#9615 XWayland: restore the abstract socket, make it optional, extend the default permissions for the regular X Unix socket
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/xwayland/Server.cpp
Labels: core, config, xwayland

#9675 syncobj: restore SHM buffer reset
  src/helpers/Monitor.hpp
  src/protocols/core/Compositor.cpp
  src/render/Renderer.cpp
Labels: core, protocols, render, helpers

#9677 types: Upgrade buffer ref from WP to SP
  src/helpers/Monitor.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/Buffer.hpp
  src/render/Renderer.cpp
Labels: core, protocols, render, helpers

#9334 Fix DS and VRR automation
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/Renderer.cpp
Labels: core, config, render

#9689 syncobj: store CDRMSyncobjTimelineResource as SP
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
Labels: core, protocols, helpers

#9697 screencopy, render: Use explicit sync for screencopy
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/Screencopy.cpp
  src/protocols/Screencopy.hpp
  src/protocols/core/Compositor.cpp
  src/render/Renderer.cpp
Labels: core, protocols, render, helpers

#9694 hyprpm: return 1 when plugins are outdated
  hyprpm/src/main.cpp
Labels: hyprpm

#9678 core: Correctly track SHM buffer damage
  src/desktop/WLSurface.cpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/Viewporter.cpp
  src/protocols/XDGShell.cpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
  src/protocols/types/SurfaceState.cpp
  src/protocols/types/SurfaceState.hpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/xwayland/XSurface.cpp
Labels: core, protocols, render, desktop, events, helpers, xwayland

#9698 Fix cm_fs_passthrough
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, config, render

#9700 core: Fix dropping cursor buffer data early
  src/protocols/core/Compositor.cpp
  src/protocols/core/Seat.cpp
Labels: core, protocols

#9706 Simplify and fix hdr metadata setting
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
Labels: core, render

#9715 xwl: dont close the fd to early
  src/xwayland/Server.cpp
  src/xwayland/Server.hpp
Labels: core, xwayland

#9599 keybinds: add sendkeystate
  hyprctl/hyprctl.bash
  hyprctl/hyprctl.fish
  hyprctl/hyprctl.usage
  hyprctl/hyprctl.zsh
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: hyprctl, core, managers

#9731 Groupbar: apply scaling factor to text
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, render

#9734 pass: remove unusued timeline in texpass
  src/managers/PointerManager.cpp
  src/managers/PointerManager.hpp
  src/render/pass/TexPassElement.cpp
  src/render/pass/TexPassElement.hpp
Labels: core, managers, render

#9743 fix minor ubsan errors
  src/protocols/XDGShell.cpp
  src/render/OpenGL.cpp
Labels: core, protocols, render

#9763 core: Don't damage the entire surface every frame
  src/protocols/core/Compositor.cpp
Labels: core, protocols

#9600 Extract shaders from source
  .gitignore
  CMakeLists.txt
  meson.build
  scripts/generateShaderIncludes.sh
  src/debug/HyprCtl.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/Shader.hpp
  src/render/Shaders.hpp
  src/render/shaders/SharedValues.hpp
  src/render/shaders/Textures.hpp
  src/render/shaders/glsl/CM.frag
  src/render/shaders/glsl/CM.glsl
  src/render/shaders/glsl/blur1.frag
  src/render/shaders/glsl/blur2.frag
  src/render/shaders/glsl/blurfinish.frag
  src/render/shaders/glsl/blurfinish_legacy.frag
  src/render/shaders/glsl/blurprepare.frag
  src/render/shaders/glsl/blurprepare_legacy.frag
  src/render/shaders/glsl/border.frag
  src/render/shaders/glsl/border_legacy.frag
  src/render/shaders/glsl/ext.frag
  src/render/shaders/glsl/glitch.frag
  src/render/shaders/glsl/passthru.frag
  src/render/shaders/glsl/quad.frag
  src/render/shaders/glsl/rgba.frag
  src/render/shaders/glsl/rgbamatte.frag
  src/render/shaders/glsl/rgbx.frag
  src/render/shaders/glsl/rounding.glsl
  src/render/shaders/glsl/shadow.frag
  src/render/shaders/glsl/shadow_legacy.frag
  src/render/shaders/glsl/tex.vert
  src/render/shaders/glsl/tex300.vert
  src/render/shaders/glsl/tex320.vert
Labels: core, config, debug, managers, protocols, render, helpers, assets

#9791 opengl: check for g_pHyprOpengl pointer
  src/render/OpenGL.cpp
Labels: core, render

#9776 protocols: Don't update hdr metadata if image description is unchanged
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/XXColorManagement.cpp
Labels: core, protocols

#9789 synctimeline: check if fd is readable before wait
  src/helpers/sync/SyncTimeline.cpp
Labels: core, helpers

#9728 Config option: binds:hide_special_on_workspace_change
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

#9788 Fix matching monitor by description to allow space prefix
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
Labels: core, config, helpers

#9772 Fix the non-working tearing #9429
  src/desktop/Window.cpp
Labels: core, render, desktop

#9778 core: fix artifacts when fullscreening
  src/Compositor.cpp
Labels: core

#9782 anr: make pings configurable
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
Labels: core, config, managers
