Repository hyprwm/Hyprland, pull requests merged in 2025-06, with the labels that each got.

#10569 Refactored functions in XWM.cpp
  src/xwayland/XWM.cpp
Labels: core, xwayland

#10582 Fixes #10537
  src/layout/IHyprLayout.cpp
Labels: core, events, layout

#9360 keybinds: movewindow respect gaps out for floating windows
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers

#10588 config: add group: selector
  src/config/ConfigManager.cpp
  src/desktop/WindowRule.hpp
Labels: core, config, desktop

#10660 Restore auto-center-*
  src/config/ConfigManager.cpp
Labels: core, config

#10664 Refactor hyprctl/main.cpp: Remove exceptions, use modern error handling
  hyprctl/main.cpp
Labels: hyprctl

#10672 Don’t skip the new monitor rule if only autoDir changed.
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
Labels: core, helpers

#10673 Use `using` instead of `#define` to alias smart pointers
  src/helpers/memory/Memory.hpp
Labels: core, helpers

#10675 Fix incorrect cursor position when screencopy region with monitor scaling
  src/protocols/Screencopy.cpp
Labels: core, protocols

#10674 Fix incorrect noscreenshare positions with monitor scaling
  src/protocols/Screencopy.cpp
Labels: core, protocols

#10671 fix: hyprland exiting with code 1 when there is a negative value with a comma behind it
  hyprctl/main.cpp
Labels: hyprctl

#10687 Fix typo
  hyprpm/src/main.cpp
Labels: hyprpm

#10650 Improve ultrawide support for dwindle layout
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/layout/DwindleLayout.cpp
Labels: core, config, layout

#10706 hyprpm: check version and update automatically on add
  hyprpm/src/main.cpp
Labels: hyprpm

#10723 protocols: whitelist wp_color_manager_v1
  src/managers/ProtocolManager.cpp
Labels: core, managers

#10099 drm-lease: Add Multi-GPU Support
  src/helpers/Monitor.cpp
  src/managers/ProtocolManager.cpp
  src/protocols/DRMLease.cpp
  src/protocols/DRMLease.hpp
Labels: core, managers, protocols, helpers

#10759 asyncDialogBox: lock box in fdWrite to prevent a uaf
  src/helpers/AsyncDialogBox.cpp
  src/helpers/AsyncDialogBox.hpp
Labels: core, helpers

#10667 Add config options to color inactive and locked groupbar titles
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/decorations/CHyprGroupBarDecoration.hpp
Labels: core, config, render

#10763 Fix: Errors in previous refactor
  src/xwayland/XWM.cpp
Labels: core, xwayland

#10773 Fix wrong surface local coord for layer surface above an xwayland window
  src/managers/input/InputManager.cpp
Labels: core, managers

#10786 Fix crash when copying from wayland to xwayland
  src/protocols/PrimarySelection.cpp
  src/xwayland/Dnd.cpp
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, protocols, xwayland

#10757 reduce a lot of glcalls and cache various states
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/hyprerror/HyprError.cpp
  src/macros.hpp
  src/render/Framebuffer.cpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Shader.cpp
  src/render/Shader.hpp
  src/render/Texture.cpp
  src/render/Texture.hpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
  src/render/shaders/glsl/blur1.frag
  src/render/shaders/glsl/blur2.frag
  src/render/shaders/glsl/blurfinish_legacy.frag
  src/render/shaders/glsl/blurprepare_legacy.frag
  src/render/shaders/glsl/border_legacy.frag
  src/render/shaders/glsl/ext.frag
  src/render/shaders/glsl/glitch.frag
  src/render/shaders/glsl/passthru.frag
  src/render/shaders/glsl/quad.frag
  src/render/shaders/glsl/rgba.frag
  src/render/shaders/glsl/rgbamatte.frag
  src/render/shaders/glsl/rgbx.frag
  src/render/shaders/glsl/shadow_legacy.frag
  src/render/shaders/glsl/tex.vert
  src/render/shaders/glsl/tex300.vert
  src/render/shaders/glsl/tex320.vert
Labels: core, debug, render, hyprerror

#10852 Use parseScale for monitorv2
  src/config/ConfigManager.cpp
Labels: core, config

#10816 fix(renderer): clamp rounding_power
  src/desktop/Window.cpp
Labels: core, desktop

#10870 screencopy: fix improper box calculations for transforms
  src/protocols/Screencopy.cpp
Labels: core, protocols
