Repository hyprwm/Hyprland, pull requests merged in 2025-08, with the labels that each got.

#11306 Fix Presentation time proto version
  src/managers/ProtocolManager.cpp
Labels: core, managers

#11305 dwindle: fix single_window_aspect_ratio not updating with config reload
  src/layout/DwindleLayout.cpp
Labels: core, layout

#11276 Include physical monitor size in IPC monitor info
  src/debug/HyprCtl.cpp
Labels: core, debug

#11350 descriptions: fix bad json output
  hyprtester/src/tests/main/hyprctl.cpp
  nix/tests/default.nix
  src/config/ConfigManager.cpp
  src/debug/HyprCtl.cpp
Labels: core, config, debug

#11390 tablet: do not lock focus when dnd-ing
  src/managers/input/Tablets.cpp
Labels: core, managers

#11368 Hardened config logic against Time-Of-Check race conditions
  src/config/ConfigManager.cpp
Labels: core, config

#11409 Ensures unique identifiers for persistent workspaces
  hyprtester/src/tests/main/persistent.cpp
  src/Compositor.cpp
Labels: core

#11323 protocols: implement ext-data-control
  CMakeLists.txt
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/managers/SeatManager.cpp
  src/protocols/ExtDataDevice.cpp
  src/protocols/ExtDataDevice.hpp
Labels: core, managers, protocols

#11420 Renderer: Add rounding power setting to groupbar and gradient roundness.
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, config, render

#11461 renderer: improve modeset detection timings
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/render/Renderer.cpp
Labels: core, render, helpers

#11498 core: fix requestedMinSize crash
  src/desktop/Window.cpp
Labels: core, desktop

#11370 Add `novrr` dynamic window rule
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/events/Windows.cpp
  src/managers/KeybindManager.cpp
Labels: core, config, managers, desktop, events

#11499 scRGB, HLG and SDR -> HDR fixes
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/types/ColorManagement.hpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/pass/SurfacePassElement.cpp
Labels: core, protocols, render, helpers

#11501 plugins: add eRenderStage::RENDER_POST_WALLPAPER
  src/SharedDefs.hpp
  src/render/Renderer.cpp
Labels: core, render

#11228 Solitary clients with single subsurface & verbose solitary/tearing/DS checks
  Makefile
  hyprtester/src/shared.hpp
  hyprtester/src/tests/main/snap.cpp
  hyprtester/src/tests/main/solitary.cpp
  src/Compositor.cpp
  src/debug/HyprCtl.cpp
  src/debug/HyprCtl.hpp
  src/desktop/Popup.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/MonitorFrameScheduler.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, debug, render, desktop, helpers

#11515 disable buffer readability checks on intel
  src/helpers/sync/SyncTimeline.cpp
  src/helpers/sync/SyncTimeline.hpp
  src/managers/eventLoop/EventLoopManager.cpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/types/DMABuffer.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, managers, protocols, render, helpers

#11087 syncobj: use rendernode for timelines
  CMakeLists.txt
  flake.lock
  meson.build
  src/Compositor.cpp
  src/Compositor.hpp
  src/managers/PointerManager.cpp
  src/protocols/DRMSyncobj.cpp
  src/protocols/LinuxDMABUF.cpp
  src/protocols/MesaDRM.cpp
  src/render/OpenGL.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, managers, protocols, render

#11490 Input: Add fully configurable trackpad gestures
  example/hyprland.conf
  hyprtester/plugin/src/main.cpp
  hyprtester/src/tests/main/gestures.cpp
  hyprtester/test.conf
  nix/tests/default.nix
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/config/ConfigManager.hpp
  src/debug/HyprCtl.cpp
  src/debug/HyprDebugOverlay.cpp
  src/debug/HyprNotificationOverlay.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
  src/desktop/Popup.cpp
  src/desktop/Window.cpp
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/helpers/WLClasses.hpp
  src/hyprerror/HyprError.cpp
  src/layout/IHyprLayout.cpp
  src/layout/IHyprLayout.hpp
  src/managers/KeybindManager.cpp
  src/managers/PointerManager.cpp
  src/managers/animation/AnimationManager.cpp
  src/managers/animation/AnimationManager.hpp
  src/managers/animation/DesktopAnimationManager.cpp
  src/managers/animation/DesktopAnimationManager.hpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
  src/managers/input/Swipe.cpp
  src/managers/input/Touch.cpp
  src/managers/input/UnifiedWorkspaceSwipeGesture.cpp
  src/managers/input/UnifiedWorkspaceSwipeGesture.hpp
  src/managers/input/trackpad/GestureTypes.hpp
  src/managers/input/trackpad/TrackpadGestures.cpp
  src/managers/input/trackpad/TrackpadGestures.hpp
  src/managers/input/trackpad/gestures/CloseGesture.cpp
  src/managers/input/trackpad/gestures/CloseGesture.hpp
  src/managers/input/trackpad/gestures/DispatcherGesture.cpp
  src/managers/input/trackpad/gestures/DispatcherGesture.hpp
  src/managers/input/trackpad/gestures/FloatGesture.cpp
  src/managers/input/trackpad/gestures/FloatGesture.hpp
  src/managers/input/trackpad/gestures/FullscreenGesture.cpp
  src/managers/input/trackpad/gestures/FullscreenGesture.hpp
  src/managers/input/trackpad/gestures/ITrackpadGesture.cpp
  src/managers/input/trackpad/gestures/ITrackpadGesture.hpp
  src/managers/input/trackpad/gestures/MoveGesture.cpp
  src/managers/input/trackpad/gestures/MoveGesture.hpp
  src/managers/input/trackpad/gestures/ResizeGesture.cpp
  src/managers/input/trackpad/gestures/ResizeGesture.hpp
  src/managers/input/trackpad/gestures/SpecialWorkspaceGesture.cpp
  src/managers/input/trackpad/gestures/SpecialWorkspaceGesture.hpp
  src/managers/input/trackpad/gestures/WorkspaceSwipeGesture.cpp
  src/managers/input/trackpad/gestures/WorkspaceSwipeGesture.hpp
  src/protocols/CTMControl.cpp
  src/render/Renderer.cpp
Labels: core, config, debug, managers, protocols, render, desktop, events, helpers, hyprerror, layout, nix

#11536 xwayland: handle minimize and maximize requests
  src/xwayland/XWM.cpp
Labels: core, xwayland

#11542 xwayland: fix game permanent blackscreen
  src/xwayland/XSurface.cpp
Labels: core, xwayland

#11518 dispatchers: allow window address in swapwindow
  hyprtester/src/tests/main/window.cpp
  src/managers/KeybindManager.cpp
Labels: core, managers
