Repository hyprwm/Hyprland, pull requests merged in 2025-09, with the labels that each got.

#11574 animation: fix slide/slidevert to accept params
  src/managers/animation/AnimationManager.cpp
  src/managers/animation/DesktopAnimationManager.cpp
Labels: core, managers

#11608 presentation: handle vrr for v1 clients
  src/protocols/PresentationTime.cpp
Labels: core, protocols

#11632 window: fix centering calculation for floating windows
  src/layout/IHyprLayout.cpp
Labels: core, layout

#11531 hyprctl: active layout index field in devices
  hyprtester/src/tests/main/hyprctl.cpp
  src/debug/HyprCtl.cpp
  src/devices/IKeyboard.cpp
  src/devices/IKeyboard.hpp
Labels: core, config, debug, managers, protocols, render, desktop, devices, events, helpers, xwayland, hyprerror, layout, nix

#11725 animation: fix slide/slidefade to accept forced direction
  src/managers/animation/DesktopAnimationManager.cpp
Labels: core, managers

#11749 renderer: asynchronously load background tex
  CMakeLists.txt
  flake.lock
  meson.build
  src/Compositor.cpp
  src/config/ConfigManager.cpp
  src/helpers/MainLoopExecutor.cpp
  src/helpers/MainLoopExecutor.hpp
  src/helpers/Monitor.cpp
  src/helpers/Monitor.hpp
  src/helpers/memory/Memory.hpp
  src/managers/eventLoop/EventLoopManager.hpp
  src/render/AsyncResourceGatherer.hpp
  src/render/OpenGL.cpp
  src/render/OpenGL.hpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, config, managers, render, helpers

#11752 Fix inconsistent border thickness for roundingPower < 2
  src/render/decorations/CHyprBorderDecoration.cpp
  src/render/decorations/CHyprDropShadowDecoration.cpp
Labels: core, render

#11753 Auto apply suggested scale and notify the user.
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.cpp
Labels: core, config, helpers

#11822 hyprctl: nullptr guard --systeminfo
  src/debug/HyprCtl.cpp
Labels: core, debug

#11820 shm: refactor to UP and correct m_data check
  src/protocols/core/Shm.cpp
  src/protocols/core/Shm.hpp
Labels: core, protocols

#11689 More than 1 window rule per rule line.
  hyprtester/src/tests/main/window.cpp
  hyprtester/test.conf
  src/config/ConfigManager.cpp
Labels: core, config

#11845 viewporter: clamp sub-pixel overflow
  src/protocols/Viewporter.cpp
Labels: core, protocols

#11852 gestures: fix gesture direction detection
  src/managers/input/trackpad/TrackpadGestures.cpp
  src/managers/input/trackpad/TrackpadGestures.hpp
Labels: core, managers

#11862 Fix clang-tidy "errors"
  .clang-tidy
  src/config/ConfigManager.cpp
  src/devices/IKeyboard.cpp
  src/helpers/Format.cpp
  src/helpers/MiscFunctions.cpp
  src/helpers/Splashes.hpp
  src/layout/MasterLayout.cpp
  src/protocols/LayerShell.cpp
  src/render/OpenGL.cpp
  src/xwayland/Dnd.cpp
  src/xwayland/XDataSource.cpp
  src/xwayland/XSurface.cpp
  src/xwayland/XWM.cpp
Labels: core, config, protocols, render, devices, helpers, xwayland, layout

#11873 Fix all the rules again
  hyprtester/src/tests/main/window.cpp
  src/config/ConfigManager.cpp
  src/events/Windows.cpp
Labels: core, config, events
