Repository hyprwm/Hyprland, pull requests merged in 2025-02, with the labels that each got.

#9272 animation: don't immediately disconnect active vars during tick
  CMakeLists.txt
  src/managers/AnimationManager.cpp
Labels: core, managers

#9290 Nix: change meson buildtype from debugoptimized to debug
  nix/default.nix
Labels: Nix

#9241 refactor: clang-tidy in compositor
  src/Compositor.cpp
  src/Compositor.hpp
  src/macros.hpp
  src/managers/KeybindManager.cpp
Labels: core, managers

#9226 Support content-type-v1 proto
  CMakeLists.txt
  meson.build
  protocols/meson.build
  src/Compositor.cpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/WindowRule.cpp
  src/desktop/WindowRule.hpp
  src/events/Windows.cpp
  src/helpers/Monitor.cpp
  src/macros.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/ContentType.cpp
  src/protocols/ContentType.hpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/ContentType.cpp
  src/protocols/types/ContentType.hpp
  src/render/Renderer.cpp
Labels: core, config, managers, protocols, render, desktop, events, helpers

#9055 feat: cyclenext hist option
  src/Compositor.cpp
  src/Compositor.hpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers, protocols, render, desktop, helpers

#5548 Added `toggleswallow` dispatcher
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/events/Windows.cpp
  src/managers/KeybindManager.cpp
  src/managers/KeybindManager.hpp
Labels: core, managers, desktop, events

#9332 fix(render): add null checks to prevent crashes
  src/render/Renderer.cpp
Labels: core, render

#9347 avoid .at() and use [] operator
  src/desktop/Window.cpp
  src/devices/IKeyboard.cpp
  src/layout/MasterLayout.cpp
  src/managers/PointerManager.cpp
  src/managers/XCursorManager.cpp
  src/render/OpenGL.cpp
  src/xwayland/XDataSource.cpp
  src/xwayland/XWM.cpp
Labels: core, managers, render, desktop, devices, xwayland, layout

#9298 window: move size reporting to animation begin callback
  src/Compositor.cpp
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/desktop/Workspace.cpp
  src/events/Windows.cpp
  src/layout/DwindleLayout.cpp
  src/layout/IHyprLayout.cpp
  src/layout/MasterLayout.cpp
  src/managers/KeybindManager.cpp
  src/managers/XWaylandManager.cpp
  src/render/decorations/CHyprGroupBarDecoration.cpp
Labels: core, managers, render, desktop, events, layout

#9343 toplevelexport: fix transformed origin for shm buffers
  src/protocols/ToplevelExport.cpp
Labels: core, protocols

#9344 desktop: add ability to target pinned windows in workspace rules
  src/desktop/Workspace.cpp
  src/desktop/Workspace.hpp
Labels: core, desktop

#9188 ensure framebuffer textures are detached and deleted, avoid leaving framebuffers bound when not needed
  src/protocols/Screencopy.cpp
  src/protocols/ToplevelExport.cpp
  src/render/Framebuffer.cpp
  src/render/Framebuffer.hpp
  src/render/OpenGL.hpp
  src/render/Renderbuffer.cpp
  src/render/Shader.cpp
Labels: core, protocols, render

#9370 datadevice: small comp fix
  src/protocols/core/DataDevice.cpp
Labels: core, protocols

#8959 Implement version 2 of ext-idle-notify-v1 protocol
  protocols/meson.build
  src/managers/ProtocolManager.cpp
  src/protocols/IdleNotify.cpp
  src/protocols/IdleNotify.hpp
Labels: core, managers, protocols

#9390 fix(env): move XDG_SESSION_TYPE to before backend init
  src/Compositor.cpp
  src/main.cpp
Labels: core

#9399 session-lock: send locked when in unsafe state
  src/managers/SessionLockManager.cpp
Labels: core, managers

#9401 animations: sync inactive/active border angles when using borderangle animations
  src/render/decorations/CHyprBorderDecoration.cpp
Labels: core, render

#9398 fix(render): disable explicit if aquamarine output doesn't support it
  src/helpers/Monitor.cpp
  src/render/Renderer.cpp
  src/render/Renderer.hpp
Labels: core, render, helpers

#9412 syncobj: ensure we only add waiters on succesful checks
  src/protocols/DRMSyncobj.cpp
  src/protocols/DRMSyncobj.hpp
Labels: core, protocols

#9411 fix(exec): redirect app output to /dev/null
  src/managers/KeybindManager.cpp
Labels: core, managers

#9368 Update persistence on workspace rename
  src/Compositor.cpp
  src/Compositor.hpp
  src/debug/HyprCtl.cpp
  src/desktop/Workspace.cpp
Labels: core, debug, desktop

#9394 fix(xwayland): prevent clipboard race condition
  src/xwayland/XDataSource.cpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, xwayland

#9416 fixed socket not returning errors where appropriate
  src/managers/KeybindManager.cpp
Labels: core, managers

#9375 xwayland: configure on a configure request and cleanup geometry conversion
  src/desktop/Window.cpp
  src/desktop/Window.hpp
  src/xwayland/XSurface.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, desktop, xwayland

#9392 implemented follow_mouse_threshold
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/managers/input/InputManager.cpp
  src/managers/input/InputManager.hpp
Labels: core, config, managers

#9421 fix(subsurface): dont try to access popup surfaces when handling subsurface updates
  src/desktop/Popup.cpp
  src/desktop/Popup.hpp
  src/desktop/Subsurface.cpp
Labels: core, desktop

#9434 fix(xwayland): add INCR support for clipboard transfers
  src/xwayland/XWM.cpp
Labels: core, xwayland

#9315 Add IPC support for Hyprsunset
  hyprctl/Strings.hpp
  hyprctl/main.cpp
Labels: hyprctl

#9456 anr: add xwayland support
  src/desktop/Window.cpp
  src/managers/ANRManager.cpp
  src/managers/ANRManager.hpp
  src/xwayland/XSurface.cpp
  src/xwayland/XSurface.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWayland.hpp
Labels: core, managers, desktop, xwayland

#9473 xcursor: move config check to sync gsettings
  src/managers/XCursorManager.cpp
Labels: core, managers

#9467 signalActive: use isNumber from hyprutils
  src/managers/KeybindManager.cpp
Labels: core, managers

#9405 refactor(xwayland): improve dnd and cleanup
  src/protocols/core/DataDevice.cpp
  src/protocols/core/DataDevice.hpp
  src/xwayland/Dnd.cpp
  src/xwayland/Dnd.hpp
  src/xwayland/XWM.cpp
  src/xwayland/XWM.hpp
Labels: core, config, debug, managers, protocols, render, desktop, helpers, xwayland

#9444 Support wp color management proto
  CMakeLists.txt
  protocols/meson.build
  src/Compositor.cpp
  src/Compositor.hpp
  src/config/ConfigDescriptions.hpp
  src/config/ConfigManager.cpp
  src/helpers/Monitor.hpp
  src/managers/ProtocolManager.cpp
  src/protocols/ColorManagement.cpp
  src/protocols/ColorManagement.hpp
  src/protocols/FrogColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/XXColorManagement.hpp
  src/protocols/core/Compositor.cpp
  src/protocols/core/Compositor.hpp
  src/protocols/types/ColorManagement.cpp
  src/protocols/types/ColorManagement.hpp
  src/render/Renderer.cpp
Labels: core, config, managers, protocols, render, helpers

#9468 layer: getPID() function
  src/debug/HyprCtl.cpp
  src/desktop/LayerSurface.cpp
  src/desktop/LayerSurface.hpp
Labels: core, debug, desktop

#9494 nix: wp-protocol version bump
  nix/overlays.nix
Labels: Nix

#9500 Fix ColorManagement.hpp include path in Monitor.hpp
  src/helpers/Monitor.hpp
  src/protocols/ColorManagement.cpp
  src/protocols/XXColorManagement.cpp
  src/protocols/XXColorManagement.hpp
Labels: core, protocols, helpers

#9503 core: Add null activeWorkspace check in moveWorkspaceToMonitor
  src/Compositor.cpp
Labels: core

#9507 protocols: Fix IWaylandProtocol onDisplayDestroy m_pGlobal double-free
  src/protocols/WaylandProtocol.cpp
Labels: core, protocols
